[2020-08-09 14:15] DavidShemian commented on #1414
#https://github.com/hasadna/anyway/pull/1351

[2020-08-10 15:16] atalyaalon commented on #1222
@BarVolunteering As discussed - let's start with a

- [ ] place holder (mock data)

An Afterwards:
- [ ] real data

[2020-08-12 14:00] BarVolunteering opened #1418 "Change from sh to bash, as sh don't support pushd"
https://github.com/hasadna/anyway/pull/1417

[2020-08-12 16:52] BarVolunteering opened #1420 "Create mock data for accident_count_by_car_type"
@BarVolunteering As discussed - let's start with a

- [ ] place holder (mock data)

_Originally posted by @atalyaalon in https://github.com/hasadna/anyway/issues/1222#issuecomment-671417683_

[2020-08-12 16:55] #1420 closed

[2020-08-18 17:41] ziv17 commented on #1410
@atalyaalon
How can I look at logs from the issue? I understand that the connection that we use has a very long transaction, that nothing is happening with it. In this case, a timeout on the connection should resolve the issue.
We can set timeout on the connection when initializing the enginge. The default is forever. I think that regardless of the current issue we should have a timeout.

[2020-08-18 18:04] ziv17 commented on #1410
@atalyaalon
In addition it makes sense to catch exception and perform rollback in all locations we perform database actions. We should decide what to do after the rollback. I mean, whether to return empty result, error, or throw an application-level exception.

[2020-08-18 19:15] OriHoch commented on #1410
@ziv17 logs are in google console, but there is nothing useful there, if you want contact me in slack and I can give you access (if @atalyaalon approves)

regarding timeouts, I think the default driver options are very good, and we would like to keep long running sessions for performance and to keep resources low. Also, timeouts won't definitively solve the problem, only perhaps make it less frequ

[2020-08-18 19:17] OriHoch commented on #1410
https://www.psycopg.org/docs/faq.html#problems-with-transactions-handling

[2020-08-19 13:34] ziv17 commented on #1410
I am confused.
Isn't the documentation says specifically that regular threads are supported? (Are we using a different kind of thread in the location you pointed out?)
I am concerned that limiting ourselves to work without concurrency might be a limitation.

Regarding the cache. Currently it has less than 2k entries, that are written once a day. There is a single read operations from the cache per

[2020-08-19 14:18] OriHoch commented on #1410
yes, regular threads are supported but also require some specific setting up of the connection which we are not doing at the moment, and may be hard to do as we have multiple layers of abstraction on top of the psycopg2 driver

The web app is already running in a concurrent way with multiple levels of concurrency via multiple abstraction layers - Kubernetes, sqlalchemy, flask-sqlalchemy, flask, gu

[2020-08-19 14:27] OriHoch commented on #1410
currently I'm seeing spikes in DB RAM/CPU usage which correspond to the fill infographics cache task, I believe this can be prevented by using a dedicated in memory cache like redis

keeping consistent resource usage allows to optimize the overall cluster resources, as everything runs on a single shared cluster for all hasadna projects (not on dedicated servers)

![image](https://user-images.githu

[2020-08-19 14:38] ziv17 commented on #1410
OK.
@atalyaalon , how do you want to continue with this?

[2020-08-20 04:56] OriHoch commented on #1410
I opened a PR which removes the thread implementation, I didn't test it, please test and merge to see if it eliminates the errors - https://github.com/hasadna/anyway/pull/1424

[2020-08-20 23:18] omerinvia commented on #1299
[#1425 ](https://github.com/hasadna/anyway/pull/1425/files)

[2020-08-20 23:49] atalyaalon commented on #1410
@OriHoch I approve access to logs for @ziv17
Also - thank you for your pr - @ziv17  -  can you go over @OriHoch 's pr and approve / require fixes if needed?

@assafdayan FYI - please go over this correspondence
@ziv17 and @assafdayan  -  following this correspondence and when planning the architecture - we might have to consider using Redis (I believe @assafdayan suggested it in the past)
I'll tal

[2020-08-20 23:50] atalyaalon commented on #1410
Also - @ziv17 and @OriHoch - regarding this issue - I still believe we'll have to handle this issue in some way.
I think I know how to reconstruct such exception - will try to do it this Saturday and will let you know how to reproduce.

[2020-08-20 23:53] atalyaalon commented on #1252
@idosavion is this issue solved?
If not - how to reproduce?

[2020-08-21 06:06] idosavion commented on #1252
Not sure, won't be able to check for the next few days, need to see if we're getting 500 when loading the map/trying to sign on Facebook or use any of the keys that should be missing locally

[2020-08-24 08:58] sa1omon commented on #1042
Done :)

[2020-08-24 12:22] atalyaalon commented on #1042
@sa1omon great work

[2020-08-24 12:22] #1042 closed

[2020-09-10 18:44] BarVolunteering opened #1456 "Profiling backend for bottleneck detection"
Starting with the /markers route:
https://github.com/hasadna/anyway/blob/cfdf305a681931f4ba7909f36c0c1e61b680ddc6/anyway/flask_app.py#L329

[2020-09-11 19:11] BarVolunteering commented on #1456
raw data:
`--------------------------------------------------------------------------------
PATH: '/markers'
         243672 function calls (213556 primitive calls) in 0.562 seconds

   Ordered by: internal time, call count
   List reduced from 1268 to 30 due to restriction <30>

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
       10    0.101    0.010    0.101    0.010 {

[2020-09-15 07:02] OriHoch commented on #1410
looks like the errors stopped, this may be due to several other changes -
1. scheduled jobs are only run on the main pod, and web requests are only handled on secondary pods
2. DB resources were optimized

however, I still suggest to merge #1424 as it should definitively eliminate this problems in the future

[2020-09-16 16:14] atalyaalon commented on #1456
@ziv17 FYI

[2020-09-18 13:05] BarVolunteering opened #1459 "Update the Docker.md docs to include how to use the google maps developer key"

[2020-09-18 19:33] BarVolunteering opened #1461 "Improvements to Markers api for enhanced speed"

[2020-09-18 19:34] BarVolunteering commented on #1461
Part of issue #1456

[2020-09-24 08:53] #1459 closed

[2020-09-24 09:00] #1461 closed

[2020-09-24 10:09] BarVolunteering commented on #1418
It won't reproduce

[2020-09-24 10:09] #1418 closed

[2020-09-25 16:14] #1330 closed

[2020-09-26 11:09] atalyaalon opened #1466 "Add injured_accidents_with_pedestrians to infographics API"
סוג גרף: stacked bar chart

מתי להציג:
כאשר התרחשה תאונה עם הולך רגל ברחוב שנמצא במפתח הרחובות של הלמ״ס.

מתודולוגיה:
כמות נפגעים בתאונות עם הולכי רגל לפי X שנים ברחוב X מוצג בגרף עמודות כאשר כל עמודה מחולקת למספר הנפגעים לפי חומרת הנפגע.

This will be done in 2 stages:
1. Add a widget with mock data ([see this pr as an example](https://github.com/hasadna/anyway/pull/1419/files))
       {

[2020-09-28 22:51] BarVolunteering commented on #1456
@atalyaalon How about this idea:
break the markers function to 2 functions - one will return a list of markers with little info about every marker and a second that will return extended info on a specific marker? Will it be good for our users use-cases?

 except for that I am out of ideas on how to further improve this function.

[2020-09-30 15:51] atalyaalon opened #1469 "Add users table and API functions with restrictions (Read + Write)"
1. Table Fields:
oauth_id
organization
first_name
last_name
email

2. Check GDPR restrictions regarding keeping the data above

@yuvalbl any comments?

[2020-09-30 15:54] atalyaalon opened #1470 "Google Street View coordinates"
1. Check if news flash coordinates have google street view
2. If not - find a near coordinate on the road segment or the street, that has street view.
3. This coordinate will be added to the news flash table

This will eventually be a part of the flow of inserting a new accident news-flash

[2020-09-30 17:03] atalyaalon commented on #1470
@Mano3 any comments?
This is an algorithm that is needed regardless of the accurate location of the news flash - since even if the location is more accurate it does not mean it has street view

[2020-09-30 19:46] Mano3 commented on #1470
2 is complicated, one needs to understand what is the closest coordinate within the same segment/road/street etc. such that it has street view. I would suggest checking if Google has a polygon of the road provided so it will be easier to narrow down which street view coordinates are of interest (not the closest, but the closest in the same polygon)

[2020-09-30 21:43] atalyaalon opened #1471 "Modify text in head_on_collisions_comparison widget"
See [this widget](https://github.com/hasadna/anyway/blob/dev/anyway/infographics_utils.py#L573).

Return values of
"חזיתיות" instead of "התנגשות חזית בחזית"
"אחרות" instead of "תאונות אחרות"

Note that in DB data consists of "התנגשות חזית בחזית" hence the comparison to this field [here](https://github.com/hasadna/anyway/blob/dev/anyway/infographics_utils.py#L425) is indeed correct, we just want to

[2020-10-03 18:46] atalyaalon opened #1481 "modify widgets counting cars to count from vehicles table and not involved_markers table"
Relevant widgets: accident_count_by_car_type, accident_count_by_driver_type

- [x] Add 2 models in models.py - vehicles_hebrew table and to vehicles_markers_hebrew table (use alembic for DB versioning)

- [ ] Change model in the above widgets to the vehicles_markers_hebrew.

[2020-10-03 21:41] atalyaalon opened #1483 "Add rules / thresholds to each infographic"
This is a task for a BackEnd programmer together with a Data Scientist.
For the [existing infographics API](https://docs.google.com/document/d/1Hv5ItvwM3z9nn95LjlsYHL-o18V8PgWrrQOKIPiPymU/edit) - set a threshold or a rule to decide wether to send the infographic for the specific newsflash.

Arrange the API rank field accordingly.

[2020-10-03 21:52] atalyaalon commented on #1456
@BarVolunteering great work!
I think we should leave this for now, since I don't think it's a priority.
What do you think?

[2020-10-03 22:14] atalyaalon opened #1484 "Modify Heat Map Widget to contain only severe and fatal accidents"
Relevant file: anyway/infographics_utils.py
Widget name: accidents_heat_map

[2020-10-03 22:37] atalyaalon opened #1485 "Modify most_severe_accidents Widget"
Relevant file: anyway/infographics_utils.py
Widget name: most_severe_accidents

Modifications needed:

1. Order accidents by their location on the road (I suggest finding the linear regression line of the in the segments accidents, and order them using the order of their trajectories on the line)
2. Only if needed to come from backend - @yuvalbl - should we cluster accidents with the same lon lat

[2020-10-03 22:56] atalyaalon opened #1486 "Modify most_severe_accidents_table Widget"
Relevant file: anyway/infographics_utils.py
Widget name: most_severe_accidents_table
Relevant function: get_most_severe_accidents_table
1. Separate severe (severity 2) and light injured (severity 3) to two different fields in the API: severe_injured_count and light_injured_count.
For now keep the injured_count field in the API for compatibility
2. After FE will adjust to this change, remove the in

[2020-10-03 23:05] atalyaalon opened #1487 "Load Waze data our DB"
Note - you will need unique credentials to run this locally - contact me in slack for that.

Current code is broken.

Relevant PRs:
https://github.com/hasadna/anyway/pull/1546
https://github.com/hasadna/anyway/pull/1549
https://github.com/hasadna/anyway/pull/1553

Relevant ANYWAY documentation: https://github.com/hasadna/anyway/blob/dev/docs/Architecture/WAZE.md
Relevant waze feed documentation: h

[2020-10-03 23:12] atalyaalon opened #1488 "Create a table containing street type, add metadata per street"
For example:
main street with 5 lanes, speed limit 70 km per hour and it's polygon

This info can be found using Google and OSM (I suggest starting with Google and later on moving to OSM - where we can find polygons)
@VickySidorkin has done an amazing work on OSM - you can consult with her.

[2020-10-04 10:51] #1222 closed

[2020-10-04 10:52] BarVolunteering commented on #1456
Agreed

[2020-10-05 21:16] baruchpicard opened #1491 "EURO DEMO: Query for vehicle type in Ben Yehuda"
JSON:
{
"name": "injured_accidents_with_pedestrians",
"data": {
"items": [
  {
    "location": "כל הארץ",
    "vehicle": "רכב נוסעים פרטי",
    "num_of_accidents": 57476
  },
  {
    "location": "כל הארץ",
    "vehicle": "אחר",
    "num_of_accidents": 17061
  },
  {
    "location": "כל הארץ",
    "vehicle": "משא עד 3.5 טון - אחוד (טרנזיט)",
    "num_of_accidents": 4651
  },
  {
    "location": "כל

[2020-10-05 22:08] baruchpicard opened #1492 "EURO DEMO: Query for injury type + cross location in Ben Yehuda"
JSON:
{
"name": "accident_severity_by_cross_location",
"data": {
"items":[
  {
    "injury_severity": "פצוע קל",
    "cross_location": "במעבר חצייה",
    "accident_count": 40
  },
  {
    "injury_severity": "פצוע קל",
    "cross_location": "לא במעבר חצייה",
    "accident_count": 11
  },
  {
    "injury_severity": "פצוע קשה",
    "cross_location": "לא במעבר חצייה",
    "accident_count": 10
  },
  {

[2020-10-05 22:32] #1486 closed

[2020-10-05 22:34] #1471 closed

[2020-10-06 08:28] baruchpicard opened #1494 "EURO DEMO: Query for motorcycle accidents in road 20 vs all roads"
JSON:
{
"name": "motorcycle accidents from all hard accidents. road 20",
"data": {
"items":
[
  {
    "location": "כביש 20",
    "vehicle": "אופנוע",
    "percentage": 0.5
  },
  {
    "location": "כביש 20",
    "vehicle": "אחר",
    "percentage": 0.5
  },
  {
    "location": "כל הארץ",
    "vehicle": "אחר",
    "percentage": 0.802680566
  },
  {
    "location": "כל הארץ",
    "vehicle": "אופנוע",

[2020-10-06 09:54] BarVolunteering commented on #1469
@atalyaalon About the API, how about:

1. Oauth2 API (login & callback)
2. Logout
3. Registration? - for the extra fields (organization, first_name, last_name and email)
4. Anything else?

[2020-10-06 22:50] atalyaalon commented on #1494
@baruchpicard amazing work! Adding the json in this pr: https://github.com/hasadna/anyway/pull/1495

[2020-10-06 23:24] atalyaalon commented on #1494
@BarVolunteering I added a PR for mock data, now we're left with implementing it so we'll get real data in the API.

[2020-10-06 23:27] atalyaalon commented on #1492
@baruchpicard great work!
@BarVolunteering I added a PR for mock data, now we're left with implementing it so we'll get real data in the API.
Note that the title should change by the location text (we did it in most_severe_accidents_table Widget)

[2020-10-06 23:43] atalyaalon opened #1497 "Standardize API doc"
Current API is [here](https://docs.google.com/document/d/1Hv5ItvwM3z9nn95LjlsYHL-o18V8PgWrrQOKIPiPymU/edit?usp=sharing)

It's managed in Google Doc - not a convenient platform to document an API
Please find a better way to create and maintain such documentation

[2020-10-07 07:15] shakedzy opened #1498 "Tokenize Hebrew words as global constants"
There are many Hebrew words scattered around the code, and they often repeat several times. For example, `כביש בינעירוני` repeats in `infographics_utils.py` 4 times at different locations. This is prone to errors and bugs due to:

1. Typos

1. External API change - i.e., a sudden replacement of `בינעירוני` to `בין-עירוני` or `בית ספר` to `בית-ספר`

Suggested solution:
A new object of all Hebrew co

[2020-10-07 07:47] atalyaalon commented on #1491
@BarVolunteering can you create a PR with mock data for this one? (rank=21 I believe)

[2020-10-07 13:04] atalyaalon commented on #1491
@leaa9797 is taking this one

[2020-10-07 14:47] ChayneAzriel opened #1501 "EURO DEMO pedestrian accidents on ben yehuda road tel aviv by junctions"
JSON:
{
"name": "pedestrian accidents on ben yehuda road tel aviv by junctions",
"data": {
"items":[
{"street name": "גורדון י ל",
"accident count": 18
},
{
"street name": "אידלסון אברהם",
"accident count": 10
},
{
"street name": "פרישמן",
"accident count": 7
},
{
"street name": "בוגרשוב",
"accident count": 6\
},
{
"street name": "מנדלי מוכר ספרים",
"accident count": 6
},
{
"street name": "שד נורד

[2020-10-07 15:24] ChayneAzriel opened #1503 "EURO DEMO motorcycle accidents on road 20 by sections"
JSON:
{
"name": "motorcycle accidents on road 20 by sections",
"data": {
"items":'[
{
"segment name": "מחלף לה גרדיה - מחלף השלום",
"count": 70
},
{
"segment name": "מחלף השלום - מחלף הרכבת",
"count": 48
},
{
"segment name": "מחלף וולפסון - מחלף חולון",
"count": 48
},
{
"segment name": "מחלף קוממיות - מחלף יוספטל",
"count": 34
},
{
"segment name": "מחלף ההלכה - מחלף רוקח	",
"count": 31
},
{
"segme

[2020-10-07 19:08] #1456 closed

[2020-10-08 12:18] ChayneAzriel opened #1505 "EURO DEMO accidents on road 20 by speed limit (excluding junctions)"
**Name**
Accidents count on road 20 by speed limit (excluding junctions)

**Title**
accidents on road 20 by speed limit

**Visualization**
![speed_limit_by_acci_type_road_20_2](https://user-images.githubusercontent.com/61120310/98536323-4a2c8a00-2290-11eb-8d5c-012a680f6979.png)

**Methodology**
count of accidents types on the road by the allowed speed limit where the accidents took place, starts w

[2020-10-08 13:05] rsperer opened #1506 "Don't use cache for infographics data when testing locally"
In function get_infographics_data in infographics_utils, check FLASK_ENV var and if it's "development", call create_infographics_data(news_flash_id,years_ago) instead of using cache.

Motivation: we cannot test modification to existing APIs if cache is used

[2020-10-10 12:29] #1484 closed

[2020-10-10 12:41] #1506 closed

[2020-10-13 17:37] atalyaalon opened #1518 "Review API Structure and cache structure"
Today we use the following keys to get infographics data from cache: number of years, news flash id.
However, in the coming DEMO we have a few more considerations which might change that structure and the API code.

1. **We want localization**. We'll add an additional parameter in the API which is the language - we might want to use a dictionary on top of the infographics output (meaning output wi

[2020-10-13 17:49] atalyaalon opened #1519 "Localize infographics API"
API call: /api/infographics-data
This requires:
1. Localizing each widget
2. Add language parameter in API
3. I think there is no need we'll save per newsflash data for all languages in cache. That means that after extracting data from cache, we'll use a relevant dictionary to send the data in the wanted language. @ziv17 FYI

[2020-10-13 17:54] ziv17 commented on #1518
I am in favor of the dictionary suggestion for the I18N. It will save us a change in the cache. The keys to the dictionary will be the actual English text, or message codes?

[2020-10-13 17:58] atalyaalon opened #1520 "Localize news flash API"
API call: /api/news-flash
This requires:

- Add a language parameter in API
- Quick ramp up: Adding english translation for 3 accident news flashes (I suggest either adding relevant columns in the NewsFlash table OR creating a new table with translations) - make sure API works properly.

[2020-10-13 20:44] elazarg commented on #1519
Seems like the last time anyone touched `babel` in this repo was 3 years ago.
For those who are not familiar (such as myself), I think this blog post is exceptionally useful:
https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xiii-i18n-and-l10n

[2020-10-13 21:59] atalyaalon commented on #1492
@baruchpicard Thank you!
Following our session - a few notes and changes required:

Regarding the table queried : involved_markers_hebrew
cross_location is not per involved but per accident (which is not intuitive and perhaps shouldn't be that way, but that's the data we're getting from the CBS).

Regarding the filter accident_type_hebrew: there are accidents that are not classified as 'פגיעה בהול

[2020-10-13 22:03] BarVolunteering commented on #1469
As I talked with FE the interaction with the sensitive API will be done with JWT and will be restricted by IP

[2020-10-13 22:06] BarVolunteering commented on #1469
The API needed is:
Logout
Registration - for the extra fields (organization, first_name, last_name and email) - this will be the add user
Delete user
Update - for fields organization, first_name, last_name and email

[2020-10-13 22:43] atalyaalon commented on #1505
@ChayneAzriel looks great!
Since there are many categories, I suggest we either:
1. Group categories - hence we'll have less categories
2. Show only the top 5 categories (for example by summing all of the accidents count)

@galraij any thoughts?

[2020-10-13 23:42] atalyaalon commented on #1501
@ChayneAzriel did you count accidents or pedestrians injured?

[2020-10-13 23:58] atalyaalon commented on #1491
Mock Data: https://github.com/hasadna/anyway/pull/1521/files

[2020-10-13 23:58] atalyaalon commented on #1503
mock data: https://github.com/hasadna/anyway/pull/1521/files

[2020-10-13 23:59] atalyaalon commented on #1501
Mock data: https://github.com/hasadna/anyway/pull/1521/files

[2020-10-14 13:25] MichalOren commented on #1505
Looks GOOD (:
1. Can we switch axis? because Accident Type names will be easier to read when they are on left side of the table
2. I think it is better to show only the top 5 categories  (rather than group categories together)
3. color issue: value “1 accident” for example,  display with different color of intensity where i think it should display in same manner.

[2020-10-14 21:43] baruchpicard commented on #1492
Thank Atalia! fixed all, and added link to redash + visualization.
for this comment: "perhaps it better to find the "provider_and_id" of accidents in which the injured_type in involved table is a pedestrian." I changed the filter to find injured, not accidents, without a nested query. Do you think I need to do it in a different way?

[2020-10-15 08:50] BarVolunteering commented on #1494
@atalyaalon I won't be able to finish this issue by the end of this month

[2020-10-16 09:22] ziv17 commented on #1505
What is the actual task?

[2020-10-16 15:09] #1363 closed

[2020-10-18 03:41] ziv17 commented on #1497
A question: Who will use this doc, and for what purpose? (I mean, is it for programmers to understand the implementation? For programmers to learn how to consume the API? for non anyway members to understand what anyway is doing?

[2020-10-18 03:46] ziv17 commented on #1503
@atalyaalon What is the actual task?

[2020-10-18 16:10] BarVolunteering commented on #1494
@ziv17

[2020-10-18 18:09] idosavion opened #1533 "Add localiztions tests"

[2020-10-18 20:39] atalyaalon commented on #1494
@baruchpicard is there a new query for this one?

[2020-10-19 15:54] atalyaalon commented on #1505
@ziv17 we need to improve this and other issue together with the data team - we'll discuss it in the coming meeting.

[2020-10-19 15:54] atalyaalon commented on #1503
@ziv17 we need to improve this and other issue together with the data team - we'll discuss it in the coming meeting.

[2020-10-19 15:54] atalyaalon commented on #1501
we need to improve this and other issue together with the data team - we'll discuss it in the coming meeting.

[2020-10-19 16:48] AdiRoH opened #1542 "Change Flask commands"
We have commands we need to run manually as stated in docs/TRANSLATE.md , those commands have a lot of flags so they are more prone to error.
We want to use some simpler custom commands to invoke them

[2020-10-19 17:01] atalyaalon commented on #1492
@baruchpicard I think maybe we want to count injured instead of accidents - even though the cross location is per accident and not per involved.

[2020-10-19 18:10] atalyaalon opened #1543 "Define interfaces between Data Team and BackEnd team for a new infographics"
Define what should the issue contain:
- What is needed on the BackEnd side for it to be well defined?
For example -
Data team should pass an SQL query, in which changing parameters in the query are well defined (for example, segment name) and constants that do no change from news flash to news flash are also well defined (for example, always filter pedestrians injured)
Data team should define a ru

[2020-10-19 18:13] ziv17 commented on #1505
We did not get to it in the meeting today. When do you want to discuss it?

[2020-10-19 22:13] atalyaalon commented on #1492
counting injured can be done using count distinct on concat(involve_id, '_', provider_and_id)

[2020-10-19 22:14] atalyaalon commented on #1543
For example - how can we change the description of this issue to make it clearer?
https://github.com/hasadna/anyway/issues/1492

[2020-10-19 22:22] atalyaalon commented on #1505
@ziv17 I opened https://github.com/hasadna/anyway/issues/1543 - once we decide on a clear workflow with the data team - it will be easier for them and for us - they will modify the description and we'll move on from there

[2020-10-19 22:34] atalyaalon opened #1545 "Improve current performance of infographics API"
The bad performance might be related to the fact we're querying the view tables.
Views are markers_hebrew, involved_markers_hebrew, vehicles_hebrew, involved_hebrew

Maybe we should just add them as tables and not views (meaning joining the data before insertion)

Find our bottlenecks - Why does the API calculation takes so much time?

Example for a local API query: 127.0.0.1:8080/api/infographics

[2020-10-20 14:09] atalyaalon opened #1547 "Revoke privileges from various users"
For example view creation

[2020-10-20 21:37] baruchpicard commented on #1492
updated :-)

[2020-10-21 07:27] yuvalbar23 opened #1554 "EURO DEMO Soft transportation - Ibn Gabirol Tel Aviv 2017-2019"
JSON:
{
"name": "soft_transportation",
"data": {
"items":
[
    {
        "accident_year": 2017,
        "accident_month": 1,
        "injured_type": "אופניים",
        "involvers": 1
    },
    {
        "accident_year": 2017,
        "accident_month": 1,
        "injured_type": "הולך רגל",
        "involvers": 4
    },
    {
        "accident_year": 2017,
        "accident_month": 2,
        "in

[2020-10-21 07:35] yuvalbar23 opened #1555 "EURO DEMO severe\fatal bicycle\scooter involvers (group_bar+line)"
**Bar chart**
JSON:
{
"name": "severe_bicycle_scooter_bar",
"data": {
"items":
[
    {
        "accident_year": 2008,
        "type": "אופניים",
        "involvers": 7
    },
    {
        "accident_year": 2009,
        "type": "אופניים",
        "involvers": 13
    },
    {
        "accident_year": 2010,
        "type": "אופניים",
        "involvers": 9
    },
    {
        "accident_year": 2011,

[2020-10-21 07:43] yuvalbar23 opened #1556 "EURO DEMO highway motorcycle accidents per km, severe+fatal"
JSON:
{
"name": "motorcycle_accidents_distribution_severe_fatal",
"data": {
"items":
[
    {
        "road1": 20,
        "road_segment_name": "מחלף חולון - מחלף חיל השריון",
        "count": 24,
        "count_per_km": 20.0
    },
    {
        "road1": 20,
        "road_segment_name": "מחלף רוקח - מחלף קק\"ל",
        "count": 23,
        "count_per_km": 10.9523809524
    },
    {
        "road1

[2020-10-21 07:45] yuvalbar23 opened #1557 "EURO DEMO highway motorcycle accidents per km, all accidents"
JSON:
{
"name": "motorcycle_accidents_distribution_all_accidents",
"data": {
"items":
[
    {
        "road1": 20,
        "road_segment_name": "מחלף לה-גרדיה - מחלף השלום",
        "count": 341,
        "count_per_km": 200.5882352941
    },
    {
        "road1": 20,
        "road_segment_name": "מחלף חולון - מחלף חיל השריון",
        "count": 204,
        "count_per_km": 170.0
    },
    {

[2020-10-21 07:57] yuvalbar23 opened #1558 "EURO DEMO road 20 VS all roads - motorcycle accidents type"
JSON:
{
"name": "highway_motor_accident_type_road20_vs_all_roads",
"data": {
"items":
[
    {
        "accident_type_hebrew": "התנגשות צד בצד",
        "Road 20": 0.3889334403,
        "Other Roads": 0.2008490427
    },
    {
        "accident_type_hebrew": "התנגשות חזית באחור",
        "Road 20": 0.2518043304,
        "Other Roads": 0.1324212429
    },
    {
        "accident_type_hebrew": "החלקה

[2020-10-21 08:05] galraij commented on #1555
to complex to show, I think it would be better to show stacked bar chart, it will also serve the idea of showing the combined number which is showed here by the regression line.
![stacked-bar-example-1](https://user-images.githubusercontent.com/3368312/96691192-41c9e900-138d-11eb-8c86-9f0ff4f0272a.png)

[2020-10-21 09:13] galraij commented on #1558
Amazing! It will be easy I guess to duplicate fir other vehicles types in the future.

[2020-10-21 09:43] yuvalbar23 commented on #1555
But then you can't notice the trend for each group.
for example, in my chart, you can easily notice a decrease in regular bicycles and an increase in e-bikes and scooters.
with stacked bar chart it will be possible to easily notice a trend for only the bottom group and for all groups together.

I'll add stacked bar chart so you could choose which one you want.

[2020-10-21 13:35] MichalOren commented on #1494
מציעה אופציה לכותרת אחרת ותצוגה דומה
![Moto3](https://user-images.githubusercontent.com/61007501/96727023-44dbce00-13bb-11eb-8ee0-d2bb15971908.PNG)

[2020-10-21 17:55] ziv17 opened #1559 "EURO DEMO Support localization"
To support languages we will:

- Add a parameter `lang` to infographics api.
- Currently we will support two languages: `en`, `he`. If not supplied, default is `he`.
- Update the infographics generating functions (up to RequestParams) to accept the new parameter
- Update the cache generation to store in cache both languages.

[2020-10-21 17:57] atalyaalon commented on #1497
The Front End programmers are using the API, and I suggest we'll use it.
@yuvalbl suggested [gitbook](https://www.gitbook.com/).

[2020-10-21 20:37] atalyaalon commented on #1494
@MichalOren Thanks! looks good!
I suggest writing in the header: "תאונות אופנועים קשות וקטלניות בכביש 20 בהשוואה לכל הארץ"
או שאולי עדיף ״לעומת כל הארץ״?
What do you think?

[2020-10-23 05:24] MichalOren commented on #1494
@atalyaalon
1. I totaly agree it best to drop any reference to "%" or "Distribution" in the title.
2. בעברית: 'בהשוואה' מתכוון שחלק במשפט מתאר דמיון במשמעות לחלק האחר
 .כאשר 'לעומת' מתכוון שחלק במשפט מתאר ניגוד במשמעות לחלק ההאחר
לכן נראה לי לעומת יותר מתאים
3. מדובר בתאונות ולא ברוכבי אופנוע אז בטוח לשנות

[2020-10-24 11:33] c881 commented on #1559
I guess "infographics_dictionaries.py" should contain values for both languages.

[2020-11-01 20:50] #1543 closed

[2020-11-01 21:40] atalyaalon commented on #1233
@Mano3 after checking this one seems it's not fixed it. Any thoughts?

[2020-11-01 21:48] atalyaalon commented on #1189
Related PR: https://github.com/hasadna/anyway/pull/1552
This PR's algorithm needs to be reviewed and tested as @Mano3 commented.

[2020-11-02 09:32] Mano3 commented on #1233
No clue, didn't look at the data for quite some time.

[2020-11-02 23:13] atalyaalon commented on #1210
@Mano3 can you add an example here for such newsflash? (perhaps with newsflash id)

[2020-11-02 23:24] atalyaalon commented on #1190
First step in this issue: in waze_alerts table you can see there is a column called "road_type".
Create a geographic layer or a table will help us query roads and streets in cities in 3 ways:
1. geographical basis - giving a GPS point - get road type (note, the exact GPS point might not be in the DB table of waze_alerts)
2. using road number or city name and street name
3. using both metadata (say

[2020-11-04 16:47] Mano3 commented on #1190
Seems right. But for that you'll need to create the same matching of textual fields, as should be done for news flash, for any additional data source

[2020-11-04 16:48] Mano3 commented on #1210
Oof. I think simply querying by geo location that's not in Israel lat lon should do the trick.

[2020-11-07 16:58] atalyaalon opened #1578 "Localize most_severe_accidents_table Widget"
1. Add translation dictionary to most_severe_accidents_table - and localize it
Translation needed: accident type ("type" field in widget)
All accident type can be found in accident_type table in DB (You can also see then in the [Fields meaning google sheet](https://docs.google.com/spreadsheets/d/1qaVV7NKXVYNmnxKZ4he2MKZDAjWPHiHfq-U5dcNZM5k/edit#gid=375223389))

Note that the CBS changed the Hebrew

[2020-11-07 18:15] atalyaalon commented on #1557
Thank you @yuvalbar23 !
Widget exists, closing this one

[2020-11-07 18:15] #1557 closed

[2020-11-07 18:35] atalyaalon commented on #1494
@MichalOren Thank you!

2. Not sure about it - but maybe @elazarg will have an opinion on this.

If so agreed title is either
תאונות אופנועים קשות וקטלניות בכביש 20 בהשוואה לכל הארץ
OR
תאונות אופנועים קשות וקטלניות בכביש 20 לעומת לכל הארץ
?

[2020-11-07 19:35] elazarg commented on #1494
לדעתי כאן עדיף "בהשוואה", שאיננו רומז על דמיון ואיננו רומז על שוני.

But something about it is still clunky.

[2020-11-07 19:44] atalyaalon opened #1579 "Widget: motorcycle_accidents_vs_all_accidents"
**Name**
Query for severe and fatal motorcycle accidents VS other accidents in a specific road vs all of the interurban roads

**Title**
תאונות אופנועים קשות וקטלניות בכביש __ בהשוואה לכל הארץ
(שם הכותרת משתנה כתלות במספר כביש)

**Visualization**
@MichalOren please attach :)

**Visualization explanation**
Visualization contains 2 bar graphs (for the specific road and for all of Israel interurban r

[2020-11-07 19:46] atalyaalon commented on #1494
Thanks Elazar! @MichalOren we can start with this
and change if we'll have a better title.

@baruchpicard and @MichalOren wonderful work!
I created [this issue ](https://github.com/hasadna/anyway/issues/1579) in our new format - so I suggest closing this one.
@MichalOren can you add an image to the new issue above?

[2020-11-07 20:43] atalyaalon commented on #1501
@ChayneAzriel can you create a new issue to the BackEnd team by the new template?
(See an example I created [here](https://github.com/hasadna/anyway/issues/1579))

[2020-11-07 21:02] atalyaalon commented on #1501
@galraij can you create the infographics with the new header? (נפגעים and not תאונות)

[2020-11-07 21:05] atalyaalon commented on #1503
@ChayneAzriel same here - can you create a new issue using the new template you created?
Note that we need to send the top 5 segments, and not all segments.
The name of the widget in the code (with the mock data) is top_road_segments_accidents

[2020-11-07 21:40] atalyaalon commented on #1505
@MichalOren @ChayneAzriel
I suggest rethinking of this infographics - since right now I think it can be confusing.
Perhaps create a view/heat map of speed limit and severity, or maybe focus only on the percentage of both fatal and severe accidents out of the total accidents in this speed.

@galraij @MichalOren  I would design here infographics in the shape of a car speed meter - in this way we'll

[2020-11-07 21:41] atalyaalon commented on #1555
I agree with @yuvalbar23  - it should either be 3 different graphs - or non-stack graph with colors the way he created.
@galraij @MichalOren  any thoughts?

[2020-11-07 21:58] atalyaalon opened #1581 "Widget: top_road_segments_accidents_severe_fatal_per_km"
**Name**
top_road_segments_accidents_per_km_severe_fatal

**Title**
תאונות קשות וקטלניות לכל ק״מ כביש עפ״י מקטע בכביש ___
(שם הכותרת משתנה כתלות במספר כביש)

**Visualization**
![96688847-4b058680-138a-11eb-89b0-8e11eae302d9](https://user-images.githubusercontent.com/20992625/98451999-f3ba3100-2153-11eb-84b4-13cb3f43b78c.png)

**Visualization explanation**
Shows top 3 segments in road

**Use case**

[2020-11-07 22:01] atalyaalon commented on #1556
@yuvalbar23 Wonderful, thanks!
I created the [following issue](https://github.com/hasadna/anyway/issues/1581) - We'll start with general count of accidents - won't focus on motorcycles in this Widget yet.

[2020-11-07 22:02] #1556 closed

[2020-11-07 22:08] #1494 closed

[2020-11-07 22:22] atalyaalon commented on #1558
@yuvalbar23 @MichalOren great work! This really looks awesome!

I suggest creating an issue using the new template ([see example here](https://github.com/hasadna/anyway/issues/1579))

Also I believe you'll need to elaborate in the new issue regarding the logic of choosing the accident types to be presented (perhaps top 5 in the current road - in our case road 20)

Also - what do you think regardin

[2020-11-07 22:33] atalyaalon commented on #1554
@yuvalbar23 awesome!
Can you create in in the new issue format?
@MichalOren any thoughts on the visualization?

[2020-11-07 23:00] atalyaalon commented on #1492
@baruchpicard wonderful!
Following steps:

1. Regarding query:
- I suggest separating הרוג from פצוע קשה - having 3 categories instead of 2
- I suggest using both street1_hebrew and street2_hebrew (with or between them)
- I suggest using the codes of the categorical fields and not the Hebrew names

2. Create an issue using the new template
See as an example [the issue created here](https://github.

[2020-11-08 10:15] ChayneAzriel commented on #1501
fixed the code.
there's a sql query <https://app.redash.io/hasadna/queries/508470>, hope to
create issue according to the new template soon.
On the query I counted injured pedestrians. I'm not convinced that this is
the right way, as there are accidents where pedestrians were involved but
not injured and I think this kind of accident should be counted in two.

‫בתאריך יום ד׳, 14 באוק׳ 2020 ב-2:42

[2020-11-09 12:36] ChayneAzriel commented on #1505
most of the accidents on this column are unknown, I think that as long as we don't know what length each speed limit part of the road is it's hard to understand what is the meaning of the numbers

[2020-11-14 00:38] atalyaalon opened #1588 "Localize Widget - most_severe_accidents_table"
**Widget ID**
most_severe_accidents_table

**Widget Fields**
type

**Dictionaries Missing**
Dictionaries to create (For example - Accident Type Dictionary)
Note: Create a dictionary containing using the DB code as a key and not the Hebrew translation (for example `{1: 'fatal'}` rather than `{'קטלנית': 'fatal'}`)

**Widget Title**
Yes - title is : תאונות בסדר חומרה יורד במקטע ____

**Additional con

[2020-11-14 01:13] atalyaalon commented on #1559
@ziv17 please add this parameter to query (Any localized text is already handled using the lang param)
If it's not difficult - let's perform localization after cache extraction - for that I think that perhaps we should add per widget the localized fields (not all needs to be localized, some are numbers for example).
What do you think?

[2020-11-14 06:58] ziv17 commented on #1559
A few questions:

1. How will the `lang` parameter value reach the code the performs the choosing of the correct text?
2. What is the language that is currently produced?
3. Is currently all localization implemented with same mechanism?
4. Is all needed localization already implemented?

[2020-11-14 08:24] atalyaalon commented on #1559
1. Lang parameter will be passed in query by FE - see [following code](https://github.com/hasadna/anyway/blob/a3bec547bdecaba816a464f6b7e7ab554826ab4b/anyway/flask_app.py#L316) handling it for the bable localizer and[ the following code using the lang param](https://github.com/hasadna/anyway/blob/8271b7297f872f3829632150c854936c0351227d/anyway/localization.py#L217)
2. @idosavion is there a default

[2020-11-14 09:44] atalyaalon opened #1591 "Localize Widget - most_severe_accidents"
**Widget ID**
Widget ID

**Widget Fields**
accident_type, accident_severity

**Dictionaries Missing**
Accident Severity Dictionary, Accident Type Dictionary can be found in[ this PR](https://github.com/hasadna/anyway/pull/1590) that will soon be merged
Note: Create a dictionary containing using the DB code as a key and not the Hebrew translation (for example `{1: 'fatal'}` rather than `{'קטלנית':

[2020-11-14 09:45] atalyaalon opened #1592 "Localize Widget - head_on_collisions_comparison"
**Widget ID**
head_on_collisions_comparison

**Widget Fields**
desc
**Dictionaries Missing**
specific dictionary to the description of this widget
Note: Create a dictionary containing using the DB code as a key and not the Hebrew translation (for example `{1: 'fatal'}` rather than `{'קטלנית': 'fatal'}`)

**Widget Title**
Yes, current title in hebrew: תאונות קטלניות ע״פ סוג

**Additional context**

[2020-11-14 09:47] atalyaalon opened #1593 "Localize Widget - accidents_heat_map"
**Widget ID**
accidents_heat_map

**Widget Fields**
only title

**Dictionaries Missing**
use segment dictionary used in [this pr](https://github.com/hasadna/anyway/pull/1590/files)
Note: Create a dictionary containing using the DB code as a key and not the Hebrew translation (for example `{1: 'fatal'}` rather than `{'קטלנית': 'fatal'}`)

**Widget Title**
Yes, current title: מוקדי תאונות קטלניות וק

[2020-11-14 09:58] atalyaalon commented on #1559
Also - it made me think - when we add a new news flash and calculate the Widgets data for this news flash - what's the language is used? Since this is not a request coming from the API, will it be just a default language?

[2020-11-14 10:12] atalyaalon opened #1594 "Localize Widget - accident_count_by_driver_type"
**Widget ID**
accident_count_by_driver_type

**Widget Fields**
driver_type
**Dictionaries Missing**
Dictionaries to create: Driver type
Note: Create a dictionary containing using the DB code as a key and not the Hebrew translation (for example `{1: 'fatal'}` rather than `{'קטלנית': 'fatal'}`)

**Widget Title**
current title to localize: מעורבות נהגים בתאונות לפי סוג במקטע _

**Additional context**

[2020-11-14 12:25] MichalOren commented on #1579
![Moto4](https://user-images.githubusercontent.com/61007501/99146929-39f81e80-2685-11eb-9839-e85aed4cdd24.PNG)

[2020-11-14 12:36] MichalOren commented on #1579
@atalyaalon
Usually the analysis have specific time frame. I wonder if we should include constatnt 'time reference' in infographic slides and jsons ?
as part of standartization...
i cant find reference to the time frame of the analysis it in the website slides

[2020-11-14 15:29] ziv17 commented on #1559
If we do localization after the cache, then we generate the result of the widget in two stages. First, without a language. We just prepare the input for the localization, and the data that is not changed by localization. In the second stage, we generate the localized text to the result.

[2020-11-14 16:08] idosavion commented on #1559
1. Current supported languages are `LANGUAGES = {"en": "English", "he": "עברית"}` - from `config.py`
2. I don't think we explicitly declaring a default language, this can be changed by providing a second parameter to `best_match` in localeselector.

[2020-11-14 17:13] ziv17 commented on #1559
In my recent PR, I set `'he'` as default in the `infographics-data` api (in case `lang` parameter is not specified).

[2020-11-16 10:25] ChayneAzriel commented on #1505
following our conversation, in the meantime we will not be using this infographic

[2020-11-16 17:31] MichalOren commented on #1555
I support the idea of each type individually. And if to unite something then electric vehicles (scooter and electric bike). regular bikes separately.

[2020-11-16 19:22] atalyaalon commented on #1555
Thank you @MichalOren!
@yuvalbar23 any thoughts?

[2020-11-16 19:26] atalyaalon commented on #1579
@MichalOren you are absolutely right - we'll already asked from the FE to add the dates in the bottom of each infographics.

[2020-11-16 19:27] atalyaalon commented on #1579
@MichalOren the infographics looks really good! I'll add it to the issue

[2020-11-16 19:28] atalyaalon commented on #1579
@MichalOren infographics looks really good. Thank you!

[2020-11-16 19:29] atalyaalon commented on #1505
@ChayneAzriel thank you, closing this issue.

[2020-11-16 19:29] #1505 closed

[2020-11-16 19:35] MichalOren commented on #1558
HI
- I am adding a new infographic template for this issue.
- I will elaborate  regarding the logic of choosing the accident types to be presented.
- Regarding other vehicle types, i think that we or I should test it and run the query with other vehicle types just to see if that's make sense
-  Same sugestion for 'all accidents' (no filter for motorbike)
@atalyaalon @yuvalbar23

[2020-11-16 19:44] atalyaalon commented on #1558
Great @MichalOren !
After opening the issue, please ask one of our team members for an internal review

[2020-11-18 16:58] yuvalbar23 commented on #1558
import pandas as pd

#Loading data
inv_mar = pd.read_csv('involved_markers_hebrew.csv',low_memory=False)

#Initialize parameters
road = 20
year_lower_bound = 2014
year_upper_bound = 2019
vehicle_types = [8,9,10,19]

#Query
df_road = inv_mar[(inv_mar['vehicle_vehicle_type'].isin(vehicle_types))&
             (inv_mar['accident_year']>=year_lower_bound)&
             (inv_mar['accident_year']<=year_

[2020-11-18 17:38] yuvalbar23 commented on #1555
LMK what you think

![Line](https://user-images.githubusercontent.com/63560246/99564148-c2065d00-29d2-11eb-9df5-0be3609c7ef3.png)
![stacked bar](https://user-images.githubusercontent.com/63560246/99566342-6f7a7000-29d5-11eb-9059-fbe68c9ff6f6.png)
![category bar](https://user-images.githubusercontent.com/63560246/99566486-a5b7ef80-29d5-11eb-8b45-e81d0c49d531.png)

[2020-11-21 14:47] atalyaalon opened #1601 "broken test"
@elazarg can you take a look at the broken test [test_location_extraction_geocode_extract](https://github.com/hasadna/anyway/runs/1424540931?check_suite_focus=true)?

[2020-11-21 16:03] atalyaalon opened #1602 "Installation instructions using wsl2"
@carmelp16 please add to the readme instructions for using windows with wsl2.

[2020-11-21 16:11] #1545 closed

[2020-11-22 08:37] atalyaalon commented on #1555
@yuvalbar23 the 3 look very good - I suggest adding the 3 graphs as 3 different widgets.
@galraij @MichalOren  any thoughts?

[2020-11-22 21:19] yuvalbar23 commented on #1558
** SQL Query **
-------------------------------------------------------------------------------------------------------------------------------
WITH road_table AS
  (SELECT accident_type,
          cast(count(distinct(markers.provider_and_id))/sum(count(distinct(markers.provider_and_id))) OVER () AS decimal (10, 2)) AS road_20
   FROM markers
   JOIN vehicles USING(provider_and_id)
   WHERE marker

[2020-11-23 18:54] MichalOren opened #1606 "Widget: Motorcycle_accidents_type_-_road_20_vs_all_roads"
**Name**
Query for: most common motorcycle accidents types in a specific road vs all other interurban roads. Most common refer to the top 5 accidents types in the current road (in our case road 20)

**Title**
סוגי תאונות אופנועים בכביש __ בהשוואה לכל הארץ
(שם הכותרת משתנה כתלות במספר כביש)

**Visualization**
![image](https://user-images.githubusercontent.com/61007501/100002456-3e32e300-2dcd-11eb-8

[2020-11-24 08:17] ChayneAzriel opened #1607 "Widget: EURO DEMO front collision accidents on road 55 vs all other interurban roads"
**Name**
percents of front collision accidents on road 55 and all other interurban roads

**Title**
high percent of front collision accidents on road 55 .

**Visualization**
![newplot](https://user-images.githubusercontent.com/61120310/100066445-c8b32b00-2e3d-11eb-94c4-411344983b94.png)

**Visualization explanation**
percentage of frontal accidents out of total accidents, for road X compared to al

[2020-11-24 11:09] ChayneAzriel opened #1608 "Widget: EURO DEMO accidents severity on road 25 vs all other interurban roads"
**Name**
percentage of accidents severity on road 25 vs all other interurban roads

**Title**
accidents severity by percentage on road 25

**Visualization**
![slide_25 1 1](https://user-images.githubusercontent.com/61120310/100086448-19cf1900-2e56-11eb-9a16-3fa5c44e7ad1.png)
![slide_25 1 2](https://user-images.githubusercontent.com/61120310/100086458-1d62a000-2e56-11eb-85a5-16972629700f.png)

**Vi

[2020-11-24 13:02] BarVolunteering opened #1609 "User registration API"
1. User info API that will return user email and is user fully registered
2.User registration API that will receive email, name and work place

[2020-11-24 13:03] BarVolunteering commented on #1609
Part of #1469

[2020-11-24 13:09] BarVolunteering opened #1610 "Improve FE debugging flow"
When there is a use of FE PROD version with BE PROD version - redirect to the official URL after google OAuth,
When there is a use of FE DEV version with BE PROD version - redirect to localhost after google OAuth.
Part of issue #1469

[2020-11-24 13:11] BarVolunteering commented on #1469
The current status is that there is limited login support that was merged in pull request #1598 ,
the login system is still WIP.

[2020-11-26 10:31] ChayneAzriel opened #1612 "Widget: EURO DEMO Front to side accidents by severity on road 25"
**Name**
front_ to_side_ accidents_by_severity

**Title**
front to side accidents take a major part in more severe accidents

**Visualization**
<img width="870" alt="כרטיסיות_למוקאפ_דוח_עיתונאים_key" src="https://user-images.githubusercontent.com/3368312/101294133-1193b800-381e-11eb-871c-f2ef9ace5f2d.png">
**Visualization explanation**
accidents on road X, presented by accident severity, front to

[2020-12-02 16:52] ziv17 commented on #1588
Hi @atalyaalon , if we use the `flask_babel` structure, with `msgid`, do we still need the dictionaries?
We can set the `msgid` as the code in the database, e.g. `accident_type` in `AccidentMarker` table. We can set constants for readability. (or `Enum` :) )
What do you think?

[2020-12-06 21:01] #1610 closed

[2020-12-06 21:52] galraij commented on #1612
<img width="870" alt="כרטיסיות_למוקאפ_דוח_עיתונאים_key" src="https://user-images.githubusercontent.com/3368312/101294133-1193b800-381e-11eb-871c-f2ef9ace5f2d.png">

[2020-12-06 21:55] atalyaalon commented on #1612
@ChayneAzriel looks great! It's a very good insight! Wonderful work!

A few questions - regarding the redash query:
1. Regarding the Redash query - why is "road_object" there?
<img width="513" alt="Screen Shot 2020-12-06 at 23 30 57" src="https://user-images.githubusercontent.com/20992625/101293001-9e894200-381b-11eb-918d-bffa649fb70a.png">
2. Why are you using involved_markers_hebrew and not mark

[2020-12-06 21:59] atalyaalon commented on #1612
Also - @galraij created a cool visualization - perhaps it's better to add only fatal and severe accidents (it's better to use the word severe and not harsh)

[2020-12-07 08:49] ChayneAzriel commented on #1612
1. I think it's just left over from when I was playing with the data..
2. that's what I usually do, I reduce to the amount of accidents from the amount of  involves with distinct
3.the graph was created by python, there are little differences between the redash results and the python ones
4. at first I thought this road had parts that are defined as one lane, and it was part of trying to get the m

[2020-12-07 17:47] galraij opened #1628 "Widget: Accidents on a certain day compared to the same day in previous years"
**Name**
Accidents on a certain day compared to the same day in previous years

**Title**

**Visualization**
![yearly comparison](https://user-images.githubusercontent.com/3368312/101385815-f6c84e80-38c4-11eb-85bc-a09191ded5ee.jpg)

**Visualization explanation**
Explain visualization content.

**Use case**
When this infographic should be displayed

**SQL query**
Sql clause and usage guidance. In a

[2020-12-07 17:52] galraij opened #1629 "Widget: Severe and fatal accidents on a certain day compared to other years."
**Name**
Severe and fatal accidents on a certain day compared to other years.

**Title**
Infographic name to be used in FE.

**Visualization**
![weekly_presentation_weekly_presentation_20201206](https://user-images.githubusercontent.com/3368312/101386336-b74e3200-38c5-11eb-8317-34b7f9f0e10d.jpg)

**Visualization explanation**
Explain visualization content.

**Use case**
When this infographic shoul

[2020-12-07 18:00] galraij opened #1630 "Widget: Accident up to a certain day in different years by road type"
**Name**
Accident up to a certain day in different years by road type

**Title**
Infographic name to be used in FE.

**Visualization**
![road type](https://user-images.githubusercontent.com/3368312/101387209-cd102700-38c6-11eb-8993-98e425edfcc9.jpg)

**Visualization explanation**
Explain visualization content.

**Use case**
When this infographic should be displayed

**SQL query**
Sql clause and us

[2020-12-07 18:03] galraij opened #1631 "Widget: accidents up to a certain date compared to other years by age"
**Name**
accidents up to a certain date compared to other years by age

**Title**
Infographic name to be used in FE.

**Visualization**
![by age](https://user-images.githubusercontent.com/3368312/101387514-355f0880-38c7-11eb-98f2-890614e47fe1.jpg)

**Visualization explanation**
Explain visualization content.

**Use case**
When this infographic should be displayed

**SQL query**
Sql clause and usag

[2020-12-09 19:10] BarVolunteering opened #1633 "Documentation of OAuth2.0 use in our server"
Create a documentation of OAuth2.0 use in our server.

[2020-12-09 20:45] BarVolunteering commented on #1609
That's the data that we need to get from the user
![image](https://user-images.githubusercontent.com/58947331/101685272-3a12f080-3a70-11eb-8717-395ad592d4e5.png)

[2020-12-13 09:39] #1579 closed

[2020-12-14 12:11] ChayneAzriel commented on #1628
created a redash query for this one, with my changes for this infographic
[redash query](https://app.redash.io/hasadna/queries/570358?p_Current%20Month=9)

below are the suggestions for this info:
![killed_by_year_sep](https://user-images.githubusercontent.com/61120310/102079788-f7f20200-3e15-11eb-9e54-c0554b567b82.png)
![killed_by_year](https://user-images.githubusercontent.com/61120310/102079798

[2020-12-14 20:04] ziv17 commented on #1588
Hi @atalyaalon is this issue a duplicate of #1578?

[2020-12-14 21:04] atalyaalon commented on #1588
sorry for the delay!
I guess it depends on how we model our data.
For example - if we map a few vehicle types to one vehicle type - (for example, a few types of motorcycles) - then we'll need some dictionary (unrelated to flask babel) - that will map all motorcycle types to the single word "motorcycle".
BTW we can also make sure we'll have DB tables with these mapping.
In some cases - the mapping

[2020-12-14 21:04] atalyaalon commented on #1588
yes, closing #1578

[2020-12-14 21:05] atalyaalon commented on #1578
duplicate of #1588

[2020-12-14 21:05] #1578 closed

[2020-12-16 19:42] atalyaalon commented on #1558
@MichalOren can we close this one? Since we have https://github.com/hasadna/anyway/issues/1606 ?

[2020-12-16 19:47] atalyaalon commented on #1606
@rsperer we want to create multiple similar widgets - each one with different vehicle type.
We want each widget to have a unique id - maybe we can use class inheritance here? Perhaps @ziv17 can help?

[2020-12-16 20:06] ziv17 commented on #1606
Is it exactly same widget, but for different vehicle type? Or with small differences?

[2020-12-16 20:17] atalyaalon commented on #1606
@ziv17 yes it's exactly the same widget but with different vehicle types

[2020-12-17 05:54] ziv17 commented on #1606
I would use a `@classmethod` as a factory to generate the widget instances. One at `Widget` class for all the regular cases, and one for this widget, were it will generate an instance for each vehicle. I can do the infrastructure part if you prefer.

[2020-12-17 12:14] rsperer commented on #1606
I'd like to tackle it myself, will consult @ziv17 about the class infrastructure

[2020-12-18 11:12] MichalOren commented on #1606
sorry did not mean to cose it ):

[2020-12-18 11:13] MichalOren commented on #1558
yes we can close it

[2020-12-18 11:36] #1558 closed

[2020-12-18 14:02] atalyaalon opened #1639 "users"

[2020-12-18 14:02] #1639 closed

[2020-12-18 14:23] atalyaalon commented on #1469
@BarVolunteering can we close this issue?

[2020-12-18 14:25] #951 closed

[2020-12-18 16:47] BarVolunteering commented on #1469
Yes.
Not all of the code is implemented but there are other issues that better describes what need to be done.

[2020-12-18 16:47] #1469 closed

[2020-12-18 17:43] atalyaalon opened #1640 "General Location Accuracy"

[2020-12-18 17:53] atalyaalon opened #1641 "Geographic based Data Filtering"
Use geographical polygons of segments, streets, cities.
Slice accident data of a segment / street / city using polygons rather than CBS categories.

[2020-12-18 18:12] atalyaalon opened #1642 "Add urban accidents (street resolution)"
These accidents are filtered both when creating infographics cache and when querying the newsflash API.
Make sure these accidents aren't filtered in both locations

[2020-12-18 18:18] atalyaalon opened #1643 "BackEnd Localization - Full Support"

[2020-12-18 18:22] #1591 closed

[2020-12-18 18:24] atalyaalon opened #1644 "BackEnd Localization - NewsFlash API"

[2020-12-19 14:50] atalyaalon commented on #1466
@BarVolunteering can you take this one?

[2020-12-19 15:11] atalyaalon opened #1645 "Modify injured_count_per_age_group API"
1. Modify age ranges to fit the following image:
![101387514-355f0880-38c7-11eb-98f2-890614e47fe1](https://user-images.githubusercontent.com/20992625/102692610-180e3080-421d-11eb-8f0b-3aab424884ff.jpg)
2. Split to by injury severity - modify API to contain injured data per age group per severity
3. Add the title: "מספר הרוגים ופצועים קשה במקטע ___"
4. @galraij  - Please Add mock image that contain

[2020-12-19 15:28] atalyaalon opened #1646 "Inter-Urban Widgets"

[2020-12-19 15:44] atalyaalon commented on #1631
@MichalOren since we'll create an implementation of this graph implementation per segment/street - there is no need to create a redash new query - just to clarify in the text above differences between this Widget (which is per segment / street): https://github.com/hasadna/anyway/issues/1645
to the current one which includes the whole country

[2020-12-19 16:03] atalyaalon commented on #1628
@ChayneAzriel looks very good!
I suggest the following:
1. Bar graph:
- Add the killed count on both parts or bar.
- I think that the dashed line should be in the top (including September)
2. Line graph: change the direction of the x-axis (2008 should be on the left)

Also - I suggest separating it to 2 different Widgets - and creating an issue for each one - one graph per Widget.

[2020-12-19 17:20] BarVolunteering commented on #1466
@atalyaalon
Maybe in 2-3 more weeks, currently i need to finish my existing issues.

[2020-12-19 19:16] DorAdam opened #1647 "Widget: Total accidents involving pedestrians comparison - city vs specific road per accident severity"
**Name**
Percentage of severe and fatal accidents involving pedestrians on a certain road compared to the rest of the city.

**Title**
Total accidents involving Pedestrians comparison per accident severity - road_x vs city

**Visualization**
![WhatsApp Image 2020-11-21 at 20 03 29 (1)](https://user-images.githubusercontent.com/74875001/102697264-47cd3080-423d-11eb-86c7-36404b294ebd.jpeg)

**Visual

[2020-12-19 21:33] atalyaalon commented on #1647
Great! Thank you @DorAdam

[2020-12-20 04:06] #1559 closed

[2020-12-20 13:26] ChayneAzriel commented on #1629
[redash query](https://app.redash.io/hasadna/queries/576687?p_Current%20Month=9)

below are options for presenting this info

![count_sev_fat_sep](https://user-images.githubusercontent.com/61120310/102714515-acd56480-42d7-11eb-977b-aa58275ceba3.png)

![fatal_sep](https://user-images.githubusercontent.com/61120310/102714520-b4950900-42d7-11eb-833e-adfe382325ed.png)

![severe_fatal_avg](https://user

[2020-12-21 07:53] rsperer commented on #1606
@MichalOren I see that the query returns accident_type as int but the visualization shows it as string. What should it be?

[2020-12-21 12:20] rsperer commented on #1606
@MichalOren @atalyaalon I see all other infographics extract from "involved_markers_hebrew" while this one goes to "markers". Wanted to verify with you this is indeed what we want.

[2020-12-22 10:17] rsperer commented on #1606
@atalyaalon do we expect to generate all those widgets when returning data per a specific news_flash or I we likely to generate just one\two depending on the vehicle(s) involved?

[2020-12-22 20:47] atalyaalon commented on #1606
return accident_type and use the [english_accident_type_dict as used here](https://github.com/hasadna/anyway/pull/1638/files#diff-7529f3bc6fee7fd4c45a5cb9a71043a9b0b92c8344d7fbca85f30ad77ddf3b6dR230)

[2020-12-22 20:48] atalyaalon commented on #1606
Yes, in this widget we count accidents, using markers is enough

[2020-12-22 20:49] atalyaalon commented on #1606
We might generate more than one widget - we don't want to be limited in that sense and have the option to send all of the Widgets with different vehicle types.

[2020-12-22 21:09] atalyaalon commented on #1492
@MichalOren can you take this one?

[2020-12-25 09:00] #1245 closed

[2020-12-25 09:12] atalyaalon commented on #1492
@DorAdam will take this one

[2020-12-26 14:22] atalyaalon commented on #1612
@ChayneAzriel Thanks!

1. great!
2. Instead, I suggest using the markers table or the markers_hebrew table
3. You can use the field accident_severity_hebrew for the translation instead of translating in the query itself.
However, we do prefer filtering by the code (accident_type = 2) - since the BackEnd team will implement it using the code.
4. You can also attach a Python code instead of the quer

[2020-12-26 15:11] atalyaalon commented on #1647
@MichalOren can you create a visualization of 2 pie chart using the existing 2 pie chart in our site (see image)
Just like you [created here](https://github.com/hasadna/anyway/issues/1579)?
Ask @DorAdam for the title

![Screen Shot 2020-12-26 at 17 09 53](https://user-images.githubusercontent.com/20992625/103153966-333ceb00-479d-11eb-9b47-a3b4a9ea78d2.png)

[2020-12-26 17:22] atalyaalon opened #1650 "news-flash API - Add Pagination"

[2020-12-26 17:23] atalyaalon opened #1651 "API Additions and Improvements"

[2020-12-26 17:25] atalyaalon commented on #1650
Request opened by [FE team here](https://github.com/hasadna/anyway-newsflash-infographics/issues/540)

api/news-flash API can be found in [here](anyway/views/news_flash/api.py)

[2020-12-26 17:30] atalyaalon opened #1652 "Improve performance of Widgets"

[2020-12-26 17:38] atalyaalon commented on #1652
Review widgets performance.

Serialization of some widgets takes long (for example - top_road_segments_accidents_per_km and motorcycle_accidents_vs_all_accidents takes a long time)
For slow widgets - explore why these query take long, and improve the performance of these widgets by either adding DB indices or improving the query.

Start with the above 2 widgets.

[2020-12-26 17:45] atalyaalon commented on #1579
Thank you @rsperer and @MichalOren !
Issue was opened to [FE team](https://github.com/hasadna/anyway-newsflash-infographics/issues/541)

[2020-12-26 21:24] atalyaalon commented on #1501
@ChayneAzriel
I suggest the following:
1. Adding to query the following condition: injury_severity in (1,2,3)
2. We'll count injured and not accidents - hence it's ok to only count injured pedestrians (without including involved but not injured)
3. I suggest using street1_hebrew and street2_hebrew, and count all injured for all possibilities (meaning the given street can be either in street1 or in

[2020-12-26 21:28] atalyaalon commented on #1483
@assafdayan and @dinasv I suggest with starting with rules that use only the data itself and NOT the newsflash tags.
Later on we'll add the newsflash tags information and decide how this affects us.

[2020-12-26 21:32] atalyaalon commented on #1483
Also - we can start by dividing the widgets to urban / non urben / both - the newsflash resolution that already exists can help us which choosing the relevant widgets - which can be an initial good filtering that does not relate to the accidents data itself yet (road resolution vs street resolution)

[2020-12-26 21:43] atalyaalon opened #1653 "Moving to Django"

[2020-12-26 21:52] #1588 closed

[2020-12-26 22:06] atalyaalon opened #1655 "Fix Test test_location_extraction_geocode_extract"
The above test is not passing - we need to understand why

[2020-12-26 22:08] atalyaalon opened #1656 "BackEnd Tests"
We need to make sure that test infrastructure is available to run locally - which means:
1. Adding local env vars
2. Creating a specific environment for tests (perhaps another dockerfile running tests will be a good solution)
3. Any other suggestions?

[2020-12-26 22:11] atalyaalon commented on #1555
@MichalOren can you open Widgets for the above 3 graphs?

[2020-12-26 22:22] #1601 closed

[2020-12-26 22:23] atalyaalon commented on #1601
duplicate of https://github.com/hasadna/anyway/issues/1655

[2020-12-27 10:01] rsperer commented on #1647
@atalyaalon we currently have 3 widgets related to pedestrian injuries and all currently return mock data. As far as I can tell all are different from the one described here. Do I add a new one or should it come instead of an existing pedestrian query?

[2020-12-27 18:43] ziv17 commented on #1642
Hi @atalyaalon , by newsflash API, you mean `news_flash()` in `anyway/views/news_flash/api.py`?

[2020-12-28 11:14] ChayneAzriel commented on #1630
![image](https://user-images.githubusercontent.com/61120310/103210556-9e59ff00-490e-11eb-849b-579efc31cea9.png)

[2020-12-28 11:55] ChayneAzriel commented on #1501
1. added, but I don't think it's necessary
3. added street2 to filtering

[2020-12-28 18:36] ziv17 commented on #1642
Hi @atalyaalon Does this mean to accept all news-flash items that has `accident == true`?

[2020-12-28 19:35] #1594 closed

[2020-12-28 19:35] ziv17 commented on #1594
Implemented

[2020-12-29 16:08] rsperer commented on #1647
@atalyaalon @DorAdam
In the news flash I have street1/2_hebrew and yishuv_name rather than symbols. Can I use them in the query?

[2020-12-29 17:18] ziv17 commented on #1652
I think yes. For example, the function `get_accidents_stats` is called 15 times. I would, though, measure how long the DB queries take relative to the full `infographics-data` query computation time.

[2020-12-29 22:44] MichalOren commented on #1647
Hi
2 display option: pie or donut?
which one "is better" ?
Note: The title is only temporary
![Padest_Sev](https://user-images.githubusercontent.com/61007501/103318377-f8ee7a80-4a36-11eb-8184-0bf852dafd06.JPG)

[2020-12-30 17:46] ziv17 commented on #1592
Hi @atalyaalon ,
currently, the returned items are:
`
"specific_road_segment_fatal_accidents": [
                        {
                            "desc": "חזיתיות",
                            "count": 1
                        },
                        {
                            "desc": "אחרות",
                            "count": 1
                        }
                    ],

[2020-12-30 19:41] atalyaalon commented on #1647
@MichalOren the pie - the front end will be similar to the one above of the frontal accidents.
In addition - we'll sum the fatal and severe accidents together - so only 2 categories.

[2020-12-30 20:38] MichalOren commented on #1647
Hi, let me know what do think
![Padest_Sev2](https://user-images.githubusercontent.com/61007501/103379832-a7ee8d00-4aef-11eb-9446-ec0f9b049fcc.PNG)

[2020-12-30 21:35] atalyaalon commented on #1647
@MichalOren great! Thanks!

[2020-12-30 21:35] atalyaalon commented on #1647
@galraij any comments?

[2020-12-30 21:48] atalyaalon commented on #1592
@ziv17 desc's value should be translated - not the key

Regarding specific_road_segment_fatal_accidents and all_roads_fatal_accidents - ideally we'll structure this with translation, right now it's already translated in FE (see this widget here - Hebrew: https://anyway-infographics.web.app/newsflash/62242 and here - english https://anyway-infographics.web.app/en/newsflash/62242)
(And see open issu

[2020-12-31 07:00] rsperer commented on #1606
@atalyaalon @MichalOren
I have a question about how we should retrieve "last 5 years". The referenced query uses field accident_year and values (2014,2019) while in most queries we look at last 5 years ranging back from the accident date. Which one should it be for this query?

[2021-01-01 05:23] ziv17 opened #1670 "Localize after cache fails on production"
Describe the bug
When pulling from cache, code assumes it receives a dict, but actually receives a JSON string

To Reproduce
Steps to reproduce the behavior:

    Work with cache in production

[2021-01-03 19:08] MichalOren commented on #1606
OK by me

[2021-01-06 19:01] atalyaalon commented on #1647
@rsperer I suggest using exactly the same structure of widget as in head_on_collisions_comparison

[2021-01-06 19:56] #1609 closed

[2021-01-09 15:37] atalyaalon commented on #1483
Technical question - @ziv17 we discussed on removing the rank field and just sort the widgets by order.
@assafdayan and @dinasv is this acceptable with you?

[2021-01-09 17:49] #1670 closed

[2021-01-10 20:11] DorAdam opened #1677 "Widget: Total pedestrians injuries comparison - crosswalk vs no crosswalk by injury severity"
**Name**

Percentage of severe and fatal pedestrians injuries on a certain road by cross location- crosswalk vs no crosswalk(jaywalking)

**Title**

___ השוואת שיעור ההרוגים ופצועים קשה מקרב הולכי רגל לפי מיקום החציה ברחוב.

**Visualization**
![98453047-a93db200-215d-11eb-8e93-28c4b6ea2eb8](https://user-images.githubusercontent.com/74875001/104133372-e146b880-538b-11eb-8bd6-16f8cb8d56fd.png)

**Vi

[2021-01-12 18:50] #1645 closed

[2021-01-12 18:57] BarVolunteering commented on #1645
FE issue:
https://github.com/hasadna/anyway-newsflash-infographics/issues/564

[2021-01-13 16:00] #1592 closed

[2021-01-13 16:00] ziv17 commented on #1592
Implemented

[2021-01-16 10:13] DorAdam opened #1680 "Widget: Total pedestrians injuries on a specific street by injury severity and year"
**Name**

Query for pedestrians injuries count at a specific street and by injury severity and year
Currently mock data exists - Widget name: injured_accidents_with_pedestrians

**Title**

pedestrians injuries at __street __ , __city ___ (years)
נפגעים בתאונות עם הולכי רגל ברחוב ____ , בעיר___ (טווח השנים)

**Visualization**

![image](https://user-images.githubusercontent.com/74875001/104808667-6d

[2021-01-16 14:59] atalyaalon opened #1681 "most_severe_accidents Widget (map) - API for accident severity"
The Widget API [most_severe_accidents](https://github.com/hasadna/anyway/blob/d31f622df16283fc949b985c9de7c3fb5d8c1469/anyway/infographics_utils.py#L280) serves the map in the FE, where severity is set by the [hebrew word for severity](https://github.com/hasadna/anyway-newsflash-infographics/blob/5c29ec370120fda2b0a28c04d1c0235097f55df8/src/components/atoms/AnywayMapIcon.tsx#L38) and sets the colo

[2021-01-16 15:44] atalyaalon opened #1682 "Modify most_severe_accidents_table"
1. Filter only fatal and severe accidents (without light accidents)
2. Modify title text:
English: "Most severe accidents in segment ___"
Hebrew: "תאונות חמורות במקטע ___"
3. Order accidents by timestamp in descending order

@galraij FYI

[2021-01-16 16:43] atalyaalon commented on #1681
@yuvalbl  FYI

[2021-01-17 07:42] yuvalbl commented on #1681
I agree - `accident_severity` should not be localized, and data should be provided in lowercase english( `fatal`, `light` etc.)

[2021-01-17 07:42] yuvalbl commented on #1681
please provide the available options for `accident_severity`

[2021-01-17 13:48] ziv17 commented on #1681
I am looking for a guideline for what fields in an infographics widget data should be translated. e.g. does `accident_severity` and  `accident_type` has same (translating) behavior?

[2021-01-20 17:10] atalyaalon commented on #1652
@ziv17 if I'm not mistaken `get_accidents_stats` is called with different params - but I didn't check it

[2021-01-20 17:31] #1650 closed

[2021-01-20 17:50] atalyaalon commented on #1606
@rsperer closing this one

[2021-01-20 17:57] ziv17 commented on #1652
Most of the cases use same filter, wich is location and time. There are some others that use different filter.

[2021-01-20 21:49] atalyaalon commented on #1492
Closing this one - #1677 opened instead

[2021-01-20 21:49] #1492 closed

[2021-01-20 21:56] atalyaalon commented on #1680
@DorAdam looks great!
@MichalOren can you review the query before we send this to implementation in the BackEnd? Any comments?

[2021-01-20 21:57] atalyaalon opened #1685 "1680"

[2021-01-20 21:58] atalyaalon commented on #1466
Closing this one since #1680 created. @DorAdam great work!

[2021-01-20 21:58] #1685 closed

[2021-01-20 22:35] atalyaalon opened #1686 "Create information data per widget"
Start with the table widget, the map widget and the summary widget

[2021-01-20 22:41] atalyaalon commented on #1606
@rsperer can you create a FE issue now that API exists?

[2021-01-20 22:42] atalyaalon commented on #1606
Similar to this one - https://github.com/hasadna/anyway-newsflash-infographics/issues/541
With the visualization @MichalOren created

[2021-01-20 22:43] atalyaalon opened #1687 "motorcycle_accidents_vs_all_accidents"

[2021-01-20 22:45] #1687 closed

[2021-01-20 22:46] atalyaalon opened #1688 "Prioritize widgets localization"

[2021-01-20 22:51] atalyaalon commented on #1652
@ziv17 got it, in this case we can indeed reproduce this query.

[2021-01-20 22:52] atalyaalon commented on #1652
Note that some widgets do query the same locaiton and time - but perform different grouping.
In that case - it might still be quicker to do so in the DB rather than pull the data and perform it with python

[2021-01-20 22:53] atalyaalon commented on #1652
Also - if you think we should use parallelism in code when creating widgets - I think you can create a small POC of any tool of your choice and we'll move on from there.
Regardless I think we should improve our Widgets creation time - since if a widget creation takes seconds - something is very wrong either in the way the query is built, or in the DB indexing, or in both

[2021-01-20 22:57] atalyaalon commented on #1681
So it depends on the widget - specifically on the map we don't have labels on the map markers - so no additional information is shown but the color of the widget (which is influenced from severity)
In the future we might add details on hover - when we'll start embedding widgets.

[2021-01-21 09:10] ziv17 commented on #1681
I don't understand your answer...

[2021-01-22 20:26] atalyaalon commented on #1501
Thanks @ChayneAzriel! Query is updated - This issue is moving to BackEnd's implementation

[2021-01-23 15:18] dinasv commented on #1483
We decided to leave the rank field - the widgets will be sorted by importance in the backend, but the rank field is useful if the widgets will be sorted in the frontend in the future.

[2021-01-24 18:09] MichalOren commented on #1680
Hi,
1.Is this infographic is ment to be **general** to pedestrian severity of injury at any street and city.... or we would like to show ציר המוות and infloence of road separatior?

There is mismatch between the infographic and query results.
In the infographic years are limited to 2009-2015 the query generate results for 2008-2020

[2021-01-27 21:08] #1633 closed

[2021-01-27 21:51] atalyaalon opened #1690 "Bug - News Flash API"
News Flash API does not filter out News Flashes with null road_segment_name
For example see news flash id 65517 [here](https://www.anyway.co.il/api/news-flash?road_segment_only=true&interurban_only=true) - this news flash shouldn't return in this API when the road_segment_only=true parameter exists

[2021-01-27 22:35] atalyaalon opened #1691 "Localize Widget - accident_count_by_car_type"
**Widget ID**
accident_count_by_car_type

**Widget Fields**
"car_type" (in "items")

**Dictionaries Missing**
Dictionaries to create (For example - Accident Severity Dictionary)
Note: Create a dictionary containing using the DB code as a key and not the Hebrew translation (for example `{1: 'fatal'}` rather than `{'קטלנית': 'fatal'}`)

**Widget Title**
"השוואת אחוז הרכבים בתאונות במקטע _______ לעומ

[2021-01-27 23:04] atalyaalon opened #1693 "Delete Widget vision_zero"
Delete Widget vision_zero which was a placeholder until now
@yuvalbl FYI - following what I wrote i[n here](https://github.com/hasadna/anyway-newsflash-infographics/issues/577) - we want to remove the placeholder of vision_zero

[2021-01-27 23:04] atalyaalon commented on #1693
@galraij FYI

[2021-01-27 23:13] atalyaalon commented on #1688
For now - prioritized:
1. [accident_count_by_car_type](https://github.com/hasadna/anyway/issues/1691)
2. [accidents_heat_map (title only)](https://github.com/hasadna/anyway/issues/1593)

[2021-01-27 23:17] atalyaalon opened #1694 "Debug - News flashes that don't have a CBS road_segment"
Debug the process of finding the news flash road_segment for these widgets - why no road_segment is found?
[See relevant news flashes here](https://app.redash.io/hasadna/queries/613789/source)

[2021-01-27 23:26] atalyaalon opened #1695 "Localize road_segment_name"
Add translation to road_segments table.
Stages:
1. Create a csv of translations of "from_name" and "to_name" in table road_segments to both English and Arabic.
2. Add csv translation to static/data/segments
3. Add translation script to parsers.
4. Localize road_segment_name for all widgets - @ziv17 can help in this part.

[2021-01-27 23:26] atalyaalon commented on #1695
Checking if Dvir can take this one

[2021-01-29 08:34] ziv17 commented on #1691
Hi,
- I understand car type and vehicle type are synonyms. Do we want to change the widget name to use vehicle instead of car?
- Vehicle type constants appear both in `constants.py` and `backend_constants.py`. I am planning to change the representation of vehicle types to ease the management of the different vehicle categorizations and category names. I will do it only in `backend_constants`. Pyth

[2021-01-29 10:17] ziv17 commented on #1691
Hi,
- I understand car type and vehicle type are synonyms. Do we want to change the widget name to use vehicle instead of car?
- Vehicle type constants appear both in `constants.py` and `backend_constants.py`. I am planning to change the representation of vehicle types to ease the management of the different vehicle categorizations and category names. I will do it only in `backend_constants`. Pyth

[2021-01-30 12:30] yuvalbar23 commented on #1555
[SQL query for line chart](https://app.redash.io/hasadna/queries/616804/source?p_city=5000&p_year_lower_bound=2008&p_year_upper_bound=2020)

[SQL query for stacked bar chart](https://app.redash.io/hasadna/queries/616592/source?p_city=5000&p_year_lower_bound=2008&p_year_upper_bound=2020)

[SQL query for e-bikes bar chart](https://app.redash.io/hasadna/queries/616803/source?p_city=5000&p_year_lower_

[2021-01-30 20:10] ziv17 commented on #1691
Hi @atalyaalon , there are entries with blank vehicle type, should they be counted with `other` vehicle type, or as `unknown`?

[2021-02-01 07:16] #1593 closed

[2021-02-01 07:25] ChayneAzriel commented on #1686
Hi, can you please put here the links, so we know were to look

[2021-02-01 07:32] ChayneAzriel commented on #1628
above are the updated graphs according to your comments. if there are no other changes, we can open another widget and move on?

[2021-02-01 07:35] ChayneAzriel commented on #1629
if we are still creating this kind of infographics this one is waiting for comments

[2021-02-01 07:36] ChayneAzriel commented on #1630
this infographic is waiting for comments

[2021-02-01 09:42] ChayneAzriel opened #1707 "Widget: overturn accidents on road 25 vs all other interurban roads by vehicle type"
**Name**
overturn accidents on road 25 vs all other interurban roads by vehicle type

**Title**
high percent of overturn accidents on road X vs. other interurban roads

**Visualization**
![slide_25_overturn](https://user-images.githubusercontent.com/61120310/106441207-710aee80-6482-11eb-8081-a9702b2ce415.png)

**Visualization explanation**
percentage of overturn accidents out of total accidents, f

[2021-02-01 21:18] atalyaalon opened #1708 "Add road_segment_name filter to injured_count_per_age_group"
The following widget counts injured per age group in the entire road, but the data of the specific segment is not filtered.
Filter the road_segment_name as well - so we use only data from the specific segment in this widget

[2021-02-01 21:55] atalyaalon commented on #1628
@ChayneAzriel Yes please :)

[2021-02-01 21:59] atalyaalon commented on #1686
@ChayneAzriel top priority widgets:
1. accident_count_by_severity
2. most_severe_accidents_table
3. most_severe_accidents
4. head_on_collisions_comparison

[API/graphs description is here](https://docs.google.com/document/d/1Hv5ItvwM3z9nn95LjlsYHL-o18V8PgWrrQOKIPiPymU/edit?usp=sharing)

You can find these widgets code in our github.

Let me know if you have any questions

[2021-02-02 07:17] ChayneAzriel opened #1709 "Widget: Killed in accidents on a certain day compared to the same day in previous years"
**Name**
Killed in accidents on a certain month compared to the same month in previous years

**Title**
count of killed in road accident on month X over the years

**Visualization**
![killed_sep](https://user-images.githubusercontent.com/61120310/102711815-0b451780-42c5-11eb-8146-bb7b70698ec0.png)

**Visualization explanation**
Percentage change of killed in accidents on month X over the years com

[2021-02-04 09:04] ChayneAzriel commented on #1686
created information tags for first review:

1. **accident_count_by_severity**

information = 'Number of road accidents on road section {location_info} between {st_year} - {en_yaer} summed by accident severity -light, severe and fatal'.format(st_year = (start_year), en_year = (end_year), location_info = (location_info))

heb_information = 'לפי חומרת התאונה - קלה, קשה וקטלנית {en_year} - {st_year} ב

[2021-02-09 21:12] ahmedyusef9 commented on #1681
As I see in Postgres about the types of accident severity,
I add **accident_severity_type** column.
| accident_severity | accident_severity_hebrew | accident_severity_type |
| --- | --- | --- |
| 0 | null  | None |
| 1 | קלה | light |
| 2 | קטלנית | fatal |
| 3 | קשה | sever |

[2021-02-10 17:02] #1238 closed

[2021-02-11 16:49] BarVolunteering opened #1712 "Update CORS policy to support new user API"
The FE team is getting:
` Access to XMLHttpRequest at 'https://www.anyway.co.il/user/info' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

I gave them a workaround for the time being - a permanent fix need to be a change in the CORS policy the server is sending.

[2021-02-12 09:57] MichalOren opened #1713 "Widget: Seriously injured & killed in Bicycles and Scooter accidents-Line chart"
**Name**
Widget display the numbers of cyclists and scooters injuries who were seriously injured or killed in a selected road section.
Seriously_injured_killed_in_Bicycles_Scooter

**Title**
מקטע/ עיר ושם רחוב רוכבי אופנים וקורקינט שנפצעו קשה או נהרגו

**Visualization**
![image](https://user-images.githubusercontent.com/61007501/175499284-f4a18c0b-576c-4500-92f8-6cdd131bb380.png)

**Visualization

[2021-02-12 10:02] MichalOren opened #1714 "Widget:"
**Name**
Query for cyclists and scooters who were seriously injured or killed in a selected settlement.

**Title**
רוכבי אופנים וקורקינט שנפצעו קשה או נהרגו ב___ (שם הישוב)

**Visualization**
![All_Types_stackbar](https://user-images.githubusercontent.com/61007501/107754221-d89a2700-6d29-11eb-9fdc-09f9858a4ec0.PNG)

**Visualization explanation**
Visualization contains Stack Bar for etch vehicle ty

[2021-02-12 10:08] MichalOren opened #1715 "Widget:"
**Name**
Query for Bicycles\Electric Bicycles\Electric Scooter who were seriously injured or killed in a selected settlement.

**Title**
רוכבי ___ (אופנים/אופנים חשמליים/קורקינט חשמלי) שנפצעו קשה או נהרגו ב___ (שם הישוב)

**Visualization**
![Bike](https://user-images.githubusercontent.com/61007501/107754767-9de4be80-6d2a-11eb-912a-1e3e89d3fb86.PNG)

**Visualization explanation**
Visualization cont

[2021-02-13 15:45] atalyaalon commented on #1652
Temporary commit: unregister Widgets with bad performance
https://github.com/hasadna/anyway/pull/1717/commits/4bac2ed3271aff56fe7f7a6fccf4948f86228618

[2021-02-13 19:00] atalyaalon opened #1720 "Fill production's infographics cache automatically after pushing to master"

[2021-02-14 15:38] ziv17 commented on #1652
What is a temporary commit?

[2021-02-15 07:54] #1690 closed

[2021-02-15 07:54] #1681 closed

[2021-02-15 07:54] #1682 closed

[2021-02-23 19:32] atalyaalon opened #1725 "Filter out Table and map widgets if there are no severe / fatal accidents"

[2021-03-06 10:45] #1712 closed

[2021-03-10 17:31] atalyaalon opened #1740 "Exclude accidents with wrong street resolution"
Redash Query: https://app.redash.io/hasadna/queries/493531/source

1. Create a code that can differ accidents with good street resolution vs wrong resolution
2. Calculate statistics - for example, how many accidents are we missing out?
3. Implement it either in the news flash insertion process as a boolean indicator.

[2021-03-11 16:20] BarVolunteering opened #1741 "Change browser cookie protection policy"
The browser don't send our cookies between domains - more info in:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite

[2021-03-17 18:03] #1741 closed

[2021-03-17 19:29] BarVolunteering opened #1745 "Add new domain to CORS and cookie policy"
Domain: https://dev.anyway.co.il/
Add new domain to CORS and cookie policy, use SERVER_ENV to detect if we are in PROD(SERVER_ENV =prod) or dev(SERVER_ENV =dev)

[2021-03-23 21:14] BarVolunteering commented on #1745
Also add support for localhost to the dev server

[2021-03-26 13:54] #1745 closed

[2021-03-30 16:46] ziv17 opened #1751 "Enable urban news-flashes"
Allow infographics api to receive urban flashes without failing. Add urban news-flashes to chache.

[2021-03-31 18:30] BarVolunteering opened #1753 "User Permissions Management"
This is a duplicate of :
https://github.com/hasadna/anyway-newsflash-infographics/issues/517

[2021-04-01 05:24] #1751 closed

[2021-04-01 05:25] ziv17 commented on #1642
Implemented by PR #1752

[2021-04-01 05:25] #1642 closed

[2021-04-01 17:33] BarVolunteering opened #1754 "Change folder name from dataclasses"
To prevent collisions.

[2021-04-12 15:20] ziv17 opened #1760 "Enable news flashes according to resolution category"
Both for news_flash API and for the cache. Resolution categories are defined in `anyway/parsers/__init__.py`

[2021-04-13 14:05] BarVolunteering commented on #1753
- [ ] Change folder name from dataclasses
- [ ] Add logout to Docs

[2021-04-13 14:06] BarVolunteering commented on #1754
Will be done as part of #1753

[2021-04-13 14:06] #1754 closed

[2021-04-16 14:24] atalyaalon opened #1761 "Rotate Credentials affected by codecov"
[more info here](https://about.codecov.io/security-update/)

[2021-04-23 16:42] atalyaalon commented on #1761
- [GOOGLE MAPS KEY]
- [APP_SECRET_KEY]
- [GITHUB_TOKEN]
- [TWITTER TOKENS ] - 4 TOKENS

[2021-04-23 17:02] #1110 closed

[2021-04-24 13:50] #1466 closed

[2021-04-25 21:54] BarVolunteering opened #1763 "Check with FE why the login windows is not being closed at the end of the login"
Is it a BE problem?

[2021-05-03 13:28] #1691 closed

[2021-05-03 14:41] ziv17 commented on #1760
Implemented by PR 1765

[2021-05-03 14:41] #1760 closed

[2021-05-05 15:05] atalyaalon commented on #1686
Thanks @ChayneAzriel! Added a pr - containing these 4 widgets.
We're missing information and translations for additional widgets that are not in production yet - I will make sure to add them

[2021-05-05 16:25] atalyaalon opened #1778 "Add mock infographics-data for all registered widgets"
This mock infographics data will be used by the FE developers when working on a new widget (that does not necessarily arrive with every news flash due to rules).

1. Create mock data for all registered widgets (Make sure all registered widgets are in that mock data)
Mock Data can be based on real news flashes widgets (I suggest creating a json file that will contain that data)

2. Create an API ca

[2021-05-07 06:06] #1686 closed

[2021-05-07 09:59] atalyaalon opened #1780 "Add swagger for API documentation"
I suggest [using Flask-RESTX's](https://flask-restx.readthedocs.io/en/latest/)

[2021-05-12 15:36] #1688 closed

[2021-05-12 15:37] atalyaalon commented on #1519
@ziv17 performed an amazing work here. Closing this one.

[2021-05-12 15:37] #1519 closed

[2021-05-12 18:15] atalyaalon commented on #1780
@yuvalbl FYI - please let us know if you have any specific requests

[2021-05-12 18:16] atalyaalon commented on #1753
@BarVolunteering regarding hiding tables from the DB dump - I just want to make sure we're referring the developers dump, but not the full dump that's goal is backup - there we do need all of to tables

[2021-05-12 18:34] atalyaalon opened #1786 "Remove unused webhooks"
@OriHoch which current webhooks are still relevant for our production and which can we delete?

[2021-05-12 18:39] BarVolunteering commented on #1753
@atalyaalon I don't know how our backup is being performed, what i have done is to change the file [`anyway/db_docker/dumpdb.sh`](https://github.com/BarVolunteering/anyway/blob/dev/db_docker/dumpdb.sh).

[2021-05-12 18:40] BarVolunteering commented on #1753
For reference the first part is done in #1762

[2021-05-12 18:42] atalyaalon opened #1787 "Installing environment for new comers"
Make sure instructions are up to date for:

- [x] Installing environment - Windows
- [x] Installing environment - Mac
- [x] Installing environment - Linux
- [x] Add environment variables needed for all processes (news flash scraping, waze data, etc)

[2021-05-12 18:47] atalyaalon commented on #1753
@BarVolunteering that seems right - you've changed the anyway-partial-db-dumps part.

[2021-05-12 18:51] yuvalbl commented on #1780
Seems like you'll need to rewrite you entire API. is that OK with you?

[2021-05-12 18:52] atalyaalon commented on #1753
@BarVolunteering do we have a documentation to where Ori needs to change that command? I understand that something is being defined behind the scene, not in this repo?

[2021-05-12 19:01] atalyaalon commented on #1780
I'm not sure it means rewriting the whole API
@ziv17 can you evaluate the work needed here?
For start we should document only the 2 APIs our FE team is using - both news flash API and infographics API - the documentation of the rest of the APIs used by our map FE are not important for now.

[2021-05-12 19:07] BarVolunteering commented on #1753
@atalyaalon We don't have any documentation about that, he is defining something behind the scene last time we changed this file Ori has send me this [commit](https://github.com/hasadna/hasadna-k8s/commit/cc3f4e2bb27a7006d786376796be870b33dd0774).

[2021-05-12 19:09] atalyaalon opened #1788 "Improving Documentation"
This issue will accompany us for 2-3 milestones - will try improving the following documentation:

- [ ] ANYWAY Products (+ Overview Diagram)
- [ ] ANYWAY Teams
- [ ] BackEnd Current Architecture
- [ ] DB Tables documentation
- [ ] New flash flow (insertion, classification and location extraction)
- [ ] Infographics data creation flow

Nowadays we have some documentation [docs dir](docs) - and som

[2021-05-12 19:10] #1248 closed

[2021-05-12 19:19] BarVolunteering commented on #1788
If we use github wikis then the changes in the docs won't be in the pull request of the changed code.
Other then that it seems good.

[2021-05-12 19:29] atalyaalon opened #1789 "User System - Additional Requirements"
Our user system is in good progress, and now we need to specify additional requirements both for FE and BE regarding:

- [x] Admin Interface - BE: API needed, FE: Admin interface to manage users and groups
- [x] Widgets personalization: Use cases needed (widgets designs for specific users / group, unique widgets for a specific user / group, etc)
- [x] Given the use cases for personalization - whic

[2021-05-12 19:34] ziv17 commented on #1780
Yes,  I will check cost of documenting a small item to assess.

[2021-05-12 19:43] BarVolunteering commented on #1789
About the Admin Interface, we need (WIP):
- [ ] Disable User
- [ ] Add group
- [ ] API docs for the FE Team (Partly done, in progress)
- [ ] Other?

About Widgets personalization:
1. Do we filter the widgets by their rank field?
2. Who is deciding what filter will be done for a user? - is it the admin or the user it self?

[2021-05-12 19:45] ziv17 commented on #1788
Development environment Vs. Production Vs testing.
Flows of adding data
The `static` folder.

[2021-05-12 19:45] BarVolunteering commented on #1753
Closing, the left tasks are in #1789

[2021-05-12 19:45] #1753 closed

[2021-05-12 20:27] #1410 closed

[2021-05-12 20:27] #1409 closed

[2021-05-12 20:31] atalyaalon opened #1790 "Defining new BE widget issues"
Creating new BE widget based on Data Team work

[2021-05-12 20:33] atalyaalon opened #1791 "POC - rebuilding CBS tables for better widgets performance"
- [ ] Using star/snowflake schema for all fields
- [ ] Testing performance on current registered and unregistered widgets

[2021-05-12 20:43] atalyaalon opened #1792 "Add Arabic Translations for localization"

[2021-05-13 05:15] OriHoch commented on #1786
which webhooks are you referring to? I'm not aware of any webhooks..

[2021-05-15 13:52] atalyaalon commented on #1786
@OriHoch check out the webhooks here: https://github.com/hasadna/anyway/settings/hooks
For example, I assume that the slack webhook is related to the github app in our slack.

[2021-05-15 14:16] ziv17 commented on #1780
Hi @atalyaalon, @yuvalbl,
I did a small check. It seems that just adding Swagger documentation does not require meaningful change in our code. Actually processing the input parameters with REST-X constracts (so you cannot reach a situation were the code behaves differently from the documentation) requires some change, but not large. Having also the marshaling of the response generated via REST-X c

[2021-05-15 16:13] OriHoch commented on #1786
I'm not familiar with any of them, none of them are relevant for our CI/CD

[2021-05-15 16:15] atalyaalon commented on #1780
I suggest starting with the news flash API - start with the low hanging fruits - documentation, input parameters, and evaluate the cost of marshaling the response - then we'll decide if that part is worth the effort.

[2021-06-19 01:48] atalyaalon opened #1810 "Test test_scrape_sanity_online_ynet failure"
Find reason for failure, fix issue.

See Tests Failure: https://github.com/hasadna/anyway/runs/2862909045?check_suite_focus=true

[2021-06-22 14:16] atalyaalon commented on #1810
@elazarg can you take a look?

[2021-06-22 14:18] atalyaalon commented on #1787
@OriHoch for start we need to make sure that both installations and tests can run locally - and add environment variables if needed - so that new volunteers can quickly ramp up and join the team - can you take a look at the installation process and the tests?
(Regarding the tests - added issue here - https://github.com/hasadna/anyway/issues/1656_

[2021-06-22 14:36] elazarg commented on #1810
Looks like `pubDate` (and everything else) has been changed to CDATA. Also a `tag` field is added.
[Now](https://www.ynet.co.il/Integration/StoryRss1854.xml):
[code]
[Then](https://github.com/hasadna/anyway/blob/e586269e4cead745b1c31a10da954bba16d75bbf/tests/ynet.xml#L23):
[code]

[2021-06-22 20:24] atalyaalon commented on #1810
@elazarg what does it mean slower?

[2021-06-22 20:25] atalyaalon commented on #1810
I don't think that the running time is that significant

[2021-06-22 20:37] atalyaalon opened #1813 "Receive email updates on failures from jenkins"
We don't get email updates on failures - can you please make sure we're receiving emails on failures:
both my personal email and anyway@anyway.co.il

[2021-06-22 20:57] #1693 closed

[2021-06-22 21:46] #1786 closed

[2021-06-22 22:55] atalyaalon commented on #1790
Added the following widgets to Mock Data:

- [ ] top_road_segments_accidents_per_km
- [ ] motorcycle_accidents_vs_all_accidents

[2021-06-23 07:12] OriHoch opened #1819 "local development environment .env file should include the development maps api key"
**reproduction steps**

* follow the docs to [setup local docker development environment](https://github.com/hasadna/anyway/blob/dev/docs/DOCKER.md)
* access the local app at http://localhost:8080

**expected**

* show the map

**actual**

* javascript errors, map is not shown

**implementation notes**

* should include the development api key in the secret .env file which is added as part of the

[2021-06-23 07:12] OriHoch commented on #1787
The local development environment seems to work fine on Linux and the instructions seem to be up to date for Windows and Mac too

the only issue is the map, I opened another issue to fix that - https://github.com/hasadna/anyway/issues/1819

[2021-06-23 07:54] OriHoch commented on #1787
to fully test I need access to the dev .env file, I requested access from the Google doc

[2021-06-23 11:41] OriHoch commented on #1787
regarding env vars - it's possible to add all the production env vars to the dev .env file but I wouldn't recommend it

I think we need to first map all the processes which require to use env vars to determine the best course of action

Some examples:

* twitter scraping - should be split to 2 processes, one process is very simple and only gets the raw data from twitter, another process processes

[2021-06-23 12:11] OriHoch commented on #1656
see comment in #1787 regarding env vars, same comment applies here - the test and dev environments are essentially the same

done in #1820

**TODO**

[2021-06-23 15:09] #1810 closed

[2021-06-23 21:27] atalyaalon opened #1824 "Fix walla scraping - see test_scrape_sanity_online_walla"

[2021-06-26 16:19] atalyaalon opened #1825 "Create a user for Ynet, add custom designs"

[2021-06-26 16:20] #1825 closed

[2021-06-26 16:20] atalyaalon opened #1826 "Create a user for Ynet, add custom designs"

[2021-06-26 16:23] #1653 closed

[2021-06-26 16:23] atalyaalon commented on #1653
Not will be performed in the coming months

[2021-06-26 17:12] atalyaalon commented on #1787
@OriHoch I created an initial documentation and future suggestions for improvements here:
https://github.com/hasadna/anyway/pull/1827
Let me know what you think

[2021-07-03 12:48] atalyaalon commented on #1824
@elazarg , if you can take this one it's great - on you free time of course :)

[2021-07-03 12:50] atalyaalon commented on #1819
@carmelp16 - this is a small non-urgant task - when you have some time please take this one

[2021-07-03 17:52] elazarg commented on #1824
@atalyaalon can you elaborate? The test passes both on my machine and [on the CI](https://github.com/hasadna/anyway/runs/2921683963).

[2021-07-04 20:26] #1790 closed

[2021-07-04 20:32] atalyaalon commented on #1824
@elazarg you are right, my bad, closing this one

[2021-07-04 21:16] atalyaalon opened #1838 "Add functionality: From GPS to Infographics"
1. Create an API that receives a GPS and return CBS Location (needs to be in reasonable performance for user) [Check out the following function](https://github.com/hasadna/anyway/blob/0fd4f869f48476bfb85097435c82ab097486584c/anyway/parsers/location_extraction.py#L300)
2. Create infographics Cache Tables and Backfill processes that receives CBS Location (Road Segment or street in city) and returns

[2021-07-04 21:24] atalyaalon commented on #1838
@yuvalbl FYI - we'll need to decide on the exact structure of the 2 new APIs:
1. GPS -> Location
2. Location -> Infographics

[2021-07-04 22:57] atalyaalon commented on #1655
@elazarg if you can take this it would be great - not urgent at all.

[2021-07-04 22:59] atalyaalon commented on #1824
@elazarg from some reason this test is failing here: https://github.com/hasadna/anyway/runs/2985420814?check_suite_focus=true#step:6:200

[2021-07-04 23:13] atalyaalon opened #1839 "Add API support in additional resolutions"
- [ ] Add street urban resolution to both news flash API and cache API

Once the above is working well:
- [ ] Add city urban resolution to both news flash API and cache API

Possible addition:
- [ ] Add road resolution to both news flash API and cache API

[2021-07-07 18:29] atalyaalon opened #1841 "Create CBS CSV files for the data team"
Export the CBS Hebrew tables to csv
Publish them in S3 in non-public bucket that will be available for the data team to work on

[2021-07-08 15:41] ziv17 commented on #1838
Hi @atalyaalon, what will be the scenario of a user using it?

[2021-07-10 18:16] atalyaalon commented on #1838
Scenario: Accident we don't have a news flash for / location a user is interested in / Accident with GPS from MADA

This only the load from email to s3 is triggered. We need to trigger also the load of data from s3 to the DB tables.
When triggered we can recreated the tables (or recreate relevant data in relevant years)

Not necessarily - since the user will be able to choose any GPS - we want to

[2021-07-11 16:54] ziv17 commented on #1838
Hi @atalyaalon,

Will the process be interactive? I.e. user will point on map or accident and then we will be able check with user whether our location is right?

Why not doing the two parts immediately one after the other (i.e. combine it to a single process)?

How many such items are there (approx.)?

[2021-07-14 17:18] elazarg commented on #1824
The root cause is that Reuters does not have a link

[2021-07-14 18:50] elazarg commented on #1824
Interestingly, `רויטרס` can be a very good hint for non-accident.

[2021-07-15 05:39] OriHoch opened #1850 "refactor cbs etl process"
according to this document (cbs etl section): https://docs.google.com/document/d/1LirLg1u7B3ekvcjetj6LhVExijVqctMZ83fJHUYzlrI/edit#heading=h.rxg36ie7m1yr

also, deploy an Airflow server to run this etl process

[2021-07-15 11:14] OriHoch commented on #1850
* https://github.com/hasadna/anyway/pull/1851
* https://github.com/hasadna/anyway-etl

[2021-07-16 09:19] ziv17 commented on #1838
Hi @atalyaalon , regarding the infographics by CBS location. I understand the input of the API is:

- `years ago: int`
- `lang: str`
- CBS location:
  - `resolution: str`, validity expression: `val in resolution_dict` (`anyway/parsers/__init__.py`)
  - `location_info: dict`, keys are subset of `resolution_dict[resolution]`
  - `gps: dict`, keys: `lat:float`, `lon: float`
  - `location_text: str`.

[2021-07-21 14:26] atalyaalon opened #1852 "Add severity text to widgets"
Split to severity with localized text of severity
accident_count_by_accident_year (severity of accidents)
injured_count_by_accident_year (severity of injured)

@MichalOren FYI

[2021-07-21 16:19] darlev opened #1853 "Getting a 404 error when attempting to get an accident query with the accidents_around_location script [Bug]"
Hello,
When I attempt to run a query through the accidents_around_location.py script I keep getting a 404 error when requesting markers through the ANYWAY_MARKERS_FORMAT url. I cloned the script from the dev branch. Is there any other URL I can use?
Thanks

[2021-07-21 17:14] atalyaalon commented on #1853
@darlev Welcome :)
Perhaps I can help you - what kind of data are you looking for?

[2021-07-21 17:47] #1824 closed

[2021-07-21 17:49] #1819 closed

[2021-07-21 17:55] ziv17 commented on #1852
Hi @atalyaalon ,
The current data should be replaced by a dict with severity levels as keys and values the relevant items from current data?

[2021-07-21 18:38] atalyaalon commented on #1852
@ziv17 what do you think?
Here we had for example text separated from count- perhaps we should keep it as better practice? Not having translations as keys - since then do need to differentiate them (killed should be in red - and the FE needs to know how many killed using the key - in any language

[2021-07-21 18:39] atalyaalon commented on #1852
Also here: https://github.com/hasadna/anyway/blob/dev/static/data/widgets/accident_severity_by_cross_location.json
We will soon need to decide on templates we want to use - and we'll need to adjust best practices.
What do you think?

[2021-07-22 17:28] ziv17 commented on #1852
Hi @atalyaalon ,
We want two levels of grouping? The severity should be the outer level or the inner?

[2021-07-22 17:33] ziv17 commented on #1852
Hi @atalyaalon , I don't understand

[2021-07-22 17:33] ziv17 commented on #1852
Here too, I do not understand.

[2021-07-24 11:44] atalyaalon commented on #1852
@ziv17
I suggest the following structure no.3 here: https://github.com/hasadna/anyway/blob/dev/docs/WIDGETS.md

Meaning we'll have this for accident_count_by_accident_year (and create a similar one to injured_count_by_accident_year):
[code]

Also on the way - please add information for each of them (localized of course)
Let me know if I missed anything.
Thanks!

[2021-07-24 13:31] atalyaalon commented on #1852
@ziv17 also - when count of accidents/injured in specific year and severity is 0 - we should still display the category.
Thanks!

[2021-07-24 14:02] ziv17 commented on #1852
@atalyaalon OK. Why are we naming the first level `label`, and the second level `category`? Both are attributes of accident.

[2021-07-24 14:16] ziv17 commented on #1852
@atalyaalon  I think it is a good idea to not use translated text as labels, and not use it in any logic.
It will be even better not to use the English string, but a code, or `Enum`, and only translate it just before it is sent outside.

[2021-07-24 18:40] atalyaalon commented on #1852
@ziv17 sounds good! Go for it.

[2021-07-25 04:25] darlev commented on #1853
Hello :) I was trying export traffic accident data around Tel Aviv from June 2020 to June 2021 - specifically events involving bicycles, e-bikes and e-scooters with timestamps and locations. Is it still possible to do with your API?

[2021-07-25 20:34] atalyaalon commented on #1789
@BarVolunteering is there something left in this issue?

[2021-07-25 20:39] BarVolunteering commented on #1789
@atalyaalon All is complete, I am closing it.

[2021-07-25 20:39] #1789 closed

[2021-07-25 20:44] atalyaalon commented on #1789
Thank you @BarVolunteering !

[2021-08-01 22:01] atalyaalon commented on #1853
@darlev please contact us via anyway@anyway.co.il

[2021-08-01 22:02] #1853 closed

[2021-08-01 22:02] atalyaalon commented on #1853
Not a bug

[2021-08-02 19:56] afedj opened #1869 "[Bug] Internal server error code 500 when accessing news-flash API"
**Describe the bug**
Accessing the API with either:
  1. Non existent "source"
  2. One and only one of either "start_date" or "end_date"
Results in an internal server error 500

**To Reproduce**
Steps to reproduce the behavior:
1. Access the news-flash API via:
  * https://www.anyway.co.il/api/news-flash?source=wallak
  * https://www.anyway.co.il/api/news-flash?start_date=484343
2. See error

**E

[2021-08-06 04:25] ziv17 commented on #1850
Hi,
What is the feature we are implementing, or the issue we are resolving?

[2021-08-06 08:42] ziv17 commented on #1852
Hi @atalyaalon , regarding the `labels` part.

- Can `seriese<i>` be the actual code, i.e. actual accident severity code?
- I understand that `value` is the translated name of the accident severity. What is `name`? Is it the English name of the accident severity?

[2021-08-07 07:29] ziv17 commented on #1852
Hi @atalyaalon ,
in `anyway/infographics_utils.py:1621`, there is a filter for injury severity. It seems to use non-existing values, and looks like it can be replaced by testing for `isnot(None)`.
I will implement it as part of this issue. Just take a brief look check whether my assumptions are correct.

[2021-08-07 21:27] atalyaalon commented on #1852
I don't see any value in using the actual severity code.
I think that ideally this template should be used for any new stacked bar we create - hence we can either:

- Keep a generic name for the series keys (series1, series2, etc) (I think that this option is better)
- Replace them with the series value localized (same for category1 with the name) - in that case we need to make sure that the FE ca

[2021-08-08 08:01] OriHoch commented on #1850
The main goal is to improve the ability to make changes and to maintain the code in the long-term

* Writing mid results to disk allows to split the full process to separate, independent tasks which makes it easier to maintain, debug and make changes to. Regarding speed of running the process, why do you think it's important?
* I just use the package I'm used to working with to speed up developmen

[2021-08-08 17:31] OriHoch commented on #1850
issue is done, ready for review

Airflow server was deployed (ask @atalyaalon for credentials):
* prod: https://airflow.anyway.co.il/
* dev: https://dev-airflow.anyway.co.il/

ETL data directory is availble at:
* prod: https://airflow-data.anyway.co.il/
* dev: https://dev-airflow-data.anyway.co.il/

Summary of changes:

* [anyway-etl repository](https://github.com/hasadna/anyway-etl) - contains al

[2021-08-08 17:38] OriHoch opened #1873 "ETL / Airflow improvements / suggestions"
Following are some suggestions for ETL / Airflow improvements, need to decide which improvement to do / by who and split to separate tasks:

* CBS: Add dev helper task to download the imap data from the data storage instead of from imap, to allow running the processing without requiring imap credentials
* Airflow CI/CD: Changes to the Python ETL code should not cause deployment because they will b

[2021-08-09 18:19] ziv17 commented on #1852
I thought we want to avoid using localized values as keys. In addition, in this case, The `labels` will have redundant data, ,and should change to `{value1: name1, value2: name2, ...`

The `series<i>` values appear twice in the widget output, and its sole function is to link the `name` and `value` from the `labels` to the outer level `items` dict keys. So as long as these values are unique, they f

[2021-08-11 16:53] karzmei opened #1874 "[Only interest points are visible on the map when choosing newsflash]"
**Describe the bug**
On https://anyway-infographics-staging.web.app/, I click on some newsflash, in the results, the map is sometimes displayed without the streets/roads, only the "cars with dates" are visible. After I do zoom in/out it appears and all is good.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://anyway-infographics-staging.web.app/
2. Click on some newsflash on the

[2021-08-14 16:27] atalyaalon commented on #1874
@karzmei Wonderful!
However this is the BE repo - and the FE repo[ can be found here.](https://github.com/hasadna/anyway-newsflash-infographics). Can you please close the issue here and open it in the FE repo?

[2021-08-14 17:25] atalyaalon commented on #1852
@ziv17 as we discussed - what ever you think is best :)

[2021-08-14 22:17] atalyaalon commented on #1299
@karzmei can you take this?

[2021-08-14 22:27] #1725 closed

[2021-08-15 07:35] OriHoch opened #1876 "improve module imports to reduce dependencies"
following the change in #1872 we want to reduce dependencies between module imports

please see the following comments on that PR for suggested improvements:

* https://github.com/hasadna/anyway/pull/1872/files/58895b6a8cd040a4954c7bc9d14208927f49278a#r689008963
* https://github.com/hasadna/anyway/pull/1872/files/58895b6a8cd040a4954c7bc9d14208927f49278a#r689008209
* https://github.com/hasadna/anyw

[2021-08-15 07:43] OriHoch opened #1877 "documentation improvements for anyway-etl"
to improve ease of use and development on anyway-etl some documentation improvements could be done, see details in following comments:

* https://github.com/hasadna/anyway/pull/1872#discussion_r688975634
* https://github.com/hasadna/anyway/pull/1872#discussion_r688977179
* https://github.com/hasadna/anyway/pull/1872#discussion_r688977335

[2021-08-20 15:04] atalyaalon commented on #1813
@OriHoch can we prioritize this?

[2021-08-20 15:04] atalyaalon commented on #1813
And also add email updates when airflow fails (same emails)

[2021-08-21 17:45] karzmei commented on #1874
Oh! Thanks, I didn't realize that it's separate. Done.

[2021-08-21 17:45] #1874 closed

[2021-08-21 18:12] OriHoch commented on #1813
I could move all tasks to run via Airflow, shouldn't be hard to do (no code changes or refactoring to the tasks themselves, just trigger them via Airflow), WDYT?

[2021-08-21 21:36] atalyaalon commented on #1813
Does airflow provide us notifications at the moment?

[2021-08-21 21:37] atalyaalon commented on #1813
We are currently working on prs for this repo on some of the running processes - if it won't affect this at all and we'll continue developing on anyway at the moment - then it's possible.

[2021-08-22 04:53] OriHoch commented on #1813
no

[2021-08-22 13:22] OriHoch opened #1881 "Handle all Jenkins tasks in Airflow + add email alerts on failures"

[2021-08-22 13:26] OriHoch commented on #1881
done:
* all relevant tasks (which ran recently) added to Airflow
* Easy to add additional tasks, they are running same as they did in Jenkins - from the anyway-main server
* Set airflow to send emails on failure to @atalyaalon @OriHoch and anyway email address
* Changed dev environment dags to paused - makes more sense to reduce email alerts, can unpause from Airflow UI

[2021-08-22 13:26] OriHoch commented on #1813
superseded by #1881

[2021-08-22 13:26] #1813 closed

[2021-08-22 13:28] OriHoch commented on #1881
relevant code changes:
* https://github.com/hasadna/hasadna-k8s/commit/75ca3c8aa00c65bfb8b4861010bfd89a2a8130b0
* https://github.com/hasadna/anyway-etl/pull/2

email smtp configurations and list of emails to send to are defined in the Kubernetes `anyway` secret

[2021-08-23 03:16] #1852 closed

[2021-08-23 09:34] BarVolunteering opened #1882 "Create a way to use docker local dev with the user system"

[2021-08-25 16:29] ziv17 commented on #1852
Closed by PR 1875

[2021-08-29 21:59] atalyaalon commented on #1780
@ziv17 swagger looks very good! The FE team, together with @yuvalbl are very excited towards it
Can we make sure we have  only 2 APIs [in swagger](https://www.anyway.co.il/swagger) for now?

1. infographics-data - can we add the lang var?
2. news-flash (Perhaps after @afedj will add the urban accidents - there might be a change in vars there)
3. remove ​/api​/news-flash-new and ​/api​/news-flash​/

[2021-08-31 18:21] BarVolunteering opened #1889 "Add admin API to get user info & update users + remove work_on_behalf_of_organization"

[2021-09-01 03:12] #1869 closed

[2021-09-04 09:58] shaysw commented on #1680
1. in the sample redash query:

where accident_yishuv_name  like {{yishuv name}}  and injured_type = 1 and (street1_hebrew like {{street name}} or street2_hebrew like {{street name}}) parameter representing a street name: "street name".

However, in the specification of "Modified parameters" there exist 2 parameters: street1_hebrew and street2_hebrew. Which is it?
2. invoking the API request: I've

[2021-09-05 12:52] atalyaalon commented on #1708
@MichalOren FYI

[2021-09-11 15:37] atalyaalon opened #1898 "[Bug] Alert alembic issues in tests"
**Describe the bug**
See fix here - https://github.com/hasadna/anyway/pull/1897

Somehow we didn't catch the problem in tests (!)

**To Reproduce**
Steps to reproduce the behavior:
Pull dev before the above fix
`docker-compose up anyway`
`docker exec -it anyway bash`
`alembic history`

**Expected behavior**
ModuleNotFoundError:
[code]

**Environment**
System: both Mac and Linux

[2021-09-11 15:45] atalyaalon commented on #1655
Test is skipped for now, until issue is fixed
https://github.com/hasadna/anyway/pull/1900

[2021-09-11 15:47] atalyaalon opened #1901 "Stop Retention policy in waze tables"
[See this alembic version - waze_rotation_triggers](https://github.com/hasadna/anyway/blob/0fd4f869f48476bfb85097435c82ab097486584c/alembic/versions/e3b76e3753d6_waze_rotation_triggers.py)

[2021-09-11 16:21] atalyaalon commented on #1656
@afedj can you take task 3?

[2021-09-11 16:22] atalyaalon commented on #1763
@BarVolunteering is this still relevant?

[2021-09-11 19:03] BarVolunteering commented on #1763
No

[2021-09-11 19:03] #1763 closed

[2021-09-11 21:13] atalyaalon opened #1902 "Modify variables in meta field in infographics-data API"
In meta field of the API we send "dates_comment"

FE request is as follows:
we have issue with "dates_comment"
8:02
currently is comes as one text:
"2017-2021, עדכון אחרון: 2021-06-30"
8:05

We would like to split it into 2 properties? like:
{
 dates: [2017, 2021]
 last_update: 2021-06-30 // can be other format if you prefer, like ISO or unix time
}

@yuvalbl FYI

[2021-09-11 21:45] BarVolunteering opened #1903 "Add user API to swagger"
reference to user API
https://github.com/hasadna/anyway/pull/1890#pullrequestreview-751961294

Regarding our swagger:
See [this issue](https://github.com/hasadna/anyway/issues/1780) (not done yet) and [this pr](https://github.com/hasadna/anyway/pull/1794)

Our current swagger https://www.anyway.co.il/swagger

[2021-09-11 21:55] atalyaalon commented on #1839
@afedj can you add the API to our swagger with documentation and instruct the FE team to use it with both street resolution and road segment resolution?

[2021-09-11 22:00] atalyaalon commented on #1787
@OriHoch can we close this one? Are we missing anything?

[2021-09-11 22:07] atalyaalon opened #1904 "Explore BigQuery waze options"
What tables are available?
What data can we use?
Are there raw data tables we can use? Are there aggregated tables we can use?

Explore also GCP python API locally

[2021-09-12 05:24] OriHoch commented on #1787
@atalyaalon yes, I think it can be closed

[2021-09-16 17:25] atalyaalon opened #1906 "Add data test to make sure all CBS tables are updated after importing data"
Should be tested in aifrlow after CBS executer is done and alert to our emails for an error
See [this bug fixed](https://github.com/hasadna/anyway/pull/1905)
And see [this redash query](https://app.redash.io/hasadna/queries/975346/source) shows the vehicles table hasn't updated in a while (!) (will be fixed by me soon so attaching here the past results)

@OriHoch any best practices for data qualit

[2021-09-17 05:12] OriHoch commented on #1906
@atalyaalon we can add a dag that checks some things in DB. What exactly should be checked for this case?

[2021-09-17 06:18] OriHoch opened #1909 "check why vehicles table from cbs import is not updated"
[this redash query](https://app.redash.io/hasadna/queries/975346/source) shows the vehicles table hasn't updated in a while

[2021-09-17 06:21] OriHoch opened #1910 "fix error in anyway-etl airflow cbs import: ModuleNotFoundError: No module named 'flask_babel'"
there is a recurring error:

https://airflow.anyway.co.il/log?execution_date=2021-09-16T00%3A00%3A00%2B00%3A00&task_id=import-to-datastore&dag_id=cbs

[2021-09-17 06:57] atalyaalon commented on #1909
@OriHoch I created a fix in anyway-etl (that was merged and created a new release)
When the flask babel issue is fixed, I believe this issue will be fixed as well.

[2021-09-17 07:04] OriHoch commented on #1910
* error was introducued in anyway-etl release [v0.0.3](https://github.com/hasadna/anyway-etl/releases/tag/v0.0.3)
* in this anyway-etl commit - https://github.com/hasadna/anyway-etl/commit/a0f567dcab360786e8f155ddb32b605e96bb045b
* and this anyway commit - https://github.com/hasadna/anyway/commit/8e9aef7f8e32e6288105bfbdb9c9d17d7e1c45bb

[2021-09-17 07:18] OriHoch commented on #1910
fixed in https://github.com/hasadna/anyway/pull/1911

[2021-09-17 07:18] OriHoch commented on #1909
yes, looks like it will fix it

[2021-09-17 07:19] OriHoch commented on #1909
https://github.com/hasadna/anyway-etl/pull/5

[2021-09-17 07:21] OriHoch commented on #1906
if you want to test the max_timestamp, so what's the condition for failing? if max_timestampt is older then how many days?

[2021-09-17 14:58] atalyaalon opened #1913 "Create an alert for news flashes that might be worth publishing"
Initial definition will be as follows:
- interurban: news flash that's segment contains at least 5 fatal accidents in the past 3 years OR 10 fatal and severe accidents in the past 3 years (3 years back from the last accident date in the DB)
- urban: TBD

Alert will be sent in the following channels:

1. Slack: A new slack channel we'll create for that purpose
2. Emails: anyway@anyway.co.il, @galra

[2021-09-17 15:51] #1910 closed

[2021-09-17 15:52] atalyaalon commented on #1906
We set the default to 90.

[2021-09-17 15:52] #1906 closed

[2021-09-17 15:58] #1787 closed

[2021-09-17 17:29] OriHoch commented on #1909
fixed in https://github.com/hasadna/anyway-etl/releases/tag/v0.0.4

https://airflow.anyway.co.il/log?dag_id=cbs&task_id=check-data-in-datastore&execution_date=2021-09-17T15%3A19%3A50.069135%2B00%3A00

[2021-09-17 17:29] #1909 closed

[2021-09-17 17:31] OriHoch commented on #1910
fix merged and deployed in https://github.com/hasadna/anyway-etl/releases/tag/v0.0.4

https://airflow.anyway.co.il/log?dag_id=cbs&task_id=check-data-in-datastore&execution_date=2021-09-17T15%3A19%3A50.069135%2B00%3A00

[2021-09-17 17:31] OriHoch commented on #1906
deployed in https://github.com/hasadna/anyway-etl/releases/tag/v0.0.4

https://airflow.anyway.co.il/log?dag_id=cbs&task_id=check-data-in-datastore&execution_date=2021-09-17T15%3A19%3A50.069135%2B00%3A00

[2021-09-18 05:30] ziv17 opened #1914 "Localization after cache does not work in localization in accident_count_by_accident_year and injured_count_by_accident_year[Bug]"
Localization after cache does not work in  localization in accident_count_by_accident_year and injured_count_by_accident_year[Bug]

**To Reproduce**
Steps to reproduce the behavior:
1.Run: www.anyway.co.il/api/infographics-data?news_flash_id=16577&years_ago=5&lang=he
2. `localized_name` remains in English
**Expected behavior**
Should be in Hebrew

[2021-09-18 11:45] #1914 closed

[2021-09-18 14:54] atalyaalon opened #1916 "Add local DB interface"
Create an additional docker container with redash /pgadmin/similar tool for local development (only dev environment)

[2021-09-18 23:04] BarVolunteering opened #1917 "Add Permission management API"
Allow the user to dynamically allow users with specific roles to access certain API

[2021-09-21 10:31] atalyaalon commented on #1903
@BarVolunteering can you elaborate which API functions should be added to swagger?

[2021-09-21 12:37] atalyaalon opened #1918 "CBS loading process - improvements"
- [ ] Get to know current loading process - relevant command`python main.py process cbs`
- [ ] Note - CBS loading process is now **both** in [anyway-etl repo](https://github.com/hasadna/anyway-etl/tree/main/anyway_etl/cbs) and in anyway repo.
Ideally it we'll use it only in anyway-etl -
However - in anyway-etl implementation is not ready - there is a logical bug there - [discussed here ](https://g

[2021-09-21 13:25] #1680 closed

[2021-09-21 13:53] atalyaalon opened #1922 "Improve performance of widget motorcycle_accidents_vs_all_accidents"
Possibly with agg tables / cache, @ziv17 is leading this.
Ziv - I suggest we'll perform this after deciding on architecture.

[2021-09-21 13:55] atalyaalon commented on #1652
opened #1922 and added a comment in #1581

[2021-09-21 13:55] #1652 closed

[2021-09-21 14:38] BarVolunteering commented on #1903
I planed on converting those [Docs](https://github.com/hasadna/anyway/blob/dev/docs/USERAPI.md) to swagger

[2021-09-22 18:32] atalyaalon opened #1924 "Refactor large files"
- [ ] flask_app.py
- [ ] infographics_utils.py

please add any additional large file to this list - after completing the list we'll priorities together and then you'll be able to start working on this.

[2021-09-22 19:17] OriHoch opened #1925 "auth code improvements: permission checks, allowed fields"
a couple of patterns I see in the auth code which I think could be improved:

### permission checks

Current code example:

[code]

Recommended code:

[code]

Also, for enhanced security - returned error should just be a generic "auth error", should not provide any details about the reason for the error

### allowed fields

Some functions check a list of allowed fields before performing some admin

[2021-09-22 19:29] OriHoch commented on #1925
note that the issue is regarding all instances of these examples, not the specific functions in the code examples

[2021-09-22 22:41] atalyaalon opened #1928 "Test Failure in PR"
find reason for test failure - test_location_extraction_extract_geo_features - [in PR](https://github.com/hasadna/anyway/pull/1927)

[2021-09-22 22:48] atalyaalon opened #1929 "update mock data with 3 updated widgets data"
- accident_count_by_accident_year
- injured_count_by_accident_year
- injured_accidents_with_pedestrians

Reference material:
[mock data in api](https://github.com/hasadna/anyway/blob/55bda1fa60e16bd3c68d0f74b2f41aa2daa54e7c/anyway/flask_app.py#L1378)

[static mock data of widgets ](https://github.com/hasadna/anyway/tree/dev/static/data/widgets)

[2021-09-23 07:34] shaysw commented on #1902
will return last_update as Unix timestamp (decimal).
Example:
{
    'dates': [2014, 2021],
    'last_update': 1627689600.0
}

[2021-09-23 12:39] OriHoch commented on #1925
following talk with @BarVolunteering - clarification regarding allowed fields - the main problem is separation of concerns. Permission checks should be separate and simple using check permissions as described above.

[2021-09-25 06:31] shaysw commented on #1929
@atalyaalon asides from the newly modified "injured_accidents_with_pedestrians", the other 2 widgets seem to have mock data in the desired format. Am i missing somthing?

[2021-09-29 18:38] #1902 closed

[2021-10-02 13:46] atalyaalon opened #1934 "Localize Widget - injured_accidents_with_pedestrians"
**Widget ID**
injured_accidents_with_pedestrians

**Widget Fields**
localize title and information fields

**Dictionaries Missing**
no missing dicts

**Widget Title**
נפגעים הולכי רגל ב<שם הרחוב ושם העיר>
 כיום אין לנו תרגומים לשמות הרחובות והערים - אז החלק הזה לא יהיה באנגלית כרגע - בהמשך כשנכניס את התרגומים נוסיף את הלוקליזציה גם לזה

**Flask Babel**
For updating messages.pot with all strings fo

[2021-10-02 13:49] atalyaalon commented on #1934
See [this pr](https://github.com/hasadna/anyway/pull/1933) that adds information field

[2021-10-02 13:50] #1929 closed

[2021-10-02 20:53] atalyaalon opened #1935 "create accident_count_by_severity widget"

[2021-10-04 19:15] OriHoch opened #1940 "timeout accessing gps-to-location api"
**reproduction steps**
* access the gps-to-location api: http://www.anyway.co.il/api/gps-to-location?longitude=35.385893&latitude=31.361586

**expected**
* successful response

**actual**
* http error 504 gateway timeout

[2021-10-04 19:27] OriHoch commented on #1940
@atalyaalon it times out at 3 minutes, I highly recommend to check the reason, it looks like something wrong in this code if it takes this long and it has potential for easy DOS attacks on the site

[2021-10-05 17:26] atalyaalon opened #1951 "[Bug] CORS error in production"
**Describe the bug**
we get CORS error in production in user/info API

@BarVolunteering can you explain how to login?

**To Reproduce**
Steps to reproduce the behavior:
go to www.media.anyway.co.il

**Expected behavior**
temporary fix: https://github.com/hasadna/anyway/pull/1949

**Screenshots**
<img width="709" alt="Screen Shot 2021-10-05 at 19 43 35" src="https://user-images.githubusercontent.co

[2021-10-05 17:30] OriHoch opened #1952 "CORS configuration should be defined at each view function"
currently CORS configuration is defined globally using regex of paths: https://github.com/hasadna/anyway/blob/dev/anyway/app_and_db.py#L30

This is problematic for these reasons:
* security configurations should be defined as close as possible to the relevant code, to allow review and prevent mistakes which could open security holes
* it's hard to keep track and understand how CORS is defined

Sim

[2021-10-05 17:36] atalyaalon commented on #1951
@OriHoch this fix didn't work
https://github.com/hasadna/anyway/pull/1950/files
If you have a quick workaround would appreciate it.

[2021-10-05 17:38] OriHoch commented on #1951
Please send me instructions on how to login

[2021-10-05 18:02] BarVolunteering commented on #1951
@OriHoch As the web gui not working, please access the flowing URL to login:
https://dev.anyway.co.il/authorize/google

[2021-10-05 18:11] OriHoch commented on #1951
fixed in https://github.com/hasadna/anyway/pull/1953
deployed to dev
looks like it works

[2021-10-05 18:11] #1951 closed

[2021-10-05 19:48] atalyaalon commented on #1951
Amazing, thank you so much @OriHoch

[2021-10-05 19:51] atalyaalon commented on #1940
@OriHoch I agree. Closing for now

[2021-10-05 19:52] atalyaalon commented on #1940
I will solve the api issue instead of increasing timeout

[2021-10-06 17:24] atalyaalon opened #1964 "anyway Dev environment"
- [x] Duplicate prod DB to dev
- [x] Create airflow processes that constantly run in prod - to run in dev airflow as well.

@BarVolunteering do we need to keep the data from users tables in dev? Or can we just copy the data from prod users?
Perhaps we should check this with the FE before deciding on it?

[2021-10-06 17:39] BarVolunteering commented on #1964
If you overwrite all the relevant tables in dev - then there should be no problem.
I don't think that FE have any important data in those tables, but we can ask to be on the safe side.
@yuvalbl @danielsh28

[2021-10-06 18:50] OriHoch commented on #1964
I'll duplicate the entire db and then you can delete any data you don't want

[2021-10-07 09:41] BusinessLanguage opened #1965 "Scraping car accident news flashes from local news sources in Arabic"
e.g. https://twitter.com/panetcoil

[2021-10-07 09:43] RabeaAffan24 opened #1966 "Translation of the whole Website to Standard Arabic"

[2021-10-08 08:41] atalyaalon opened #1967 "accident_count_by_severity"
@ziv17  it's a small fix but top priority - before any other issue.

When there are no accidents - make sure all widget's fields are present:
severity_light_count
severity_severe_count
severity_fatal_count

For example - see here - severity_fatal_count is missing

https://www.anyway.co.il/api/infographics-data?lang=he&news_flash_id=89100&years_ago=5

Linked issue in FE https://github.com/hasadna/a

[2021-10-08 15:14] atalyaalon opened #1969 "age group widgets"
Finally - we decided on 2 widgets for age group
- killed_and_injured_count_per_age_group - One widget that counts injured **all severities** together (including light) - Simple Bar Chart API structure (one series)
- killed_and_injured_count_per_age_group_stacked - One widget that includes count per severity (including light) - Stacked Bar Chart API structure (one series)

@ziv17 is familiar with A

[2021-10-08 18:48] #1967 closed, assigned to ziv17

[2021-10-09 14:43] #1708 closed

[2021-10-10 14:56] OriHoch commented on #1964
https://github.com/hasadna/hasadna-k8s/pull/18

dev DB is currently being restored from backup

[2021-10-10 15:09] OriHoch commented on #1964
restore complete

[2021-10-10 15:10] OriHoch commented on #1964
I enabled all the airflow tasks in dev

[2021-10-10 15:10] #1964 closed

[2021-10-11 06:33] OriHoch opened #1971 "process news flash fails on dev environment"
http://localhost:8082/log?dag_id=test-anyway-kubectl-exec&task_id=test-anyway-kubectl-exec&execution_date=2021-10-10T20%3A15%3A31.792240%2B00%3A00

[2021-10-11 06:34] OriHoch commented on #1971
disabled the relevant dag in airflow

[2021-10-11 18:26] shaysw commented on #1581
what about this filter, should it maybe include junctions as well?
if resolution != "כביש בינעירוני"

[2021-10-14 04:33] OriHoch opened #1974 "airflow servers not responding"
both airflow servers are not responding:

airflow.anyway.co.il
dev-airflow.anyway.co.il

[2021-10-14 04:33] OriHoch opened #1975 "add uptime monitoring for the airflow servers"

[2021-10-14 08:07] OriHoch opened #1976 "make sure all production services have uptime monitoring"

[2021-10-14 08:11] OriHoch commented on #1974
fixed

[2021-10-14 09:51] #1974 closed, assigned to OriHoch

[2021-10-14 09:51] OriHoch commented on #1975
added monitoring of prod and dev airflow using Hasadna's StatusCake

[2021-10-14 16:01] afedj commented on #1913
@OriHoch

The Slack webhook URL is a secret according to their documentation, what would be the best practice for storing the secret?
Seems to me the URL should only be available for the production instance, otherwise the channel might get spammed when
people run the scraping process in development.

Perhaps using the production .env file?

[2021-10-16 07:56] shaysw opened #1977 "Add is_included rule to top_road_segments_accidents_per_km widget"
The idea is to only show this widget IF the segment from the news flash is in that list of top 3 (or other limit) segments

[2021-10-16 09:00] shaysw opened #1978 "Localize Widget titles"
**Widget ID**
AccidentCountByDayNightWidget
AccidentCountByHourWidget
AccidentCountByRoadLightWidget
AccidentSeverityByCrossLocationWidget
MotorcycleAccidentsVsAllAccidentsWidget
AccidentCountPedestriansPerVehicleStreetVsAllWidget
TopRoadSegmentsAccidentsWidget
PedestrianInjuredInJunctionsWidget
AccidentTypeVehicleTypeRoadComparisonWidget

**Widget Fields**
title

**Widget Title**
per widget

**Ad

[2021-10-16 09:13] shaysw opened #1979 "Improve/implement error handling"
1. All widgets should handle errors, e.g., not fail the entire workflow
2. Need to think of how to reflect a widget failing (special value? logging? return error as response?)
3. Need to improve error responses. Currently, most if not all responses for failed requests return no output and so the flask_app returns NOT_FOUND, which is not the case most times:
`if not output:
            log_bad_requ

[2021-10-16 19:03] BarVolunteering opened #1981 "Change 'change_user_roles' function dependency"
From PR #1890  :

[2021-10-16 21:58] atalyaalon commented on #1979
@ziv17 @elazarg regarding 1 and 2 - we had a similar discussion before - what do you think?

[2021-10-17 11:02] #1889 closed

[2021-10-17 11:04] BarVolunteering commented on #1917
Currently not needed

[2021-10-17 11:04] #1917 closed

[2021-10-17 15:13] ziv17 commented on #1979
I prefer handling errors with exceptions. It concentrates error handling in a single and clear location. Errors should definitely cause writing to the log to allow analysis.
Widget failing be reflected with an exception. We can generate a specific exception class, or even several, to signal specific errors.

[2021-10-18 08:48] BarVolunteering opened #1982 "Add organization API"
Add organization API to the user system, so we can connect the user to the organization that he is working for

[2021-10-19 21:54] atalyaalon opened #1989 "DB dump for dev - truncate instead of drop tables"
Dropping the tables and then using them in local dev environment causes problems (for example when dropping a column of a specific table - just like we did [in this pr](https://github.com/hasadna/anyway/pull/1890/files#diff-37593c096e4e6c7baad38084911e6cdf736a8884d7e4cdfbb658c88d45974b10R20) - alembic upgrade head does not work locally)

Hence - instead of dropping tables when dumping the DB - per

[2021-10-25 21:26] atalyaalon opened #1996 "Add new widgets to mock data"

[2021-10-25 21:49] atalyaalon opened #1997 "Create a centralized logging configuration"
See correspondence here: https://github.com/hasadna/anyway-etl/issues/13

We need to elaborate on this ticket - @shaysw let's discuss whenever you're available for this one.

[2021-10-31 15:08] OriHoch commented on #1989
see related comment: https://github.com/hasadna/anyway/pull/1991#pullrequestreview-793729124

[2021-11-01 10:00] BarVolunteering opened #2000 "Move User system logic from flask_api.py"
Move User system logic from flask_app.py to a separate file, only declare the endpoints in flask_app.py

[2021-11-02 19:20] #1882 closed

[2021-11-04 15:13] BusinessLanguage commented on #1965
* twitter flashes open in the original website panet.com
* so direct HTML scrapping is attempted using regular expression:
**/(<div)\s(data)(-)(tickerid=")[0-9]+(">)/gm**

[2021-11-04 15:15] BusinessLanguage commented on #1965
No RSS available.

But each article has an URL, so data can be fetched
for example: "<div class="panet-title">(.*?)</div>"gm

[2021-11-05 20:05] #1982 closed

[2021-11-07 17:55] ziv17 opened #2005 "Location based infographics widgets cache"
Implement cache that supports location based infographics widgets api.
I.e. cache that stores widgets given an arbitrary location.

[2021-11-17 17:12] atalyaalon commented on #1989
@OriHoch do you need anything from us to perform this ticket?
@BarVolunteering is the final list of tables known? Perhaps add it also here?

[2021-11-17 17:15] BarVolunteering commented on #1989
Tables list:
users
roles
locationsubscribers
users_to_roles
users_to_organizations
organization

[2021-11-17 18:07] OriHoch commented on #1989
no, I don't need anything

[2021-11-17 20:43] atalyaalon commented on #1971
@carmelp16 can you explore this problem?

[2021-11-17 20:48] atalyaalon opened #2008 "Modify timestamp formates to iso standard"
FE team requested to modify all the timestamp fields in infographics api to ISO standard:
Relevant fields: last_update in meta, accident_timestamp in most_severe_accidents (@shaysw please check if I missed any timestamp field, I don't think so)

ISO standard:
2021-11-03T16:23:30.574Z

Once merged to master, please update FE team in the [following linked ticket ](https://github.com/hasadna/anyway-n

[2021-11-17 21:29] atalyaalon commented on #1904
@carmelp16 can you take this? Adding this to milestone v0.12.0. The first think I would like to know is whether we can backfill data? Is it the same data as the rss? Or are we missing fields / granularity?

[2021-11-18 12:17] carmelp16 commented on #1971
Sure

[2021-11-20 16:12] shaysw opened #2009 "Add documentation for adding new widgets"
Following the [PR which refactored the structure of widgets](https://github.com/hasadna/anyway/pull/1999), separating each widget to a new file, we need to add documentation for how to add new widgets to the repo

[2021-11-20 16:21] shaysw opened #2011 "Refactor all classes in repo to conform to new structure"
Following the [PR for restructuring all widgets](https://github.com/hasadna/anyway/pull/1999), we should implement the same structure for all classes in the repo, e.g., have classes in their own file, and superclasses as modules in their own directory

[2021-11-21 10:15] OriHoch commented on #1989
we cannot truncate the tables because the dump is performed on prod db

The solution I'm trying to implement is to have 2 dump files: one same as today without the tables, another one with only the schemas of the missing tables.

[2021-11-21 14:12] OriHoch commented on #1989
done, opened PRs: #2013, #2014

[2021-12-01 08:53] #2009 closed

[2021-12-02 18:40] #2008 closed

[2021-12-04 09:54] BarVolunteering opened #2022 "Remove unneeded Flask-Login lines from models.py"

[2021-12-04 20:43] atalyaalon opened #2026 "Revert change after FE add param to API query"
Revert this change: https://github.com/hasadna/anyway/pull/2025/files

[2021-12-04 21:36] atalyaalon commented on #2026
FE ticket: https://github.com/hasadna/anyway-newsflash-infographics/issues/817

[2021-12-04 22:01] atalyaalon opened #2030 "[Bug] in DB, street1 can be both 0 and null - check what's the difference."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install these libraries: '...'
2. Go to this directory: '....'
3. Run the following command: '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your prob

[2021-12-08 17:23] shaysw opened #2031 "Localize Widget - Some widgets do not have translations"
**Widget ID**
For example: AccidentCountByDayNightWidget

**Widget Fields**
title

**Widget Title**
Does not exist

**Additional context**
Need to go over all widgets and make sure they have translations. If not, add them

**Flask Babel**
For updating messages.pot with all strings for translation - use the following command: `pybabel extract -F babel.cfg -o messages.pot .`
For updating existing po

[2021-12-08 17:46] shaysw commented on #1978
I saw the following widgets with localization/title issues:

AccidentCountByAccidentTypeWidget
AccidentCountByDayNightWidget
AccidentCountByDriverTypeWidget (need to localize data.information?)
AccidentCountByHourWidget
AccidentCountByRoadLightWidget
AccidentCountBySeverityWidget + (need to localize data.information?)
AccidentCountPedestriansPerVehicleStreetVsAllWidget
AccidentSeverityByCrossLocat

[2021-12-09 17:49] atalyaalon opened #2032 "Modify API of accident_count_by_accident_year, injured_count_by_accident_year"
Structure is here: https://github.com/hasadna/anyway-newsflash-infographics/issues/779 - see Yuval's last comment

[2021-12-11 17:06] #1903 closed

[2021-12-11 17:06] #2000 closed

[2021-12-15 05:46] #2032 closed

[2021-12-15 20:47] BarVolunteering opened #2038 "Swagger - expand all operations by default"

[2021-12-15 20:50] BarVolunteering opened #2039 "Swagger - weird behaviour in /api/infographic-data"
The FE team reported a weird behaviour in /api/infographic-data:
![image](https://user-images.githubusercontent.com/58947331/146262831-f5b7128f-e3e0-419d-8ffb-f978b0b38b3d.png)

[2021-12-16 18:01] atalyaalon opened #2040 "injured_accidents_with_pedestrians widget - modify API"
Relevant structure - stack bar graph - @ziv17 is familiar with it.

[2021-12-18 09:22] ziv17 opened #2042 "[Bug] streets table is not filled when cbs data is refreshed, due to key duplication"
**Describe the bug**
Key duplication prevents write to streets table

**To Reproduce**
run cbs refresh `python3 main.py process cbs`

[2021-12-18 16:40] atalyaalon opened #2044 "Widget: injured_accidents_with_pedestrians - modify API"
**Name**
injured_accidents_with_pedestrians

Task: widget already exists - modify API to fit the structure of stacked bar graph API - similar to API structure of widget accident_count_by_accident_year
Please talk to @ziv17 that is familiar with the wanted API structure

**Title**
already exists

**Visualization**
stacked bar graph

**Visualization explanation**
Explain visualization content.

Desi

[2021-12-18 17:50] atalyaalon opened #2045 "Urban Widgets - add existing widgets to urban resolution"
We want new widget for Urban - Street resolution
(works in street resolution - such that the wanted street can be either in street1 or in street2 - see InjuredAccidentsWithPedestriansWidget widget)

- accident_count_by_severity_urban - see https://github.com/hasadna/anyway/issues/2093

- map_accidents_urban - EDIT: similar structure to most_severe_accidents but with SAME logic:
https://github.com/

[2021-12-18 18:46] #1918 closed

[2021-12-18 20:36] atalyaalon commented on #2039
@ziv17 any thoughts on this? I assume that news flash 123 does not exist. What do we want to return in such cases?

[2021-12-18 20:37] atalyaalon commented on #2040
dup of #2044

[2021-12-18 20:37] #2040 closed

[2021-12-19 15:38] ziv17 commented on #2039
Correct error messages are not implemented. In this case, the news-flash is not an accident, and has no location.
What is the priority of this?

[2021-12-22 16:39] #1978 closed

[2021-12-29 17:55] BarVolunteering opened #2050 "Change order of widget accident_count_by_accident_year"
The FE team requested to make sure that the elements in the 'series' are ordered (currently they are not) - rewrite `format_2_level_items`? - Notice that changing `format_2_level_items` will affect other widgets!

![image](https://user-images.githubusercontent.com/58947331/147687939-8b7c32d5-f3be-4359-9a78-67715113921c.png)

[2021-12-29 18:04] BarVolunteering opened #2051 "Unit test fail from time to time"
Example:
https://github.com/hasadna/anyway/pull/2037

Error:

[2021-12-29 20:38] atalyaalon opened #2054 "API: gps-to-location"
GPS -> road segment - Current API exists and is working quite well.
Make sure API performance is good for user interaction.

[2021-12-29 20:40] #1940 closed

[2021-12-29 20:58] #2038 closed

[2021-12-30 18:41] BarVolunteering opened #2056 "Change format of all bar widgets"
*Injury need to be ordered by severity
*Empty values need to be shown

[2021-12-30 19:36] BarVolunteering opened #2057 "Prevent user from being a member in more than one organization"

[2022-01-01 22:25] atalyaalon opened #2059 "[Bug] Modify title to previous one"
**Describe the bug**
New title for widget is too long
It should be [the following](https://github.com/hasadna/anyway/pull/2041/files#diff-0b80e59b20eb9a306a6bb13380473a1f4c2ef867c381d4704eb298636d6fd5d2L317)
תאונות קטלניות לפי סוג

However it is now very long "תאונות קטלניות בהתנגשות חזיתית כנגד שאר התאונות"

Return it to previous title.

[2022-01-03 08:20] OriHoch commented on #1976
* Airflow has uptime monitoring on StatusCake which makes sure airflow itself is healthy. Failed jobs send an email.
* Main site has uptime monitoring on StatusCake which checks http://www.anyway.co.il/

@atalyaalon Should anything else be checked?

[2022-01-05 15:57] atalyaalon commented on #1922
FE issue - waiting for API - https://github.com/hasadna/anyway-newsflash-infographics/issues/541

[2022-01-07 09:05] #2042 closed

[2022-01-07 09:05] ziv17 commented on #2042
Fixed by #2043

[2022-01-07 09:06] #1406 closed

[2022-01-07 09:07] ziv17 commented on #1406
Irrelevant as we are moving to location based cache tables (vs. news-flash id based)

[2022-01-07 09:42] ziv17 commented on #1922
Hi @atalyaalon I do not understand what is required here.
Cache is already implemented.

[2022-01-08 16:43] #1969 closed

[2022-01-09 10:07] BarVolunteering commented on #2044
The data of this widget need to ordered, From @atalyaalon message on Slack:

Relevant issue on FE side: [anyway-newsflash-infographics/pull/842](https://github.com/hasadna/anyway-newsflash-infographics/pull/842)

[2022-01-09 10:10] BarVolunteering commented on #2050
The data of this widget need to ordered, From atalyaalon message on Slack:

Relevant issue on FE side: anyway-newsflash-infographics/pull/842

[2022-01-09 10:11] BarVolunteering opened #2070 "Widget: Order the data in injured_count_by_accident_year"
The data of this widget need to ordered, From @atalyaalon message on Slack:

Relevant issue on FE side: [anyway-newsflash-infographics/pull/842](https://github.com/hasadna/anyway-newsflash-infographics/pull/842)

[2022-01-09 10:13] BarVolunteering opened #2071 "Widget: Order the data in accident_count_by_car_type"
The data of this widget need to ordered, From atalyaalon message on Slack:

Relevant issue on FE side: [anyway-newsflash-infographics/pull/842](https://github.com/hasadna/anyway-newsflash-infographics/pull/842)

[2022-01-10 18:50] BarVolunteering commented on #2057
FE asked to change the API to update_user_org

[2022-01-14 07:00] ziv17 commented on #1922
Hi @atalyaalon
What is the use-case that this issue intends to resolve? I am asking, because the way I see it, the solution is either small tables, or cache, which we already have.

[2022-01-14 14:58] BarVolunteering opened #2074 "Change the API to update user organization"
This is per FE team request.
Remove:
* /user/add_user_to_org
* /user/remove_user_from_org
Add
* /user/update_user_org

[2022-01-15 14:12] #2074 closed

[2022-01-17 08:12] ziv17 opened #2077 "Fix get_road_segment_by_name()[Bug]"
Fix get infographics by location when `road_segment_name` contains a junction that contains a dash (`-`).

[2022-01-17 10:48] #2044 closed

[2022-01-18 20:32] #2054 closed

[2022-01-19 09:53] #2077 closed

[2022-01-19 16:13] atalyaalon commented on #2051
@BarVolunteering I suggest disabling the test for now

[2022-01-19 17:13] atalyaalon opened #2080 "Widget motorcycle_accidents_vs_all_accidents - new data structure"
- [ ] This widget contains a stacked bar graph - modify structure accordingly
Discuss with Chen (FE team) to make sure you're aligned (since she needs to present percentage but I believe she will expecting absolute numbers)
- [ ] Re-register widget

FE issue - waiting for API - hasadna/anyway-newsflash-infographics#541

[2022-01-19 17:13] atalyaalon commented on #1922
@ziv17 I agree.
If you find options for performance improvements [while working on this widget](https://github.com/hasadna/anyway/issues/2080) - please improve.

[2022-01-19 17:13] #1922 closed

[2022-01-19 18:37] #1935 closed

[2022-01-19 18:45] atalyaalon commented on #1709
Goal is to show accidents up to latest month on DB of current year (we get the accidents from the CBS on a delay of ~2 months)
Across all years (in infographics query the wanted years are specified)

[2022-01-19 18:57] atalyaalon opened #2081 "When adding new table to DB - add redash permissions to it by default"
Perhaps @OriHoch can advise in what's the best way to do so.

[2022-01-19 19:32] OriHoch commented on #2081
Because you have tables with private data, there is some risk in doing that, but if you are sure no private tables will ever be added in the future you can do it with the following SQL:

[code]

[2022-01-19 20:34] atalyaalon opened #2086 "Add temp cache table for road segments"
To prevent a time in which table is empty - first create cache in temp table, afterwards copy temp table into real table in one transaction (preventing "downtime")

[2022-01-20 18:00] #2059 closed

[2022-01-21 13:48] BarVolunteering commented on #2057
This was done as part of #2075

[2022-01-21 13:48] #2057 closed

[2022-01-21 13:49] BarVolunteering commented on #2056
Duplicate:
#2071
#2070
#2050

[2022-01-21 13:49] #2056 closed

[2022-01-22 19:00] #2051 closed

[2022-01-23 18:07] atalyaalon commented on #1928
Thanks @BarVolunteering !
I'll open this issue and move it to a later milestone - not urgent but we might want to check why this test failed - and how to fix it in the future. For now as requested, you deleted it since it's not a priority:)

[2022-01-23 18:12] atalyaalon commented on #2071
Thank you @BarVolunteering .
Also there are additional two changes that are needed for this Widget:

- [ ]  Change data model in the widgets to the vehicles_markers_hebrew (relates to #1481)
- [ ] Return only top 3 categories (order by top 3 count of segment, not average of country)

[2022-01-23 18:12] atalyaalon commented on #1481
will be handled in #2071

[2022-01-23 18:12] #1481 closed

[2022-01-23 18:23] atalyaalon commented on #2005
@ziv17 I believe we can close this one?

[2022-01-23 18:23] #2005 closed

[2022-01-23 19:00] atalyaalon opened #2090 "2 New Widgets: total counts"
Create 2 new infographics with the structure of a stacked bar graph:

- [ ] total_accident_count_by_accident_year
- [ ] total_injured_count_by_accident_year

It includes exactly the same data as in accident_count_by_accident_year and injured_count_by_accident_year (duplication)

[2022-01-23 19:53] atalyaalon opened #2091 "Addition of Arabic News Flashes"
1. Understand current flow of news flash processing
Code that runs nowadays:
`python3 main.py process news-flash`
(Runs in [airflow](https://github.com/hasadna/anyway-etl/blob/be6c49d4f447514ca8dbeed93a2a4710865e5d90/airflow_server/dags/news_flash.py#L20))

2. Familiarize with news-flash API to understand how this data reaches the FE

3. Please plan the following modifications (before any code add

[2022-01-23 20:14] atalyaalon opened #2092 "News Flash API - add צומת בינעירוני"
- [ ] Delete unused API functions

- [ ] Add resolution of צומת בינעירוני that contain road_segment_name to the News Flash API - to suburban_road parameter

- [ ] Add resolution of צומת בינעירוני that contain road_segment_name when pulling data using infographics table

Reason for that: we're missing these news flashes in FE for no good reason

[2022-01-25 20:02] MichalOren opened #2093 "Widget: accident_count_by_severity_urban"
**Name**
Widget for accidents in **urban street resolution** for all accident types at a specific street.

**Title**
accident_count_by_severity_urban

**Visualization**
![image](https://user-images.githubusercontent.com/61007501/151046656-4c9d8ebb-2e57-4ef2-8119-737f393d3bb2.png)
Sample graphic image of the widget that will be displayed by FE.

**Visualization explanation**
Similar to accident_cou

[2022-01-25 20:15] ziv17 commented on #2080
https://github.com/hasadna/anyway-newsflash-infographics/issues/541#issuecomment-1018708915

[2022-01-26 16:14] atalyaalon opened #2094 "[Bug] AirFlow cache filling task is finished but data is loaded hours later - debugging"
relevant issue issue: https://github.com/hasadna/anyway-etl/issues/27

[2022-01-26 17:12] atalyaalon commented on #1709
Data structure will be similar to single bar chart structure
@BarVolunteering Is there a documentation of this structure in our repo?

[2022-01-26 18:50] ziv17 commented on #2005
Yes

[2022-01-26 19:14] BarVolunteering opened #2095 "Add docs about Stacked/Multi/Single bar charts JSON struct"

[2022-01-26 19:20] BarVolunteering commented on #1709
@atalyaalon We don't have documentation for it, I created an issue about it : #2095

The structure should look like this:
[code]
You can see an example at:
https://dev.anyway.co.il/api/infographics-data?lang=he&news_flash_id=86293&years_ago=5
for widget: killed_and_injured_count_per_age_group

More info in:
https://github.com/hasadna/anyway-newsflash-infographics/issues/779#issuecomment-971718076

[2022-01-26 19:46] MichalOren opened #2096 "Widget: accidents_table_urban"
**Name**
Widget for accidents in **urban street resolution** for all accident types at a specific street.

**Title**
accidents_table_urban

**Visualization**
![image](https://user-images.githubusercontent.com/61007501/151230407-53f24564-f612-4768-8d3c-7f0aaca7665a.png)
Sample graphic image of the widget that will be displayed by FE.

**Visualization explanation**
similar structure to most_severe_a

[2022-01-26 22:24] atalyaalon commented on #1640
After a discussion, we're focusing on no.1 and no.5
https://github.com/hasadna/anyway/issues/1740
https://github.com/hasadna/anyway/issues/2091
The rest of the tasks will wait for now

[2022-01-27 10:38] volsky commented on #1709
@BarVolunteering  I have

[2022-01-27 10:45] #1709 closed

[2022-01-27 19:09] atalyaalon opened #2097 "Sort stacked bar widgets"
@BarVolunteering wasn't sure if this widget already sorted - injured_accidents_with_pedestrians
Any other stacked bars that you know of that are not sorted?

[2022-01-27 19:56] BarVolunteering commented on #2097
I will check about injured_accidents_with_pedestrians, but maybe @shaniwein remember if its sorted?

The other bars that need to be sorted are:
accident_count_by_car_type  (issue #2071)
injured_count_by_accident_year (issue #2070)
accident_count_by_accident_year (issue #2050)

[2022-01-28 10:36] #2050 closed

[2022-01-28 10:36] #2070 closed

[2022-01-28 10:38] BarVolunteering commented on #2097
Update after PR - The bars that need to be sorted are:
accident_count_by_car_type (issue #2071)

and maybe injured_accidents_with_pedestrians

[2022-01-28 10:57] shaniwein commented on #2097
injured_accidents_with_pedestrians is sorted

[2022-01-28 15:21] #2080 closed

[2022-01-28 17:22] ziv17 commented on #2093
Hi @MichalOren , @atalyaalon
Was the above items structure coordinated with FE team? If not, who should it be coordinated with?
Thanks, Ziv

[2022-01-29 14:20] ziv17 commented on #2093
Hi @MichalOren ,
The `title` and `information` fields you specified are different from the current values for the sub urban widget. Should they stay different, or be changed to be like the urban?

[2022-01-29 16:14] shaysw commented on #1740
I've gone over the 1st point in the issue. from manually checking the validity of 200 news flashes (including duplicates, e.g., same NF from different sources) and a little less than half were incorrect

[2022-01-30 20:23] volsky opened #2100 "[Bug] Wrong endpoint json structure"
**Describe the bug**
Wrong api return value structure for fatal_accident_yoy_same_month widget

**To Reproduce**
go to https://dev.anyway.co.il/api/infographics-data?lang=he&news_flash_id=86293&years_ago=5

**Screenshots**
![image](https://user-images.githubusercontent.com/153878/151716007-357240d0-bf42-47ce-861b-1f3e7d2f8c3a.png)

[2022-01-31 06:01] #2100 closed

[2022-02-01 16:59] ziv17 commented on #2096
Hi @MichalOren , two questions:

1. Actually we want to order first by severity, and then (within each severity) by date (last first), and take the first ten. right?
2. Do we want to change the behavior of the sub_urban widget to be the same as the urban?

[2022-02-03 18:11] atalyaalon opened #2102 "Bug - no data in widget API for news flash"
https://anyway-infographics-staging.web.app/newsflash/102730

[2022-02-03 18:24] atalyaalon opened #2103 "map widget - add title to API"

[2022-02-04 23:19] BarVolunteering commented on #841
Google login is working, facebook login is removed.
Closing this issue.

[2022-02-04 23:19] #841 closed

[2022-02-04 23:22] BarVolunteering commented on #744
There is a new user system that support those features, closing this issue.

[2022-02-04 23:22] #744 closed

[2022-02-09 16:43] atalyaalon commented on #2096
@ziv17
1. Yes
2. No, Each table widget (urban/sub urban) will have a different behavior. Information should be accordingly in each widget

[2022-02-09 17:38] MichalOren opened #2107 "Widget: Add a title to map_accidents_urban"
**Name**
Widget for **map accidents in urban street resolution** for srvere & fatal accident at a specific street.

**Title**
map_accidents_urban

**Visualization**
![image](https://user-images.githubusercontent.com/61007501/153255740-7fd43f53-9e9f-4bc6-b7f3-70ad4aa2389e.png)

Sample graphic image of the diagram that will be displayed by FE.

**Additional context**
Currently the json dosent includ

[2022-02-09 18:14] atalyaalon commented on #2107
@MichalOren @ziv17
Just to clarify, this task requires 2 tasks
1. Add the urban version (only with severe and fatal accidents) in the street, including a title
2. Add title to the non-urban version
3. Regarding the variation we discussed of the map and table containing light accidents, @MichalOren we'll create different issues for that.

[2022-02-09 18:17] atalyaalon commented on #2096
@ziv17 after a discussion, this widget WILL contain only fatal and severe accidents.
We'll open a different issue for a table containing all severities.

[2022-02-09 18:20] atalyaalon opened #2108 "motorcycle_accidents_vs_all_accidents"
Change widget to appear only in interurban.
Urban widget logic should be defined by the Product team.
@MichalOren FYI - this widget will appear only in interurban for now

[2022-02-09 19:00] MichalOren opened #2109 "Widget: Update title to accident_count_by_driver_type widget"
**Feature request**
Update to widget **accident_count_by_driver_type**

**Required changes**
As a part of update (facelift) to this widget the following changes are expected:
- Title changes - remove segment name from title - (BE team)
- Logic modification: at the moment we're counting  ALL involved instead of accidents (we're counting involved with the specific vehicle type instead of counting di

[2022-02-09 19:55] ziv17 commented on #2107
@atalyaalon what is the suburban widget we want to add urban version for?

[2022-02-09 20:02] ziv17 opened #2110 "[Bug]"
For `accident_count_by_severity` use the following names:
for Urban location, use `accident_count_by_severity_urban`
for Suburban location, use `accident_count_by_severity`

[2022-02-09 22:07] atalyaalon opened #2111 "[Bug] Check why CBS new data not loading"
Airflow reference: https://airflow.anyway.co.il/log?dag_id=import-email-to-s3-and-update-data&task_id=cbs-import-from-s3&execution_date=2022-02-02T21%3A58%3A21.000628%2B00%3A00

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install these libraries: '...'
2. Go to this directory: '....'
3. Run the following command: '.

[2022-02-09 22:11] atalyaalon commented on #2107
@ziv17  most_severe_accidents

[2022-02-10 17:13] #2108 closed

[2022-02-13 19:13] BarVolunteering opened #2114 "Create is connected API"
Per FE team request

[2022-02-13 19:16] BarVolunteering opened #2115 "Change/Add sites to CORS"
There is a new site that is in use with the FE team, add it to CORS.
Waiting for more info from the FE team - @danielsh28

[2022-02-16 15:28] atalyaalon opened #2116 "Check is_included return type in all widgets"
For example - In file: anyway/widgets/urban_widgets/small_motor_severe_fatal_count_by_year_widget.py
get_motor_stats: is_included returns self.items - shouldn't it return only bool? Please check the issue and if needed modify return type

[2022-02-16 18:19] ziv17 commented on #2107
Hi @MichalOren
For the suburban case, do we want also the road number in the title? E.g.
`Severe accidents at road 90 from place x to place y`, or
`Severe accidents at  road segment place x to place y`

[2022-02-17 17:45] atalyaalon commented on #2097
@BarVolunteering great work! Can I close this one?

[2022-02-17 17:53] atalyaalon opened #2120 "[Bug] accident_count_by_severity does not appear in API"

[2022-02-18 09:24] BarVolunteering commented on #2097
Yes

[2022-02-18 11:32] MichalOren opened #2122 "Widget: Update accident_count_by_accident_type widget"
**Name**
Required changes to widget accident count by accident type

**Title**
accident_count_by_accident_type widge

**Required changes**
•  Add Title - years and widget name to heading (BE & FE)
•  Add filter “top 3 types” results (BE)
•  Pie will display only “top 3 types” results (FE)
•  Enlarge pie size  (FE)
•  Remove years details below (FE)
•  Add information text (BE)

**Visualization exp

[2022-02-21 17:02] atalyaalon opened #2127 "[Bug] accident_count_by_severity_widget widget is not present"
**Describe the bug**
For some reason the widget accident_count_by_severity_widget in -is not present anymore

Try using local query with an existing local news flash -
`127.0.0.1:8080/api/infographics-data?news_flash_id=87548&years_ago=8&lang=he`

[2022-02-23 14:23] #2127 closed

[2022-02-23 15:02] #2103 closed

[2022-02-23 15:02] atalyaalon commented on #2120
solved by @ziv17

[2022-02-23 15:02] #2120 closed

[2022-02-23 15:07] atalyaalon commented on #2111
solved

[2022-02-23 15:07] #2111 closed

[2022-02-23 16:53] atalyaalon commented on #2110
@MichalOren FYI

[2022-02-23 17:07] atalyaalon opened #2132 "Add rule to motorcycle_accidents_vs_all_accidents"
Only show widget if:
אם אחוז תאונות האופנוע במקטע גדול פי 2 או יותר מאחוז תאונות האופנוע בשאר הארץ ובנוסף היו לפחות 3 תאונות אופנוע קשות וקטלניות במקטע בתקופת הזמן
Hence:
segment motorcycle accidents % >= 2 * (country motorcycle accidents %)
AND
segment motorcycle accidents >= 3

use is_included function

See widget's visualization here: https://github.com/hasadna/anyway-newsflash-infographics/iss

[2022-02-23 17:18] atalyaalon opened #2133 "Measure real time of different cache fill functions"
So good news: the cache fill themselves run quick - however after the road segments cache fill and for streets cache fill finish running (that run 30 minutes each) - not all data is in the DB yet and it can take hours until it is.

suggestions for performance improvements:

- [ ] Measure real time of different cache fills

Think and implement performance improvements, for example:

- [ ] bulk inse

[2022-02-23 17:19] atalyaalon opened #2134 "[Bug] Make sure our airflow instance prints out logs"
Our airflow instance does not print out logs - see here: https://github.com/hasadna/anyway-etl/issues/13
Please debug issue

[2022-02-23 17:20] #2097 closed

[2022-02-23 19:13] MichalOren commented on #2132
Hi Shani
1. We need to update "information" tag for this widget description. kindly see if you can update it:
אחוז תאונות האופנוע הקשות והקטלניות במקטע הנבחר לעומת אחוז תאונות ממוצע במקטעי כביש אחרים בכל הארץ

2. There is a mismatch above between hebrew text and english syntax 5 vs 3 (should be 3)

[2022-02-24 09:45] atalyaalon opened #2135 "[Bug] mismatch between markers and markers hebrew tables"
**Describe the bug**
select max(accident_timestamp) from markers_hebrew
-- select max(created) from markers

Max Timestamp is different in both cases, see query: https://redash.hasadna.org.il/queries/1167/source

[2022-02-25 08:48] ziv17 opened #2136 "Use only location based cache"
Stop usage of newsflash based cache.

[2022-02-25 12:05] #2136 closed

[2022-02-26 07:41] ziv17 commented on #2122
Hi @atalyaalon @yuvalbl ,
Who from the FE team should I work with to coordinate the API format for this widget?
Thanks,  Ziv

[2022-03-01 14:55] atalyaalon opened #2138 "[Bug]"
**Describe the bug**
In head_on_collisions_comparison there are in total 2 fatal accidents in the specific road segment, however in accident_count_by_severity widget there are 4 (!)
How come?

**To Reproduce**
See data for this newsflash here:
production: https://media.anyway.co.il/newsflash/105613
staging: https://anyway-infographics-staging.web.app/newsflash/105613

**Expected behavior**
the num

[2022-03-02 17:10] atalyaalon commented on #2107
@ziv17 great work, closing this one

[2022-03-02 17:12] atalyaalon commented on #2107
@ziv17 actually I assume the urban widget does not exist yet? reopening

[2022-03-02 17:19] atalyaalon commented on #2122
@ziv17 Let's keep the same format for now - since widget already exists in FE, but with multiple categories.
Also, widget uses Hebrew field (accident_type_hebrew), I suggest using the accident_type and create relevant constants.

[2022-03-02 17:26] atalyaalon opened #2139 "Widget: top_road_segments_accidents_per_km"
Widget exists - add rule to see the widget when current road segment is one of the top 3 road segments with highest accidents per km

(use is_included function)

[2022-03-04 08:07] ziv17 commented on #2122
Hi @MichalOren , @atalyaalon
The current code excludes the following accident types:
    PEDESTRIAN_INJURY = 1
    SWERVING_OFF_THE_ROAD_OR_ONTO_THE_PAVEMENT = 9
    OVERTURNED_VEHICLE = 10
    SKID = 11
    INJURY_OF_A_PASSENGER_IN_A_VEHICLE = 12
    A_FALL_FROM_A_MOVING_VEHICLE = 13
    FIRE = 14
    OTHER = 15
    DAMAGE_CAUSED_BY_A_FALLING_LOAD_OFF_A_VEHICLE = 20

Is it OK?

[2022-03-06 17:30] atalyaalon commented on #2081
After a discussion we decided not to grant access, but to do it table by table - see [this pr](https://github.com/hasadna/anyway/pull/2142/files) with an explanation how to grant access to a table

[2022-03-06 17:30] #2081 closed

[2022-03-09 14:46] #2086 closed

[2022-03-09 15:23] atalyaalon commented on #1501
Updated query [can be found here](https://redash.hasadna.org.il/queries/1171/source?p_street1_number=510&p_yishuv_symbol=5000&p_main_street_number=510)

[2022-03-09 15:41] atalyaalon commented on #1501
@MichalOren FYI - is scheduled for MS 15 - note that the design [is here](https://github.com/hasadna/anyway-newsflash-infographics/issues/606) but we need to understand if it's possible to use this design at all.

[2022-03-10 18:40] ziv17 commented on #2122
Hi @MichalOren @atalyaalon
BE work is done and merged. Is there a twin task in the FE repository?

[2022-03-10 18:58] ziv17 commented on #2107
Hi @MichalOren @danielsh28 @atalyaalon
The urban widget already exists (in BE repo, dev branch). Is it OK?

[2022-03-11 06:35] MichalOren commented on #2122
Hi @ziv17 👍  greate
@atalyaalon @danielsh28
No twin task in the FE repository. will it help if I open one for FE?

[2022-03-11 14:30] MichalOren commented on #2107
Hi @ziv17 and @atalyaalon
I can see we have a TAG called "label_map" that specify graph or map legend.
do we to add it in both interuban and urban **map** widgets?

[2022-03-12 08:52] ziv17 commented on #2122
Hi @MichalOren , what do you mean by "multiple types"?
I do not know what environment you are using. It is visible in this repository in branch `dev`.

[2022-03-12 09:03] ziv17 commented on #2107
Hi @MichalOren Can you elaborate? What TAG do you refer to? Where does it appear?

[2022-03-16 19:18] atalyaalon commented on #2109
[Local API Link](127.0.0.1:8080/api/infographics-data?news_flash_id=16577&years_ago=8&lang=he)
[Server API Link](www.anyway.co.il/api/infographics-data?news_flash_id=16577&years_ago=8&lang=he)

`{
            "name": "accident_count_by_driver_type",
            "data": {
                "items": [
                    {
                        "driver_type": "נהג רכב פרטי",

[2022-03-16 19:22] atalyaalon commented on #2122
Local API Link for example- 127.0.0.1:8080/api/infographics-data?news_flash_id=16577&years_ago=8&lang=he
[Server API Link for example](www.anyway.co.il/api/infographics-data?news_flash_id=16577&years_ago=8&lang=he)

        {
            "name": "accident_count_by_accident_type",
            "data": {
                "items": [
                    {
                        "accident_type": "התנגשו

[2022-03-19 10:51] ziv17 commented on #2122
BE work is completed.

[2022-03-19 10:51] #2122 closed

[2022-03-19 11:08] ziv17 commented on #2107
BE work is completed.

[2022-03-19 11:08] #2107 closed

[2022-03-19 11:35] ziv17 commented on #2133
Hi @atalyaalon , do we have log from such a run? The cache fill have prints between the steps of cache fill.

[2022-03-19 21:02] ziv17 commented on #2096
BE part is completed (PR #2146)

[2022-03-19 21:02] #2096 closed

[2022-03-24 17:44] ziv17 commented on #2045
Hi @atalyaalon , are there additional widgets to work in within this issue, or can it be closed?

[2022-03-29 17:01] atalyaalon commented on #2138
Thanks @ziv17
I think that in this case we should remove this filter:
"road_type": BE_CONST.ROAD_TYPE_NOT_IN_CITY_NOT_IN_INTERSECTION (line 34 in head_on_collisions_comparison_widget.py)
And count all sub urban accidents, also those that were marked in junctions.

[2022-03-29 17:37] atalyaalon opened #2150 "Widget: Add title and information to accident_count_by_day_night"
**Name**
accident_count_by_day_night

**Title**
In hebrew: תאונות על פי זמן

** Information **
התפלגות התאונות ביום ובלילה. היום‭ ‬והלילה‭ ‬נקבעים‭ ‬לפי‭ ‬זריחת‭ ‬השמש‭ ‬ושקיעתה‭ ‬בכל‭ ‬יום‭ ‬בשנה.

[2022-03-29 17:39] atalyaalon commented on #2102
Solved with @ziv17 's work on temp cache for road segments

[2022-03-29 17:39] #2102 closed

[2022-03-29 17:39] atalyaalon commented on #2150
@MichalOren FYI

[2022-03-30 15:38] ziv17 commented on #2133
Hi @atalyaalon I do not understand what do we mean by "while debugging".
I think that regardless we need to fix Airflow so it shows logs, so it makes sense to do it first.

[2022-03-30 15:47] atalyaalon commented on #2133
@ziv17 ok, I agree

[2022-03-30 15:50] atalyaalon opened #2152 "[Bug] modify severity order - stacked bars"
**Describe the bug**
Reverse order (light first) of all stacked bar charts that show severities (accident_count_by_accident_year, injured_count_by_accident_year, injured_accidents_with_pedestrians, killed_and_injured_count_per_age_group_stacked
@BarVolunteering did I miss any?

[2022-03-30 20:05] atalyaalon commented on #2092
We decided to remove intersection resolutions instead - using this pr https://github.com/hasadna/anyway/pull/2153

[2022-03-30 20:05] #2092 closed

[2022-03-30 20:07] atalyaalon commented on #2045
@ziv17 great work, closing this one

[2022-03-30 20:07] #2045 closed

[2022-03-30 20:44] atalyaalon opened #2154 "[Bug] accident_count_by_severity_urban"
**Describe the bug**
Modify information from
כמות התאונות הקטלניות, הקשות והקלות במקטע בפרק הזמן הנבחר.

to

כמות התאונות הקטלניות, הקשות והקלות ברחוב בפרק הזמן הנבחר.

[2022-03-30 20:47] atalyaalon commented on #2154
Relates to #2093

[2022-03-30 21:24] #1881 closed

[2022-03-30 21:45] #1989 closed

[2022-03-30 21:46] atalyaalon commented on #1966
@BusinessLanguage what do you think? Do you want to start working on this one?

[2022-03-30 21:56] atalyaalon commented on #1977
duplicate of #2139

[2022-03-30 21:56] #1977 closed

[2022-03-30 21:58] atalyaalon commented on #1924
@shaysw can we close this one?

[2022-03-30 21:59] atalyaalon commented on #1979
@shaysw is there anymore on this one?

[2022-03-30 22:00] atalyaalon commented on #1792
duplicate of #1966

[2022-03-31 19:26] BarVolunteering opened #2158 "Change order of all widgets"
Order it in the new agreed order (light first)

[2022-03-31 19:27] BarVolunteering commented on #2158
Already open

[2022-03-31 19:27] #2158 closed

[2022-03-31 19:49] #2026 closed

[2022-04-01 17:25] BarVolunteering commented on #1901
@atalyaalon The mission here is to create alembic version that performs the following:
`DROP TRIGGER rotate_waze_alerts_trigger ON waze_alerts;
DROP FUNCTION rotate_waze_alerts;
DROP TRIGGER rotate_waze_traffic_jams_trigger ON waze_traffic_jams;
DROP FUNCTION rotate_waze_traffic_jams;`

?

[2022-04-03 17:24] atalyaalon opened #2160 "[Bug] Infographics API not working for a specific newsflash"
**Describe the bug**
Infographics API not working

https://anyway-infographics-staging.web.app/newsflash/108913

Please check why - and let's discuss how to avoid this

[2022-04-03 19:39] atalyaalon opened #2161 "Add street search APIs"
See epic issue: https://github.com/hasadna/anyway-tasks/issues/3

[2022-04-03 19:43] ziv17 commented on #2160
Hi @atalyaalon ,
It seems the issue is the new-flash value for the field `yishuv_name` is wrong: `'הרצלייה'`

[2022-04-03 20:14] atalyaalon commented on #2090
Not relevant for now (FE will work on a widget with button for labels instead of duplication of API in the BE - [see this](https://github.com/hasadna/anyway-newsflash-infographics/issues/885))

[2022-04-03 20:14] #2090 closed

[2022-04-03 20:43] atalyaalon opened #2162 "Stacked bar graph widgets - add total"
For example - for accident_count_by_accident_year

Current API:

        {
            "name": "accident_count_by_accident_year",
            "data": {
                "items": [
                    {
                        "label_key": 2017,
                        "series": [
                            {
                                "label_key": "fatal",
                                "val

[2022-04-04 02:34] ziv17 commented on #2160
Hi @atalyaalon,  I think the issue is in the news-flash generation step, rather than at the infographic widgets generation

[2022-04-09 15:09] #2152 closed

[2022-04-21 04:41] ziv17 commented on #2161
BE part is done.

[2022-04-21 04:41] #2161 closed

[2022-04-22 18:17] BarVolunteering commented on #1901
@atalyaalon ?

[2022-04-23 10:40] #2071 closed

[2022-04-23 12:31] BarVolunteering opened #2172 "Change accident_count_by_car_type"
Count distinct provider_and_id on the python level

[2022-04-23 12:45] atalyaalon commented on #2160
@ziv17 I checked this issue - news flash generation step is OK and is using the CBS convention for yishuv names.
Seems like the cities table was created from another source of data (registered vehicles - which we do not use these days) - since in markers table (class AccidentMarker) yishuv name does appear as 'הרצלייה'

I suggest:
1. Modifying or creating a new cities table, CBS cities, that is bu

[2022-04-23 12:57] atalyaalon commented on #2160
@ziv17 I performed multiple edits for comment above, please checkout the latest version

[2022-04-23 17:42] atalyaalon opened #2176 "[Feature] CBS import data to s3 from new emails"
**Describe the bug**
See the following document: https://github.com/hasadna/anyway/blob/dev/docs/Architecture/CBS.md
See part 6:
Data Loading - Separate to multiple stages - see [CBS ETL in process refactoring](https://docs.google.com/document/d/1LirLg1u7B3ekvcjetj6LhVExijVqctMZ83fJHUYzlrI/edit?usp=sharing) Make sure data is not loaded multiple times and that no duplicates are created
Current Flow

[2022-04-23 20:49] atalyaalon commented on #2134
related to https://github.com/hasadna/anyway/issues/1997
@afedj can you take this one?

[2022-04-23 20:50] atalyaalon commented on #1838
@ziv17 I assume we can close this one?

[2022-04-23 21:14] atalyaalon commented on #2135
Locally everything works fine, BUT in production [this flow](https://airflow.anyway.co.il/tree?dag_id=cbs-import-from-s3)  loads CBS data to markers, involved, vehicles table, but hebrew tables do not update (!)
I managed to perform [the queries in this function](https://github.com/hasadna/anyway/blob/3e8b670e46078cc839a98ae3059d95ed06af08b0/anyway/parsers/cbs/executor.py#L1038) manually (which is

[2022-04-23 21:23] atalyaalon commented on #2135
Blocked by https://github.com/hasadna/anyway/issues/2134

[2022-04-27 17:54] ziv17 commented on #2160
Hi @atalyaalon,
I will load the csv file to a db table. I will load all fields even though we do not use them now. We can take English names from it to use for English output.
Do we have the meaning of the columns, and of the numeric codes?

[2022-04-27 19:48] afedj commented on #2134
Going to give it a shot

[2022-04-29 09:43] MichalOren commented on #2160
Hi
 I want to be sure that we map all cases of missing data in this flow... ?
- Location with no accidents (road section or city address)
- Location with Partial accidents information in terms of display by years
For me, a short conversation will help...

[2022-04-29 10:48] ziv17 commented on #2160
Good idea. Let's have a call. Who should participate?

[2022-05-06 13:25] ziv17 commented on #2160
Hi @atalyaalon ,
cities.csv has two lines with same `yisuv_name` (`NAME`) (=`דלתון`) and different `yishuv_symbol` (431, 1709) (`SEMEL`).
We have a single accident that uses 1709.
In the meantime I remove the uniqueness requirement from `yishuv_name`.
What do you think?

[2022-05-06 14:20] MichalOren commented on #2160
Hi ziv
This is a data bug. the correct codes from LAMAS are:
דלתון - 431
תעשיון דלתון -  1709
you can fix it manualy.

[2022-05-06 15:54] ziv17 commented on #2160
Hi Michal,
You mean to change in the file `static/data/cities.csv`?

[2022-05-07 08:54] MichalOren commented on #2160
Hi Ziv
I am not sure which task u are trying to preform...
Consider to fix the original csv before using it

[2022-05-10 21:02] atalyaalon commented on #2160
Aren't the column headers enough? What columns meanings are missing?

[2022-05-11 16:26] atalyaalon opened #2187 "Stacked bar by severities"
Modification required for widgets:

- accident_count_by_year
- injured_count_by_year
- pedestrian (stacked bar)

see here: https://github.com/hasadna/anyway-newsflash-infographics/issues/892

[2022-05-11 18:08] atalyaalon commented on #2109
@volsky note to this pr that is not finished (I assume we'll close it once you create your pr)
https://github.com/hasadna/anyway/pull/2147/files

[2022-05-11 18:09] atalyaalon commented on #2109
Also note that the title is already present, but we're missing the logic change

[2022-05-12 07:34] #2109 closed

[2022-05-13 19:12] BarVolunteering commented on #2187
Closed by https://github.com/hasadna/anyway/pull/2192

[2022-05-13 19:12] #2187 closed

[2022-05-13 23:57] #2114 closed

[2022-05-14 14:47] ziv17 commented on #1838
Implemented.

[2022-05-14 14:47] #1838 closed

[2022-05-14 15:08] ziv17 commented on #2160
I meant the meaning of the values (the codes), but it is not needed now, just for future use.

[2022-05-15 18:02] BarVolunteering commented on #2115
Not relevant

[2022-05-15 18:02] #2115 closed

[2022-05-25 07:18] atalyaalon opened #2203 "Modify title of Widget accident_count_by_accident_year"
Widget: accident_count_by_accident_year
modify title from
"מספר תאונות לפי שנה, מחולקות לפי חומרה, במקטע ..."
to
"תאונות במקטע ..."
Relevant FE issue: https://github.com/hasadna/anyway-newsflash-infographics/issues/885

[2022-05-25 07:19] atalyaalon commented on #2203
We're using Flask Babel - [see here](https://github.com/hasadna/anyway/blob/dev/.github/ISSUE_TEMPLATE/localize_widget.md)

[2022-05-25 07:20] atalyaalon commented on #2135
@ziv17 I didn't manage to solve this issue yet, perhaps you'll have an idea, let's discuss today.

[2022-05-27 09:24] ziv17 commented on #2203
@atalyaalon, @MichalOren
in issue [646](https://github.com/hasadna/anyway-newsflash-infographics/issues/646#issuecomment-1011078117) title is different from issue [885](https://github.com/hasadna/anyway-newsflash-infographics/issues/885#issuecomment-1103862533)
Do we want to set title as it is written in issue issue definition above?

[2022-05-27 09:33] atalyaalon commented on #2203
@galraij what do you say?

[2022-05-27 09:54] ziv17 commented on #2135
Hi @atalyaalon is the bug intermittent? How often does it occur?
Maybe we can add code that will run after the tables creation, and will test whether is occurred. If it did, it will run some tests, and then re-run the creation of the tables?
By tests, I mean whether there is different number of lines between the two tables, or same lines but different values? How many lines has different values? H

[2022-05-27 10:24] ziv17 commented on #2135
In redash, there are 3,242 lines missing in `markers_hebrew` (relative to `markers`). The latest row in `markers_hebrew` exists in `markers`.

[2022-05-27 15:42] atalyaalon commented on #1997
Logs now appear on airflow https://github.com/hasadna/anyway/pull/2206/files

[2022-05-27 15:42] atalyaalon commented on #1997
@afedj please check best practices of logs management

[2022-05-27 15:50] atalyaalon commented on #2134
solved here https://github.com/hasadna/anyway/pull/2206

[2022-05-27 16:01] atalyaalon opened #2208 "[Bug] Airflow DAG is considered a SUCCESS"
**Describe the bug**
For some reason, this task of the DAG was considered as success even though it failed

https://airflow.anyway.co.il/log?dag_id=import-email-to-s3-and-update-data&task_id=cbs-import-from-s3&execution_date=2022-05-27T15%3A39%3A23.116949%2B00%3A00

[2022-05-27 18:47] BarVolunteering commented on #1925
@atalyaalon This is already done, we moved to use `roles_accepted` decorator

[2022-05-27 18:47] #1925 closed

[2022-05-28 12:58] carmelp16 commented on #2208
@atalyaalon I suspect in [this](https://github.com/hasadna/anyway/blob/master/anyway/parsers/cbs/executor.py#L1156) line, we catch the exception but we don't re-raise it after the print

[2022-05-28 13:50] MichalOren commented on #2203
Hi i think the title according to issue 646 describe the graph meaning, in a better way.
"תאונות לפי חומרה..."

[2022-05-28 15:57] BarVolunteering opened #2210 "Add user deletion API + fix name conflict"
Add User deletion API

and fix name conflict at flask_app.py:
![image](https://user-images.githubusercontent.com/58947331/170833048-dd831a60-7c28-4dad-ae80-e218df9e0be9.png)

[2022-05-28 16:07] carmelp16 commented on #2208
And here is the PR:
https://github.com/hasadna/anyway/pull/2209

[2022-05-28 18:58] #2208 closed

[2022-05-28 20:05] atalyaalon commented on #2090
Closed this one since we want to have a selection button in the FE
https://github.com/hasadna/anyway-newsflash-infographics/issues/885

[2022-05-28 21:59] atalyaalon opened #2213 "Centralised secrets management for volunteers"
In what tool should we use to give access to volunteers to different keys?

[2022-05-31 14:49] ziv17 commented on #2160
Fixed (it reappeared because cache wasn't updated)

[2022-05-31 15:49] ziv17 commented on #2213
One option I am thinking of is using a tool like [keypass](https://keepass.info/). It holds secrets in an encrypted file, and requires a password to open the file. we can:

1. have a repo with read access to only those that have permission to read the secrets.
2. Upload the keypass file to that repo.
3. To give access to a person we will
     - give him read permission to the repo
     - send him

[2022-06-01 21:03] #2203 closed

[2022-06-03 09:07] ziv17 commented on #485
Not relevant any more

[2022-06-03 09:07] #485 closed

[2022-06-04 12:51] #2210 closed

[2022-06-14 17:10] #2116 closed

[2022-07-06 16:38] #2162 closed

[2022-07-09 11:46] ziv17 opened #2218 "Newsflash location qualification."
The purpose of this issue is to implement the back end of the feature that is described by the following drawing
![Newsflash location qualification](https://user-images.githubusercontent.com/28224696/178103452-f01efd79-2fa3-4219-a72b-b8a69b52b52b.jpeg)
In general the feature will allow users with the appropriate  permission to accept/reject or set the location of the news flash.

- [ ] Add a type

[2022-07-20 15:19] ziv17 opened #2219 "Newsflash location Qualification - Addition"
We want to keep a history of all location verification settings, as we believe this history will be valuable. tasks:

- [ ] We want to register for each location verification action a user is doing the following information:
          - user
          - newsflash
          - location verification value before the change
          - location before the change
          - location verification after

[2022-07-26 18:31] ziv17 opened #2220 "[Bug] Extra space at the beginning of location text"
In infographics API, when `street` resolution is used, the field `meta` -> `location_text` contains a blank as first character.  It should not be there.

[2022-07-26 20:29] #2220 closed

[2022-07-27 13:55] ziv17 opened #2222 "Ensure our Airflow job `process-news-flash` job does not run in parallel"
We want to run the job in short intervals, and we want that in case a job starts while the previous run was not finished, will wait until it finishes.

[2022-08-05 07:22] MichalOren commented on #1612
Hi
I try to create a comprehensive over view:
widget name: front_ to_side_ accidents_by_severity
visualization
![image](https://user-images.githubusercontent.com/61007501/183021440-becb01fa-eae6-4f1b-95f3-2ed4043c6fdb.png)

Update link to redash [query](https://redash.hasadna.org.il/queries/1066/source?p_Road%20SEGMENT%20ID=250020#1066
)
I think calculation of % need to happened on BE side and be

[2022-08-10 18:06] volsky opened #2227 "Data exploration - find similarities and between different segments"
Data exploration - find similarities and between different segments.
Find interesting similarities, possible common factors, using statistical aggregations for several years

[2022-08-11 12:57] tkalir opened #2228 "[Bug] login to email in importmail_cbs.py fails"
login to email in importmail_cbs.py fails because the email's security settings get reset, preventing logging in programmatically

[2022-08-12 19:29] tkalir commented on #2228
changed the code to run weekly instead of monthly, hopefully it will prevent the settings from being reset.

[2022-08-12 19:29] #2228 closed

[2022-08-14 11:31] tkalir opened #2229 "[Bug] parsers.cbs.executor.create_tables fails frequently"
insertion to tables frequently fails. presumably because currently too much data is inserted at once.

[2022-08-17 16:56] tkalir opened #2230 "adding link to docker lecture to readme file"
adding link to docker lecture (https://youtu.be/qh-hnPWViZA) to readme file

[2022-08-19 02:42] #2230 closed

[2022-08-19 06:46] MichalOren commented on #1713
Hi @ziv17
Thanks for your feedbak. In light of this, I have updated the "use case"  section and link to the sql query.
Hope this helps...

[2022-08-20 09:17] ziv17 commented on #1713
Hi @MichalOren
- There are mismatches between the text and the query (e.g. location). Should I assume the text is the correct option?
- regarding when to display, I assume you mean half of the years in the period that used. Also when none occurred in recent years?
- in the information, to write motorcycle, although we take also bicycle and קורקינט?

[2022-08-20 16:57] MichalOren commented on #1713
Hi @ziv17
1. Im not sure what you mean... The query expect Number to identify Yishuv, is that our input ?
2.  Yes. In 2008 there was sparce data on scooters and electric bicycles, I expect it would be more common in recent years.
3. I have fixed the "Information" text.

[2022-08-22 15:36] ziv17 commented on #1713
Hi @MichalOren , regarding 1, I mean that actually the query will use the infographic location, which is either yishuv & street, or road segment.

[2022-08-22 15:44] ziv17 commented on #1713
Hi @MichalOren , I updated the description comment (added a comment to the query, and changed the text of when to display.)
Is it OK?

[2022-08-29 15:58] #2132 closed

[2022-09-07 16:07] ziv17 commented on #2218
Implemented in [#2224](https://github.com/hasadna/anyway/pull/2224)

[2022-09-07 16:07] #2218 closed

[2022-09-10 11:09] BarVolunteering commented on #1612
@MichalOren Are the query need to be time limit (e.g. 5 years back)?

[2022-09-10 17:13] MichalOren commented on #1612
Hi @BarVolunteering
1. Usually we use 1, 3, 5 & 8 years, as time periods for our widgets. Do we need to change the query to support all ranges?
2. You're right.  "all_roads_accidents" tag, looks unnecessary.
TNX for your inputs

[2022-09-18 08:32] tkalir opened #2249 "create unique id for accidents"
Currently we have 3 primary keys for accidents (CBS id, year, provider code)
We could create a "anyway" id for accidents, which will simplify foregin keys referring to markers & improve lookup and joins.

[2022-09-22 16:34] atalyaalon commented on #1713
Json Structure:

[code]

Ask Product regarding the information field

[2022-09-22 16:36] atalyaalon opened #2250 "Add infographics FE to anyway docker compose"
Let's discuss and decide on next steps

[2022-09-22 17:54] MichalOren commented on #1713
Hi @tkalir
Information text :
מספר הנפגעים שנפצעו קשה או נהרגו בתאונות אופנים, אופנים חשמליים וקורקינט

[2022-09-27 10:18] atalyaalon commented on #2229
@tkalir awesome work.
Next work - do you think we should make sure no "data downtime" when loading? Meaning having cache tables for CBS data?
@ziv17 what do you think?

[2022-09-27 10:18] #2229 closed

[2022-09-27 10:46] atalyaalon commented on #1713
@MichalOren it's not exactly the same string since subtitle has the addition of "במקטע" or "ברחוב"
We can create standartization and make sure that we use location info and subtitles from meta section only, for example (perhaps standartization that will include organizing titles and subtitles)
**If so I suggest we'll perform it in a different issue and pr, and not in this pr.**
@ziv17 what do you

[2022-09-27 11:14] atalyaalon commented on #1713
@MichalOren in urban resolution - should we filter both street and yishuv or only yishuv?

[2022-09-27 19:22] BarVolunteering opened #2253 "Widget: front_to_side_accidents_by_severity Change to all-locations-widget"
Change front_to_side_accidents_by_severity widget to be to all-locations-widget

[2022-09-28 06:25] atalyaalon commented on #2253
Great! One more comment - @MichalOren created the API schema [here](https://github.com/hasadna/anyway/issues/1612)
@MichalOren @BarVolunteering I want to verify this schema is acceptable by FE (because it seems like there are strings in this schema and we're not usually send strings back)
In addition, we discussed in the past but I think we need to start implement (@MichalOren correct me if I'm wr

[2022-09-28 17:00] ziv17 opened #2255 "Supporting juntion resolutions - planning"
- We want to add support for junction resolutions, both sub-urban and urban.
- It requires to add support for the existing resolutions across the system
- This will enable the existing all-resolution widgets.
- Task of this issue is to describe and assess the work.

[2022-09-28 17:30] MichalOren commented on #1713
Hi @atalyaalon @tkalir
Good point, in urban resolution, probably there will not be enough data per street+yishuv. Lets go with only **Yishuv**.
Regarding Titles and Subtitles - i will rase this issue in our next meeting

[2022-09-30 13:50] tkalir commented on #1713
@MichalOren
Making sure - the title & subtitle in Hebrew are
"רוכבי אופנים וקורקינט שנפגעו קשה או נהרגו"
"ב(שם הישוב)" / "בכביש (מספר) במקטע (שם)"

and in English "Severely injured or killed in bike, e-bike, or scooter accidents"
"in (yishuv name)" \ "in road (number) in segment (name)"
?

[2022-10-01 10:26] ziv17 commented on #2229
I think we do. I.e. write to a temporary table, and then copy the temporary to the actual in a single transaction.

[2022-10-01 10:57] tkalir commented on #2229
@ziv17 @atalyaalon
Are you sure there is still data downtime right now?
I think using Delete instead of Truncate shoud have solved that

[2022-10-01 15:39] ziv17 commented on #2229
No, not sure.
What will happen when a query for the accidents table will arrive while it is being filled?

[2022-10-01 20:27] tkalir commented on #2229
The old data deletion and new data insertion all happen in a transaction together, so queries that run before the transaction is done are supposed to see the old data. The documentation for Truncate specifically says that other queries that run at the same time may see empty tables even before the transaction with Truncate is done, so I believe this is why we had this data downtime before.
I did s

[2022-10-02 04:24] ziv17 commented on #2229
I see. Do I believe it is what we need.

[2022-10-04 15:26] MichalOren opened #2257 "Add new location type: intersection"
**Location types:**
Currently we have two types of locations:
-Intercity segment
-A street within a settlement
We would like to add new location types:
-Intercity intersection
-Urban intersection

**Purpose**
A road network can be divided into 2 objects, a segment and a node. Adding intersection objects allows displaying information about accidents in an additional dimension

**Definitions: interc

[2022-10-09 06:07] MichalOren commented on #1713
Hi @tkalir
Road number is in rigth side of the widgets. no need to include
"רוכבי אופנים וקורקינט שנפגעו קשה או נהרגו"
"ב(שם הישוב)" / במקטע (שם)"

and in English "Severely injured or killed in bike, e-bike, or scooter accidents"
"in (yishuv name)" \ "in segment (name)"

[2022-10-13 19:52] carmelp16 opened #2259 "[Bug] News flash insertion fails from time to time (Airflow DAG)"
**To Reproduce**
I still don't know how it should be reproduced.

**Expected behavior**
News flash insertion (into our DB) should work.

**Screenshots**
![image](https://user-images.githubusercontent.com/46032304/195695939-e45843d9-ed36-46be-b88d-dbcdd8fbb18a.png)

**Environment**
Airflow (on K8s).

**Additional context**
- [Airflow log](https://airflow.anyway.co.il/log?dag_id=process-news-flash&t

[2022-10-14 09:52] carmelp16 commented on #2259
[PR](https://github.com/hasadna/anyway/pull/2261)

[2022-10-15 09:18] ziv17 commented on #2257
Hi @MichalOren , in the code we already use the terms `SUBURBAN` and `URBAN`. It will be easier to stay with it.

[2022-10-15 09:54] ziv17 commented on #2257
Hi @atalyaalon , Can we get list of all junctions from למ"ס? (codes, names, and roads/yishuv_symbols?

[2022-10-15 16:54] #2259 closed

[2022-10-17 10:06] ziv17 opened #2269 "Remove infographics per news_flash code."
We only use infographics per location now.

[2022-10-19 20:01] MichalOren commented on #2257
Hi @ziv17
Continuity and consistency is my intention. please use the terms SUBURBAN and URBAN.

[2022-10-27 18:49] MichalOren opened #2276 "[Bug] widget: killed_and_injured_count_per_age_group - unknown"
**Describe the bug**
Unknown group display in the middle of the graph and should be last one
![image](https://user-images.githubusercontent.com/61007501/198373441-3d5313ce-5ccc-4757-8d73-35d403b73e0a.png)

neew to chage order in JSON
![image](https://user-images.githubusercontent.com/61007501/198373727-0282f437-23cf-4789-a9ec-68fe8cde1fee.png)

**To Reproduce**
Run
https://anyway-infographics-stag

[2022-10-28 10:55] MichalOren opened #2277 "Localize Widget - open killed_and_injured_count_per_age_group to urban newsflash"
**Widget ID**
killed_and_injured_count_per_age_group display only for suburban roads.
enable it to urban newsflash

**Additional context**
cache צריך לשנות קצת את הפרמטרים של השאילתה, ולטפל ב מקומי

[2022-10-29 10:04] BarVolunteering commented on #1612
Changes will be done as part of PR:
https://github.com/hasadna/anyway/pull/2279

[2022-10-29 16:27] atalyaalon opened #2281 "Create Ground Truth for news flashes locations"
Create a document containing actual locations
@Mano3 is there a specific format you want us to create this document?

[2022-11-01 14:14] elazarg commented on #2276
IMO the displayed order should not depend on the order of the JSON.

[2022-11-02 17:29] #1612 closed

[2022-11-02 17:53] #2276 closed

[2022-11-07 17:58] MichalOren commented on #1612
Hi @BarVolunteering
In order to clarify, I am adding the summary of the discussion with Bar and Daniel:
First, the Backend always transfers basic values, when the infographic needs to display a value in percentages %, it will happen in the Frontend.
Secondly, regarding the structure of the JSON, when there is no data regarding fatal or serious accidents, the JSON will only contain existing informa