[2015-11-21 18:22] danielhers commented on #487
I'm not an expert but I've some experience. I can help on Slack.

On Sat, Nov 21, 2015, 20:09 pint12 <notifications@github.com> wrote:

[2015-11-22 13:02] eladkarakuli commented on #487
@pint12, agree. Are you working on caching the client side? If so, how?
@danielhers, yeah I have some time, I think I can pull off the Gzip compression in no time.

[2015-11-22 13:03] pint12 commented on #487
@eladkarakuli yes

[2015-11-23 02:35] eladkarakuli commented on #487
@danielhers, I've created a PR #490. Note: I've tried to bundle some js files (here)[https://github.com/hasadna/anyway/blob/dev/templates/index.html#L1020-L1025], into the app.min.js. These files aren't getting mini or bundle with the rest of the app, I was trying to get some more performance, without success..

[2015-11-23 05:23] danielhers commented on #487
I suppose the bottleneck is sending the data, not the code.

On Mon, Nov 23, 2015, 04:35 Elad Karakuli <notifications@github.com> wrote:

[2015-11-23 10:18] HamutalCohen3 commented on #428
I want to assign to the issue. are you still working on it @LironRS ?

[2015-11-23 19:01] omerxx commented on #428
@HamutalCohen3 enjoy.
@LironRS has a lot on her plate already.
Reassigning this to you

[2015-11-23 19:03] omerxx commented on #464
We have a filter deleting emails older than 7 days, which means only 168 mails from United Hatzala is saved.

[2015-11-23 19:03] #464 closed

[2015-11-23 19:44] omerxx opened #493 "Separate United markers by severity"
We have severity for our united-hatzala markers so I think we should use them.
Instead of having a generic blue colored markers we could separate them to colors based on severity and keep the current icon to imply this is a united report.

@LironRS, @OmerSchechter, @galraij, what do you think?

[2015-11-23 20:25] galraij commented on #493
Absolutely! this was the original plan. I think @LironRS is working on it already.

[2015-11-23 21:21] #437 closed

[2015-11-23 21:26] #428 closed

[2015-11-24 02:10] eladkarakuli commented on #487
Another point about static content, there are 18 images that are getting served separately, which are cached anyway (pond not intended), that means no transferring time, but it's requiring some connection and waiting time, for each image. So, maybe bundling the images will provide better performance while using the cache. Also, that I'm not sure with, but maybe using specific CDN for serving the s

[2015-11-24 05:56] danielhers commented on #487
We definitely want to switch to a CDN. There should be an issue about it.

On Tue, Nov 24, 2015, 04:10 Elad Karakuli <notifications@github.com> wrote:

[2015-11-28 13:36] omerxx commented on #443
I looked around a little, it's not straight forward as I thought it is.
Something with google api and the map reload just don't work.
I can work on this but I'll be away for the close week, if you guys want to deal with it you are more than welcome... @LironRS @OmerSchechter @aviklai @danielhers @HamutalCohen3

[2015-11-29 08:34] danielhers commented on #444
@ronish31 are you working on this or should someone else do it?

[2015-11-29 08:37] danielhers opened #497 "Non functional login button should not appear"
Clicking on the button doesn't do anything, so it shouldn't be there.
![uploads/6dc4bbf1-2d0b-4d0e-a87c-86cc0738d624/Screenshot.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F6dc4bbf1-2d0b-4d0e-a87c-86cc0738d624%2FScreenshot.png)

[2015-12-02 15:48] HamutalCohen3 commented on #481
@LironRS  are you still working on it?

[2015-12-02 16:24] #444 closed

[2015-12-02 17:44] HamutalCohen3 commented on #422
@LironRS  what should it look like?

[2015-12-03 10:26] danielhers commented on #393
@ronish31 @OmerSchechter @LironRS How is it going with the tour? We should get that fixed before merging to `master`.

[2015-12-05 08:39] omerxx opened #502 "**Feature** - adding icon legend"
We often change icons and cannot assume the user has to understand or guess them all.
I think an icon legend is required.
Whether as a popping button or fully stretched in one of the UI bars.

@LironRS @OmerSchechter @galraij @danielhers

[2015-12-05 08:41] omerxx commented on #488
@danielhers @aviklai @OmerSchechter @HamutalCohen3 @LironRS :
Did any of you encounter this?
If you did not we can close this one

[2015-12-05 09:26] danielhers commented on #488
I did, once. Not recently though. Let's give it a few days to see if anyone
encounters it.

On Sat, Dec 5, 2015 at 10:41 AM Omer Hamerman <notifications@github.com>
wrote:

[2015-12-05 09:26] #497 closed

[2015-12-08 16:53] #488 closed

[2015-12-08 17:01] omerxx commented on #488
@danielhers I think I've noticed it yesterday when @galraij presented the unstable version.
I think it occurs when we change some of the filters while using cluster mode. Not sure though...
We can leave this closed until anyone encounters it again

[2015-12-09 10:04] danielhers commented on #434
I just noticed - this added a filter for case type 1/3, but United accidents have case type 2. This should be an option (that's the whole idea of #434). Preferably a more friendly name than "1"/"2"/"3" should be shown.

[2015-12-09 10:12] omerxx commented on #434
@LironRS Please take care of the UI and I'll hook it up

[2015-12-14 07:25] danielhers opened #504 "Mention United Hatzala in About"
The About screen currently mentions only the CBS. But we also get data from United. This should be mentioned.

![uploads/d84abbe7-271b-4ed1-a3a7-06a60cfbe86d/Capture.PNG](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fd84abbe7-271b-4ed1-a3a7-06a60cfbe86d%2FCapture.PNG)

[2015-12-14 08:02] danielhers opened #505 "Insightful visualizations and data analysis"
Our current website shows only individual markers or clusters, although you can view charts with this button:
![uploads/cb88a66e-4a17-4ea1-b153-1eb7c4ceb690/Capture.PNG](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fcb88a66e-4a17-4ea1-b153-1eb7c4ceb690%2FCapture.PNG)

This idea can be taken further, to provide insightful visualizations for our data and link them to our current app.

[2015-12-14 09:10] omerxx opened #506 "**feature** Add a CLI argument option to expose flask to local network IPs"
Adding such an argument would allow developers to expose their running app to local nodes, for collaboration and shared work.
This also allows working on local code while the actual app is running in a container / virtualenv / remote machine.

[2015-12-14 09:22] omerxx commented on #443
The grey area disappears when the window size is changing or the chrome dev tools is opened

[2015-12-14 10:22] danielhers opened #509 "Discussions are not displayed on the map"
Creating a discussion does not result in a marker showing on the map (as it should), and existing discussions are not displayed either.
This could either be a DB problem or a front-end problem. Further investigation is required.

[2015-12-14 19:46] danielhers commented on #509
Looks like a client-side problem. The discussion markers are being created and sent and added to the Backbone model, and their `markerView` are created. But they are just not shown on the map.

[2015-12-14 19:57] omerxx commented on #509
Maybe the fact that the icons presentation method was changed left the discussions icon out?
They don't have a CSS solution. I assume if they would, they would be presented

[2015-12-14 19:59] danielhers commented on #509
But they do have a part in the CSS: https://github.com/hasadna/anyway/blob/dev/static/css/markers.css#L1

Maybe it's incorrect?

[2015-12-14 20:01] omerxx commented on #509
Right.. Don't know.
@LironRS / @HamutalCohen3 ?

[2015-12-14 20:08] danielhers commented on #509
Found the problem. There was a `setMap` missing.

[2015-12-14 20:10] #509 closed

[2015-12-14 20:38] #443 closed

[2015-12-18 09:43] #506 closed

[2015-12-18 10:10] #504 closed

[2015-12-20 16:57] HamutalCohen3 opened #515 "putting the number of marker group members on aggregated icons"
Wouldn't it be nice to have the number of markers written on the aggregated icons?
@danielhers @galraij @LironRS

[2015-12-20 17:40] danielhers commented on #515
I think so too.

On Sun, Dec 20, 2015 at 6:57 PM Hamutal Cohen <notifications@github.com>
wrote:

[2015-12-20 19:45] HamutalCohen3 opened #516 "Improve app.setMultipleMarkersIcon() execution time"
Right now app.setMultipleMarkersIcon() (which is executed every time the map is moved) goes through all of the markers loaded till that point and groups them again from scratch. Maybe it is better to let it go only through the markers in the current map boundaries?

[2015-12-21 14:23] #108 closed

[2015-12-21 14:27] danielhers commented on #417
@aviklai are you still working on charts?
@benzione has plans for more informative charts as well as a BI dashboard.

[2015-12-21 14:28] danielhers commented on #505
Somewhat related to #417

[2015-12-21 17:44] aviklai commented on #417
Currently finished, unless you have more ideas of charts you think we should add do ANYWAY.
Or do you want to switch the whole chart development to vizway?

[2015-12-21 17:46] danielhers commented on #417
No, the opposite - I want vizway to merge into ANYWAY :)

On Mon, Dec 21, 2015 at 7:44 PM Avi Klaiman <notifications@github.com>
wrote:

[2015-12-21 17:50] aviklai commented on #417
What help do you need there? I still didn't get a chance to view it but I didn't see any open issues.

[2015-12-21 17:54] danielhers commented on #417
There is #505... It's not very specific but the idea is to make that a
module in ANYWAY, perhaps similar to the charts.

On Mon, Dec 21, 2015 at 7:50 PM Avi Klaiman <notifications@github.com>
wrote:

[2015-12-21 19:09] aviklai opened #517 "Create a user login system"
Create a user login system through:
1. Facebook
2. user name and password

Facebook is the first priority.
Create the login system with user groups.

[2015-12-21 19:11] aviklai opened #518 "Saving user profile"
Add saving filters, locations, map color etc for logged in user.
Depends on #517

[2015-12-21 19:17] pint12 commented on #517
@aviklai since anyway provides the data for free what is the idea beyond this feature ?
user can register to anyway newsletter but no need for login for that !

[2015-12-21 19:23] aviklai opened #519 "Allow users to add data about accidents"
Users should be allowed to add data about accidents.
For example, alot of accidents don't have weather data so a user needs to be able to add this data and it needs to be stored on a different database.

[2015-12-21 19:25] aviklai commented on #517
Today, we had a meeting with @galraij about this.
The idea is that eventually a user will be able to store search preferences, get accidents updates about areas that interest him/her etc.

[2015-12-21 19:43] omerxx commented on #519
How would this effect data integrity?
I think it would be best if this is a separate section where it's clear that it mentions user additional data and not the origin's.

[2015-12-21 20:27] Rondalal commented on #502
I am starting to work on it.
@danielhers , Can you please sign me to the feature?

[2015-12-21 20:58] omerxx commented on #502
Hi Ron, welcome to the team. I'm adding as a contributor and assigning you the issue

[2015-12-22 21:26] aviklai commented on #519
I think so too. We need to discuss about it.

[2015-12-23 19:01] aviklai opened #520 "Saving user profile - frontend"
Saving User preferences - save user choice if they want to get notifications of accidents or not, based on their severity level.

We need to create a form that the user will fill in order to save the preferences.
We also need to decide where to put the registration for preferences button

UX task.

Depends on #518

[2015-12-23 19:17] aviklai opened #521 "Create a report based on new accidents entered to the database"
Create a report triggerd on new accidents entered to the database, based on lowest severity requested by users.

For example, if users requested to get notified only about severe accidents, then if a light accident was entered to the database, no report will be created.
The report needs to be based on the postgis optimization - issue #257

based on #518 and #520.

[2015-12-23 19:20] aviklai opened #522 "Create a report based on new accidents entered to the database - frontend"
Create a report triggerd on new accidents entered to the database, based on lowest severity requested by users.

The report needs to be visually atractive.

based on #521

[2015-12-23 19:30] aviklai opened #523 "Send email notification with the accidents report"
based on #522

[2015-12-23 19:32] aviklai opened #524 "Adding more user preferences"
Add saving filters, locations, map color etc for logged in user.

based on #517 and #518

[2015-12-24 16:20] simonaho commented on #522
The report data is created by the server side and includes the history of the accidents in the nearby area.

[2015-12-26 08:42] omerxx opened #525 "Adding fabric as a an assisting dev tool"
Fabric is a python library that allows managing shell tasks in a pythonic simple way.
We can use it for all our dev tasks in one tool.
Examples for usability:
Running the application: `fab anyway`
Rebuilding accidents DB would require: `fab rebuildDB`
Updating requirements: `fab update`
And so forth..
This could save debugging time for envs failing to run the app simply for foregetting to `export`

[2015-12-27 12:47] danielhers opened #526 "No markers on map in Android app"
I know it's a problem in the Android app and not in the web app, but it's serious enough.
Since the change in the API, probably, the API calls from the Android app are missing required parameters. This causes no markers to be returned to the Android app. The solution is either to fix the app or to allow omitting parameters in the API (`/markers` route), giving them default values.

[2015-12-27 12:49] danielhers commented on #526
Example for bad request:

    http://www.anyway.co.il/markers?ne_lat=31.781489419260584&ne_lng=35.201902873814106&sw_lat=31.771292204835383&sw_lng=35.19366279244423&zoom=16&thin_markers=false&start_date=1388527200&end_date=1420063200&show_fatal=1&show_severe=1&show_light=1&show_inaccurate=1&format=json&show_markers=1&show_discussions=1

[2015-12-27 12:55] omerxx commented on #526
If I understand correctly it the change in `ARG_TYPES` which we have to deal with.
I can set non-mandatory values..
@avielg had the same issue and managed to overcome it. how?

[2015-12-27 13:06] danielhers commented on #526
Right, [here](https://github.com/hasadna/anyway/blob/dev/main.py#L131) the arguments are taken from `request.values` with bracket notation, which raises an exception if the argument is not present. Using `get` instead will result in `None` being returned in that case instead, or possibly a default values (the second argument to `get`). The `ARG_TYPES` dictionary could be mapping argument names to

[2015-12-27 14:27] omerxx commented on #526
I guess that would be the best option if the app is not updated.
Is there anyone currently working on it?

[2015-12-27 15:21] danielhers commented on #526
Currently no one is working on the Android app. We might get some
volunteers to work on it soon though. Still, it would be a good idea to add
default values.

On Sun, Dec 27, 2015 at 4:27 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-12-27 15:52] avielg commented on #526
@omerxx In iOS I added the missing parameters, for now hardcoded, and there an open issue in the iOS repo to add UI in the filter for these new parameters...

[2015-12-27 16:35] omerxx commented on #526
I'll fix it tomorrow, no problem

[2015-12-27 17:08] simonaho commented on #525
Looks cool! Are there any penalties? performance maybe?

[2015-12-27 17:26] omerxx commented on #525
Nope. It's a simple tool for managing ssh and shell tasks.
It's not a must, and people don't have to use it.

[2015-12-27 17:30] simonaho commented on #525
Looks great.

[2015-12-28 18:01] omerxx commented on #526
@danielhers looking at the code now, I see that changing `kwargs` comes with a big overhead forcing us to fix all `kwargs` calls in `models.py`
Trying to think of a better fix.
If this is temporary I can `try` and `catch` when the api call fails and send another `kwargs` with the defaults built in.. Is that okay?

I think it's the right way to go because the reason we're doing this change is a tem

[2015-12-28 19:32] simonaho commented on #37
@galraij Is this still interesting? Or do we prefer something like: "Accidents from the last x month with severity higher than y?"

[2015-12-28 19:34] simonaho opened #527 "Blue Markers of "Ihud Hazala" should have a color according to their severity"
Blue Markers of "Ihud Hazala" should have a color according to their severity.

[2015-12-28 19:45] simonaho commented on #51
@kerennem are you still working on this?

[2015-12-28 20:06] galraij commented on #37
Yes it is!

And no, we want X number of last accidents of the time mentioned in the filters.

[2015-12-29 08:19] danielhers commented on #526
I think it's actually good to have default values. When we add more
parameters, we shouldn't have to wait for all the clients to update too; we
should be backward compatible. Querying the server for markers should be
possible even with a short URL, without all the parameters specified, and
not just as a temporary workaround.
To me it seems there are only two places in `main.py` that use `ARG_TYPES

[2015-12-29 17:04] simonaho opened #529 "Add a number and a color to the icon of multiple accidents"
Add a number according to the number of accidents,  and a color according to the most sever accident to the icon of multiple accidents.

[2015-12-29 17:10] simonaho opened #530 "Add a color to the currently red circle on the low resolution map"
Add a color according to the highest severity accident to the currently red circle on the low resolution map.
![image](https://cloud.githubusercontent.com/assets/16196934/12038313/b3b7208e-ae5f-11e5-8ee7-6e7a0898ba13.png)

[2015-12-29 19:04] kerennem commented on #51
Yes

[2015-12-29 21:58] omerxx commented on #530
I think having the clusters colored is a bit pointless since from a certain level all clusters would statistically contain lethal accidents.
Beyond that, we would have a messy workspace with many colors, as we used to have back when clusters were part of our FE, contradicting our aim for a clean simple UI..
After removing cluster colors and consulting with @galraij we've decided to have distinct l

[2015-12-29 22:03] omerxx commented on #526
Agreed. I'll get the defaults in as part of ARG_TYPES

[2015-12-30 20:26] danielhers commented on #201
So it looks like `rjsmin` doesn't support sourcemaps. But `uglifyjs` does, and it can also be used with webassets: http://webassets.readthedocs.org/en/latest/builtin_filters.html#webassets.filter.uglifyjs.UglifyJS
Just need to specify in `UGLIFYJS_EXTRA_ARGS` that we want a source map.

[2015-12-31 18:13] simonaho commented on #530
Thank you for your comment. I agree with you that UI should be clean, and that at high resolution all circles will be red.
Still an important criteria is  that the view will be informative and will improve the data access.
For example if you look at obudget.org.il you can see that they have colorful circles, where blue represents budget shrinking, and red represents budget enlargement.
IMO the sam

[2015-12-31 18:51] omerxx commented on #530
@simonaho, obudget are using a "clean canvas" background while we present our data on a map.
As I recall a UX professional had advised that we use as few layers and colors as possible since our canvas is a live map (As we zoom out more map details have to be valued, together with clustering).
I completely agree that we should be informative, but IMHO this particular point is where over-descriptive

[2015-12-31 20:32] simonaho commented on #530
I thought about this a little bit more. I'm not a UX expert and I don't attempt to suggest a UX solution.
However, as I see it, a good UX is consistent an accurate. The current solution where in the high resolution the red color represents severe accident, while in the lower resolution the red color does not neceserally mean that there was a severe accident, is not a consistent solution.
Currently

[2016-01-01 23:02] omerxx commented on #517
I'm running some tests with FB api locally.
I've managed to use a simple login from FB and use my FB account to login to anyway successfully.
Next step is having FB user comment integrated into the markers
Notice the login/logout button at the bottom, and the console log which indicates a connection to facebook.
![image](https://cloud.githubusercontent.com/assets/12237955/12072547/1b092500-b0ec-11

[2016-01-02 08:12] danielhers commented on #517
Looking good. @aviklai

On Sat, Jan 2, 2016, 01:02 Omer Hamerman <notifications@github.com> wrote:

[2016-01-02 14:26] simonaho opened #532 "Server error when querying clusters"
Summary icons dissapeared fron the accumulative view.
![image](https://cloud.githubusercontent.com/assets/16196934/12074749/56f38020-b16d-11e5-8ab0-c3d2256a1fa7.png)

[2016-01-04 07:49] danielhers commented on #532
Caused by #531 (fixing #526) @omerxx. `ARG_TYPES` was changed to a dictionary of tuples (pairs), but the clusters function still treats it as if it was in the old format:

    File "/app/main.py", line 218, in clusters
        kwargs = {arg: arg_type(request.values[arg]) for (arg, arg_type) in ARG_TYPES.iteritems()}

[2016-01-04 07:54] #532 closed

[2016-01-04 16:59] omerxx commented on #526
@danielhers Thanks for the fix.
Can this be closed?

[2016-01-04 17:24] danielhers commented on #526
Yes

[2016-01-04 17:24] #526 closed

[2016-01-06 19:18] michalten commented on #521
Waiting for #518

[2016-01-06 19:18] michalten commented on #520
Waiting for #518

[2016-01-06 19:20] michalten commented on #522
Waiting for #518

[2016-01-06 19:22] michalten commented on #523
Waiting for #518

[2016-01-06 19:29] michalten commented on #524
Saving filters can be done using the URLs (Favorites). See #423

[2016-01-06 19:58] adamhaber opened #533 "main.py crashes when running with complete accidents file first time"
when installing the app for the first time I downloaded the complete accidents file and main.py crashed because it couldn't find Dictionary.csv:

![uploads/0dd51e2d-694c-4486-b7ca-19548f3933dc/צילום מסך 2016‏.01‏.06 ב‏.21.56.56.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F0dd51e2d-694c-4486-b7ca-19548f3933dc%2F%D7%A6%D7%99%D7%9C%D7%95%D7%9D+%D7%9E%D7%A1%D7%9A+2016%E2%80%8F.01

[2016-01-06 20:58] danielhers opened #534 "Add historic weather data"
http://www.worldweatheronline.com/api/docs/local-city-town-weather-api.aspx

[2016-01-07 08:23] danielhers opened #535 "Reduce latency of loading marker info window"
Loading the marker info window takes several seconds, because it is waiting for the server to respond with the "involved" and "vehicles" data, even though some of the information is already in the client's hands - all the basic accident information.
The info window should load *instantly*, and the downloaded information should be appended when the ajax call finishes.

[2016-01-07 08:29] danielhers opened #536 "Link to download complete data file"
Now that the [CBS data is open to everyone](http://www.cbs.gov.il/www/usage.pdf), the site should have a clearly visible link for downloading the complete data file with not need for permission.
@galraij

[2016-01-07 08:36] danielhers opened #537 "Investigate accuracy of United markers"
According to @simonaho some of the United markers are in locations that don't quite make sense, suggesting their coordinates are not quite accurate.

[2016-01-09 02:16] galraij commented on #536
Yep, I’m working on it…

[2016-01-11 12:14] simonaho opened #539 "Create an On demand report of historical accidents on a road or a junction"
Create an On demand report of historical accidents on a road or a junction.
Add an Icon to allow report creation of historical accidents sorted by severity.
Let the user select a location or a section.

[2016-01-11 19:33] galraij commented on #368
@simonaho

[2016-01-12 09:53] simonaho opened #540 "Summary icons do not disapear when regular icons apear"
Summary icons do not disapear when regular icons apear
![image](https://cloud.githubusercontent.com/assets/16196934/12260186/0027213a-b923-11e5-9a24-531ec58309b6.png)

[2016-01-12 09:55] danielhers commented on #540
I saw this before and couldn't reproduce it. Do you remember how to get it to happen?

[2016-01-12 10:05] simonaho commented on #540
Just zoomed out, then zoomed in, now I see both.
If you still can't reproduce it, I can show it to you over skype.
Simona

2016-01-12 11:55 GMT+02:00 Daniel Hershcovich <notifications@github.com>:

[2016-01-12 14:00] #533 closed

[2016-01-12 18:18] simonaho commented on #530
duplicate of #368

[2016-01-12 18:18] #530 closed

[2016-01-12 18:22] simonaho commented on #537
I showeג a few samples (such as accidents in gardens) to @galraij yesterday and will talk to United.
![image](https://cloud.githubusercontent.com/assets/16196934/12272623/21ea42d8-b96a-11e5-9f2c-54d62891f08d.png)

[2016-01-18 19:28] omerxx commented on #539
Is this a report for download as in a .csv file or an visual report to be presented in the app?
If it should be visualised online, I need someone to design the FE and I can do the BE

[2016-01-18 19:35] simonaho commented on #539
The best is to create a pdf so we can send to media. Is it feasible?
Currently our Ux volunteers are busy, so I'm looking for a new Ux volunteer through Mary.
Meanwhile I can prepare a scatch in word if it is of any help.

[2016-01-18 19:42] simonaho commented on #539
So, thanks @omerxx you are welcome to work on the backend, and I'll try to find a volunteer for the forntend.

[2016-01-18 21:25] LIRONBEN3 opened #542 "not enough contrast between "קשה" to "קלה" colors."

[2016-01-18 21:27] LIRONBEN3 opened #543 "Export to CSV fie -> some colomns are displayed in jibrish"

[2016-01-18 21:50] omerxx commented on #539
@simonaho Creating a pdf sound reasonable. But your mockup shows another intention - to make it part of our page status text. Which of them would you like to implement here?

[2016-01-18 22:08] simonaho commented on #539
@omerxx PDF will be great, so we can send it to media. Supporting it on UI can be done at second stage.

[2016-01-20 21:13] danielhers opened #544 "Like button disappears when clicked on"
There are 'like' and 'share' buttons at the bottom left corner of the screen, but when clicking on 'like', they both disappear, probably because a new div open that is exceeding the container size.

[2016-01-22 05:56] bonnanza commented on #527
Hi All, (nice to join.. :))

Do we want to show the 'ihud Hazala' unique icon and just give it the right color?
like this:
![image](https://cloud.githubusercontent.com/assets/3808739/12503359/4bc2307e-c0dc-11e5-961e-61bf9f1162ee.png)

the other option is to show the same icon for all accident markers
if the answer is yes, i think i found it..

[2016-01-22 06:03] simonaho commented on #527
Please leave the icon as is since there is a difference in the accuracy of the report. Thanks.

[2016-01-25 21:13] guytepper opened #545 "App isn't showing up when Facebook Connect tracker is blocked"
Using [Ghostery](https://www.ghostery.com/).

![App not shown when facebook tracker is blocked](https://cloud.githubusercontent.com/assets/13344923/12564604/cf3a2c7a-c3b8-11e5-8c5e-04bff6353cc5.jpg)

[2016-01-27 19:27] danielhers commented on #201
Can't get this to work :(
Maybe someone more experienced can take this from here: https://github.com/danielhers/anyway/tree/uglifyjs
@daonb?

[2016-01-29 08:15] #493 closed

[2016-01-29 09:25] bonnanza commented on #527
duplicate of #493
fixed.

[2016-01-29 09:26] #527 closed

[2016-01-30 23:07] galraij commented on #527
I think regardless of accuracy issues that we will solve we should color the icons by severity. The severity is important and it’s data that we have so why won’t we use it?

[2016-01-31 07:45] danielhers commented on #527
@galraij, it's closed since it's solved :)
See on http://anyway-unstable.herokuapp.com/

On Sun, Jan 31, 2016 at 1:07 AM Gal Raij <notifications@github.com> wrote:

[2016-01-31 09:02] simonaho commented on #527
@danielhers when do you plan to move from unstable to stable?

[2016-01-31 09:07] danielhers commented on #527
Probably tomorrow, if everything works right

On Sun, Jan 31, 2016 at 11:02 AM Simona Holstein <notifications@github.com>
wrote:

[2016-02-01 20:06] simonaho opened #548 "Add https support"
Add https support

[2016-02-01 20:16] simonaho commented on #368
This is the new suggesstion by Nadja the Ux designer that analysed this.
Color will be defined by highest severity.
![image](https://cloud.githubusercontent.com/assets/16196934/12729835/55390cf6-c931-11e5-88fd-26e6c604da73.png)

[2016-02-03 19:31] danielhers commented on #201
@daonb I wonder if you could assist?
`closure_js` supports source maps but you moved us to `rjsmin` which doesn't require Java.
We tried to switch to `uglifyjs` but it doesn't work, and `closure_js` doesn't seem to work either...

[2016-02-03 19:35] michalten commented on #535
@michalten

[2016-02-04 09:56] daonb commented on #201
I was hoping I'll find the time to look at it, but am just too busy. Another issue is that I hate JS tools...

If I understand the issue correctly, it's about viewing the source code in the browser's debugger. From my experience, you don't debug minified js, but use a non-minified version of the code.

[2016-02-04 10:06] danielhers commented on #201
But how do you switch from the minified JS to the non-minified version? Do
you usually just edit the template and remove the minification whenever you
want to debug?

On Thu, Feb 4, 2016 at 11:56 AM benny daon <notifications@github.com> wrote:

[2016-02-04 11:26] daonb commented on #201
I usually have different build steps for dev and live - i.e. when on dev,
skipping the minification process

On 4 February 2016 at 12:06, Daniel Hershcovich <notifications@github.com>
wrote:

--

http://tuzig.com - Building Fires in The Cloud

[2016-02-08 16:47] danielhers opened #550 "Facebook login fails on production"

[2016-02-08 16:48] danielhers commented on #550
On oway.org.il, trying to log in with Facebook results in `Invalid redirect_uri: Given URL is not allowed by the Application configuration`

[2016-02-08 16:49] danielhers opened #551 "Translate login modal"
The title is "Login" in English but is right-aligned. Should be translated with our translation framework.
Same goes for the buttons themselves.

[2016-02-08 16:50] danielhers opened #552 "Improve appearance of login modal"
Consult a UX person to design it properly.

[2016-02-08 16:53] danielhers opened #553 "Google Play icon is missing"
The link to the Android app should have an icon, but it fails to load:

![uploads/eaeda4e1-6269-42c1-ab9b-95a971207334/Selection_004.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Feaeda4e1-6269-42c1-ab9b-95a971207334%2FSelection_004.png)

[2016-02-08 16:55] danielhers commented on #434
@omerxx @LironRS still on this?
The "סוג תיק" filter should be expanded to allow filtering United markers.
The naming should also be more transparent, for it to be clearer that this is filtering for the data source.

[2016-02-08 16:57] danielhers opened #554 "Link to filtering by data source from the info window"
When viewing a single marker, there is an indication for the data source it came from (CBS/United). For ease of use, there should be a link to immediately filter the view to only show markers from the same source.
Related to #434.

[2016-02-08 16:59] danielhers commented on #553
Same is true for the About modal.

[2016-02-08 17:01] danielhers opened #555 "Add "reset filter" button"
After playing with the filters, the user may end up having no accidents shown for no obvious reason.
There should be a button to clear all the filters and go back to the default view.

[2016-02-08 17:04] danielhers opened #556 "Translate interface to English"
Based on #94.
Add a button to switch to English interface.
All messages should go through the translation function and be localized to English, including the sidebar menu and info window.

[2016-02-08 17:07] danielhers opened #557 "Info window for United markers should load instantly"
Private case of #535.
United markers are not associated with Involved and Vehicles data, so the info window should be loaded instantly from the data that is already on the client, without waiting for an ajax call (that always returns empty).

[2016-02-08 18:23] simonaho opened #558 "Add user preferences to include notification on accidents near a location"
Add user preferences to include notification on accidents near a location.
This will include preferred location, required distance from location, accident severity, and optional history report.
Tables general preferences:
foreign key, primary key  - userid, minimumDisplayedSeverity, resourcetype(string)
Report preferences
foreign key, primary key  - userid, line #, recieve historical reprot (y/n),

[2016-02-08 18:32] simonaho commented on #550
@aviklai did you see this?

[2016-02-08 19:35] omerxx commented on #434
I just need a button.
I'll do the rest

עומר

ב-8 בפבר 2016, בשעה 21:27, Daniel Hershcovich <notifications@github.com> כתב/ה:

[2016-02-09 18:43] aviklai commented on #550
@danielhers @simonaho Can you try now? I added http://www.oway.org.il to the Valid OAuth redirect URIs in Facebook Developer console and it seems to work fine now.

[2016-02-09 19:47] danielhers commented on #550
Working, thanks.

[2016-02-09 19:47] #550 closed

[2016-02-15 19:24] simonaho commented on #517
![login-anyway](https://cloud.githubusercontent.com/assets/16196934/13057270/9e23fb18-d423-11e5-9cf3-09b5bfe0fa22.jpg)
![signin-anyway](https://cloud.githubusercontent.com/assets/16196934/13057271/a07b1040-d423-11e5-9386-1fe4f1c5a01e.jpg)

[2016-02-22 13:16] danielhers commented on #517
@simonaho This design looks great. Who is working on implementing it?
@aviklai So I understand we now have login with Google and Facebook but not yet with username/password.Correct?
A couple of students expressed interest in implementing the preference saving feature.

[2016-02-22 13:53] simonaho commented on #517
@aviklai said he will add the UI
We would like to wait with the local user, till we migrate to a server that supports https for security reasons.
@bonnanza implements the preferences together with @aviklai

Maybe we should orgnize a brainstorm together with @galraij to define more backend tasks.
On frontend on the otherhand there are many tasks waiting for volunteers.

[2016-02-22 14:04] danielhers commented on #517
Thanks. So @efratpaty and @lotem85 should coordinate with @bonnanza and @aviklai which preferences to work on.

[2016-02-22 18:41] siv123456 opened #559 "add project documention with Sphinx ( for the python part )"
Hi,

do we generate documentation (html pages) for the project with a tool like Sphinx ?
do we want to ? :)
@danielhers

[2016-02-22 18:59] danielhers commented on #559
I've never used this tool, but if it's like javadoc then it would be nice
to have.
We don't have so much Python code, but still.

On Mon, Feb 22, 2016 at 8:41 PM siv123456 <notifications@github.com> wrote:

[2016-02-22 19:10] siv123456 commented on #559
ok ,i'll try creating something and let you know when its up.

On 22/02/16 20:59, Daniel Hershcovich wrote:

[2016-02-22 19:29] siv123456 commented on #553
Hi Daniel,

I'm just learning so let me just make sure i did the right thing:
1. added a png file to static/img directory.
changed the src in html to this file ( "static/img/android-google-play.png" )
when loading the local site ,things look ok.
should i check anything else ?
if its ok, i just commit the new png file + the index.html with my fixes ? ( of course making sure that mine are the only c

[2016-02-22 19:37] siv123456 commented on #553
this is how it looks like :
![issue 553](https://cloud.githubusercontent.com/assets/10827288/13230019/66a2fda4-d9ac-11e5-80e5-b34c50e9fd5c.jpg)

[2016-02-22 19:49] danielhers commented on #553
This would work great, but perhaps a better idea is to still use Google's icon hosted on their servers, just fixing the URL to the correct one. The icon `en_generic_rgb_wo_60.png` is no longer available, but this one is: https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png (an up-to-date badge can be generated [here](https://play.google.com/intl/en_us/badges/))

[2016-02-24 08:38] #553 closed

[2016-03-21 19:49] LIRONBEN3 opened #563 "יש לספק למשתמש הסברים בדבר השדות השונים בחלון הקופץ"
שלום,
בחלון המידע שקופץ למשתמ ומציג את פרטי התאונה יש לתת למשתמש פרטים והסבר
על השדות "סוג תיק"

[2016-03-21 19:55] LIRONBEN3 opened #564 "אין חיווי או הודעה על מיקום לא קיים בסרגל החיפוש"
כאשר מזינים בשדה החיפוש מיקום לא קיים למשל "אורן הקטן" ולוחצים על ENTER
אני מצפה שהשד חפש מיקום יצבע בצבע אדום במקום כחול

[2016-03-21 19:58] LIRONBEN3 opened #565 "כאשר אני מחפש את המיקום "נתיבי איילון" בשדה החיפוש"
כאשר אני מחפש את המיקום "נתיבי איילון" בשדה החיפוש
אני מקבל בהשלמות האוטומטיות "נתיבי איילון ראשלון לציון" ולא תל אביב
על סמך מה עובד המנוע חיפוש?

[2016-03-21 20:02] LIRONBEN3 opened #566 "היפוך כתובת שם רחוב ומספר"
בחלון פרטי התאונה מוצגת הכתובת בצורה לא תקינה -היפוך מספר ורחוב למשל
מיקום: 158 דרך שלמה תל אביב יפו
במקום "מיקום: דרך שלמה  158 תל אביב יפו"

[2016-03-21 20:04] LIRONBEN3 opened #567 "חסרה המילה "ארעה" בשדה "אירוע" בחלון פרטי התאונה"
בחלון פרטי התאונה מוצג בשדה "תאור אירוע"
תיאור אירוע: ביום שלישי, ה-29 בדצמבר 2015 תאונה קלה מסוג איחוד הצלה
חסרה המילה "אירעה" לפני המילה תאונה על מנת שהמשפט יהיה תקין תחבירית

[2016-03-21 20:05] LIRONBEN3 opened #568 "בעיית נגישות:"

[2016-03-21 20:20] LIRONBEN3 opened #569 "כפילות בקווי האוטובוס בתחנה"
כאשר לוחצים במפה על אייקון של תחנת אוטובוס
מוצגת רשימת קווי האוטובוס עם אותו קו מספר פעמים.
קרה לי על תחנת
דרך השלום/תוצרת הארץ

[2016-04-04 12:58] simonaho commented on #569
Seems to me like a google map bug, not a ANYWAY bug

[2016-04-04 12:58] #569 closed

[2016-04-04 13:00] simonaho commented on #565
Again google map issue

[2016-04-04 13:00] #565 closed

[2016-04-04 13:00] simonaho commented on #564
Google Map issue

[2016-04-04 13:00] #564 closed

[2016-04-04 16:18] siv123456 commented on #568
which of these look better ?
![blue bold](https://cloud.githubusercontent.com/assets/10827288/14254772/e260dfa2-fa99-11e5-9a90-c170065cfc75.png)
![gray bold](https://cloud.githubusercontent.com/assets/10827288/14254773/e26287b2-fa99-11e5-9b02-5ced76f82eeb.png)

[2016-04-04 16:32] siv123456 commented on #568
or maybe just darker and no bold:
![darker no bold](https://cloud.githubusercontent.com/assets/10827288/14255287/f42ad16e-fa9b-11e5-8512-f28731f4e537.png)

[2016-04-04 16:39] simonaho commented on #568
I'll consult with Lihi our UX expert

[2016-04-04 16:46] omerxx opened #570 "Docker Windows inplementation"
Docker is currently applicable with Linux and OSX.
Need to find a matching solution for Windows CLI paths

[2016-04-04 16:50] danielhers commented on #568
I like the last one.

On Mon, Apr 4, 2016 at 7:39 PM Simona Holstein <notifications@github.com>
wrote:

[2016-04-04 18:05] simonaho opened #571 "Add support for user reports on accidents with pictures and videos"
Allow end users to report accidents with pictures and videos as they happen.

[2016-04-04 20:36] siv123456 commented on #552
so this is what Lihi designed:

![login modal design from lihi](https://cloud.githubusercontent.com/assets/10827288/14262190/d965b968-fabc-11e5-9bb8-58ac99347a85.png)

this is where my implementation stands:

![login modal current status](https://cloud.githubusercontent.com/assets/10827288/14262255/4578307c-fabd-11e5-8c1c-2408d94e84f9.png)

i need some help/tips :
1.  how do i change the google bu

[2016-04-05 04:01] danielhers commented on #552
First of all, I think these are already better and I would be happy to
merge them if you create a pull request
Second, Google provide their own button and encourage you to use it:
https://developers.google.com/identity/branding-guidelines#g+signin-social-scopes
So does Facebook:
https://developers.facebook.com/docs/facebook-login/best-practices
Third, I don't think the maximize button is really ne

[2016-04-08 15:30] aviklai commented on #558
![report_history2-anyway](https://cloud.githubusercontent.com/assets/8260668/14388706/fac7cce2-fdb7-11e5-9fc2-05a31b6ee9c9.png)

[2016-04-08 15:32] aviklai commented on #558
I uploaded Lihi's UI proposition.

[2016-04-11 14:50] siv123456 commented on #552
no problem , i'll create a pull request ,hopefully today.
will try updating the buttons first.
and i'm with you on the maximize button :)

[2016-04-11 15:51] siv123456 commented on #552
did we have google signin or facebook signin button working ?
because their not working in my local site.
if i'm going to change google button to G+ , am I to go through the entire process of creating an app ID and everything described on google guidelines page ?

[2016-04-11 17:19] simonaho opened #573 "The time filter (2015-2016) is grey even though it is active"
![image](https://cloud.githubusercontent.com/assets/16196934/14435772/2557d97c-0022-11e6-936a-ea20dfb7e029.png)

[2016-04-11 17:22] simonaho opened #574 "Create a whats up channel to allow users to report accidents with images"
Create a whats up channel to allow users to report accidents with images

[2016-04-11 17:45] simonaho opened #575 "Make the filter work to allow multiple restrictions such as filter of "Monday" and 2014"
Make the filter work to allow multiple restrictions such as filter of "Monday" and 2014, today it allows single restrictions

[2016-04-11 17:55] simonaho opened #576 "Reports to work on zoom out level (when clusters are visible)"
Reports to work on zoom out level (when clusters are visible)
Might require to move reports generation to backend.

[2016-04-11 19:26] danielhers commented on #552
They work on the production site, but since the setting is url specific
they don't work when running locally.

On Mon, Apr 11, 2016, 18:51 sivanb <notifications@github.com> wrote:

[2016-04-18 17:08] simonaho opened #580 "Create a comparative report on accidents increase in cities"
Create a reprot that compares the different cities.
The report will include change in percentage for all accidents, acidents with wounded, and accidents with Deaths

[2016-04-18 17:31] siv123456 commented on #552
ok after consulting Avi i understand that google and facebook login buttons are created using bootstrap and font-awesome so i went and added bootstrap CDN links to html and updated font-awesome css CDN link + a few small html/css additions and this is what i have now (not so different then what we have now):

![login module](https://cloud.githubusercontent.com/assets/10827288/14612753/89c24b3e-05a

[2016-04-18 17:41] danielhers commented on #552
Looks good.
1. What do you mean about the G+ button? Google supply their own button.
2. I don't think there's a reason to use local files. If anything, using the CDN files will be faster.
3. You should test around the site after your changes to see it all works.

[2016-04-18 18:35] simonaho opened #581 "Add a number to indicate number of accidents on the map"
Add a number to indicate number of accidents on the map

[2016-04-18 18:46] MoodyUser commented on #581
![selection_002](https://cloud.githubusercontent.com/assets/15890521/14615572/fe02d8c6-05ae-11e6-8ee0-46d3d2218d1f.png)

[2016-04-18 21:12] siv123456 commented on #552
ok , here is my final try using bootstrap ( did find it after all)

![screenshot from 2016-04-19 00 11 18](https://cloud.githubusercontent.com/assets/10827288/14620037/450300fc-05c3-11e6-9004-75f6485545ed.png)

since its my first time tempering with bootstrap there are some things i dont understand thus my questions. some reading is required :)

anyhow , i'm going to delete the bootstrap css, js,

[2016-04-19 05:11] danielhers commented on #552
I believe Google authentication works already. Doesn't it?

On Tue, Apr 19, 2016, 00:12 sivanb <notifications@github.com> wrote:

[2016-04-19 05:22] siv123456 commented on #552
ok , here is my final try using bootstrap ( did find it after all)

![Uploading Screenshot from 2016-04-19 00:11:18.png…]()

since its my first time tempering with bootstrap there are some things i dont understand thus my questions. some reading is required :)

anyhow , i'm going to delete the bootstrap css, js, fonts local files.
go over the site to make sure i didnt ruin anything.
i also need to

[2016-04-19 05:25] siv123456 commented on #552
yes , Google authentication is working but isn't there a difference between Google and Google+account with regard to authentication ?

[2016-04-19 06:03] danielhers commented on #552
Right.
We [currently use Google OAuth 2.0 authentication](https://github.com/hasadna/anyway/blob/dev/oauth.py#L78).
Here are [instructions for migration to Google+ Sign In](https://developers.google.com/+/web/api/rest/auth-migration#update-oauth-20-login-or-migrate-to-google-sign-in).
If you want you can try changing that in `oauth.py`, but I understand the difference is just access to more fields

[2016-04-19 06:11] siv123456 commented on #552
ok ,just one question that comes to mind before i start : how can i test it ? (authentication is not working in my local site )

[2016-04-19 06:20] danielhers commented on #552
You can [deploy your code to your own Heroku](https://github.com/hasadna/anyway#heroku-deployment) and set the environment variables there.
Then you can test with the [OAuth 2.0 Playground](https://bshaffer.github.io/oauth2-server-php-docs/cookbook/google-playground/).

[2016-04-19 06:26] siv123456 commented on #552
great , thanks

[2016-04-20 07:34] lotem85 commented on #580
I will work on it

[2016-05-15 13:02] danielhers commented on #534
New United accidents will now be loaded with weather data. Existing accidents are still not updated, but the infrastructure for that is in united.py thanks to @efratpaty

[2016-05-15 19:19] aviklai opened #583 "Add units for the radius in the preference dialog"
Add measurement units in the preference dialog for the radius field.
After adding the units on the UI, we need to add them to the ajax call and add an apropriate field in the db (class ReportPreferences in models.py).

[2016-05-16 17:34] uda opened #585 "Exception in process.py - KeyError: 'MEZEG_AVIR_UNITED'"
While running `python process.py` I got the following error:
[code]

You can ignore the `SQLALCHEMY_TRACK_MODIFICATIONS` warning, but the KeyError is creating an issue.

[2016-05-17 05:38] simonaho opened #587 "Unify United and Lamas accidents so that we will not have duplicated in the DB"
Both United and Lamas reprot on accidents, so soon we wil have duplicate reports in the database.
We can assume Lamas has more accidents than United, so when we bring in a file from Lamas we can delete all united accidents from this period.

[2016-05-17 05:40] #585 closed

[2016-05-19 09:38] danielhers opened #588 "Test weather data loading"

[2016-05-21 13:38] omerxx opened #589 "Docker image is not updated with requirements, documentation is misleading"
1. Documentation points to the wrong repo name for building.
2. Build fails if there are previous cached requirements installations.
3. Docker image on dockerhub is not up to date with new dependencies.
4. Dockerfile should be stored within the anyway project.

[2016-05-21 14:39] omerxx commented on #587
So if we incorporate a new DB chunk every year we just delete the entire previous year from the United reports?
Why not create a mechanism that can identify similar pin points and delete one of them?

[2016-05-21 14:41] omerxx commented on #583
@aviklai, what radius units would that be?
I can add a column to the DB but what are the required values?

[2016-05-21 14:42] omerxx commented on #574
Cool idea! Can also work with Telegram which allows public channels.
You can create a telegram group and provide a public link

[2016-05-21 16:30] aviklai commented on #583
Currently it is meters.
@simonaho What units do we want to add?

[2016-05-21 17:25] omerxx commented on #583
@aviklai I was not clear.. What radius are we planning on measuring?
Is it a tool that allows a user to search accidents from a center given a radius?

[2016-05-21 18:28] aviklai commented on #583
It is the radius in the preferences modal for the accedents report.
Look at issue #558 - I uploaded the mockup there.
Currently, near the radius, there is a label which states that the measurement unit is meters.

[2016-05-21 19:02] omerxx commented on #583
Cool. I don't think we need any DB change though.. Just call `bounding_box_query` with a zoom level matching the radius criteria..

[2016-05-21 19:11] omerxx commented on #570
Anyone knows of a volunteer with a Windows desktop that will be available on Monday?
@aviklai @simonaho

[2016-05-21 20:57] efratpaty commented on #588
No new accidents were uploaded, please let me know when united starts
updating again, and I'll test the data
On 19 May 2016 12:38, "Daniel Hershcovich" <notifications@github.com> wrote:

[2016-05-21 21:58] aviklai commented on #570
@omerxx  I am not sure if I will go to the weekly meeting but I will be available.

[2016-05-22 08:27] danielhers opened #591 "Improve logging"

[2016-05-23 18:11] simonaho opened #592 "Update end date to be today"
Default End date filter is January 1st 2016, fix this to be TODAY.

[2016-05-23 21:03] omerxx commented on #591
I suggest this should become part of the [contributing manifest](https://github.com/hasadna/anyway/blob/dev/CONTRIBUTING.md)

[2016-05-23 21:03] #589 closed

[2016-05-24 06:15] danielhers commented on #591
I agree.

[2016-05-24 13:20] simonaho opened #594 "Create a view of Anyway that can be embedded in news websites"
Create a view of Anyway that can be embedded in news websites
Add the location to the URL so it can be sent to news sites.

[2016-05-27 08:25] aviklai opened #595 "Pedestrians hit filter not working correctly"
When the user clicks on the filter "פגיעה בהולכי רגל", the map doesn't show the right markers - it shows markers of accidents between vehicles but not pedestrians accidents.

[2016-05-27 09:26] galraij opened #596 "Add option to see Heatmap"
Add on toggle (Icons/Dots) option to choose Heatmap (at any zoom level).

![vision_zero_view](https://cloud.githubusercontent.com/assets/3368312/15603923/2773e3ec-2406-11e6-8999-b89fe16f9633.jpg)

Heat map API for google maps:
https://www.google.co.il/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwj0l63-9_nMAhUEWhQKHb5lCmYQFggoMAA&url=https%3A%2F%2Fdevelopers.google.com%2Fmaps%

[2016-05-27 12:25] #595 closed

[2016-05-28 07:40] danielhers opened #598 "Move to DigitalOcean"
Stop using Heroku and move our server to DigitalOcean.

[2016-05-28 08:15] danielhers commented on #563
Tooltip for all fields with more info would be great. We have documentation from the CBS about them in PDF files.

[2016-05-28 08:18] danielhers commented on #568
@simonaho @siv123456 what is the status on this?

[2016-05-28 08:20] danielhers commented on #591
Anyone interested - just need to go over Python files and add more log messages.

[2016-05-28 08:21] danielhers commented on #246
@eladkarakuli @simonaho should someone else take over this or should we close the issue?

[2016-05-28 08:21] danielhers commented on #49
@galraij should we close this?

[2016-05-28 08:22] danielhers commented on #417
@galraij @aviklai please add a link her to the mock-up for more charts.

[2016-05-28 08:23] #372 closed

[2016-05-28 08:27] danielhers opened #599 "Test tour"
Clicking this icon opens a tour:

![uploads/7c55698a-1986-4407-bb10-78c648774dfd/Selection_001.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F7c55698a-1986-4407-bb10-78c648774dfd%2FSelection_001.png)

Add front-end tests to make sure all steps of the tour works.

[2016-05-28 08:28] galraij commented on #49
if @OmerSchechter and @LironRS are happy, yes.

[2016-05-28 08:30] danielhers commented on #481
@simonaho need to find someone to work on this.

[2016-05-28 08:32] danielhers commented on #556
Anyone willing to work on this, please read the guide http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xiv-i18n-and-l10n and start adding translations to `translations/`.

[2016-05-28 08:34] #544 closed

[2016-05-28 08:36] danielhers commented on #535
Related to #557. Nice task for anyone interested.

[2016-05-28 08:39] danielhers commented on #434
@omerxx what is the status on this? The button is still not very informative:
![selection_005](https://cloud.githubusercontent.com/assets/263363/15626244/c1ae20fe-24c8-11e6-937f-81ce83797173.png)

Rather than 1/3 the filter should be למ"ס (which is code 1 OR 3) and איחוד הצלה (which is code 2).

[2016-05-28 08:42] danielhers commented on #536
@galraij still working on it?

[2016-05-28 08:42] danielhers commented on #329
@omerxx still a problem?

[2016-05-28 08:43] danielhers commented on #425
@OmerSchechter should this be closed?

[2016-05-28 08:45] galraij opened #600 "Add file name (source file) to the accident popup window"
This information can be generated automatically from the Accident type (Sug Tik 1 or 3) and the year.

![anyway_-_ _ _](https://cloud.githubusercontent.com/assets/3368312/15626264/b24e3c42-24c9-11e6-9e8b-20d0255e4715.jpg)

[2016-05-28 08:48] danielhers commented on #380
@OmerSchechter @LironRS should someone else take this or should it be closed?

[2016-05-28 08:49] danielhers commented on #540
@simonaho does this still happen?

[2016-05-28 08:50] danielhers commented on #415
Related to #393 #599. Anyone willing to improve the tour?

[2016-05-28 09:12] danielhers opened #601 "Simplify README"
The setup instructions in the README are quite long and complicated, and should be simplified.

[2016-05-28 09:14] omerxx commented on #329
Nope, closing.

[2016-05-28 09:14] #329 closed

[2016-05-28 09:15] danielhers commented on #600
Or it could be added as a column to the accidents itself in process.py,
that would be easy but would require re-loading all the data.

On Sat, May 28, 2016 at 11:45 AM Gal Raij <notifications@github.com> wrote:

[2016-05-28 09:34] danielhers commented on #336
@galraij is this the smae as #596?

[2016-05-28 09:38] omerxx commented on #434
@danielhers I think I've started working on it but I can't recall.
Can get back with an answer in the evening unless there's someone ready to start working on it now..

[2016-05-28 09:40] omerxx commented on #591
@simonaho You can let people who are ready to go over backend issues to take this as a first issue

[2016-05-28 09:42] galraij commented on #434
There should still be an option to choose between 1 or 3 (סוג תיק 1, סוג תיק 3) and איחוד הצלה.

It could look something like that:

הכל
הלשכה המרכזית לסטטיסטיקה: מס׳ תיק 1/מס׳ תיק 3
איחוד הצלה

[2016-05-28 09:45] danielhers commented on #434
Right, if someone wants to filter by file type then it should be possible, but the usual case is to filter by source (CBS/United) and it should be possible.
Some people have expressed interest in this task but they are still not done setting up the environment.

[2016-05-28 09:49] danielhers commented on #420
@LironRS @galraij still relevant?

[2016-05-28 09:50] galraij commented on #420
Finished!

[2016-05-28 09:52] danielhers commented on #592
Relatd to #424

[2016-05-28 09:54] danielhers commented on #424
See here: https://github.com/hasadna/anyway/blob/dev/static/js/app.js#L1003

This list of years for the filter is hard-coded. It should be loaded from the variable `ACCYEARS` which is written to `static/js/years.js` by `main.py`.

[2016-05-28 09:56] #420 closed

[2016-05-28 10:02] danielhers commented on #592
See here: https://github.com/hasadna/anyway/blob/dev/templates/index.html#L1084
The START_DATE and END_DATE constants are currently not in use, but they should be used in app.js when initializing the `edate`.

[2016-05-28 12:50] simonaho opened #602 "Add fullscreen icon to anyway"
Add fullscreen icon to anyway so Anyway could be displayed in full screen
![image](https://cloud.githubusercontent.com/assets/16196934/15627413/d03a864e-24eb-11e6-97b4-5bd9d0612da1.png)

[2016-06-03 19:02] danielhers opened #604 "Date filters URL arguments are ignored"
Related to #592.
When given the `start_date` and/or `end_date` parameters in the URL, they are passed from `main.py` to `templates/index.html` and used to set the `START_DATE` and `END_DATE` Javascript variables, but then they are not used in `app.js`. They should be used when initializing the `#sdate` and `#edate` there.

[2016-06-06 16:03] danielhers opened #606 "Browser tests"
Our current test suite is very minimal and contains only unit tests and importing the sample data.
We need more browser tests to make sure the site doesn't break when changing things.
These tests should be run on Travis CI to make sure they always pass after a commit.
See e.g. here:
https://testingbot.com/support/other/travis-ci
https://docs.travis-ci.com/user/gui-and-headless-browsers/

[2016-06-12 10:28] AKorets commented on #424
How to assign this issue to me, and close it?

[2016-06-12 10:30] omerxx commented on #424
No need to assign if it's done. Closing.

[2016-06-12 10:30] #424 closed

[2016-06-12 18:32] aviklai commented on #594
@ephraimberkovitch That's what I see when embedding the iframe in an html file - I open it via chrome:

![image](https://cloud.githubusercontent.com/assets/8260668/15993102/383a696c-30e5-11e6-94c3-bbfc6af69725.png)

[2016-06-13 10:15] #602 closed

[2016-06-13 10:15] danielhers opened #611 "Clicking the full screen button again should exit full screen"
Related to #602
@aviklai

[2016-06-13 12:28] aviklai commented on #611
@danielhers  No problem - will do.

[2016-06-13 21:24] #611 closed

[2016-06-20 16:19] AKorets commented on #447
I am planing to share the constans by bootstraping them to index.htm. like in this checkin  05ba8d44916eac8ac32ca0bd8b317876b6c9a852

[2016-06-28 12:05] #447 closed

[2016-07-04 17:13] simonaho opened #617 "Add support to filter by town"
Add support to filter by town in addition to filter by area.
![image](https://cloud.githubusercontent.com/assets/16196934/16567081/76f0ad20-4223-11e6-8a71-aa995e518290.png)

[2016-07-17 11:14] #592 closed

[2016-07-23 22:28] Aloxey opened #619 "Remove years filter in time filter"
Asked by Simona

[2016-07-24 07:25] lotem85 commented on #580
I have a question
I need to import the package "numpy" in order to calculate things.
pycharm(in the virtual environment) doesn't recognize it. How can i do it?
thanks lotem

2016-04-20 11:06 GMT+03:00 Daniel Hershcovich <notifications@github.com>:

[2016-07-24 07:48] danielhers commented on #580
Download [Anaconda ](https://www.continuum.io/downloads)and use it as your Python interpreter in Pycharm.

[2016-07-26 09:17] lotem85 commented on #580
thanks for your answer.
I have a few dilemmas regarding to the report:
1. get the data: in the Lms I read the cities directly from csv files, but
in United the city isnt clear so I need to find the city from latitude and
longitude .I can do it in two ways: from geojson of Israel or server in net
(like geonames)
which way is better?

3. calcuate the report: (I worte in hebrew)
ברור כיצד לחשב את אחו

[2016-07-28 20:43] #596 closed

[2016-07-31 08:27] danielhers opened #621 "The icons/dots slider should be disabled in clusters mode and in heat-map mode"
It doesn't really do anything but re-load the data, since in clusters and heat-map the display is different anyway.

[2016-08-22 17:19] #621 closed

[2016-09-20 18:09] danielhers commented on #566
הכתובת מגיעה ככה מאיחוד הצלה, אז לא כל כך פשוט לתקן

[2016-11-02 09:46] omerxx commented on #598
Hey @danielhers whats the reason for DO instead of the big ones like AWS / GCP?
And is this in progress?

[2016-11-02 11:12] danielhers commented on #598
@uda please assist.

[2016-11-02 20:56] #567 closed

[2016-11-03 14:11] uda commented on #598
@omerxx Mainly price tag, since we don't utilize the abilities of either AWS or GCP, paying that price is a waste.
I have an issue on hand with another project, after that I will return to this and update this issue accordingly.

[2016-11-28 18:31] simonaho opened #630 "Add schools location to the database"
Add schools location to the database

[2016-11-28 18:38] simonaho opened #631 "Create a report of schools ordered by danger of the location"
The report should include school name, address, city, and calculated danger severity (based on sum of number of accidents multiplied by severity), and sorted by daner severity.

[2016-11-28 18:39] simonaho opened #632 "Add traffic load to the database"
Add traffic load to the database

[2016-11-28 18:44] simonaho commented on #632
Source can be found here http://www.cbs.gov.il/reader/puf/catalog_puf_main.html?id_topic=20#20

[2016-11-28 19:01] simonaho opened #633 "Add traffic load information to the heatmap"
Add traffic load information to the heatmap so that heatmap will be displayed based on accidents relative to traffic.

[2016-12-28 06:55] voronovmax opened #635 "Calendar filter - choosing day/time/holiday resets chosen dates"
After choosing start/end date, selecting one of the other parameters resets the chosen dates to 1/1/{selected year}.  (selected year is the year that the user picked initially)

I think it happens because selecting each of these parameters fires app.changeDate() function that part of its code resets the date.

Removing part of the code in app.js files (the function in lines -1092 -1122) seems to s

[2016-12-28 06:57] danielhers commented on #635
Sure, please do.

On Wed, Dec 28, 2016 at 8:55 AM Max Voronov <notifications@github.com>
wrote:

[2017-01-03 07:33] danielhers commented on #619
@simonaho what is the motivation for this?

[2017-01-03 17:10] voronovmax opened #637 "Change css styles of the login modal"
In my opinion the buttons and some styles in the sign-in window can be improved.
I can work on it.

M.V.

[2017-01-03 19:08] #619 closed

[2017-01-03 20:43] ephraimberkovitch commented on #521
I am starting working on it, please assign this issue to me

[2017-01-03 20:44] ephraimberkovitch commented on #522
I am starting working on it, please assign this issue to me

[2017-01-03 20:48] simonaho commented on #522
Great,  thanks.  I'll assign in the morning.

[2017-01-04 15:23] ephraimberkovitch commented on #594
@simonaho , this issue may be closed, right?

[2017-01-04 15:38] simonaho commented on #594
I'm not sure, I remember there were some issues related to it. What is the fastest way to test it?

[2017-01-05 15:17] szabgab opened #638 "Remove .DS_Store files from the repository"
These are files created by the Mac Finder and are not necessary in the project.

[2017-01-05 15:27] #638 closed

[2017-01-09 18:16] szabgab opened #640 "Remove the need for Java"
Reducing the dependencies on the server would make it easier to get started with the project. Would it be possible to remove the dependency on Java? If for some reason it cannot be removed then it would be better to add it to the installations instructions.

[2017-01-09 18:23] szabgab opened #641 "move the documentation for our source dataset to Git"
it is linked from the README and it is located now here: https://docs.google.com/document/d/1xrYAQSQYyVlY8rrlBG4MlE_gI7tdVu5DAeDH7R6mzUs/edit

[2017-01-09 18:24] szabgab opened #642 "Create a description of the project"
and how to start learning it.

[2017-01-09 18:25] szabgab opened #643 "Move to Python 3"

[2017-01-09 20:40] #641 closed

[2017-01-09 20:53] szabgab commented on #643
I've started to work on this. So far I found that `wsgiref` cannot be installed on Python 3.

[2017-01-11 05:29] szabgab opened #646 "Link to video by Gal Raij"
Form our readme and maybe even from the site.
https://www.youtube.com/watch?v=hMR1ILzQHvk

[2017-01-11 06:49] szabgab commented on #643
[code]
but event if I just run `python3` and `import localization` I get the same error

[2017-01-11 06:51] szabgab commented on #643
`wsgiref` cannot be installed on Python 3.
Apparently Python 3 already comes with `wsgiref` so no need to install it there.

[2017-01-11 06:51] szabgab commented on #643
[code]
but event if I just run `python3` and `import localization` I get the same error

[2017-01-11 07:10] szabgab opened #647 "Translate interface to Arabic"
Related: #556 and #94

[2017-01-11 07:17] danielhers commented on #643
`open` in Python 3 opens the file as text with `'utf-8'` encoding. Try adding the argument `'rb'` to open as binary (the way `DictReader` expects it).
Also, I never noticed it but `os.path.join("static/data/cities.csv")` doesn't make sense... it should probably be `os.path.join("static", "data", "cities.csv")`.

[2017-01-11 07:23] szabgab commented on #643
I might be mistaken but think the proper way is to tell `open` to use the necessary encoding via `encoding='cp1255'`. This works in Python 3 but have not checked in Python 2 yet.

[2017-01-11 07:28] danielhers commented on #643
Apparently in Python 2 it's not necessary (assuming it has been working so far), but if it works then lets add it.

[2017-01-11 08:14] szabgab opened #649 "create shareable artifacts"
If they already exists, let's document them. If not let's create artifacts that can be used on other website or on social media.

Once #594 is ready local web sites (or the municipalities) could be encouraged to embed the Anyway map in their site.
Images of part of the map could be used as part of Twitter and Facebook post.

[2017-01-11 08:22] szabgab opened #650 "Map does not load in FireFox (on first access or at all)"
Create a `New Private Window` in Firefox and visit https://www.anyway.co.il/ the top and bottom navigation bars load, but the map does not. In this Private window even reload does not seem to help.

I saw similar behavior in my "public" window and the map showed up after reloading the page.

[2017-01-11 10:06] simonaho commented on #643
Thanks for this contribution. Please note that moving to Python 3 will require the code volunteers to update their machine to support it.
I think that before we push this task we need to have a verified procedure for upgrading Python on the different platforms, especially because some of our volunteers are quite novice. Thanks!

[2017-01-11 10:09] danielhers commented on #643
I think the intention is to have both 2 and 3 supported.

On Wed, Jan 11, 2017 at 12:06 PM Simona Holstein <notifications@github.com>
wrote:

[2017-01-11 10:11] szabgab commented on #643
For now I'd like to make sure that the code can work on Python 3 while still working on Python 2 and then as the project moves forward to keep it that way. Then the switch can happen later.

BTW Python 3 was released 8 years ago and it is supported on all the platforms. OTOH Python 2 will reach end of life in 3 years.

[2017-01-11 10:58] simonaho commented on #643
Improving infrastructure, is more than welcome. Its just should be done carefully since it always has project overheads.

[2017-01-16 12:39] #598 closed

[2017-01-16 12:53] uda opened #652 "Memory issues in the server"
After moving to a self hosted server as described in #598, we encountered some memory issues that caused supervisor to crash, I assume those issues were present on heroku, only that made the server slow instead of crash.

My approach to this would be using 2 steps:
1. Integrate new relic APM in the code, so we can track what is going on, why requests are slow.
    * Specifics: the token will be pa

[2017-01-18 12:33] uda commented on #485
Should this issue be reopened? it is still happening.

[2017-01-18 12:34] daonb opened #653 "URL copied from the site does not work in a Private Window"
i.e. https://www.anyway.co.il/?zoom=17&start_date=2014-01-01&end_date=2017-01-18&lat=33.00693895233564&lon=35.102260461345395&show_fatal=1&show_severe=1&show_light=1&approx=1&accurate=1&show_markers=1&show_discussions=1&show_urban=3&show_intersection=3&show_lane=3&show_day=7&show_holiday=0&show_time=24&start_time=25&end_time=25&weather=0&road=0&separation=0&surface=0&acctype=0&controlmeasure=0&dis

[2017-01-18 12:37] daonb commented on #485
To recreate:
In firefox, open a new private window, type in the address line: http://www.anyway.co.il

[2017-01-18 12:37] daonb commented on #653
could be duplicated in #485

[2017-01-18 13:02] simonaho commented on #485
It might be a different issue

[2017-01-23 19:10] voronovmax commented on #637
I'm sorry but I forgot to mention in P.R. #656 that it closes this issues.
I think it can be closed now.
Thank you
@danielhers

[2017-01-23 19:27] #637 closed

[2017-01-30 21:43] #635 closed

[2017-02-06 18:06] totalamd commented on #581
Duplicate of putting the number of marker group members on aggregated icons #515

[2017-02-06 18:06] #581 closed

[2017-02-12 14:04] danielhers opened #662 "Use batch_size in process.py"
Currently `batch_size` is unused in `import_to_datastore`.
This argument would be useful because it would allow loading only a subset of accidents at a time, avoiding having to keep all of them in memory.
This should be implemented by only taking `batch_size` items from each of the generators `import_accidents`, `import_involved` and `import_vehicles` at a time, and committing them to the DB.

[2017-02-12 14:05] danielhers opened #663 "Allow skipping existing markers in process.py"
Currently, if a marker already exists when `process.py` tries to load it, the script fails.
Instead, it should act like `united.py` and skip existing markers.

[2017-02-12 16:06] danielhers opened #664 "Locate and delete duplicate involved/vehicles"
When running `process.py`, some involved/vehicles data was loaded twice by mistake.
See example here: https://www.anyway.co.il/markers/2014038693 or https://www.anyway.co.il/?marker=2014038693 (there are many more examples).

It should not be difficult to detect these duplicates and leave only one instance of each.

[2017-02-12 16:07] danielhers opened #665 "Link to get link to specific marker"
When viewing a marker's info window, there should be an option to get a permalink to the specific marker.
This is easy: the link is simply https://www.anyway.co.il/?marker=2014038693 for example (2014038693 is the marker ID).

[2017-02-12 18:59] danielhers opened #666 "Add 2017 to years filter"
To filter by date there are buttons for specific years. The button for 2017 is missing, but we have some 2017 data so it should be there.

[2017-02-12 19:00] danielhers commented on #502
@simonaho can anyone else take this?

[2017-02-12 19:00] danielhers commented on #417
@aviklai would you say this is done?

[2017-02-12 19:00] danielhers commented on #563
@simonaho can anyone else take this?

[2017-02-12 19:01] #552 closed

[2017-02-12 19:02] #49 closed

[2017-02-12 19:02] #246 closed

[2017-02-12 19:02] #257 closed

[2017-02-12 19:03] danielhers commented on #434
@simonaho can anyone else take this?

[2017-02-12 19:06] #558 closed

[2017-02-12 19:07] danielhers commented on #665
The link could be from the date in the info window (as is often the case in Facebook comments etc.)

[2017-02-12 20:12] aviklai commented on #417
@danielhers I think for now it is.

[2017-02-12 20:17] #417 closed

[2017-02-12 21:00] omerxx commented on #434
@danielhers Can I still help?
What's the status?
Is there anyone that can help with the UI?

[2017-02-13 08:10] danielhers commented on #434
If you have time, sure, thanks!
I just saw there was no activity for a long time in this and some other issues.

[2017-02-13 08:13] simonaho commented on #434
Hi, @omerxx great to have you back. Can you come to the meeting this evening?
I will ask someone to make the UI more informative.
Will update you when the UI is ready.

[2017-02-13 08:55] omerxx commented on #434
@simonaho I was never away :) just had a lot of trouble lately doing anything but work
Will do my best, if not I'll try getting to this from home, didn't see the code for a while so it would probably take some more time than usual

[2017-02-13 09:34] simonaho opened #667 "Add filter United Hazalah to LAMAS type 1, and 3 accidents filter"
Add filter United Hazalah to LAMAS type 1, and 3 accidents filter
Also change from 1 &3 to Lamas 1 & 3
![image](https://cloud.githubusercontent.com/assets/16196934/22877860/0afc2960-f1e0-11e6-9279-287602644578.png)

[2017-02-27 19:00] danielhers commented on #640
We used to depend on Java for uglifyjs, but I think we don't use it anymore. Why do you think there is a dependency on Java now?

[2017-02-27 19:11] ChaosPredictor commented on #653
Happen due to Firefox tracking protection and Facebook. Consistently fail when tracking protection enabled. console log:
[code]
Work fine when tracking protection disabled.

[2017-02-27 19:18] ChaosPredictor commented on #650
Can't reproduction w/o Private mode. Private mode is duplication of #653

[2017-03-02 06:12] szabgab commented on #640
Very strange. When I set up Anyway the first time in January I bumped into this requirement, but I cannot reproduce it now.

[2017-03-02 06:12] #640 closed

[2017-03-18 20:52] #667 closed

[2017-03-18 20:52] #663 closed

[2017-04-12 16:31] OrenTa opened #671 "Facebook Login Failed"
Hi,
Tried to login through my FB account.
I clicked accept when the FB authorization window poppoed and got an Error.
See image.
I use Chrome on Windows.
![image](https://cloud.githubusercontent.com/assets/10407941/24968654/8caed21a-1fb6-11e7-8d13-40bd41b535ad.png)

[2017-06-10 08:53] galraij commented on #556
Here is the file of the fields translation: https://docs.google.com/spreadsheets/d/1TxRQukcLzfno8kG-6eH_XEMrcuk2h8PNJOmY5IZUEzg/edit#gid=0

[2017-06-10 14:22] ephraimberkovitch opened #674 "Google authentication fails"
401. That’s an error.

Error: invalid_client

The OAuth client was not found.

Request Details
scope=email
redirect_uri=http://localhost:5000/callback/google
response_type=code
client_id=None

[2017-06-19 16:03] atalyaalon opened #678 "distance parameter fix in added accidents_around_location script (for schools)"
current distance parameter is string, needs to be float

[2017-06-20 10:05] #678 closed

[2017-06-20 22:57] atalyaalon opened #680 "Arguments addition, Encoding change"
Arguments addition,
Encoding change from utf-8 to utf-16 so csv output file is excel readable.

[2017-06-21 05:38] #680 closed

[2017-07-24 09:39] uda opened #684 "United script failing on strptime"
I got this on the new production server:
[code]

we need to check this script on a fresh installation

[2017-07-24 09:44] uda opened #685 "Clusters view still very heavy"
I uploaded the code to a new server, following #463.
The basic markers view is better and faster, but the clusters is still heavy and might cause server failure (I think the query is hogging the DB).

[2017-07-24 10:19] uda commented on #684
I need this in order to add it to crontab as per #463

[2017-07-24 18:52] uda opened #686 "Prepare anyway to semi-auto-deployment"
[ ] Move out config items to environment variables
[ ] Add gunicorn
[ ] Create demo DB
[ ] Add tests to critical endpoints

[2017-07-24 18:53] uda opened #687 "Connect anyway to redash"
- [x] Create user
- [x] Update pg_hba
- [x] Configure ReDash

[2017-07-24 19:53] uda commented on #685
I suggest to split the query into separate queries, each querying a specific timeframe for the same area.
This should be done both on the front-end and back-end (the back-end should do it in order to protect the stability of the service).

[2017-07-24 19:55] uda commented on #674
That is beause the key is for `https://www.anyway.co.il`, you need to create your own key and allow access from any location, or `localhost:5000`

[2017-07-31 17:51] uda commented on #485
@simonaho @danielhers is this still relevant?

[2017-08-29 17:32] r-darwish commented on #643
@danielhers from personal experience, I advise against dual version support. Dual version support makes it hard to enjoy new features of Python 3 and makes the code heavily depended on the six library.

[2017-08-29 19:49] r-darwish opened #690 "Run pylint in Travis"
I ran pylint on the code and found numerous bad indentations and other bad conventions. In order to keep the code tidy I suggest creating a `.pylintrc` configuration for the project and run it in Travis. I can start making progress in this if my suggestion is accepted.

[2017-08-29 20:06] simonaho commented on #690
Hi Roey, thank you for your contribution. I think it will be a good idea to discuss your suggestion a bit before you implement it, especially since we do not ha an automatic regression test to cover us after the modifications. We usually meet on Mondays after seven pm at Electra tower floor 34 in Tel Aviv, on Goole Camus. It will be great if you can attend, then we can discuss your suggestion, and

[2017-08-30 04:35] danielhers commented on #690
We have some tests on Travis, but they are quite minimal and don't really
check interaction with the site at all. A contribution in that area would
be most welcome.

On Tue, Aug 29, 2017, 23:06 Simona Holstein <notifications@github.com>
wrote:

[2017-08-30 06:11] r-darwish commented on #690
@simonaho thank you for the invitation but at the moment it will be more convinient for me to discuss it online.

May I suggest that we do this change incrementally? As you can see [here](https://github.com/r-darwish/anyway/commit/973198ec1951b81d1b333c648b38f2c70b333400), when Pylint is set to ignore warnings and conventions issues, it finds only 3 errors (which seem like real bugs). If this patc

[2017-08-30 06:52] danielhers commented on #690
I agree these corrections are valid, and it will certainly be helpful to find and correct more problems, as long as careful testing is done to avoid breaking the site. Integration testing is currently manual, but again, contributions are welcome.
Please open a PR and we'll merge. Thanks!

[2017-08-30 06:55] moshe742 commented on #690
I think Roey suggestion (both the first and the second) are good.
I don't like it that everything is not PEP 8 since I got used to it and it
is a good practice on python at least.

We can start by using a linter on with our ide and work as it tells us, se
just need to start using one.

The biggest problem I see is that on git we will see a change anywhere
there was a change, even if it was only an

[2017-08-30 06:57] r-darwish commented on #690
@danielhers I'll test my changes manually and then open a pull request. Thanks.

[2017-08-30 07:02] danielhers commented on #690
@moshe742 of course, improving code quality is always welcome if done carefully. Don't worry so much about git. It's always possible to see what was the last change before a particular commit.

[2017-08-30 18:40] r-darwish opened #691 "Documentation for developers doesn't specify the steps needed to configure oauth2 login"

[2017-08-30 18:43] r-darwish opened #693 "The font in the filter buttons is too small to be readable"

[2017-08-30 19:35] #690 closed

[2017-08-31 06:39] simonaho opened #695 "Improve system performance by using pagination between frontend and backend"
Improve system performance by using pagination between Frontend and Backend. Perform the pagination so that accidents from the last years will appear first on the frontend. This way the responsiveness of UI will increase.

[2017-08-31 07:41] simonaho commented on #695
@r-darwish Thanks for your contribution. Please see if this issue can be interesting for you.

[2017-08-31 07:57] r-darwish commented on #695
I'll take a look

[2017-09-01 07:31] danielhers commented on #686
@uda what's the progress on this? Can we get auto-deployment on commits to master?

[2017-09-01 07:54] r-darwish commented on #695
Should the pagination apply to both cluster view and markers view, or just the markers view?

[2017-09-01 09:10] simonaho commented on #695
Lets start with markers view only.
But this raises the question about the markers that contain more than one accident, on markers view.
Can this be done without having ugly refresh on the UI?
If so, do continue, otherwise lets discuss how can we create a nice User experience.
Thanks!

[2017-09-01 12:45] r-darwish commented on #695
[Here](http://imgur.com/a/JM9J7) is a screenshot of what I have so far. I picked a small number for entries per page so that we can see that it's working. What should be the number in producion?
My work is available [here](https://github.com/r-darwish/anyway/tree/pagination).

[2017-09-01 13:30] simonaho commented on #695
Thank you for this fast and valuable contribution.
I cannot install the system locally so I will try to explain here.
In production when you change the number of years filter (on the bar in the right hand side) you get this star icon markers that when pressed display more than one marker, see images below.
So I was not sure how will these star icons be displayed with pagination.
Is it possible not

[2017-09-01 13:56] r-darwish commented on #695
1. The star icon will not necessaraly contain all the accidents that it should, but only the fetched accidents. For example, the star icon in Seadia Gaon St. in Tel Aviv shows 2 accidents at first but when I press the "see more results" button then it starts showing more accidents.

2. The limit is set [in the cilent side](https://github.com/r-darwish/anyway/blob/pagination/static/js/app.js#L29) s

[2017-09-01 15:06] danielhers commented on #695
I think this is a great idea, as it can make the application faster and more usable.
There should probably be an indication for how many accidents there should be in total in the current view, and how many of them are currently shown.
Also, it would be nice if the pagination would happen automatically without the user having to click, so the app would be usable right away but more results will be

[2017-09-01 15:35] r-darwish commented on #695
Opened #698

[2017-09-01 18:16] simonaho commented on #695
I will try to relate to your comments.
Let me know when the deployment is ready, so I can relate to that as well.
1. I agree with Daniel the accidents that arrive on the second page can be displayed automatically at the button of the list, no need for a special button. If we have the total number of accidents we can show on the right hand side displaying X out of y accidents.
2. See Daniel's sugge

[2017-09-02 11:50] simonaho opened #699 "When changing start date to 1.1.12 and moving back to accidents list, 3224 accidents are displayed"
When changing start date to 1.1.12 and moving back to accidents list, 3224 accidents are displayed
![image](https://user-images.githubusercontent.com/16196934/29995254-ffe921a2-8fed-11e7-8d80-771bec179f9f.png)

[2017-09-02 12:17] simonaho opened #700 "Ihud Hazala data from 2017 missing from DB"
Ihud Hazala data from 2017 missing from DB
![image](https://user-images.githubusercontent.com/16196934/29995423-b7628c62-8ff1-11e7-98b1-d0062145d0f2.png)
![image](https://user-images.githubusercontent.com/16196934/29995425-c324ce52-8ff1-11e7-87ce-d33639dccee2.png)

[2017-09-03 04:12] #695 closed

[2017-09-03 06:40] simonaho opened #701 "Import 2015 LMS data, remove 2015 Ihud Hazala data, Import 2016, 2017 Ihud Hazala data"
Import 2015 LMS data, remove 2015 Ihud Hazala data, Import 2016, 2017 Ihud Hazala data
Make scripts persistent so on creation of server all data will be imported properly.

[2017-09-04 05:18] r-darwish commented on #684
Wasn't this issue fixed in 0ef8eec?

[2017-09-04 05:21] r-darwish commented on #674
I think that this issue can be closed. The real issue is #691

[2017-09-04 08:03] simonaho commented on #685
@r-darwish this is the clusters issue. when you have time to look into it.
I understand that data is accumulated in the server and sent to FE when ready, but I'm not sure.
If this is the situation, then you are welcome to suggest data optimization on the server or Db side.

[2017-09-04 08:13] simonaho opened #705 "Change UI to show displaying x/y accidents during UI pagination"
Change UI to show displaying x/y accidents during UI pagination.
After pagination is done UI should move back to display "showing x accidents"
@r-darwish

[2017-09-04 08:20] simonaho opened #706 "Allow interruption of pagination, so we don't have to wait for all markers to arrive if we change screen position"
Allow interruption of pagination, so we don't have to wait for all markers to arrive if we change screen  position.
You can see the area above the HAARBAA st. is empty in the picture, markers will be added above the Haarbaa
 st. only after the previous position markers are completely displayed.
@r-darwish
![image](https://user-images.githubusercontent.com/16196934/30017642-ae3ea5d6-9162-11e7-99a8-

[2017-09-04 08:25] simonaho opened #707 "Document DB table structure, so people can use redash"
Document DB table structure, so people can use redash

[2017-09-04 08:39] r-darwish commented on #685
Yes, we'll probably need a different method, such as the one that @uda suggested, than what we did in the markers view. I'll look into that in the upcoming days.

[2017-09-04 08:39] r-darwish commented on #705
Will do. Please assign me.

[2017-09-04 08:39] r-darwish commented on #706
Will do. Please assign me.

[2017-09-04 08:41] simonaho opened #708 "Fix connection to google analytics"
Fix connection to google analytics

[2017-09-04 08:47] simonaho commented on #706
Asked Yehuda to add you to the project, then I can assign.

[2017-09-04 08:47] danielhers commented on #708
It works. I added you.

2017-09-04 11:41 GMT+03:00 Simona Holstein <notifications@github.com>:

[2017-09-04 08:50] danielhers commented on #706
It's OK, I added @r-darwish .

[2017-09-04 08:52] simonaho commented on #708
Thanks! what's the link?

[2017-09-04 08:53] simonaho commented on #708
Oh, I see it. closing.

[2017-09-04 08:53] danielhers commented on #708
You got it by e-mail.

2017-09-04 11:52 GMT+03:00 Simona Holstein <notifications@github.com>:

[2017-09-04 09:01] simonaho commented on #708
@danielhers it is Oknesset not Anyway :-( reopening.
![image](https://user-images.githubusercontent.com/16196934/30019299-b748ece4-9168-11e7-9466-3f1b563d7319.png)

[2017-09-04 10:10] simonaho opened #709 "Write some sample postgresql DB queries for redash"
Write some sample postgresql  DB queries for redash ,such as locate all markers 300 meters from log, lat.
So that new contributors have a good starting point
Redash link: http://data.obudget.org/

[2017-09-04 11:03] danielhers commented on #708
That's strange, because I see ANYWAY but not Oknesset, and I added you to ANYWAY...

[2017-09-04 11:57] simonaho commented on #708
Really strange, I can see it now with anyway@anyway.co.il user.
I have Oknesset permission, but one should be able to see more than one project...

[2017-09-04 12:42] simonaho commented on #687
Done!! Thanks to Agam and Adam

[2017-09-04 12:42] #687 closed

[2017-09-04 17:23] simonaho opened #710 "Download CSV shows only last two years"
Download CSV shoes only last two years.
Change it so that it shows the list that is diaplayed in the UI

[2017-09-04 18:49] uda commented on #684
I ran the script yesterday and it seemed to work, I'll add it as a cron job

[2017-09-04 18:49] #684 closed

[2017-09-05 04:39] r-darwish commented on #710
Can you provide a URL for reproduction?

I tried [this url](https://www.anyway.co.il/markers?ne_lat=32.08734963606968&ne_lng=34.80869035720821&sw_lat=32.08113193926602&sw_lng=34.7913096427917&zoom=17&thin_markers=false&start_date=1409961600&end_date=1504569600&show_fatal=1&show_severe=1&show_light=1&approx=1&accurate=1&show_markers=1&show_discussions=1&show_urban=3&show_intersection=3&show_lane=3&

[2017-09-05 07:25] simonaho commented on #710
Yes, now it works for me too, although it did not work through the weekned.
Yehuda, our devops has done some changes to the DB importing 2015 accidents from LAMAS, probably restarted the DB, which seemed to solve the issue.
@uda what do you think? how shell we describe this problem that disappeared now?

[2017-09-05 08:08] #706 closed

[2017-09-05 11:59] r-darwish commented on #601
I think that part of what makes the instructions long is that they specify generic steps for setting up the Python environment, such as using virtualenv and installing Python itself in Windows. There are also instructions for specific tools such as c9 or Pycharm.

I think these steps are redundant. Developers should know the generic steps for setting up a Python development environment and their f

[2017-09-05 12:04] simonaho commented on #601
Its tricky because we have different levels of developers, quite a few of them rather novice. Installing Python on Windows for example for people who already have Python 3 installed requires handling the Path and more annoying stuff.
Maybe we can think of a modular explanation something like: if you have Python 2 installed you can skip this section ect.

[2017-09-05 12:06] r-darwish commented on #548
Seems like it's already implemented. Can we close this issue?

[2017-09-05 12:09] simonaho commented on #548
Closing

[2017-09-05 12:09] #548 closed

[2017-09-05 12:15] danielhers commented on #601
I agree that for any given developer, most of the README is completely
redundant and just making it harder to find the relevant part to that
developer. Maybe we could have a wiki or separate documentation for less
experienced developers, with links to the relevant pages from the main
README, instead of putting it all in one document.

On Tue, Sep 5, 2017 at 3:04 PM Simona Holstein <notifications@g

[2017-09-05 12:29] simonaho commented on #601
Wiki sounds like a good idea, and is available on github, so, only left to implement :-)

[2017-09-05 19:14] r-darwish commented on #525
Fabric doesn't (and doesn't plan to) support Python 3. I think this issue should be closed.

[2017-09-05 19:15] r-darwish commented on #570
@danielhers I'm not sure I understand what needs to be done. Can you please explain?

[2017-09-05 19:15] r-darwish commented on #642
@simonaho isn't the current README enough? Is there something else that need to be written?

[2017-09-05 19:17] #601 closed

[2017-09-05 19:19] danielhers commented on #570
To use ANYWAY on Windows, a simple way is to use Docker and replicate the
Linux environment. The image shouldn't be any different, so I'm not sure
what this is about exactly - perhaps just Wiki instructions for using
Docker on Windows.

On Tue, Sep 5, 2017 at 10:15 PM Roey Darwish Dror <notifications@github.com>
wrote:

[2017-09-05 19:40] #525 closed

[2017-09-05 19:43] simonaho commented on #570
As far as I remember, people were not successful in activating docker on Windows, no sure if it is due to bad documentation.

[2017-09-05 19:47] simonaho commented on #642
For most people not :-)
Some UML and file description can be helpful for people with less experience.

[2017-09-05 20:05] r-darwish commented on #700
![image](https://user-images.githubusercontent.com/1383193/30081113-a2e394ee-928e-11e7-8e1e-f25be38df21a.png)

They seem to be imported successfully on my machine, and I didn't change anything. Pehaps something went wrong with importing in the production?

[2017-09-05 20:29] simonaho commented on #700
Now available also on production. Starts to feel like DB restart today did miracles. that is bad news since it might happen again :-(. closing/

[2017-09-05 20:29] #700 closed

[2017-09-06 05:20] r-darwish opened #713 "CI should use Postgres instead of SQLite"

[2017-09-06 06:48] #713 closed

[2017-09-06 07:21] r-darwish commented on #591
I have two suggestions:

1. First of all I suggest replacing Python's built in `logging` with [Logbook](http://logbook.readthedocs.io/en/stable/) which has more advanced features and supports the newer format syntax (Use of `{}` instead of `%s`).

2. In order to be notified about production errors in realtime we probably need to use some alerting service. I have personal experience with [Sentry](h

[2017-09-06 07:23] danielhers commented on #591
Both sound good to me. We used to have newrelic but it wasn't very
convenient.

2017-09-06 10:21 GMT+03:00 Roey Darwish Dror <notifications@github.com>:

[2017-09-07 05:22] r-darwish opened #716 "Implement the use of Sentry for error tracking"

[2017-09-07 11:09] #710 closed

[2017-09-07 11:10] simonaho opened #717 "Add Age of accidents victims to filter"
Add Age of accidents victims to filter and UI

[2017-09-07 11:11] simonaho commented on #717
Requested by Ministry of education

[2017-09-08 09:35] r-darwish opened #718 "Remove TODO and FIXME comments from the code"
These comments either needs to turn into an issue or just deleted. I'm not sure about some of them. Here is the complete list:

- [Not sure what it means](https://github.com/hasadna/anyway/blob/dev/clusters_calculator.py#L33-L34)
- [Should become an issue](https://github.com/hasadna/anyway/blob/dev/models.py#L409)
- [Not sure why this is important](https://github.com/hasadna/anyway/blob/dev/models

[2017-09-08 09:45] r-darwish commented on #709
Do we share the redash instance with Open Budget? Because I don't see Anyway tables there

[2017-09-08 09:56] r-darwish opened #719 "Show a static page containing buttons for both mobile apps when connecting from a mobile device"
The site itself isn't usable on mobile, at least not on a Nexus 5x. I think we should just redirect the user for one of the apps if he connects from mobile.

[2017-09-08 13:20] r-darwish commented on #717
I started working on it. There are some points to discuss.

1. Just to clarify, when you filter by a certain age group you will get all accidents in which **at least** one of the involved matches one of the desired age groups. Other involved people might be of different ages.

2. Our current age groups are in 4 years resolution. I think these are too many buttons to display in the UI, so my thinki

[2017-09-08 13:34] danielhers commented on #717
How about a slider for minimum age and maximum age of all involved?

On Fri, Sep 8, 2017 at 4:20 PM Roey Darwish Dror <notifications@github.com>
wrote:

[2017-09-08 13:35] danielhers commented on #717
No, that's silly, because you won't be able to search for accidents
involving children. So maybe a slider for minimum/maximum age of at least
one involved.

On Fri, Sep 8, 2017 at 4:33 PM Daniel Hershcovich <
daniel.hershcovich@gmail.com> wrote:

[2017-09-08 13:55] simonaho commented on #717
1. Understood and agreed at least one in the selected age is good
2. A slider might be confusing since if I choose 0-8, I cannot have the exact filter since we get 0-7, 8-14 from Lamas. Unless we find a slider with specific stops. so I suggest a widget with multiple selection of. Checkboxes  correlated  with available groups from Lamas. That will pop up in a similar way to the calendar. Whatever i

[2017-09-08 14:05] simonaho commented on #709
![image](https://user-images.githubusercontent.com/16196934/30215210-e508e4d4-94b7-11e7-9b89-272cdfbf1631.png)

[2017-09-08 14:41] r-darwish commented on #717
We have 18 age groups. Are we sure we don't want to unify some of them?

[2017-09-08 15:21] simonaho commented on #717
The ministry of education were interested in the detailed resolution of age groups for children, they even wanted to add one 14-18 that does not exist today. So we can do something like 0-7, 7-14, 14-24, adults, and then 60-70, 70-80, 80+ if we want less groups, or if you find a slider that you can stop in the specific age group values that will also be nice, then you can have 18 stops 0,7,14,24 e

[2017-09-08 15:31] r-darwish commented on #717
I'm not sure I'm a fan of a slider, but I'm good with your division. This is our current age groups:

- 00-04
- 05-09
- 10-14
- 15-19
- 20-24
- 25-29
- 30-34
- 35-39
- 40-44
- 45-49
- 50-54
- 55-59
- 60-64
- 65-69
- 70-74
- 75-79
- 80-84
- 85+

So it'll have to be 0-9, 10-14, 15-24, 25-59, 60-69, 70-79, 80+

[2017-09-08 15:57] galraij commented on #717
Can we try to see what others/similar projects do? My instincts tells me slider would be more intuitive (like tinder ;) ). But I might be wrong

‫ב-8 בספט׳ 2017, בשעה 18:31, ‏‏Roey Darwish Dror ‏<notifications@github.com> כתב/ה:‬

[2017-09-08 16:40] simonaho commented on #717
Slider is very common, but I agree with Roey that tuning them is less convenient, it's hard to select your accurate range, you can try here (http://www.travelist.co.il)  for example after you choose a destination to set you prefered hour range, so you can feel what I mean.
Ebay for example don't use slides, they give you a few options, and then they have a see all button, where you can choose from

[2017-09-09 15:31] r-darwish commented on #709
Can you write me a description for which queries would you like to see examples for?

[2017-09-09 16:06] simonaho commented on #709
1. All accidents 500 m around a given location with victims of age 0-7
2. All accidents on road 1 sorted by severity, and display road segment if available
3. All accidents in Tel Aviv
4. Count accidents per town
*If something is too complicated you can skip it

[2017-09-10 13:00] r-darwish commented on #650
Closeing as duplicate of #653

[2017-09-10 13:00] #650 closed

[2017-09-10 16:14] r-darwish opened #721 "Python SDK"
I spoke with @atalyaalon and we agreed that having an official Python library for interacting with the site would be useful. I don't have permissions to create a new project in @hasadna, so can someone please create a new project called `anyway-sdk` and give me owner permissions?

[2017-09-10 18:00] r-darwish opened #722 "Use a single entry point and move source code into a package"
Currently, the source code of the backend is in the root directory of the project, and there are multiple scripts that needs to be run. This makes project less tidy, but more importantly, will not work under Python 3's more strict init system.

Most of the code should be moved to subdirectory called `anyway` and all the internal imports should become relative (For example `import models` should be

[2017-09-10 18:13] simonaho commented on #721
Can you please explain the advantages you see in such a package.
Will it be in parallel to the REST API? So I have to add each feature to both?
@danielhers

[2017-09-10 18:15] simonaho commented on #722
When we do this we need to prepare some migration tool to developers who have the system installed localy?

[2017-09-10 18:31] r-darwish commented on #722
I don't think so. Just updating the README should be enough. We will probably need to change the execution path in the server and the cron job, but we shouldn't need any kind of migration steps other than that.

[2017-09-10 18:40] r-darwish commented on #721
It will provide a nicer interface than crafting REST requests manually in Python.

For example, instead of doing `marker['severity']` which will get a number between 1-3 that you have to remember its meaning, you will be able to do `marker.severity` and get a `Severity.CRITICAL` object, which would be an [enum](https://docs.python.org/3/library/enum.html#creating-an-enum).

Another option is that

[2017-09-10 18:54] simonaho commented on #721
Sounds good.
Is there any common practice to remind developers to update both APIs with new features?

[2017-09-10 18:57] simonaho commented on #722
Just trying to save the frustration of developers that their system will stop working after code update.
README is usually read only by new developers.
Any ideas?

[2017-09-10 19:09] danielhers commented on #721
Sound like a good idea. We can even put it on PyPI and anyone can use it in
their apps.

On Sun, Sep 10, 2017, 21:54 Simona Holstein <notifications@github.com>
wrote:

[2017-09-10 20:03] r-darwish commented on #722
Since there's no developers mailing list and other developers don't use Slack, the only solution I can think of is to put a big **ATTENTION** section at the beginning of the README

[2017-09-10 20:05] r-darwish commented on #721
@simonaho I don't think that Github has any "cross-repository" issues, so the only way I see is to open seperate issues in both the SDK and the mobile apps for each new server feature that needs to be supported.

[2017-09-11 04:46] danielhers commented on #721
And the server and client should clearly state which version they are or
depend on (API versioning, Python package versions).

On Sun, Sep 10, 2017 at 11:05 PM Roey Darwish Dror <notifications@github.com>
wrote:

[2017-09-11 06:50] simonaho opened #723 "Add age filter to the accidents near schools report"
Add age filter to the accidents near schools report

[2017-09-11 06:57] simonaho commented on #721
OK, version number can help. We can even add version number to the first API call for compatibility compliance verification.

[2017-09-11 07:06] simonaho commented on #722
I maintain the secret developers list :-), You have seen it when I sent the news about the ministry of Education. I will add the developers mailing list to the github, although it's quite dynamic.
Anyway that's how infrastructure modifications are, so let's do it.

[2017-09-11 07:15] simonaho commented on #717
Looks like @galraij is busy?
So, since it will be very nice to get back with age filter, when we go to meet them again.
So you can choose between the ebay (old style), and Alice (new style, see below) with a large popup slider that you can tune easily, assuming the slider can display discrete values (0,4,7... ).
Then when we will have a UX contributor we can create a new issue for UX fine tuning.

[2017-09-11 19:52] r-darwish commented on #721
I'll begin my work in https://github.com/hasadna/anyway-sdk-python

[2017-09-11 19:52] #721 closed

[2017-09-11 20:02] r-darwish commented on #717
I think I prefer ebay

[2017-09-11 20:05] simonaho commented on #717
Lets go fo it :-)

[2017-09-12 04:55] #685 closed

[2017-09-12 05:03] r-darwish opened #725 "Update developers instructions about Celery"

[2017-09-12 06:48] r-darwish commented on #722
Done. @simonaho can you please inform other developers that due to framework changes they are advised to read the README file again?

[2017-09-12 06:48] #722 closed

[2017-09-12 13:10] r-darwish opened #728 "Fix the path in the crontab file"

[2017-09-12 18:07] r-darwish opened #730 "Move load_discussions into main"
I can't figure out what's the purpose of this file

[2017-09-12 18:09] #728 closed

[2017-09-12 18:10] simonaho commented on #730
It might relate to this feature?
![image](https://user-images.githubusercontent.com/16196934/30341455-bb25c11a-97fe-11e7-9e00-754e47cdd223.png)

[2017-09-13 04:21] danielhers commented on #730
Yes! I implemented the discussion feature a while ago. Discussions are kept
as markers with Disqus id. The script gets a list of ids and adds the
discussion markers.

On Tue, Sep 12, 2017, 21:10 Simona Holstein <notifications@github.com>
wrote:

[2017-09-13 06:46] #730 closed

[2017-09-14 11:57] simonaho opened #734 "Check installation on Windows"
After performance improvement Celery utility was added, now we need to check that dev env can still be installed on Windows

[2017-09-14 12:07] simonaho opened #735 "Create a report of most dangerous roads for news paper publication"
The CBS data contains information about road number and km number on that road as can be seen in the picture below.
The CBS also publishes traffic loads on road segments, each segment has a start and an end KM (as seen in the attached PUF (set of files form CBS), csv form zip must be imported into excel to be readable.
It is required to import this information into the DB and create a table that i

[2017-09-14 16:42] #725 closed

[2017-09-14 16:44] r-darwish opened #736 "Should save_discussions.py be deleted?"
https://github.com/hasadna/anyway/blob/celery/anyway/save_discussions.py#L2

This is also a script that we need to decide whether to implement it in `main.py` or delete it. What does it do?

[2017-09-14 18:45] danielhers commented on #736
The counterpart of load discussions: prints all Disqus ids of discussion
markers currently in the DB.

On Thu, Sep 14, 2017, 19:44 Roey Darwish Dror <notifications@github.com>
wrote:

[2017-09-15 09:01] #662 closed

[2017-09-15 12:33] r-darwish commented on #734
https://ci.appveyor.com/project/r-darwish/anyway#

This is very weird. I managed to get AppVeyor working, but of all the possible errors I didn't expect to see a different number of records in the database. The same commit passed in Travis.

@aviklai - can you check if the tests pass on your machine?

[2017-09-15 12:34] r-darwish commented on #717
Sorry that I didn't get to that. Hopefully I will get to that during this weekend.

[2017-09-15 14:20] r-darwish commented on #734
Never mind that. I forgot to import united data. Seems to be working in Windows.

[2017-09-15 14:20] #734 closed

[2017-09-15 14:21] r-darwish opened #740 "Add AppVeyor Webhook"
I don't have the permissions to do that. @danielhers - can you please define the following URL as a webhook to allow automatic triggering of AppVeyor?

https://ci.appveyor.com/api/github/webhook?id=6lo7wsqj0544b3xr

[2017-09-16 08:36] danielhers commented on #740
Done.

[2017-09-16 08:36] #740 closed

[2017-09-16 18:26] #717 closed

[2017-09-17 04:49] r-darwish commented on #666
Is this still relevant? We don't seem to have year buttons

[2017-09-17 05:10] simonaho commented on #666
Not relevant

[2017-09-17 05:10] #666 closed

[2017-09-17 05:53] r-darwish commented on #643
I'm restarting this effort in a side-branch called `python3`. It should be easier now that we're done with #722.

[2017-09-18 04:50] r-darwish opened #742 "Date in the wrong format causes internal server error (500)"
It should return BAD REQUEST (400) instead

[2017-09-18 16:35] #671 closed

[2017-09-18 17:06] simonaho opened #743 "Allow authorized users to add a marker with a Video from SHOMREI HADERECH"
Allow authorized users to add a marker with a Video from SHOMREI HADERECH.
Using right click menu.
![image](https://user-images.githubusercontent.com/16196934/30554135-2c0f2298-9cac-11e7-863d-de1ad3cc8569.png)

[SH1.zip](https://github.com/hasadna/anyway/files/1311533/SH1.zip)

[2017-09-18 17:09] simonaho opened #744 "Create own login with permissions"
Create own login with permissions
Admin user, privileged user, simple user.

[2017-09-19 18:50] #674 closed

[2017-09-19 19:13] r-darwish commented on #691
https://github.com/hasadna/anyway/wiki/Testing-Google-OAuth-login

[2017-09-19 19:13] #691 closed

[2017-09-19 19:15] r-darwish commented on #743
Do they provide a link to a video which was already uploaded or do they provide a file?

[2017-09-19 20:05] #742 closed

[2017-09-22 13:25] r-darwish opened #751 "Numeric status code checking"
We should check `status_code` instead of `status` in `test_flask`. We should also compare it against defined constants from `httplib` instead of numbers.

[2017-09-22 14:06] #606 closed

[2017-09-22 14:18] r-darwish commented on #643
I've changed my mind about how we're going to do this. Trying to do it in one hit is too risky, so we'll do that in steps:

1. First I'm going to start submitting pull requests to the `dev` branch that use [six](https://pypi.python.org/pypi/six) whenever there's an incompatibility issue with Python 3.
1. When everything seems to be working, I'll start developing in Python 3 on my own machine.
1. W

[2017-09-24 04:55] r-darwish opened #752 "Cannot import data to SQLite"

[2017-09-25 16:12] #752 closed

[2017-09-26 16:50] r-darwish opened #754 "Add a parser for Shomrei HaDerech data"

[2017-09-26 18:32] r-darwish opened #756 "Skip running browser tests in Travis if Sauce Labs credentials are missing"

[2017-09-27 06:30] r-darwish commented on #754
I began working on this in the `rsa` branch.

[2017-09-29 15:48] #756 closed

[2017-10-01 17:36] r-darwish opened #757 "Reorganize the use of Alembic"
Our current Alembic revisions don't contain all the instructions needed to create the database, and they are mostly out of sync, which makes them useless.

As discussed with @danielhers, I suggest that we delete all of these revisions and create an initial revision that contains the entire databse.

The production will need to be "told" that it uses the latest version, which should be done by issu

[2017-10-02 19:25] #757 closed

[2017-10-03 20:01] r-darwish commented on #754
I managed to get a working parser. We have some difficulties, though:

1. We were asked not to distribute the data file. This means that I can push the code that parses it but we can't have a working example in Heroku, so we'll either have to work with me posting screenshots, or get a permission to commit the data file into our repository.

1. There are no IDs in the data file and our `id` column

[2017-10-03 20:38] simonaho commented on #754
About 1 I think we can explain Yair that Herouku is our integration server That is not used formally yairnat@gmail.com I believe he will agree.
About 2 Lets also discuss with Yair, I hope they can provide an id
About 3 lets ask for a date from Yair, if they cannot provide a date, we can use the file creation date
Will you write an email to him?

[2017-10-04 05:34] r-darwish commented on #754
I prefer that you contact him

[2017-10-04 07:03] simonaho commented on #754
Sent

[2017-10-04 07:54] r-darwish commented on #754
Thanks. In the meantime we'll proceed with the artificial ID and I'll add an artificial date.

[2017-10-04 13:40] simonaho opened #760 "Add CBS (lamas) mileage data per year new table to DB- to allow calculation of risk"
Add CBS (lamas) mileage data per year as a new table  to DB- to allow calculation of risk
using number of accidents divided to number of cars
These are 2016 files:
[כלי רכב מנועיים הרשומים בערים, לפי סוג כלי רכב](http://www.cbs.gov.il/publications17/1688/pdf/t08.pdf)
XLS [file](http://www.cbs.gov.il/publications17/1688/excel/t08.xls)
[כלי רכב מנועיים הרשומים במועצות מקומיות, לפי סוג כלי רכב](http:

[2017-10-05 07:33] simonaho opened #761 "Graphs are blinking while accidents markers are being loaded"
Graphs are blinking while accidents markers are being loaded

[2017-10-05 07:35] simonaho opened #762 "Moving between heat map and markers view reloads all markers"
Moving between heat map and markers view reloads all markers

[2017-10-05 19:05] simonaho opened #764 "Changing the filter causes estimated location accidents to disappear forever"
Filtering accident type (Lamas1,3,Ihud Hazalah) then showing all types again, causes estimated location
accidents to disappear from view. See below number of accidents reduced from 374 to 20 just by playing with the filter then pressing back 'all', 354 accidents will no longer be displayed.

![image](https://user-images.githubusercontent.com/16196934/31246935-b1b4c970-aa17-11e7-9734-03ea0a9d9114.p

[2017-10-06 18:22] simonaho commented on #760
בכדי לקבל את 2015 יש להשתמש בטבלאות 8-10 בלינק הבא
http://www.cbs.gov.il/webpub/pub/text_page.html?publ=13&CYear=2015&CMonth=1
ולשנות את השנה בלינק לגבי שנים קודמות

[2017-10-07 21:01] #705 closed

[2017-10-09 08:45] simonaho opened #766 "Estimated location are not shown in graphs"
Estimated location are not shown in graphs
![image](https://user-images.githubusercontent.com/16196934/31330473-5047d02e-ace7-11e7-8dd8-1f50c1be748d.png)

[2017-10-09 10:01] r-darwish opened #767 "United parser is broken to due weather format change"
See [here](https://travis-ci.org/hasadna/anyway/jobs/285476700). It started happening all of a sudden and builds that used to work are now broken. I suppose that it has something to do with [this xml](https://github.com/hasadna/anyway/blob/dev/anyway/parsers/united.py#L47) that we're fetching.

[2017-10-09 10:16] r-darwish commented on #767
We seem to miss the number 2 from [here](https://github.com/hasadna/anyway/blob/dev/anyway/parsers/united.py#L31-L40) but I have no idea what do these numbers mean. @simonaho, do you know anyone who can help?

[2017-10-09 10:42] simonaho commented on #767
I am no familiar with the data structure. Maybe @aviklai can understand the problem.
I will also email to Gittel our contact at Ihud Hazalah, maybe she can help (I'll CC you).
Plus meanwhile, can we skip this data not to loose the accidents?
Thanks!

[2017-10-09 13:35] simonaho commented on #764
A bug in the manual modification of the time filter, will open a different issue.

[2017-10-09 13:35] #764 closed

[2017-10-09 13:37] simonaho opened #769 "Manual modification on the date filter causes wrong markers to be displayed"
Manual modification on the date filter causes wrong markers to be displayed.
Meanwhile workaround is to use the date widget instead.
![image](https://user-images.githubusercontent.com/16196934/31340818-0e725c90-ad10-11e7-92fb-5953e0e9d210.png)

[2017-10-10 16:04] r-darwish commented on #767
It works again 🤷
Maybe it was a temporary issue with the IMS site.

[2017-10-10 16:04] #767 closed

[2017-10-10 18:31] simonaho opened #772 "Create a report generator for Anyway"
Create a report generator.
Use a tool similar to the available Graph generator, (Do find an available open source tool) that creates graphs about historical accidents data.
![image](https://user-images.githubusercontent.com/16196934/31403197-1d43f8ae-ae01-11e7-8fb1-3b12f73d047e.png)
The report will work on the current filter on the Anyway view, but will work also on clusters (unlike the current gr

[2017-10-10 19:09] simonaho opened #773 "Create an accidents news blog"
Currently accidents news are published without any data about historical accidents in the location.
We would like to add a news portal, so that anytime a person is killed, or badly injured, a small report about accidents that happen in the nearest area will be added to the blog
So instead of the current report we see:
אצבע הגליל: רוכב אופנוע בן 23 נפצע קשה מפגיעת רכב
רוכב אופנוע בן 40 נפצע בינוני

[2017-10-11 13:59] #751 closed

[2017-10-15 20:09] r-darwish opened #777 "oauth authentication is broken"

[2017-10-16 17:17] simonaho opened #779 "Filters to work in iframe"
Filters to work in iframe (such as severe accidents)

[2017-10-17 04:54] r-darwish commented on #779
Actually it turns out that this is already working. It's probably implemented [here](https://github.com/hasadna/anyway/blob/dev/static/js/app.js#L1086-L1092). I still need to figure out why didn't it work for rsa, but that's another issue.

[2017-10-17 04:54] #779 closed

[2017-10-17 06:55] simonaho commented on #779
Thanks! I updated Gal we can work with Or Yarok.

[2017-10-17 11:47] simonaho opened #780 "Add anyway logo to iframe"
Add anyway logo to iframe, as appears on the right corner of the picture
![add anyway logo to iframe](https://user-images.githubusercontent.com/16196934/31663240-08470bd2-b34a-11e7-89ca-ec63b3f2792c.png)

[2017-10-21 06:07] r-darwish commented on #643
Done

[2017-10-21 06:07] #643 closed

[2017-10-21 06:09] r-darwish opened #788 "Move the production to Python 3"
Our tests seem to pass on Python 3, including the browser test. Now the question is when do we move the production to Python 3.

Moving should be easy if we use Docker, since all we have to do is change the Dockerfile so that Python 3 will be used instead of Python 2. There are also the Heroku instances which still use Python 2.

@simonaho - how do you think we should proceed with this?

[2017-10-24 05:11] #777 closed

[2017-10-30 12:20] simonaho opened #789 "Add the option to watch video within the marker frame for the integration with Shomrei Haderech and Or Yarok"
Add the option to watch video within the marker frame for the integration with Shomrei Haderech and Or Yarok as seen in the image below.
![image](https://user-images.githubusercontent.com/16196934/32170496-68c86248-bd7d-11e7-8e95-2d78f7bc84dc.png)

[2017-11-05 05:18] r-darwish commented on #789
![image](https://user-images.githubusercontent.com/1383193/32412222-717520e0-c1f9-11e7-8165-29fa0ad6fb5a.png)

@simonaho will something like this do?

[2017-11-05 07:04] simonaho commented on #789
Looks great!
Is the text above the video?

[2017-11-05 07:07] r-darwish commented on #789
![image](https://user-images.githubusercontent.com/1383193/32412702-c0f632c6-c208-11e7-9069-2ae618b3b94c.png)
It's inside פרטי התאונה, but I can move it to whenever you like it.

[2017-11-05 07:31] simonaho commented on #789
Looks Perfect, Thanks!

[2017-11-05 07:52] r-darwish commented on #789
I'll open a pull request later today.

[2017-11-05 10:17] simonaho commented on #789
Currently only for Shomrei Haderech markers, yes?

[2017-11-05 10:53] r-darwish commented on #789
It's a generic feature for all markers. We'll probably only use it for Shomrei Hadarech.

[2017-11-05 12:40] simonaho commented on #789
OK, but the video will open only if I press the relevant video URL, no empty video box, right?

[2017-11-05 12:42] r-darwish commented on #789
Right

[2017-11-06 18:02] simonaho opened #790 "Retwit MADA Accidents with accidents data on the accident location"
Retwit MADA Accidents with accidents data on the accident location

[2017-11-20 04:59] #760 closed

[2017-11-22 18:23] simonaho opened #793 "Calculate danger per week day in non urban roads"
Calculate danger per week day and time (morning, noon, evening, night) in non Urban roads, using http://www.cbs.gov.il/publications17/1679/pdf/intro02_h.pdf
and data from DB that includes road number and km.

[2017-11-23 15:11] simonaho opened #794 "Add two options to filter bike accidents (involved and hurt) from UI"
Add two options to filter bike accidents (involved and hurt) from UI.
One button for bikes involved in an accident but no hurt.
Another button for hurt bikes in accidents.
Data is available on DB.
![image](https://user-images.githubusercontent.com/16196934/33179196-4ade6d16-d071-11e7-888e-15e04cbefc05.png)

[2017-12-11 07:23] #794 closed

[2017-12-11 17:45] simonaho opened #797 "Allow authorized users to add information to markers"
Allow authorized users to add information to markers.
Allow super user to filter and approve new users.
Potentially use Disquass infrastructure

[2017-12-13 15:46] simonaho commented on #709
SQL queries are now available

[2017-12-13 15:46] #709 closed

[2017-12-13 15:48] simonaho opened #798 "Add reports viewer to ANYWAY"
יש סקריפט שמכין את דו"ח התאונות בסביבת בתי ספר תחת תיקיית scripts בגיטהאב.
ויש את התוצרים [כאן ](https://drive.google.com/open?id=16FMlWjdcyK3XDXcFSXoJ9vE7skXqoCej)[וכאן ](https://drive.google.com/open?id=1EYXSowkDJYZ6wiuM7wr8_xqXzxKhKURe)אלה למעשה שישה דוחות, תאונות כלליות והולכי רגל במרחקים 100, 300 ו- 500 מטר.
בשלב ראשון אפשר להוסיף כפתור שיאפשר לפתוח ולהציג את הדוחות.
אם אפשרות להציג את הדוח ב

[2017-12-20 13:00] simonaho opened #800 "Text slides down over icon if accidents count is high"
Text slides down over other text if accidents count is high in upper right corner
![image](https://user-images.githubusercontent.com/16196934/34208242-5a1c4ed0-e596-11e7-983e-f735009ee296.png)

[2017-12-20 19:28] simonaho opened #801 "Data load to website is quite slow"
Data load to website is quite slow

[2017-12-20 19:34] simonaho opened #802 "Selecting the accident type filter bike with victims results exception (feature was hidden from UI)"
Selecting the accident type filter bike with victims results an empty markers list
selecting the accident type filter bike no victims returns an empty markers list

[2017-12-20 20:33] aviklai commented on #802
It looks like there is some problems with the query to the database.
I get an error for all types of filters - not just the bikes.

[2017-12-23 13:50] aviklai commented on #802
The markers api returns 500 in production. I checked locally against the sqlite db and it works.

[2017-12-23 13:58] simonaho commented on #802
Currently not all markers are displayed regardless of byke query, so we will wait for this fix, then we will check this issue once again.

[2017-12-25 09:02] simonaho commented on #798
אפשר לסגור?

[2017-12-25 09:58] simonaho opened #804 "Enhance Anyway reports"
Create two selection dropdown boxes:
1. "Select report type:": Accidents near school, Pedestrian accidents by city, more TBD
2. Select specific report, if accidents near schools was selected, choose choose between these reports, if other report type was selected choose between flavors.

Added [pedestrians by city](https://drive.google.com/open?id=1zdRId4YoVtB9CZZ71k7BckxXbISl74er) to the drive, pl

[2017-12-25 10:03] simonaho opened #805 "Add all local reports as 2012- 2017 static reports for all israel"
![image](https://user-images.githubusercontent.com/16196934/34337791-21b4f8e8-e96b-11e7-9333-30808c38e50e.png)

[2017-12-25 10:05] simonaho commented on #805
They should appear under the reports button collated into groups
![image](https://user-images.githubusercontent.com/16196934/34337893-ef7de92e-e96b-11e7-931b-be54161dcab0.png)

[2017-12-26 08:31] simonaho opened #808 "Add CBS monthly data collection script to crontab"
Add CBS monthly data collection script to crontab:

- [x] Add CBS data to an S3 bucket - create a repo for provider code and for each year.
- [x] Import cbs data from email and upload to AWS - nowdays importmail process is running once a week and uploads to s3 data from last 2 cbs emails
- [ ] Trigger Load CBS data from s3 when new CBS data arrives
command to delete a certain year and load startin

[2017-12-30 08:00] simonaho commented on #800
fixed

[2017-12-30 08:00] #800 closed

[2017-12-30 08:02] simonaho commented on #793
http://data.obudget.org/queries/1274/source#table
Done.

[2017-12-30 08:02] #793 closed

[2017-12-30 08:06] simonaho opened #813 "Create a staging server on new cloud environment with full accidents dataset"
Create a staging server on new cloud environment with full accidents dataset

[2017-12-30 16:32] atalyaalon opened #816 "Create a unique marker to RSAMarker"

[2018-01-01 08:25] simonaho opened #823 "filtering out light accidents using iframe filters all accidents"
filtering out light accidents using iframe filters all accidents

[2018-01-01 08:26] simonaho opened #824 "Some multiple accidents icons got transparent"
Some multiple accidents icons  got transparent

[2018-01-01 08:27] simonaho opened #825 "No RSA icons apear on the map although events apear in the list"
No RSA icons apear on the map although events apear in the list

[2018-01-01 20:33] #825 closed

[2018-01-01 20:33] atalyaalon commented on #825
RSA icons appear on the map

[2018-01-04 13:32] simonaho commented on #823
not a bug

[2018-01-04 13:32] #823 closed

[2018-01-04 13:33] simonaho commented on #816
@atalyaalon can you elaborate?

[2018-01-04 13:34] simonaho commented on #824
fixed by Atalya

[2018-01-04 13:34] #824 closed

[2018-01-04 13:37] simonaho opened #829 "Multiple accidents * icon color should be according to the color of the severest marker"
Multiple accidents * icon color should be according to the color of the severest marker
Colors are: Blue for notification, Yellow for light, Orange for severe, and Red for deadly accident

[2018-01-04 13:38] simonaho opened #830 "Add search box to map_only=true iframe"
Add search box to map_only=true iframe

[2018-01-05 20:34] aviklai commented on #802
I checked with a local postgres 10.1 version db and the query works.
Maybe if we upgrade our db version to 10.1 it will fix the issue.

[2018-01-08 09:03] atalyaalon opened #834 "Automated css and js cache boost in browsers"

[2018-01-08 17:13] simonaho commented on #830
done

[2018-01-08 17:13] #830 closed

[2018-01-17 14:11] simonaho opened #836 "Add road number (number1 &2) and KM number to DB"
Add road number (number1 &2) and KM number to DB.
This is useful for risk calculation, and queries in remote areas where zoom out is not enough.

[2018-02-12 17:59] atalyaalon commented on #790
#Hackaton_February_2018

[2018-02-12 18:05] atalyaalon opened #837 "Add time filter to RSA"

[2018-02-12 18:05] atalyaalon commented on #836
#Hackaton_February_2018

[2018-02-12 18:06] atalyaalon commented on #804
#Hackaton_February_2018

[2018-02-12 18:07] #802 closed

[2018-02-12 18:08] atalyaalon commented on #802
#835

[2018-02-12 18:09] atalyaalon commented on #813
#Hackaton_February_2018

[2018-02-12 18:11] atalyaalon commented on #813
Add an automated process for migration from staging server to production.

[2018-02-12 18:14] atalyaalon opened #838 "Improve performance and bring back clusters"
Check performance bottleneck.
Perhaps moving to to PostGIS will help ([https://postgis.net/]).

[2018-02-12 18:16] #798 closed

[2018-02-12 18:32] atalyaalon opened #839 "Aggregated marker of accidents with RSA: change color"
Current colour is pink. Change to most sever accident color, and blue when only RSA markers exist. (blue - lowest severity, yellow, orange, red).
#Hackaton_February_2018

[2018-02-12 18:32] atalyaalon commented on #834
#Hackaton_February_2018

[2018-02-12 18:33] atalyaalon commented on #829
dup of #839

[2018-02-12 18:33] #829 closed

[2018-02-12 18:34] atalyaalon commented on #805
#Hackaton_February_2018

[2018-02-12 18:40] #801 closed

[2018-02-12 18:46] atalyaalon commented on #797
picture, video, article.
Inspiration: [https://www.theguardian.com/us-news/ng-interactive/2015/jun/01/the-counted-police-killings-us-database](url)

[2018-02-12 18:46] atalyaalon commented on #797
#Hackathon_February_2018

[2018-02-12 18:53] atalyaalon opened #840 "Anyway Human View"
#797

[2018-02-12 18:57] atalyaalon opened #841 "Fix Google and Facebook login"
@aviklai , can you try to fix it?

[2018-02-12 19:06] atalyaalon opened #842 "Block users"
Allow admin users to view users list and to block users that abuse system use.

1. Add database fields: admin, blocked.
2. Add api to get users list, to block and to unblock.
3. Add FE interface for the above that's open for admins only.

Related to #797

#Hackathon_February_2018

[2018-02-12 19:19] atalyaalon opened #843 "Or yarok"
Send a link of iframe.

[2018-02-13 21:33] aviklai commented on #841
@atalyaalon I checked it and it looks like the facebook login is working but google isn't.
Are the GOOGLE_LOGIN_CLIENT_ID and GOOGLE_LOGIN_CLIENT_SECRET configured in the production server?

If not, we need to add them.
If they are - please send them to me so I can test it locally + please send me the email and password for the google account of the web app so I can check all the configurations.

[2018-02-18 18:49] atalyaalon opened #844 "Disable mouse scroll wheel zoom on embedded iframe"
In order to see the problem, go to the embedded iframe in the rsa website: http://www.rsa.org.il/

The following might help:
[https://codepen.io/status201/pen/wKowKz](url)
[https://stackoverflow.com/questions/21992498/disable-mouse-scroll-wheel-zoom-on-embedded-google-maps](url)

[2018-02-18 23:04] #843 closed

[2018-02-19 19:00] erezh31 opened #846 "Complete lms marker data"
load all the data in the csv to the database

[2018-02-19 19:04] erezh31 opened #847 "Change lms markers lon lat to postGIS"
info about the lib:
https://geoalchemy-2.readthedocs.io/en/latest/

[2018-02-20 10:13] citizen-dror commented on #797
Great idea! can you add something like "danger point" ? or "missing crosswalk" etc?
There is a similar idea to help bikers and pedestrians to mark dangerous places.

[2018-02-21 05:46] simonaho commented on #797
@citizen-dror If you want to discuss dangerous places with the community you can already do it today.
Just press the mouse right click button on the location and add all relevant details.
We use Disquass, and a discussion icon is added to the map when you start a discussion.  You are welcome to try it, and the bikers community is more than welcome to use is.
We will be happy if you want to publish

[2018-02-23 20:54] aviklai commented on #842
The user admin is ready for basic usage of allowing to add and remove roles for users.

[2018-02-25 21:24] ShacharOch opened #854 "Cbs process fails while trying to load full lms data"
When trying to import the lms data (using the command line: **python main.py process cbs**)

I get the following assert:
File "/home/android/anyway/anyway/parsers/cbs.py", line 373, in <genexpr>
    accidents = (accident for accident
File "/home/android/anyway/anyway/parsers/cbs.py", line 215, in import_accidents
    assert(int(provider_code) == int(accident[field_names.file_type]))

The assert is

[2018-02-26 09:39] atalyaalon opened #855 "Add option to register for updates"
![whatsapp image 2018-02-26 at 00 41 50](https://user-images.githubusercontent.com/20992625/36663110-33e06f66-1ae9-11e8-89c1-6ca869f0c27e.jpeg)
![whatsapp image 2018-02-26 at 00 41 50 1](https://user-images.githubusercontent.com/20992625/36663112-352d523a-1ae9-11e8-8076-b698710ace97.jpeg)

1. Add a new table of registered emails
2. There are two use cases:
- The user is logged in (via google/faceb

[2018-02-26 19:40] r-darwish opened #857 "Client app doesn't stop sending requests"

[2018-02-26 20:14] agamaloni commented on #855
Hi @atalyaalon
I would like to take this task .
but before assign me on, i need more info

case 1:
it look like right now both login via facebook / gmail not working
a. if the user logged in what the privilege hi get ..

case 2:
Not sure i got it ,
what are the usages for user to enter an email ?
lats say i am creating this tab user not logged in , and now hi enter his email what should happen ?
a

[2018-02-27 05:55] #857 closed

[2018-02-27 10:55] r-darwish commented on #857
@tamirfri thanks for reporting

[2018-02-28 02:32] atalyaalon commented on #854
Thanks!
Fixed. Please download the most updated cbs data (link in the README.md file - you need to request access).

[2018-02-28 20:57] atalyaalon commented on #855
Hi @agamaloni
Case 1:
a. Working on it. I will update you when it'll we'll fix it.
b. Right now no privileges. However, we want to save the locations the user searches, but that will be the next feature once we'll finish this one.

case 2:
Right now only a: record the email to the DB.
As I mentioned, we want to save the location that the user searched.

Thank you so much!
Note that @aviklai can he

[2018-02-28 20:58] #854 closed

[2018-03-03 09:35] agamaloni commented on #855
Hi @aviklai

we want to add new db table that will include the location of user search + email
in code i saw that location defined by 2 objects latitude, longitude
i thought to add radius & created for the next step sending emails updates on location

Please correct me if needed , and add your thoughts

adding to model.py

the suggest table:

class Registered_emails(Base):
    __tablename__ = "reg

[2018-03-09 15:28] #844 closed

[2018-03-12 19:17] #836 closed

[2018-03-12 19:22] atalyaalon opened #864 "Add dictionary view tables to DB"
Each CBS Accident type and year contains a dictionary.
We should add these dictionaries as a table.

[2018-03-12 19:49] Bren opened #865 "add analytics events to interface buttons"
We need to monitor which buttons get clicked and what is the user journey when they use our website.
In order to do that, we need to add analytics events to button clicks in the website.
I'm not sure who should take care of that. @simonaho @atalyaalon any ideas?

[2018-03-12 19:55] atalyaalon commented on #865
@aviklai , can you take this issue?

[2018-03-12 22:08] aviklai commented on #855
@agamaloni I think that it is better to add a table like UserLocations which will be able to store multiple preferred locations for each user/

[2018-03-12 22:11] aviklai commented on #865
@atalyaalon No problem.

[2018-03-13 21:20] aviklai commented on #865
@atalyaalon We can do the analytics with google analytics events.
We can do it with google analytics events.
We need to define event category, event action and event label for each click so we can see it in the google analytics dashboard.

How do we want to categorize our events?

[2018-03-18 20:34] atalyaalon commented on #865
Thank you so much Avi.
@Bren can answer that.

[2018-03-18 20:36] atalyaalon commented on #841
@uda Can you help us with google/facebook auth?

[2018-03-24 19:16] atalyaalon opened #869 "Multiple icons of MultipleMarkers"
When data is grouped in a group marker, a grouped marker appears for every original marker.
We should make sure that for each group, only one grouped marker appears.
<img width="510" alt="screen shot 2018-03-24 at 22 16 03" src="https://user-images.githubusercontent.com/20992625/37867985-fe240446-2fb0-11e8-8a6f-c3be39162b10.png">
<img width="294" alt="screen shot 2018-03-24 at 22 15 49" src="https

[2018-03-24 19:38] atalyaalon commented on #839
#868 and #867

[2018-03-24 19:38] #839 closed

[2018-03-24 19:51] atalyaalon commented on #837
Added the data in BE: https://github.com/hasadna/anyway/commit/69492cb48a06e7f999292adf06cbd8172f585598

Missing FE changes.
@aviklai , can you add the RSA timestamps to the FE?

[2018-04-08 07:51] aviklai commented on #865
I added the analytics events only to the filter buttons.

[2018-04-25 15:09] eyal-rounds opened #874 "create a proper spec for the facebook message we should publish on anway's page"
@atalyaalon @simonaho
Hi.
I have a task to query the united DB for accidents that were reported and once i get an accident extract all accidents from anyway DB that are in a certain raduis\bound box from that accident, then publish it on FB.

what exactly am i to publish on FB ? i need a template\templates per type of accident.

[2018-04-25 22:04] atalyaalon commented on #808
@erezh31 , can you take this issue?
I can guide you regarding the email format.

[2018-04-25 23:22] atalyaalon opened #875 "Web accessibility"
Make our website accessible.

[2018-04-26 11:51] erezh31 commented on #808
I think.. we can talk about it next meeting

[2018-04-30 19:31] erezh31 commented on #846
https://github.com/hasadna/anyway/pull/858

[2018-04-30 19:31] #846 closed

[2018-05-15 13:53] erezrokah opened #878 "Degrading UI performance after dragging the map several times"
Reproduction scenario:

1. Open https://www.anyway.co.il
2. Allow access to location (if required)
3. Click the "my-location" button to center the map location.
4. Drag the map several times, each time to a new area (to allow new markers to load).
After a few drags the map becomes less responsive.

If you refresh the page the map becomes responsive again.

[2018-05-17 08:29] #878 closed

[2018-05-17 09:23] erezrokah opened #881 "Spinner Doesn't look good"
Reproduction:
1. Open https://www.anyway.co.il
2. See that the spinner doesn't have proper opacity.

My previous pr https://github.com/hasadna/anyway/pull/879 broke the spinner css.

It seems that bundling the `spin.css` doesn't work (this is the reason I didn't see the problem as I was running the site with the `--debug-js` flag).

[2018-05-23 18:59] #881 closed

[2018-06-04 20:17] #834 closed

[2018-06-14 17:40] danielhers commented on #841
Fixed Facebook login. The problem was permission on some of the Python files on the server. They belonged to `root` and now they belong to `www-data` and it works.

[2018-06-14 18:35] danielhers commented on #841
Well, sometimes it works, at least. Still not clear what makes it fail.

[2018-07-01 08:34] atalyaalon opened #885 "Discussions Markers - Add a figure"
1. Discussions Markers contain only a color - Add discussion figure. [Example](https://www.anyway.co.il/?zoom=17&start_date=2017-07-01&end_date=2018-07-01&lat=31.90179320000001&lon=35.011900200000014&show_fatal=1&show_severe=1&show_light=1&approx=1&accurate=1&show_markers=1&show_accidents=1&show_discussions=1&show_rsa=1&show_urban=3&show_intersection=3&show_lane=3&show_day=7&show_holiday=0&show_ti

[2018-07-01 08:35] atalyaalon commented on #885
@aviklai can you take this issue?

[2018-07-01 08:49] atalyaalon opened #886 "Remove login button"
Right now login doesn't work.
Remove the button for now (when login will be fixed we will bring it back).
For debugging purposes - maybe we can leave it just for admins?
@danielhers @aviklai what do you think? any suggestions?

[2018-07-01 08:57] danielhers commented on #886
Maybe remove the button but add a url route to open the modal for debugging
purposes.

On Sun, 1 Jul 2018 11:49 atalyaalon, <notifications@github.com> wrote:

[2018-07-01 21:16] aviklai commented on #886
I agree with @danielhers - we can hide the button and open a url for the login.

[2018-07-01 21:18] aviklai commented on #885
@atalyaalon are you referring to the number of discussions in that point?

[2018-07-02 17:37] atalyaalon commented on #886
perfect. @aviklai can you handle it?

[2018-07-02 21:15] aviklai commented on #886
I just commented out the login part and for debugging we can just uncomment it.

[2018-07-04 00:18] atalyaalon commented on #885
@aviklai no, I'm referring to the marker itself. In the photo above you can see a blue shade - I think there should be a figure there of discussions (I think it should be a kind of a chat box).

[2018-07-04 18:52] aviklai commented on #885
@atalyaalon were can I find a discussion? I can't find one.

[2018-07-05 11:44] #886 closed

[2018-07-05 12:57] atalyaalon commented on #885
@aviklai Thanks, I fixed it. You can see them now using the link in the description above.

[2018-07-05 12:58] atalyaalon opened #897 "Discussion"

[2018-07-05 13:01] atalyaalon opened #898 "Creating a discussion"
In Chrome on windows - right click doesn't enables creating a discussion.
Check creating a discussion works on all platforms both in Chrome and Firefox.

[2018-07-05 13:01] atalyaalon commented on #898
@aviklai, can you take this issue?

[2018-07-05 13:35] atalyaalon commented on #898
![windows](https://user-images.githubusercontent.com/20992625/42326285-6744907e-8071-11e8-84e4-19040820f1c7.png)

[2018-07-15 17:38] atalyaalon commented on #898
#903

[2018-07-15 17:38] #898 closed

[2018-07-16 21:38] atalyaalon opened #907 "Add clusters when zooming out - backend"
There was a clusters calculator that had a performance issue. Improve the calculator's performance (perhaps rewriting is needed, today our db has a postgis extension hence quicker queries can be performed, it might help in this case).

Background:
One can read more here:
https://github.com/hasadna/anyway/pull/720
https://github.com/hasadna/anyway/issues/685

[2018-07-16 21:39] atalyaalon opened #908 "Add clusters when zooming out - Frontend"
Depends on https://github.com/hasadna/anyway/issues/907

Bring back clusters view when zooming out - after backend performance is improved.

[2018-07-19 16:16] atalyaalon commented on #885
#910

[2018-07-19 16:16] #885 closed

[2018-07-19 19:50] atalyaalon commented on #874
@eyal-rounds For start, I think we should separate into cases:
1. Highway accident - statistics on the specific highway in the past 5 years (query the db about the road and not using the bounding box)
2. Intersection - statistics on the specific intersection in the past 5 years
3. Street - statistics on the specific street in the city in the past 5 years.
I believe we should use SQL query for thes

[2018-07-19 19:51] atalyaalon commented on #865
@Bern Are we missing events?

[2018-07-19 19:52] atalyaalon commented on #865
Are we missing any events?

[2018-07-19 19:55] atalyaalon commented on #847
#872

[2018-07-19 19:56] #847 closed

[2018-07-19 19:57] atalyaalon commented on #838
@sa-lo-mon can you take this issue?

[2018-07-23 19:52] yaniv-l opened #912 "Create bot script to alert runtime issues to slack channel"
Create a bot script to be used by watchdogs to alert on critical production issues to slcak monitoring channel.
@atalyaalon - provide me with a sample monitoring script.

[2018-09-03 19:28] atalyaalon commented on #568
@simonaho - is it still relevant?

[2018-09-03 19:29] naaldood commented on #563
@simonaho is it still relevant?

[2018-09-28 05:18] #855 closed

[2018-09-29 12:17] atalyaalon commented on #841
@sa-lo-mon can you take this one?

[2018-09-29 18:13] sa-lo-mon commented on #841
Hi, no problem I'll take this one.

[2018-11-03 14:51] #908 closed

[2018-11-03 14:51] #907 closed

[2018-11-03 14:56] atalyaalon opened #947 "Add webhooks instead of integration and services in Git"
For Travis CI, AppVeyor, Docker

[2018-11-03 15:30] atalyaalon opened #948 "Save Waze CCP data"
1. Read the guide: https://support.google.com/waze/partners/answer/7239095?hl=en&ref_topic=7064190
2. Create DBs in our BackEnd to collect the data.
3. Create Queues (for example RabbitMQ) and suitable jobs for realtime data collection.

[2018-11-03 15:35] atalyaalon commented on #864
Added an option to create the dictionary view tables from a chosen file: https://github.com/hasadna/anyway/pull/941

[2018-11-03 15:35] #864 closed

[2018-11-03 15:41] atalyaalon opened #949 "rsa date marker is on top of rsa image"
![screen shot 2018-11-03 at 17 41 00](https://user-images.githubusercontent.com/20992625/47954162-baacbc00-df8f-11e8-9755-215b6b9a3d41.png)

[2018-11-03 16:13] atalyaalon opened #950 "New accidents using news flashes - save in DB and send to reporters"
1. Save news flashes in a new table in our DB
2. create a automatic report to send to reporters with:
-  link to anyway map
- report on road if accident was outside the city or on street / area for accident inside a city.

[2018-11-03 16:33] atalyaalon opened #951 "[dev-ops]Create backups for our production DB"
create 2 types of backups:
1. Full db backup every day, that will enable us to restore the db if something happens. Keep only the past week, upload every night the backup to s3, and delete the one from a week ago.
The command is: `pg_dump anyway > anyway_full.pgdump`
This backup will only be accessed by the production, and the s3 bucket managers - and won't be open to others.
2. Backup for volunte

[2018-12-27 03:26] atalyaalon opened #962 "calculate street length"
We want to normalize the accidents and/or injured count with street length - That’s the motivation for finding this data.

Perhaps OSM (Open Street Map) will give us a better answer than Google maps, for example see: https://help.openstreetmap.org/questions/45705/how-to-calculate-street-length-from-osm-data
Which lead me to this https://skorasaurus.wordpress.com/2014/05/07/how-i-measured-cleveland

[2018-12-27 03:52] atalyaalon opened #963 "Data API for municipalities report"
What exists today?

1. markers request - in bounding box.
https://github.com/hasadna/anyway/blob/610c20048dcbde09f24263f905092cd17ef0ecbb/anyway/flask_app.py#L169Anyway-sdk
2. https://github.com/hasadna/anyway-sdk-python

We need:
API to query the following data:
- Query table fields (for example, all fields in markers table)
- Query table fields values (there are dictionary tables for most of the

[2019-01-23 20:24] r-darwish opened #970 "Upgrade Pandas"
@atalyaalon I saw that you constrained the version of pandas in 34227b47b53a3601dc2b487f1442efd5bb3743db.

Pandas 0.22 is broken in Python 3.7. Could you tell which errors did you see?

[2019-03-01 23:04] atalyaalon opened #976 "Load traffic data to DB"
Create DB tables:
1. Road Sections
2. Traffic data of those section
3. Dictionary tables for dictionary values (similar to Accidents Dictionary tables, such as LocationAccuracy, RoadType, etc): use the Codebook in order to find needed dictionary tables, such as Maslul, Hodesh, etc.

Write python code that loads the data into these tables

[2019-03-27 01:32] atalyaalon commented on #950
#954

[2019-03-27 01:35] atalyaalon commented on #950
1. News flashes is already an existing table and updating in our db - thank you @Mano3

[2019-03-27 02:29] atalyaalon commented on #950
[](url)

[2019-03-27 02:45] atalyaalon commented on #950
Create a dashboard for reporters containing:

1. Add information on Real Time accidents
- news_flash is an existing table in our db that is updating every minute from Ynet.
- Add to the dashboard all of the accidents in the news flash table.
- Add an option to filter by news flash accident - which will then show:
    The accident location with anyway map embedded.
    Visualisations of statistical

[2019-03-27 03:49] atalyaalon opened #982 "Add an option to add information regarding a specific accident OR a specific location"
The goal in this challenge is to have the option to add new information about the accident of the specific location chosen (for example, if that location has a dangerous infrastructure).

BackEnd - add suitable db tables
FrontEnd - add an option to add free text and photos.
Bonus: create a form that can be easily opened in mobile that enables reporting on the current location - free text with an a

[2019-03-27 09:32] atalyaalon opened #983 "Accidents Articles"
There is a collection of past car accidents articles from Ynet starting July 2011 in the file - https://drive.google.com/file/d/1BLig566ABTihLjUtebW2J_y5HGxf7fgk/view?usp=sharing

1. Extract the location and the time of the accident
2. Match each article to the accident in our DB
3. Create a dashboard for these articles’ locations (For example, if there is an article on an accident in road 443, cr

[2019-03-27 17:30] atalyaalon opened #984 "Create a Facebook app that will enable sharing Anyway’s map on Facebook"
Add a view of the facebook discussions on the map as new kind of map markers.
Add graphs and statistical data of the shared area.

related to #874

[2019-06-11 11:46] ayalapol commented on #962
Investigation so far:

### Main assumption:
In order to do calculations using the data (road lengths), we need all data to be offline, therefor an online API that calculates a specific road length is not an option (we'll need to activate the API for each road segment).
Downloading the data from OSM seems to be the best option I've found so far.

### How to get OSM data and save it into Anyway's DB

[2019-06-12 08:18] ayalapol commented on #962
Output file size is ~ 12MB

[2019-08-15 12:41] agamrafaeli opened #1004 "api/school endpoint does not return `Access-Control-Allow-Origin` header"
The `api/school` endpoint does not return the `Access-Control-Allow-Origin` header. This leads to the fact that it can only answer requests from `anyway.co.il` domain.

Making requests for other domains is required for building on top of the API (e.g. a report or custom page or developing locally)

[2019-08-19 17:37] advak commented on #962
1. The way I found to get streets' length is as follows:
Get Israel .osm file from http://download.geofabrik.de/asia/israel-and-palestine.html.
Files there are updated from time to time.
2. Create .osm file of the city you want to have its streets length. In order to do it you need to create .poly file of the desired city and use osmosis.
3. Use osm2pgsql in order to create database out of the .os

[2019-08-19 17:55] advak commented on #962
Example of how I created Tel Aviv streets' lengths:
1. Download israel.osm file as explained in note 1 in my last comment.
2. Download .poly file of Tel Aviv. I found this GitHub repository: https://github.com/JamesChevalier/cities which includes a lot of cities in many countries in the world. Israel is there. The thing is, the .poly files there may not be updated, so there is an explanation there

[2019-08-19 18:44] #1004 closed

[2019-08-29 09:12] uda commented on #970
Any reason this is still open? I am trying to test on python 3.7

[2019-08-31 11:21] uda opened #1009 "Restructure code"
Put views and admin views in sub-packages for easier maintenance and understanding the moving parts.

[2019-10-14 13:58] atalyaalon commented on #1009
@uda what views do you mean? DB views?

[2019-10-21 13:54] atalyaalon commented on #970
Pandas is upgraded. Python 3.7 should work well.

[2019-10-21 13:54] #970 closed

[2019-10-21 18:09] atalyaalon opened #1023 "API improvements"
1. In flask_app.py we use the following API:
@app.route("/markers/<int:marker_id>", methods=["GET"])
However, the marker_id referred to is not unique - and a few objects can be returned.
This API should instead include the following for uniqueness: marker_id (=id in markers table) and provider_code and accident_year (hence requires changes both in BE and FE, since this API is used by the FE)

2. I

[2019-10-28 11:45] uda commented on #1009
No, the route views, each endpoint is a View, currently it uses functions, I prefer classes, but either way each group should be in a module for easier readability and maintenance.

[2019-10-28 20:21] uda commented on #1009
I propose to work on the code restructure in 2 stages:

1. Split app initialization, views and functions (helpers) that are inside `flask_app.py` into 3 separate files
2. Organize the views and functions into subject modules and common module

This will give us a better look at what we provide through the app

[2019-11-07 12:28] yoni2k opened #1031 "Fix 'age_group_hebrew' field for years 2008, 2009"
`age_group_hebrew` is not accurate in years 2008 and 2009.
`age_group` is accurate, but `age_group_hebrew` is not.
`age_group == 2` (ages `05-09`) is split in `age_group_hebrew` into values `05-09` and `05-ספטמבר`
`age_group == 3` (ages `10-14`) is split in `age_group_hebrew` into values `10-14` and `אוקטובר-14`

Need to fix it in our DB

Numbers add up to the same number when combining occurrence

[2019-11-30 17:22] erangil opened #1033 "**Feature** Create an API that receives a polygon string and extracts all markers information"
#enhancement
1 - Ready
#backend

A new api added - acc_in_area_query(pol_str)

Parameters info:

polygon will be received in the following format: 'POLYGON(({lon} {lat},{lon} {lat},........,{lonN},
{latN}))'
please note that start point and end point must be equal: i.e. lon=lonN, lat=latN
Request format: http://{server url}/markers/polygon?polygon=POLYGON(({lon} {lat},{lon} {lat},........,{lonN},

[2019-12-10 09:44] atalyaalon opened #1042 "change max date"
change max date to be the maximal date in the data and not current date (we are usually in ~2 months delay - depending on when the CBS are sending the data)
<img width="292" alt="Screen Shot 2019-12-10 at 11 42 55" src="https://user-images.githubusercontent.com/20992625/70518068-5ec54700-1b42-11ea-82f5-532049485ab4.png">

[2019-12-15 18:05] #1033 closed

[2019-12-28 22:25] atalyaalon opened #1073 "Additional News Flash API"
Current API: https://anyway.co.il/api/news-flash
Please create another API that: https://anyway.co.il/api/news-flash-filters
1. Enables to pull from a specific source
for example: https://anyway.co.il/api/news-flash-filters?source=ynet pulls all news flashes from ynet

2. If news_flash_count specified - Pulls X last news-flashes from each source

for example: https://anyway.co.il/api/news-flash-fi

[2019-12-28 23:11] atalyaalon opened #1074 "Function that extracts location from a news-flash"
Create a function in flask_app.py file:
def extract_news_flash_location(news_flash_id)

The function receives a news_flash_id, and returns the location of the news_flash.
You can use the "resolution" column in the news_flash table.
@Mano3  can you elaborate what resolutions exist?
From your code I see: 'צומת בינעירוני', 'צומת עירוני', 'כביש בינעירוני', 'רחוב', 'עיר', 'מחוז', 'אחר'

The function wi

[2019-12-29 12:02] atalyaalon opened #1075 "News Flashes - update locations for news_flashes"
@Mano3 this is a top priority task

1. Make sure that news flashes are entered the db even if there is an exception in one of the location extraction functions
2. remove unnecessary columns - using alembic revision
3. Add tests
4. update locations for all news flashes

[2019-12-29 12:41] atalyaalon opened #1077 "News Flashes - Add walla as a source"

[2020-01-13 12:26] atalyaalon opened #1082 "remove deleted fields from news_flash in models.py file"
Please delete fields from class NewsFlash definition AND from serialize method.

[2020-01-13 12:36] atalyaalon opened #1083 "Improve update news flash script efficiency"
1. Query DB only once
2. Don't use google API for location extraction, if location was already extracted (perhaps add it as a boolean parameter, and default is not using google but using current lon,lat)

[2020-01-13 20:13] #1075 closed

[2020-01-18 16:29] atalyaalon commented on #1082
Fix: https://github.com/hasadna/anyway/commit/d722046200c5f2217fb6adfb04f749028ba26d58

[2020-01-18 16:29] #1082 closed

[2020-01-20 18:06] advak commented on #1073
https://github.com/hasadna/anyway/pull/1088

[2020-01-20 18:06] #1073 closed

[2020-01-20 21:07] Mano3 opened #1091 "Create tags for news flashes"
for example in the following news flash:
"תאונת קורקינט באבן גבירול"
קורקינט could be a tag,
so a method to detect and create a list of tags for a news flash is needed, including a creation of a tags list column to the news flash table

[2020-01-25 16:52] sagivharel commented on #1091
אני אעשה את זה

[2020-01-31 13:05] Mano3 opened #1094 "twitter duplicate news flash"
![Screenshot_1](https://user-images.githubusercontent.com/33526700/73541356-e0e33500-443a-11ea-8050-7b3045239de6.jpg)
A lot of duplicates news flash from twitter, need to investigate why it happens,
could it happen on other news sources?
Also, obviously need to remove the duplicated.
Another thing to note, is that the location of the accident was actually in the second sentence of the tweet, so th

[2020-01-31 13:06] Mano3 commented on #1094
@sagivharel -> could you take care of it? I prioritize this over the tags handling, but that's up to Atalya as well.
@atalyaalon -> tagging you for reference

[2020-01-31 13:08] Mano3 commented on #1094
![Screenshot_2](https://user-images.githubusercontent.com/33526700/73541587-826a8680-443b-11ea-84c7-2b6ac5e5ffad.jpg)
Seems to happen also on ynet

[2020-02-01 12:36] sagivharel commented on #1094
its seems that there is one specific tweet which got crazy and was added numerous times.
After a brief look at the code i couldn't find a specific issue that could relate to the problem, also the inconsistency of the duplicated tweets and their timing make me think the problem is somehow related to the cron scheduling.

I'm having trouble building the local development environment so I cant debug

[2020-02-01 12:43] atalyaalon commented on #1094
@Mano3 @sagivharel I agree - let's not investigate now.
@Mano3 please write a command to delete duplicates. I will make sure cron runs in a lower frequency (say once in 5 or 10 minutes) - my guess is that the current frequency is too high so we get dups.

[2020-02-01 12:44] atalyaalon commented on #1094
If this continues, then we'll investigate

[2020-02-01 14:54] sagivharel commented on #1091
Do we want to decide on a fix set of tags topics like type of involved automobile, accident's severance etc. and build the function as an extractor of tags (similar to our accident's classification methods) or do you think it should be somehow "smarter" (maybe based on POS)

[2020-02-02 09:27] Mano3 commented on #1091
There is no working NER in Hebrew, especially not for our domain, and training one would be an overkill (and we don't have enough labeled data).
Smart fixed set is the best (open to extensions and considers lemmatizing and declensions)

[2020-02-02 09:29] Mano3 commented on #1094
Also considering duplicates when querying the DB in the backend might be appropriate

[2020-02-04 21:42] Mano3 commented on #1077
#1069 solves this

[2020-02-04 21:42] #1077 closed

[2020-02-04 21:43] Mano3 commented on #1083
#1090 solves this. hopefully.

[2020-02-04 21:43] #1083 closed

[2020-02-04 21:57] Mano3 commented on #1094
#1096 supposed to solve this

[2020-02-07 09:21] #1094 closed

[2020-02-17 20:52] atalyaalon opened #1100 "Add graph of accident count by month to infographics api"

[2020-02-22 23:35] atalyaalon opened #1102 "Add stats of injured count by age group to infographics api"

[2020-02-22 23:38] atalyaalon opened #1103 "Add stats of top streets injured count to infographics api"

[2020-02-22 23:40] atalyaalon opened #1104 "Add stats of top road segments accidents count to infographics api"

[2020-03-02 17:58] atalyaalon opened #1110 "Move Production to KamaTera"
including:

1. Two containers - app and db
2. App container: Python 3 running
3. CI - build containers and update DB schema when pushing to master.
4. Staging Server
~~5. DB daily backup~~ Duplication of this issue #951
6. Newflash crontab running
7. Keeping secrets that will be environment variables in k8
8. Having access for specific authorized people to our production app so we can run commands

[2020-03-02 18:49] atalyaalon opened #1111 "Infographics API - improve DB queries performance"

[2020-03-02 19:50] atalyaalon commented on #1091
@sagivharel @Mano3 please create a basic list of tags, and let's discuss it

[2020-03-08 19:20] atalyaalon opened #1122 "Add stats of accidents count by day/night to infographics api"

[2020-03-16 17:56] atalyaalon opened #1131 "Add stats of accidents count by hour to infographics api"

[2020-03-24 04:25] ziv17 opened #1134 "Add stats of accidents count by road light to infographics api"
#1135

[2020-03-25 10:37] ziv17 commented on #1134
PR:#1135

[2020-03-25 15:46] ziv17 opened #1136 "Add to most_severe_accidents also the accident type (accident_type_hebrew)"

[2020-03-25 15:49] ziv17 commented on #1134
#1135

[2020-03-25 17:49] ziv17 opened #1138 "Add to infographics a table widget with items same as 'most severe accedents' and columns: date, hour, type, #dead, #injured."
- example table image : [https://hasadna.slack.com/files/U713Z196J/F010QTQ95UY/road_90_segment_table.jpeg](url)
- Add generic headline that uses location-info. Needs to work for both city/street name, and road number/segment No.

- Add description of widget in [ https://docs.google.com/document/d/1Hv5ItvwM3z9nn95LjlsYHL-o18V8PgWrrQOKIPiPymU/edit](url)

[2020-03-26 16:19] #1134 closed

[2020-03-26 16:20] #1131 closed

[2020-03-26 16:21] #1136 closed

[2020-03-30 21:46] BarVolunteering opened #1139 "Change infographics api from start_time & end_time to years_ago"

[2020-04-01 12:23] #1139 closed

[2020-04-01 13:18] atalyaalon commented on #1122
great work @galrou!

[2020-04-01 13:18] #1122 closed

[2020-04-01 13:20] atalyaalon commented on #1102
@shaniwein  please make sure to group them by dictionary to larger groups first, like you see in the document here: https://docs.google.com/document/d/1Hv5ItvwM3z9nn95LjlsYHL-o18V8PgWrrQOKIPiPymU/edit (section 5.8)

[2020-04-01 13:29] atalyaalon commented on #1074
@shaniwein great work!

[2020-04-01 13:29] #1074 closed

[2020-04-01 14:29] atalyaalon commented on #1091
@sagivharel @Mano3 any progress on this one?

[2020-04-05 21:59] atalyaalon commented on #1031
Thank you @MichalOren ! Great Work!

Relevant queries:
`update age_group
set age_group_hebrew = '05-09'
where year in (2008,2009) AND age_group.provider_code = 1 AND id=2;`

`update age_group
set age_group_hebrew = '10-14'
where year in (2008,2009) AND age_group.provider_code = 1 AND id=3;`

And Thank you @yoni2k for opening this issue.

[2020-04-05 21:59] #1031 closed

[2020-04-06 11:13] Mano3 commented on #1091
None that I know of, Could you contact Sagiv?

[2020-04-10 17:48] Mano3 opened #1151 "send email upon news flash failure"
Send the error message once news flash cron run fails.

[2020-04-15 20:58] cubann commented on #1110
@atalyaalon Any chance that

is this issue #951 ?

[2020-04-16 13:08] atalyaalon opened #1175 "remove login button"
not functioning at the moment
![Screen Shot 2020-04-16 at 16 08 14](https://user-images.githubusercontent.com/20992625/79459781-7e8edf00-7ffc-11ea-8e31-8f8ce510410a.png)

[2020-04-16 13:25] atalyaalon commented on #1110
@cubann yes, please assign yourself

[2020-04-16 13:31] cubann opened #1176 "[dev-ops]Create backups for our production DB #951"

[2020-04-16 13:32] #1176 closed

[2020-04-18 10:32] cubann commented on #951
@OriHoch @atalyaalon I am trying to understand this issue, and good way to solve it, so I have got couple questions:

1. https://github.com/hasadna/hasadna-k8s/blob/b91251ffee390ea4ba996d232b04e8f4d0e728f6/charts-external/anyway/templates/db-deployment.yaml Is it the way how we deploy our DB?
2. does hasadna have any general way/recommendation for backups?
3. do we have any kind of architecture, d

[2020-04-18 10:56] OriHoch commented on #951
hi @cubann

1. currently anyway production runs in a different way, but running on Kubernetes is the goal. Most other projects are already running on Kubernetes in a similar way
2. we have file-system backups of all volumes, including all DB volumes. But we don't have any DB-specific backups.
3. no, but it's all running on Kubernetes, as defined here - https://github.com/hasadna/hasadna-k8s

[2020-04-18 11:50] atalyaalon commented on #951
perhaps @ItamarLevin is also relevant in this discussion.
1. the image in the link you've sent is not updated - we are now using a postgis image from dockerhub.
2. @OriHoch Can you elaborate a bit more or give us an example? What the difference and the advantage of backing up the db volumes vs created a DB-specific backups (e.g. postgres - pg_dump of the db)?
3. Yes, and in general @ItamarLevin an

[2020-04-18 11:55] OriHoch commented on #951
main disadvantages of filesystem backups:
* harder to restore / use the data - you have to create a new DB in the exact same version and settings as the original DB and mount a filesystem from the restore on it, where DB backup produces an SQL file you can use anywhere
* might be inconsistent / corrupted - e.g. if a DB write occurs in the middle of the filesystem backup

we currently keep backups

[2020-04-18 11:58] atalyaalon commented on #951
@OriHoch - we want to give volunteers the ability to work locally with all of the data - hence I assume we would like to have a db backup (using pg_dump in our case) rather than a filesystem backup, am I right? How do other projects allow their volunteers to work with an up to date data?

[2020-04-18 11:59] atalyaalon commented on #951
@cubann regarding saving the backups in s3 - we have a bucket of our own - I will send you and Itamar the access details.

[2020-04-18 12:03] OriHoch commented on #951
yes, you will need to use a DB backup for that
other projects don't have this exact requirement, but open budget uses a microservices approach so that unless you are doing some low-level infrastructure work you don't need the DB, you just access the relevant microservices which provide the data

[2020-04-18 12:10] atalyaalon commented on #951
got it, thanks!
So @cubann - we want to create 2 types of backups:
1. Full db backup every day, that will enable us to restore the db if something happens. For this one, I believe we can keep only the past week - what do you think?
we'll upload every night the backup to s3, and delete the one from a week ago.
The command is: `pg_dump anyway > anyway_full.pgdump`
2. Backup for volunteers that doesn

[2020-04-18 13:01] OriHoch commented on #951
You can store the db export for volunteers locally and serve it using nginx with http auth.

for example:

**ingress**

https://github.com/hasadna/hasadna-k8s/blob/master/environments/avidcovider-gcloud/values.yaml#L15
https://github.com/hasadna/hasadna-k8s/blob/master/charts-external/avidcovider/templates/ingresses.yaml

**nginx**

https://github.com/hasadna/hasadna-k8s/blob/master/charts-externa

[2020-04-18 13:23] atalyaalon commented on #951
@OriHoch isn't it a problem to perform it on the production?
We don't want to overload the production.

[2020-04-18 19:01] OriHoch commented on #951
In the example i sent it's a separate pod so doesn't affect any other workload, also nginx requires very low resources

[2020-04-18 20:38] Mano3 opened #1183 "features for news flash updater"
- update only news flash after certain date
- update even though the location hasn't changed

[2020-04-19 15:14] #1102 closed

[2020-04-19 15:26] Mano3 opened #1186 "Create a metric for db matching accuracy of news flash"
The metric should be based on:
1) number of fields existing in the DB's accident in regard to the number required by the news flash accident resolution.
2) the geographical distance between the DB's accident and the found geolocation.
This metric can later be used to indicate how accurate the DB matching was, should also be added to the news flash table.

[2020-04-19 15:38] Mano3 opened #1187 "Improving news flash location accuracy by intersecting with other sources"
If the same news flash is shown both at ynet/walla/mda around the same time, we could intersect these sources to create a more accurate representation of the accident, for example it's location, time, and later even tags.
Furthermore, we can later use it to define a unified news flash accident independent of source.

[2020-04-19 15:58] Mano3 opened #1188 "Intersect data from Waze with DB's accidents"
Use Waze data to compare, enhance and indicate location errors of existing traffic accidents in the DB.

[2020-04-19 15:59] Mano3 opened #1189 "Intersect data from Waze with news flash accidents"
Use Waze data to compare, enhance and indicate location errors of newcoming news flash accidents.

[2020-04-19 16:02] Mano3 opened #1190 "Create a metadata table on roads using Waze data"
Use Waze data to provide additional metadata regarding roads, generally and in a given time bucket.(weather, speed in the area, signs, road work, traffic, etc), depending on what can be extracted from Waze data.

[2020-04-19 16:06] Mano3 opened #1191 "Create a metric and evaluation of news flash geolocation extraction"
How accurate is the geolocation we are extracting? How can we numerically evaluate this? Which latent variables affect the accuracy of this geolocation? How can we improve the algorithm to parse the news flash and to extract a geolocation?

[2020-04-19 16:08] Mano3 opened #1192 "Improve the news flash classifier algorithm"
Or maybe if-elses are good enough, need to evaluate and check that.

[2020-04-19 19:47] cubann commented on #951
@OriHoch @ItamarLevin So what about using K8s CronJob https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#cronjob
for creating backups?
@atalyaalon Seems to me like it is good practice, maybe even best:)

[2020-04-19 19:52] atalyaalon commented on #951
@cubann sounds good to me

[2020-04-22 17:30] atalyaalon commented on #1183
@Mano3 can you describe a bit more regarding this issue?

[2020-04-22 17:32] atalyaalon commented on #1151
@Mano3 can you elaborate a bit more about this issue?

[2020-04-22 17:32] #1023 closed

[2020-04-22 17:48] atalyaalon opened #1200 "Cache infographics_data"
At the moment, the /api/infographics_data (see flask_app.py) is calculated for every API call.
We want to
1. Create a table in our DB that will contain the API jsons for every news flash (key: tuple of news_flash_id and years_ago (arguments sent in the request), data - the output object in infographics_data.
2. Update the API to pull from this table
3. Create a function that updates this table for

[2020-04-22 19:09] BarVolunteering opened #1201 "Add front collision count relative to other accidents count to infographics api"
Add front collision count relative to other accidents count to infographics api

[2020-04-22 19:21] atalyaalon commented on #1201
@BarVolunteering please add the image as well

[2020-04-22 19:24] BarVolunteering commented on #1201
This issue is about implementing the 5th widget(marked in red)
![image](https://user-images.githubusercontent.com/58947331/80024521-e0ad7f80-84e7-11ea-8571-d20eb66556d3.png)

[2020-04-23 09:18] #1104 closed

[2020-04-23 10:08] Mano3 opened #1203 "Create a better location resolution function"
I suspect that the location resolution function is problematic, there should be further inverstigation of Google Maps API response fields and meaning so this function could be improved for better news flash DB matching

[2020-04-23 10:10] Mano3 opened #1204 "Better location extraction for news flash"
The location extraction text is based on regexes now, there could be a better way to extract the location, maybe NER based, or smarter parsing of the location segments.

[2020-04-23 10:13] Mano3 opened #1205 "Distinguish or merge past news flash of accident with newer reports"
Multiple times a news flash is created for updates about an already reported accident -  for example follow up news flash about the same accident.
Example:
"A person was hit by a car in Weizman street"
"The person that was hit yesterday by a car in Weizman street is now dead"
We should decide how we treat these news flash, how do we merge them or make a relation between them.

[2020-04-23 10:21] Mano3 commented on #1183
@atalyaalon done

[2020-04-23 10:24] Mano3 commented on #1151
@atalyaalon done

[2020-04-24 17:07] Mano3 opened #1210 "Deal with news flash accidents outside Israel"
At times a news flash about a traffic accident abroad arrives and the news flash pipeline tries to match it to the DB, which is wrong and such traffic accident should be excluded from the relevant news flash pool.
I think the best way to deal with them is to re-classify them as no accidents.
So a way to check if a traffic accident is in Israel is needed and accordingly re-classify it.

[2020-04-24 17:11] Mano3 opened #1211 "Check if we should move to a Google based address components instead of CBS"
Might be easier, so we won't deal with mismatches and mistakes in CBS data to move to Google based address components, as Google works with PlaceID. This would also make the news flash DB matching easier, since it's also based on Google's address components. A check should be made to test if such move is valuable as opposed to the economic cost of translating the CBS fields to Google's address com

[2020-04-26 19:17] shaniwein opened #1212 "Add accident count by drivers type to infographics api"

[2020-05-04 16:52] atalyaalon opened #1221 "Import all road images from wikipedia"
Create a script that imports all road images svgs from https://he.wikipedia.org/wiki/%D7%9B%D7%91%D7%99%D7%A9%D7%99_%D7%99%D7%A9%D7%A8%D7%90%D7%9C

For example: road2 image: https://he.wikipedia.org/wiki/%D7%9B%D7%91%D7%99%D7%A9%D7%99_%D7%99%D7%A9%D7%A8%D7%90%D7%9C#/media/%D7%A7%D7%95%D7%91%D7%A5:ISR-HW-2.svg

[2020-05-04 17:46] ziv17 commented on #1200
Hi @atalyaalon , why do we need the years_ago as part of the key?

[2020-05-04 17:47] reuvenz1993 commented on #1221
1. Is there a preferred approach- web scraping or query string manipulation?
2. Where should this code be integrated?

Thank you :)

[2020-05-04 17:49] atalyaalon commented on #1200
@ziv17 since data we send will be different if we look at 1 or 3 or 5 or 8 years back.

[2020-05-04 17:55] atalyaalon commented on #1221
@reuvenz1993
1. no - we use python - so I prefer you'll use python for that
2. we'll integrate it in the backend
3. next phase will be to save the data in a repo in aws with these images

[2020-05-04 18:09] ziv17 commented on #1200
Hi @atalyaalon , in (2), if item is not found in the cache, I assume we want to do the regular calculation.

[2020-05-04 18:11] atalyaalon commented on #1200
@ziv17 sounds good to me

[2020-05-04 19:18] atalyaalon opened #1222 "Add widget of accident percentage comparison per vehicle type"
see the [following image](https://drive.google.com/file/d/1qFDDyYBhQ1rT1xj2a99GkyYWGaXXRbwi/view?usp=sharing)

[2020-05-05 00:24] atalyaalon opened #1224 "Change our CBS views in DB to be materialised views"
Today's CBS table views are not materialised views (!!!)

Also, views are written in raw SQL their tables are not considered as views in SQLAlchemy.

1. Modify current views  to be materialised views - markers_hebrew, involved_markers_hebrew, vehicles_hebrew.
Check out the following guide:
 http://www.jeffwidman.com/blog/847/using-sqlalchemy-to-create-and-manage-postgresql-materialized-views/
Also

[2020-05-05 00:35] atalyaalon opened #1225 "Add tests"
Add tests to:

- infographics API
- infographics creation function
- news-flash API.

1. Add basic tests to see the API flows and relevant functions are working.
2. Think of a more sophisticated tests for these API
3. update tests directory and/or documentation accordingly.

@DavidShemian can you take this issue?

[2020-05-06 16:27] atalyaalon opened #1231 "Remove news-flash-filters"
FrontEnd are now using only news-flash API since we can now delete news-flash-filters from functions, API and CORS mention in flask_app.py

[2020-05-06 16:38] atalyaalon opened #1232 "Apostrophe in API is translated to &apos"
See the title section in the API of the following news flash:
https://anyway.co.il/api/news-flash/25768 (the Hebrew word ג׳יפ)
However, in redash we see the Hebrew part perfectly good (see images)

How should we handle such characters? perhaps we can change the way we dump the data before sending the response?

<img width="683" alt="Screen Shot 2020-05-06 at 19 29 40" src="https://user-images.gith

[2020-05-06 21:44] #1201 closed

[2020-05-08 16:00] idosavion commented on #1232
looking into it

[2020-05-09 16:53] atalyaalon opened #1233 "news flashes contain the wrong hour"
For example: id=26057
time: 2020-05-09 22:45:00
link: https://news.walla.co.il/break/3355783

[2020-05-11 18:07] yossich6 commented on #1221
@reuvenz1993 are you working on it? If so please assign this issue under your user name

[2020-05-11 18:50] atalyaalon opened #1236 "Improve ANYWAY map's API performance"
Add DB indices and/or perform code modification to improve performance of the following API functions. Please:
- use timing measurements and functions (for example [timeit](https://docs.python.org/3.6/library/timeit.html) to make sure the improvement is significant.
- Make sure you have the most updated DB data locally.

1.[/markers](https://github.com/hasadna/anyway/blob/b1667a3488d7998b52b36d67e

[2020-05-11 22:11] #1231 closed

[2020-05-11 22:44] #1138 closed

[2020-05-11 22:47] atalyaalon commented on #1091
@advak most of this PR is done (see [here](https://github.com/hasadna/anyway/pull/1129)), but there is still some code needed to complete it. Can you take it? (We can discuss it offline if you have any questions)

[2020-05-11 22:53] #788 closed

[2020-05-11 22:56] atalyaalon commented on #947
No need for this one, we're now using github actions thanks to @ItamarLevin and @OriHoch . Thank you both!

[2020-05-11 22:56] #947 closed

[2020-05-11 22:57] atalyaalon commented on #1175
@sa1omon can you take this one?

[2020-05-12 11:16] asyaf opened #1238 "Anomaly detection of road segments"
Example:
https://anyway-newsflash-infographics.web.app/newsflash/15305

[2020-05-12 19:48] BarVolunteering opened #1241 "Set default values of 0 to elements in head_on_collisions_comparison"
Example for the element that is missing

![image](https://user-images.githubusercontent.com/58947331/81738603-9f830c80-94a2-11ea-8dd3-798dc5356a1a.png)

[2020-05-13 14:21] atalyaalon opened #1242 "Change the rank field in API to be in the meta part"
See [discussion here](https://github.com/hasadna/anyway-newsflash-infographics/issues/180)

Hence, instead of

`'''
    Widget structure:
    {
        'name': str,
        'rank': int (Integer),
        'data': {
                 'items': list (Array) | dictionary (Object),
                 'text': dictionary (Object) - can be empty
                 }
        'meta': dictionary (Object) - can be

[2020-05-14 19:22] #1241 closed

[2020-05-16 20:02] idosavion commented on #1232
It seems like the data is stored in the wrong format, but I couldn't find where it is parsed/ crawled. would be happy to get some help/ get access to redash/db to dig a little deeper.

[2020-05-17 08:30] MichalOren opened #1245 "Add Casualties_Costs table to Anyway DB"
Costs of casualties in LAMAS accidents base on נוהל פר"ת.
Assuming that journalists are interested in such an information aspect.
Add Casualties_Costs table to Anyway DB
[Casualties_Costs.xlsx](https://github.com/hasadna/anyway/files/4640607/Casualties_Costs.xlsx)
Find me for any clarification

Also - when creating the table, please make sure that column names are [snake_case](https://en.wikipedia

[2020-05-17 15:52] atalyaalon commented on #1232
@Mano3 can explain how data is processed and stored.
Regarding redash - sending you a pm

[2020-05-18 12:26] atalyaalon opened #1246 "Modify resolution name"
From "כביש בינעירוני" to "כביש בין עירוני"
From "צומת בינעירוני" to  "צומת בין עירוני"
This resolution appears in different location in the code, when inserting into the db and when analysing and quering the news_flash table, for example in anyway/infographics_utils.py and anyway/flask_app.py files.

Also create a suitable code that updates the news_flash table and updates existing news flashes (u

[2020-05-18 15:33] Mano3 commented on #1232
@idosavion
The code itself is stored in anyway/parsers/news_flash.
What do you mean by wrong format?
I think there might be just differences in formats, which could be solved without changing how the data is stored

[2020-05-18 17:20] atalyaalon opened #1247 "Vision Zero Widgets"
in anyway/infographics_utils.py, vision_zero widget is defined as follows:

`vision_zero = Widget(name='vision_zero',
                         rank=15,
                         items=['vision_zero_2_plus_1'])`

Soon we will have additional vision_zero widgets, that's why we need to plan the structure of the vision zero widgets.
@yuvalbl - any thoughts or requests from the backend side on those wid

[2020-05-18 18:17] atalyaalon opened #1248 "Create Relevant Docs: Project Overview"
Including:

1. ANYWAY Products (+ Overview Diagram)
2. ANYWAY Teams
3. ANYWAY Timeline
4. BackEnd Current Design
5. BackEnd New Design

@yossich6 Please add any comments or questions you have regarding this issue.

[2020-05-20 15:45] isavion opened #1252 "Fail Gracefully on missing keys"

[2020-05-20 19:25] atalyaalon opened #1253 "update docs/CONTRIBUTING.md"

[2020-05-21 11:18] #1253 closed

[2020-05-21 15:09] elazarg opened #1256 "Remove six from dependencies"
Since #643 is done, there is no need for the library. It is currently used in [7 files](https://github.com/hasadna/anyway/search?q=six&unscoped_q=six), and should be easy to replace.

[2020-05-21 16:28] idosavion commented on #1232
![image](https://user-images.githubusercontent.com/18330067/82581310-130ad500-9b99-11ea-8e92-d4a59f8df0ae.png)
I meant the data was scraped wrongly from ynet and the data within the DB is malformed (The problem is not with the deserialization of the object from the DB).

[2020-05-21 16:42] idosavion opened #1257 "Specify requirements version"
![image](https://user-images.githubusercontent.com/18330067/82582416-b3adc480-9b9a-11ea-8d8e-fa4a24fee629.png)
The requirements in this project doesn't specify a version and therefore the latest version from pip will be installed.
This may cause a braking change in the future, so the versions should be specified.

[2020-05-22 09:47] Mano3 commented on #1232
@idosavion I think the data was scraped correctly. The parsing in the other hand is not perfect as seen,
I'd suggest looking
https://github.com/hasadna/anyway/blob/dev/anyway/parsers/news_flash/parsing_utils.py
(Get author, get description, etc..)
And here
https://github.com/hasadna/anyway/blob/dev/anyway/parsers/news_flash/beautiful_soup_news_flash_parse.py
(For use of these functions)
For ynet a

[2020-05-22 12:36] idosavion commented on #1232
@Mano3
Thanks! Is there an easy/known way to reproduce the scraping and parsing process locally in order to debug it? found nothing in the tests

[2020-05-22 12:39] atalyaalon commented on #1232
Unfortunately not - however you are welcome to open an issue and add such tests

[2020-05-22 13:33] nadavsh22 commented on #1232
Hi, iv'e checked the response from the rss request (ynet in this case) @Mano3  is correct, the data is scraped correctly. The &apos or any other special characters originate from parsing the HTML.
I tried replacing the parser for BeautifulSoup "html.parser" with "lxml" which seems to produce the desired behaviour.

[2020-05-22 13:39] elazarg opened #1260 "Refactor scraping news flash"
The modules handling the scraping of news flash scraping require extensive refactoring.
Here's a non-exhaustive list of quality issues I see:

- [x]  Multiple occurrences of swallowed exceptions - I mean `Exception`s (catching `Exception`, even when logged, seems to be overkill).

- [x] Module-level side effects: `init_flask()`
- [x] Naming: Unclear separation of `news_flash_*` files and a `news_f

[2020-05-22 13:44] elazarg opened #1261 "Scraping can break silently"
Scraping from Walla broke when the css tag changed. This method is brittle, and there's no mechanism to notify anyone about that. #1259 adds the missing logging, but we might need an active mechanism, such as a cron-based script that would email in such case, as suggested by @atalyaalon .

[2020-05-22 16:45] #1257 closed

[2020-05-22 18:37] atalyaalon opened #1264 "Address tests' warnings"
See warnings [here](https://github.com/hasadna/anyway/runs/700303448?check_suite_focus=true#step:6:86)

[2020-05-22 18:39] atalyaalon opened #1265 "Update DOCS"
There are a few more docs in docs repo that are outdated.
Change them or delete if needed.

[2020-05-22 21:09] atalyaalon commented on #1261
@elazarg, Just a though, why not use rss feeds?
For example [walla's news flashes rss feed](https://rss.walla.co.il/feed/22)
[All of walla rss feeds](https://rss.walla.co.il)
[Ynet news flash rss](http://www.ynet.co.il/Integration/StoryRss1854.xml)
@Mano3 not sure if we discussed this solution in the past

[2020-05-23 09:26] atalyaalon opened #1268 "Improve Loading Performance of our www.anyway.co.il website"
Perhaps a good way to start is with [Pingdom test](https://tools.pingdom.com/) or similar tools.

[2020-05-23 12:03] Mano3 commented on #1261
@elazarg  @atalyaalon
Ynet is scraped using RSS, this is not the problem. The break could happen in Ynet if the CSS tag is changed too, since scraping the news flash own's URL is needed to scrap the description of the news flash. regarding Walla, we knew at the time about the RSS feed and I don't remember why scraping directly was chosen, maybe @elashahar01 can elaborate.
Anywho, the issue cannot

[2020-05-23 13:17] elashahar01 commented on #1261
@Mano3
If I remeber correctly, I didn't find walla's RSS feed back then.

[2020-05-23 17:29] elazarg commented on #1261
We should definitely move to Walla's RSS. It will not solve the problem but will make it less likely.

[2020-05-23 18:02] elazarg opened #1270 "Walla - scrape news flash from RSS"
Currently Walla is scraped from HTML, instead of https://rss.walla.co.il/feed/22
See discussion in #1261.

[2020-05-23 18:49] asyaf commented on #1238
Zscore method, used for cities, seems to work here as well, and with a lower threshold.
Committed to
https://github.com/asyaf/anyway-data-science/blob/master/learning_notebooks/filter_road_segment_outliers.ipynb

[2020-05-23 20:15] #1232 closed

[2020-05-23 21:04] yossich6 commented on #1242
''' Widget structure: {
     'name': str,
    'data': {
          'items': list (Array) | dictionary (Object),
          'text': dictionary (Object) - can be empty }
   'meta': {
           <how to call this category?> dictionary (Object) - can be empty,
           'rank': int (Integer)
 }

Q: meta should hold a scope to categories? If so, what should be the name of - dictionary (Object) - can be

[2020-05-23 21:19] atalyaalon commented on #1242
Widget structure:
`{ 'name': str,
   'data': { 'items': list (Array) | dictionary (Object),
                'text': dictionary (Object) - can be empty }
 'meta': {'rank': int }}`
In tne future we'll add 'meta' additional fields, perhaps also categories.

[2020-05-24 13:18] #1264 closed

[2020-05-25 05:03] #1212 closed

[2020-05-25 14:40] #1270 closed

[2020-05-25 15:23] idosavion opened #1283 "Add default database url"

[2020-05-25 16:05] #1283 closed

[2020-05-25 19:47] #1256 closed

[2020-05-26 15:27] idosavion opened #1286 "auto format python code"
Since the number of contributors in the project is getting bigger,
some standardisation is required in the codebase to ease readability,
it will also us to focus on more important stuff when reviewing PRs.

black was adopted by the python community and could be easily integrated into the project

[2020-05-26 17:55] elazarg commented on #1286
The transition will introduce huge code churn, and should not be performed lightly.

Also, black is still in a beta phase:
https://github.com/psf/black#note-this-is-a-beta-product

[2020-05-26 19:43] atalyaalon opened #1289 "Remove the rest of six from dependencies"
create a new PR replacing the rest of the six dependencies in:
anyway/parsers/cbs.py
anyway/flask_app.py
tests/test_flask.py
tests/test_main.py

[2020-05-26 19:47] atalyaalon opened #1290 "Change walla RSS link"

[2020-05-26 20:48] elazarg commented on #1286
Also, I'm in favor of the move - in principle. It should be quite slow however. Or happen when we know nobody is working on the codebase.

[2020-05-27 15:04] idosavion commented on #1286
1. This is a huge code churn, but I don't understand how it is considered a problem.
Anyone who is working on a PR can just format the code with black and ignore the changes in the file he is working on.
2. I haven't notice a change in black's style in the last couple of months, but removing it from the project if required is fairly simple (we only need to remove the test, right?)

[2020-05-27 15:11] atalyaalon commented on #1247
@yuvalbl any thoughts?

[2020-05-27 16:26] elazarg commented on #1261
#1291 adds a test that performs "real" scraping of a single item. It only runs during dev/CI time, so it does not completely solve the problem either; and it doesn't validate the result in any way.

[2020-05-30 20:09] #1290 closed

[2020-05-31 13:31] elazarg opened #1296 "Handle multiple newsflashes that refer to the same event"
Example: https://twitter.com/mda_israel/status/1267044518727122945

[2020-06-01 06:02] #1100 closed

[2020-06-01 17:25] atalyaalon opened #1297 "Remove from API infographics that are not in Milestone 1 Mock"
Don't delete the relevant code, just refrain from sending them in API for now.

![road90_mock_](https://user-images.githubusercontent.com/20992625/83436067-e9c63080-a445-11ea-8767-b065979190e2.jpeg)

[2020-06-02 07:07] atalyaalon opened #1299 "Modify News Flash API to return source in a different way"
Let's have this in 2 stages:

- [ ]  In News Flash API return the following mapping (on the left - data in the DB, on the right, the returned data):
walla -> וואלה
twitter -> מד״א
ynet -> ynet

- [ ] Add an "organization" column in news flash table, called organization, make sure that column is filled when a new news-flash is inserted to the news_flash table.

- [ ] Write a code that add fill this

[2020-06-02 13:11] atalyaalon opened #1300 "Change injured_count_per_age_group API format"
Please change the format to be the following (add age_group and count) in items

![image (2)](https://user-images.githubusercontent.com/20992625/83523999-a45c3e80-a4eb-11ea-9fa6-84908e08e077.png)

[2020-06-02 13:13] atalyaalon commented on #1300
@yuvalbl FYI

[2020-06-02 13:58] ziv17 commented on #1245
Hi @atalyaalon , is this a constant table? so the need is to create it and add the data items in the Excel file?

[2020-06-02 14:10] atalyaalon commented on #1245
@ziv17 yes, just like I did in embedded reports pr: https://github.com/hasadna/anyway/commit/c5e2c8821a320c65e05f0668aa5bbc2e20af39a1
I think it's better to have a csv and not an excel.

[2020-06-02 14:11] atalyaalon commented on #1245
@ziv17 note that unlike embedded reports, there is no need to add an API to this table.

[2020-06-02 16:30] ziv17 commented on #1245
@atalyaalon , I understand the primary key is the type_ID. Should Injured_Type also be a primary key?

[2020-06-02 17:44] atalyaalon commented on #1245
@ziv17 I don't think it's very significant, whatever you think is ok.

[2020-06-02 19:53] #1286 closed

[2020-06-03 08:23] #1300 closed

[2020-06-03 10:23] idosavion commented on #1265
@atalyaalon  - can you please list the APIs that are not documented properly?

[2020-06-03 11:54] atalyaalon commented on #1265
@idosavion actually all of them.
Any suggestion for a relevant tool?
BTW we thought of using [Flask-RESTFPlus](https://flask-restplus.readthedocs.io/en/stable/index.html), that also has swagger but haven't started yet

[2020-06-04 03:57] atalyaalon commented on #1289
@idosavion I believe we can close this one?

[2020-06-04 04:41] idosavion commented on #1289
Yes, weird.. I thought the PR was linked to the issue

[2020-06-04 05:07] #1289 closed

[2020-06-04 10:30] elazarg opened #1311 "Make pytest in CI verbose"
`pytest -v` will show which tests are skipped and more details about failures. I think it would be useful.

[2020-06-04 10:57] #1311 closed

[2020-06-04 11:15] elazarg commented on #1260
More:
- [ ] Duplicated logic for location extraction on `update_news_flash`
- [ ] Use SQLAlchemy objects (`NewsFlash`) instead of hand crafted SQL.

[2020-06-05 09:58] atalyaalon commented on #1091
@Mano3 I will take this on me

[2020-06-05 15:03] atalyaalon commented on #1183
@Mano3 is this still relevant? Has anything changes since @elazarg started the refactoring?

[2020-06-05 15:17] atalyaalon commented on #1042
@sa1omon any news on this one?

[2020-06-05 16:09] Mano3 commented on #1183
@atalyaalon
The updater should be up to date with any change in the code, but most importantly in the algorithm.
These features are still needed.

[2020-06-05 16:22] atalyaalon commented on #1183
@carmelp16 this is your next issue, after your current one

[2020-06-06 20:36] elazarg opened #1323 "Walla RSS is inconsistent"
When fetching RSS from the CI, we get items like this one:
[code]

But accessing it from a browser, you get this:
[code]

With a `guid` field, and different `pubDate` format.

[2020-06-07 05:05] atalyaalon opened #1325 "create a slimmer environment in docker"
Following the discussion in https://github.com/hasadna/anyway/pull/1285

[2020-06-07 08:42] atalyaalon opened #1326 "Negative longitude in a news flash"
see id=28788

<img width="838" alt="Screen Shot 2020-06-07 at 11 41 13" src="https://user-images.githubusercontent.com/20992625/83964198-f61e1380-a8b3-11ea-87db-bff3611a5060.png">

@Mano3 FYI

[2020-06-07 10:52] #1175 closed

[2020-06-07 13:28] elazarg commented on #1326
It might be a parsing issue - it means a location in the US is mentioned.

This is what the googleapi gives for the parsed location, for id=14206:
[code]
[code]

[2020-06-07 15:46] #1323 closed

[2020-06-07 16:11] #1296 closed

[2020-06-07 20:30] elazarg commented on #1323
I'm not sure if this should be closed, like, forever, given spurious failures such as [this one](https://github.com/hasadna/anyway/runs/747395502) in #1317. Walla is volatile (and not just the RSS).

[2020-06-08 08:27] atalyaalon opened #1330 "Use our new parsers.secrets model for existing secrets"
@elazarg FYI - opened a different issue for this one

[2020-06-08 08:46] elazarg commented on #1330
Part of the process would be to move it out of the `parsers` module :)

[2020-06-08 09:18] atalyaalon commented on #841
facebook logging is fixed, now we have google login to fix next.

[2020-06-08 14:52] Mano3 commented on #1326
This issue is a dup of #1210

[2020-06-08 14:52] #1326 closed

[2020-06-09 07:19] VickySidorkin commented on #1221
https://github.com/hasadna/anyway/pull/1292

[2020-06-09 14:17] atalyaalon commented on #1330
@elvirag will take this issue
@elazarg can you elaborate a bit more?

[2020-06-09 16:45] elazarg opened #1346 "Use mockup for location-extraction tests"
Since google services require a secret key that is inaccessible to PRs, we need to use a mockup for the test. Possibly in addition to a test that actually uses the key (and is skipped in the PR).

See #1317 that failed on dev, and #1343 that fixed it.

[2020-06-09 18:28] elazarg opened #1348 "Don't install unneeded dependencies for lint"

[2020-06-11 12:07] atalyaalon commented on #1247
@yuvalbl any preferences on this one? any thoughts?

[2020-06-15 14:37] atalyaalon commented on #1297
@yuvalbl will implement this one in the FE if necessary. Closing this issue.

[2020-06-15 14:37] #1297 closed

[2020-06-16 15:53] idosavion commented on #1224
@atalyaalon can I close this one?

[2020-06-17 16:18] atalyaalon opened #1360 "Putting the config in one place"
Following the comment of @idosavion [in this pr](https://github.com/hasadna/anyway/pull/1319)

[2020-06-18 09:51] atalyaalon opened #1362 "News Flash duplicates"
As of now, process runs once in 30 minutes - and duplicates of news flash are inserted into the db. We want to get to the bottom of this.

[2020-06-18 09:55] atalyaalon opened #1363 "Review bumping of werkzeug"
In previous time we tried to bump this version - it caused issues with alembic upgrade head command.
Do these issues still exist?
Maybe we can bump it to a later version, even of not last.

Relevant PR: https://github.com/hasadna/anyway/pull/1338

[2020-06-18 10:16] elazarg commented on #1362
I think the culprit is here https://github.com/hasadna/anyway/blob/1620631c7af61e5a1b26c7cc1a9b4caa94eef3ed/anyway/parsers/news_flash_db_adapter.py#L166

The date is loaded as UTC, but `replace` does not move it to a new TZ; it merely rewrites the timezone. It should probably be `astimezone`.

[2020-06-19 16:43] #1362 closed

[2020-06-22 14:25] #1221 closed

[2020-06-22 15:27] #1200 closed

[2020-06-22 18:16] idosavion opened #1367 "Add coverage stats to project"

[2020-06-22 18:44] atalyaalon commented on #1348
@elazarg can you elaborate?

[2020-06-22 18:45] atalyaalon commented on #1360
@advak small refactoring needed

[2020-06-22 18:46] atalyaalon commented on #1346
@DavidShemian please take this one. If you have any questions, please ask @elazarg

[2020-06-22 20:40] elazarg commented on #1348
@atalyaalon I have updated the description.

[2020-06-25 11:38] elazarg commented on #1348
https://github.blog/2020-06-18-introducing-github-super-linter-one-linter-to-rule-them-all/

[2020-06-25 13:44] idosavion commented on #1367
Added via codecov

[2020-06-25 13:44] #1367 closed

[2020-06-29 16:20] yossich6 commented on #1363
can you describe what kind of problems you've noticed?

[2020-06-29 16:21] yossich6 commented on #1363
and what you mean by alembic upgrade?

[2020-06-30 16:43] atalyaalon commented on #1363
@yossich6 we use alembic to manage db versions.
The command alembic upgrade head is use to upgrade the db after creating a new version (for example when creating a new table). PM for more information

[2020-06-30 16:46] atalyaalon commented on #1330
@elvirag how is this one going?

[2020-06-30 17:18] idosavion opened #1376 "Fix view dropping."
Logs attached:
[code]

[2020-07-01 15:11] idosavion commented on #1348
This is a great idea! I wonder why do you think we should migrate to another framework (since the actual tests are far slower than the pylint/eslint/black)?.
GitHub Super Linter was announced less than a month ago, we might want to let it "mature" a bit before starting to rely on it by removing other linters.

[2020-07-01 15:25] elazarg commented on #1348
I'm not sure we should use SuperLinter, but I think we should definitely consider it.

I don't think I understand you comment about migrating to another framework.

[2020-07-01 15:32] idosavion opened #1381 "Remove unused files"
Feel free to comment with additional files you think should be removed

* anyway/tests/documentation.txt

[2020-07-01 15:39] idosavion commented on #1348
I meant moving from working with pylint directly to moving to the super linter

[2020-07-06 09:58] atalyaalon commented on #1260
@elazarg I see we're left with one sub-issue here of Duplicated logic for location extraction on `update_news_flash`.
Can you take this one and finalize this issue?

[2020-07-06 10:00] #1376 closed

[2020-07-06 10:02] atalyaalon commented on #1325
@dimakuz great work! closing this one

[2020-07-06 10:02] #1325 closed

[2020-07-14 21:30] #1260 closed

[2020-07-17 13:48] Mano3 opened #1390 "Remove legacy code from news flash parser folder"
Since @elazarg incredible refactor, a lot of files became deprecated, there are also some functions that are deprecated in files that are being used.
I would appreciate if only code that is usable in production (via the current scraping flow) would remain in the codebase, any legacy code has got to go.
For example, as far as I understand news_flash folder is deprecated and everything is handled vi

[2020-07-23 11:31] elazarg commented on #1390
Oh. I thought I have removed them already.

[2020-07-24 15:37] #1390 closed

[2020-08-01 14:28] ziv17 opened #1406 "Infographics data cache - handle cache insertion failure during addition of NewsFlash."
The insertion to cache is invoked in new_flash_db_updater.py:73. It takes place after the new NewsFlash is in the DB because the infographics data code reads it from the DB.

[2020-08-01 14:51] ziv17 opened #1407 "Move the code that tests NewsFlash eligibility for Infographics data to a proper location"
Currently we only handle part of NewsFlash items in Infographics data. The current filter is defined in is_cache_eligible(), (infographics_data_cache_updater.py:16) but exists in additional locations e.g. infographics_data_cache_updater.py, and in flask_app.py.
A proper location may be a class that encapsulates Infographics data.

[2020-08-01 18:18] #1242 closed

[2020-08-02 19:48] atalyaalon opened #1409 "Collect DB logs"
As of now - logging_collector of the DB in production is off.
Please change this configuration in the docker-compose or db Dockerfile so logging_collector will be on - to find errors.

[2020-08-02 19:49] atalyaalon commented on #1409
@OriHoch any thoughts or suggestions on this one?

[2020-08-02 19:50] atalyaalon opened #1410 "Perform db session rollback in the case of exception during commit"
We get the following error: `ERROR: current transaction is aborted, commands ignored until end of transaction block`

Seems like a db command is failing somewhere in the code, but transaction isn't closed and we cannot perform other queries to the db.

A few suggestions for solution and/or debugging:

1. Adding `db.session.rollback()` after every db.session action, for example: `db.session.commit(

[2020-08-02 19:50] atalyaalon commented on #1410
@OriHoch any suggestions on this one?

[2020-08-02 20:48] OriHoch commented on #1409
don't you get these DB errors in the application log?

[2020-08-02 20:50] OriHoch commented on #1409
you can try to see what it does but I don't think it's worth to keep this option on long-term because it adds overhead without any benefit as you should get all error logs from the app logs

[2020-08-02 20:52] OriHoch commented on #1410
this should be checked in app logs, not in DB logs, the app should be able to identify where DB updates are being done and where there are failures

[2020-08-02 21:20] OriHoch commented on #1410
the logs in Google Stackdriver show a lot of details, including full SQL statement which failed

[2020-08-03 03:07] atalyaalon commented on #1410
Thanks @OriHoch , we'll check it out.
However, I believe that rolling back in exception is still a good code practice we should use, what do you think? (e.g see [here](https://stackoverflow.com/questions/2979369/databaseerror-current-transaction-is-aborted-commands-ignored-until-end-of-tra))

[2020-08-03 11:31] OriHoch commented on #1410
handling exceptions properly is always a good practice

[2020-08-09 13:44] DavidShemian opened #1414 "Fix infographic tests when test db docker is available"

[2020-08-09 14:03] davidshemian-xperiti opened #1415 "Fix infographic tests when test db docker is available"

[2020-08-09 14:03] #1415 closed

[2020-08-09 14:10] davidshemian-xperiti commented on #1414
# https://github.com/hasadna/anyway/pull/1351