[2013-12-25 15:14] robi-y opened #2 "Open311 - Check what can be used"

[2013-12-25 15:16] robi-y opened #3 "Standard Sadna README"

[2013-12-26 17:01] sagism opened #4 "Propose standard for Automated testing"
We need to look at options there (Flask-based automated tests) and make a call on what standard we want to set

[2013-12-26 17:03] sagism opened #5 "Look into geo extension for SQLAlchemy"
We'll need those down the road when we want to do something more sophisticated than bounding-box search

[2013-12-26 17:28] sagism opened #6 "Upgrade the CloudDB so we have a quota > 5MB"
Need to talk to Ron to get permissions to do this, or just create a new account on heroku

[2013-12-30 19:26] sagism opened #8 "Zooming in or out doesn't refresh markers"
Panning does issue a new request but zooming in and out does not. In addition, panning and zooming does not clear up markers so markers just accumulate

[2013-12-30 19:31] sagism opened #9 "Aggregate markers above a certain zoom level"
Right now we are just returning an empty list of markers above a particular zoom level so we don't overwhelm view, (and we don't display a message, which is a minimum). Best would be to display an aggregate.
See https://developers.google.com/maps/articles/toomanymarkers for details

[2013-12-30 19:33] galraij opened #10 "Change layer names and function"
Instead of עצומות and הצעות חוק should be types of accidents:
1. פגיעה בהולך רגל
2. התנגשות חזית אל צד
3. התנגשות חזית באחור
4. התנגשות צד בצד
5. התנגשות חזית אל חזית
6. התנגשות עם רכב שנעצר ללא חניה
7. התנגשות עם רכב חונה
8. התנגשות עם עצם דומם
9. ירידה מהכביש או עלייה למדרכה
10. התהפכות
11. החלקה
12. פגיעה בנוסע בתוך כלי רכב
13. נפילה ברכב נע
14. שריפה
15. אחר
16. התנגשות אחור אל חזית
17. התנגשו

[2013-12-30 19:57] sagism opened #11 "Hook new icons to markers"
Updated graphics from Dror

[2013-12-30 20:18] galraij opened #12 "Change default zoom"
when the system locate where you are the zoom around this point should be closer (around 10 streets)

[2013-12-30 20:24] galraij opened #13 "Fix filter by date"
allow people to filter accidents by dates

[2013-12-30 20:31] sagism opened #14 "Show "zoom in to see markers" + update default zoom level"
When the application loads the user does not see any markers and needs to zoom in to see some, but there's no indication that it is so.
Two pronged solution:
- Change default zoom to the highest zoom level which shows markers
- Show a message when zoom level is above the minimum, saying "zoom in to see markers"

Note that down the road, the solutions is to show aggregate markers (there's an issue

[2013-12-30 20:34] sagism opened #15 "Upload a portion of the data to prod/staging apps"
The free version of the DB has a 5MB limit. In prod we have upgraded to a paid version, but since we want to use live staging envs, we want to be able to use the app with less data so it fits into the free DB

[2013-12-30 20:40] omribahumi opened #16 "Add some more Vagrant usage documentation"

[2013-12-30 20:41] omribahumi opened #17 "Document Heroku staging environment setup"

[2013-12-30 20:52] sagism opened #18 "Upload data to prod"

[2013-12-30 21:01] omribahumi opened #19 "Clean up master branch"

[2013-12-30 21:04] omribahumi opened #20 "Make database truncate optional on import script"

[2013-12-30 21:04] sagism opened #21 "Erase markers when out of view"

[2013-12-30 21:05] omribahumi opened #22 "Fix Vagrant support"

[2013-12-31 21:18] #12 closed, assigned to nobody

[2014-01-02 12:32] galraij opened #23 "Add a "Where am I" button on the map"
When pressing the button the map gets back to its "default" situation were where you are is in the middle.

for example: http://www2.psd100.com/ppp/2013/11/0501/location-icon-1105173134.png

[2014-01-06 18:00] sagism opened #24 "Exception getting markers after a while in prod"
When we get markers, after a few times we get an exception:

/site-packages/sqlalchemy/engine/base.py", line 1024, in _handle_dbapi_exception
2014-01-06T16:53:28.574712+00:00 app[web.1]:     exc_info
2014-01-06T16:53:28.574712+00:00 app[web.1]:     None, None)
2014-01-06T16:53:28.574712+00:00 app[web.1]:     conn = self._revalidate_connection()
2014-01-06T16:53:28.574990+00:00 app[web.1]:     "Can

[2014-01-06 18:07] #5 closed, assigned to nobody

[2014-01-06 18:21] galraij opened #25 "Get the info from the CBS"
here is all the data we need:

http://teunot.cbs.gov.il/teunotm/

[2014-01-06 20:41] #14 closed, assigned to sagism

[2014-01-13 19:27] #25 closed, assigned to omribahumi

[2014-01-13 20:28] #15 closed, assigned to omribahumi

[2014-01-20 17:46] sagism opened #30 "Remove the "added by" section & image in the accident details"
Until we do have something to show there.
It is unsightly

[2014-01-20 19:02] #24 closed, assigned to omribahumi

[2014-01-21 07:09] sagism opened #32 "Refreshing the page while on a marker details popup gives you a 404"
When you click on a marker, a details window pops up, and it modifies the current url by appending a number.
If you refresh the page while on that view, the browser tries to refresh this view, which gives you a 404.
2 possible solutions:
1. Avoid changing the url
2. Reroute these urls to the home page
3. Focus on the specified marker when reloading

I assume #1 and #2 are easiest, but #3 is best,

[2014-01-27 17:45] galraij opened #33 "Show transparent icons for accidents with inaccurate location"
Every accident entry contains the level of accuracy of the location. Only accidents that are 100% should be presented (עיגון מדויק) and the other kinds (מרכז הדרך, מרכז הישוב וכו׳) only if user checked this checkbox. The default is that the button is off.

[2014-01-27 17:51] galraij opened #34 "Add date and time to accident at at the accident dynamic list"

[2014-01-27 17:54] galraij opened #35 "Add icons of severity next to the checkbox button in the layers menu"
according to the colors (red, orange, yellow)

[2014-01-27 19:32] #32 closed, assigned to sagism

[2014-01-27 19:40] sagism opened #36 "Display date on marker details popup"
This is needed any way, but will be indispensable to troubleshoot the date filtering capability

[2014-02-03 16:21] galraij opened #37 "Date filter - add an option to see the last X accidents"
Add an option to see the last X accidents.

X- user specify

[2014-02-03 16:23] galraij opened #38 "Collect statistical data"
Get people's location to determine the most searched/looked areas
Get time spent on the website per user (what's the average time a user spends in our website)

[2014-02-03 18:24] #36 closed, assigned to sagism

[2014-02-03 18:34] #13 closed, assigned to sagism

[2014-02-03 18:36] sagism opened #39 "Fix date formatting on marker popup"

[2014-02-03 18:37] sagism opened #40 "Clicking on date icon should open dialog"
Right now you need to click on the input field to get it to open

[2014-02-03 18:41] sagism opened #41 "Add a shortcut to change year in date filter"
Right now if I want to set a filter for 4 years back, I need to click about 50 times

[2014-02-03 18:43] sagism opened #42 "Show decent tooltip on markers"
We should show the date & accident type & severity

[2014-02-03 18:47] sagism opened #43 "Markers should be bookmarkable"
This means:
- create an invariant event hash (so imports don't clobber it)
- change the marker link to have a hash
- handle the bookmark by centering the map and popping up the marker

[2014-02-03 19:12] sagism opened #44 ""You need to zoom in" message appears multiple times when panning"
Need to get that under control.
May be easiest to set the max # of messages in the widget instead of throttling the event.

[2014-02-03 19:18] sagism opened #45 "Implement markers requests paging"
Once we have more markers we have to enforce paging...

[2014-02-03 19:35] sagism opened #46 "Implement markers requests paging"
Once we have more markers we have to enforce paging...

[2014-02-03 19:35] sagism opened #47 "Implement facebook metatags on marker bookmarks"

[2014-02-03 19:35] galraij opened #48 "Add go to place by address/road number"

[2014-02-03 20:16] galraij opened #49 "New pop-up window visual design"
I can think of nice icons for weather. but there is much more, and we should try to present as much as possible in a nice and visual way.

This assignment is for Dror.

[2014-02-04 10:00] galraij opened #51 "Option for user to add link/picture to an existing marker"
Let people add data to a specific marker-
1. User log in with Facebook.
2. User find a specific marker and open its pop-up window.
3. User add a link to an article/web page/upload a picture.
4. The picture/link is associated with the user (like the other data is associated with the Lamas)
5. ANYWAY shares his action on his wall: "User added a picture to accident in Tel Aviv"

![marker_add_data_psd

[2014-02-11 20:24] galraij opened #52 "Fix accidents offset (some accidents appear next to roads and not on them)"
![anyway_herokuapp_com](https://f.cloud.github.com/assets/3368312/2141546/6d60da52-935a-11e3-8626-757cc4286642.jpg)

[2014-02-11 20:54] galraij opened #53 "Excellent work team - Thank You very much"
![anyway_herokuapp_com_74931](https://f.cloud.github.com/assets/3368312/2141943/af9a9e90-935e-11e3-92e4-e71c7822415d.jpg)

[2014-02-11 21:11] galraij opened #54 "Two accidents with the exact coordinates - How can we solve this?"
![anyway_herokuapp_com_45801](https://f.cloud.github.com/assets/3368312/2142068/1fa7047a-9360-11e3-80e3-e2b3610e86bc.jpg)

![anyway_herokuapp_com_59401](https://f.cloud.github.com/assets/3368312/2142073/3915b1fe-9360-11e3-9c28-e1b2e0aba793.jpg)

it's true that they are in different dates but still you can see only one at a time (one is hiding the other). Perhaps we can create a slight offset when

[2014-02-24 18:50] robi-y opened #55 "Update icons and map style"

[2014-02-26 21:44] galraij opened #56 "Remove petition option from the right click menu"

[2014-02-27 09:53] galraij opened #57 "Markers not showing up"
I investigated the issue, here is what is happening on my computer:

when I open the website it shows accidents, but when I click 'allow' on the location pop-up it takes me to where I am on the map, and there it doesn't show the accidents until I move the move or zoom.

[2014-02-27 10:18] galraij opened #58 "Internet Explorer"
Yuval says he sees just a white blank screen on internet explorer, might be important for our users in the public sector.

[2014-02-27 20:08] robi-y opened #59 "remove pdfs..."

[2014-03-02 19:40] galraij opened #60 "Add the word "Beta" next to the ANYWAY logo"

[2014-03-03 18:26] #44 closed, assigned to sagism

[2014-03-03 19:24] #39 closed, assigned to sagism

[2014-03-03 20:13] #38 closed, assigned to sagism

[2014-03-10 17:28] #53 closed, assigned to nobody

[2014-03-10 17:32] danielhers opened #64 "Improve date format in popup"
Currently the date shows like:
2010-06-01T09:00:00

This is not very human-readable.

[2014-03-10 18:03] danielhers opened #65 "Make marker popup smaller by choosing a subset of properties to display"
![image](https://f.cloud.github.com/assets/263363/2377083/43dc9156-a87e-11e3-80ba-7d0f76d0bbf9.png)

The marker popup is too big. Need to show only a subset of properties, and add a "show more" link to display the rest as well.

[2014-03-10 18:05] #46 closed, assigned to nobody

[2014-03-10 18:21] robi-y opened #66 "Remove the old anyway-app sources"

[2014-03-10 18:27] robi-y opened #67 "Bring last file from CBS"

[2014-03-10 18:33] #40 closed, assigned to danielhers

[2014-03-10 19:56] #55 closed, assigned to robi-y

[2014-03-10 19:56] #10 closed, assigned to sagism

[2014-03-10 19:58] #3 closed, assigned to robi-y

[2014-03-10 19:58] #11 closed, assigned to robi-y

[2014-03-10 20:00] #16 closed, assigned to robi-y

[2014-03-10 20:00] #56 closed, assigned to robi-y

[2014-03-11 06:46] #17 closed, assigned to omribahumi

[2014-03-11 06:46] #6 closed, assigned to sagism

[2014-03-11 06:46] #8 closed, assigned to robi-y

[2014-03-11 06:46] #18 closed, assigned to sagism

[2014-03-12 18:54] galraij opened #68 "Remove non functional buttons - "Share" and "Support" שתף ותמוך בנקודה זו"

[2014-03-17 17:33] #64 closed, assigned to sagism

[2014-03-17 18:18] sagism opened #69 "Upgrade DB Markers ID to be consistently unique"
This way we can create marker links and a new data upload won't clobber it.

[2014-03-17 18:20] sagism opened #70 "Center on location when navigating to a marker link"
When we provide a link to a specific marker (e.g. /?marker=123345567), center the map on the markers location, that way users can bookmark and share a particular marker

[2014-03-17 18:22] sagism opened #71 "Open marker details pop up when navigating to a particular marker"
When a user navigates to a particular marker link (e.g. /?marker=123345546 ), pop up the details for this marker, that way users can bookmark and share markers (accidents).

[2014-03-17 19:03] #70 closed, assigned to sagism

[2014-03-17 19:05] sagism opened #72 "Add a title to the page"
Should be something generic, unless we are going to a particular marker, and then the marker's name should be there.

[2014-03-24 14:09] galraij opened #73 "Redirect anyway.co.il"
should happen on April 10th (9th is good as well).

[2014-04-07 18:43] #23 closed, assigned to danielhers

[2014-04-07 18:43] #59 closed, assigned to danielhers

[2014-04-07 18:43] #60 closed, assigned to danielhers

[2014-04-07 19:37] daonb opened #79 "Use the Aleph font"
detailed instructions in http://alef.hagilda.com/#faq

[2014-04-07 19:48] daonb opened #80 "Add a footer"
To include logo and link to hasadna, about and github link

[2014-04-07 19:49] daonb opened #81 "Move to postgres"
That's the database of choice hasadna uses

[2014-04-08 17:06] galraij opened #82 "Add menu in the upper part of the page"
![anyway_herokuapp_com_and____anyway_-___-_google_drive](https://cloud.githubusercontent.com/assets/3368312/2646572/1df3988a-bf40-11e3-94d6-9b7961511a10.jpg)

[2014-04-08 18:48] galraij opened #83 "Add Download CSV functionality"
takes the rows of the specific accidents that are in the "Dynamic list" (above the button) from the original database and exports them to a CSV file.
![anyway dowload](https://cloud.githubusercontent.com/assets/3368312/2647729/69a5e6e4-bf4e-11e3-926e-bb039e804bef.jpg)

[2014-04-08 22:40] galraij opened #84 "Create ANYWAY widget/plug in to integrate the map in other websites"
More explanation: https://docs.google.com/document/d/1iq7_iOL0MM3y_0Mjkuh13tiGl9XZtpampymn6u6zLys/edit

![lavie_junction_ynet cropped](https://cloud.githubusercontent.com/assets/3368312/2650238/b81a7676-bf6e-11e3-915c-e5826b4e7984.jpg)

[2014-04-09 00:34] galraij opened #85 "Change right menu titles"
instead of סנן שכבה should be סנן לפי חומרה and delete הראה just leave תאונות קטלניות etc.

instead of הצעות נוכחיות should be תאונות המוצגות על המפה

[2014-04-26 15:44] #42 closed, assigned to nobody

[2014-04-28 16:46] sagism opened #90 "Add hasadna logo to the page header"
Should link to the hasadna home page
Should have a tooltip with the sadna motto

[2014-04-28 16:48] #90 closed, assigned to sagism

[2014-04-28 17:38] sagism opened #91 "Date filter is broken"
Some filters just don't work (e.g. when you click on the "today"), and removing the filter content does not restore hidden markers

[2014-04-28 17:48] sagism opened #92 "Markers with multiple events need to be displayed differently"
RIght now the marker looks like a single accident.
We need a special icon for this, and probably want to display a tooltip which displays "N events here".

[2014-04-28 17:53] #79 closed, assigned to sagism

[2014-05-08 11:07] robi-y opened #93 "Check the Shareabouts Platform"
from hasadna forum:
## זה בנוי על Shareabout - פלטפורמה לדיווח על גבי מפה מבית OpenPlans, חברה רציניים מניו יורק שנמצאים בעסק כבר שנים ועושים עבודה נפלאה. עושה רושם ששווה לשקול forking של הפרויקט שלהם ולוקליזציה שלו לאיזורנו. אם מי מכם רוצה קישור אליהם, תגידו.

אולי יכול לעניין את אנשי anyway:
http://visionzero.herokuapp.com/
מיזם של עירית ניו יורק, עושה שימוש בהירוקו ואופן סטריט מאפ..

[2014-05-12 15:46] #85 closed, assigned to danielhers

[2014-05-12 15:49] danielhers opened #94 "Automatic localization for messages"
Currently messages are written as Hebrew strings hard-coded in the source code.
They should be written in a .po file and translated.

[2014-05-12 16:00] #68 closed, assigned to danielhers

[2014-05-12 16:49] danielhers opened #95 "Remove side list of accidents on map"
The accidents already show on the map itself. What does the side list add? @galraij

[2014-05-19 16:46] galraij opened #96 "Add Force "load accidents" button - click and show accidents on every zoom level"

[2014-05-19 17:54] galraij opened #97 "Some accidents appear twice (or more)"
The same exact accident gets more than one icon.

Here is a spot that easy to find on the map (in Tel Aviv):
![anyway_-___and_ecomotion_main_event_2014___bizzabo](https://cloud.githubusercontent.com/assets/3368312/3017836/8af6eae6-df7e-11e3-9b23-dc222d5d1833.jpg)

[2014-05-26 15:47] #71 closed, assigned to sagism

[2014-05-26 17:03] #34 closed, assigned to danielhers

[2014-05-26 17:26] galraij opened #98 "When searching address the zoom level stays the same- better if it will go back to the default zoom"
Every search should get you to the default zoom level (the same as when opening the map)

[2014-05-26 17:26] galraij opened #99 "The close button on the "About" button doesn't work"
Remove it or make it work.

[2014-05-26 17:28] #95 closed, assigned to nobody

[2014-05-27 08:39] #82 closed, assigned to nobody

[2014-05-27 08:42] #99 closed, assigned to robi-y

[2014-06-02 16:59] #2 closed, assigned to robi-y

[2014-06-02 16:59] #30 closed, assigned to sagism

[2014-06-02 16:59] #43 closed, assigned to sagism

[2014-06-02 16:59] #48 closed, assigned to Bren

[2014-06-02 16:59] #72 closed, assigned to sagism

[2014-06-02 18:20] sagism opened #100 "Clear existing markers when zooming out beyond max zoom levels"
Currently, the markers stay when the user zooms out, and this misleads the user into thinking there are accidents only in specific areas.
Example:
![image](https://cloud.githubusercontent.com/assets/2411142/3151453/7c529364-ea82-11e3-9716-8659dbd25701.png)

[2014-06-02 18:22] #54 closed, assigned to ronreiter

[2014-06-02 18:25] sagism opened #101 "Improve markers aggregation logic"
The aggregation library Ron introduced has no ability to indicate that a marker represents an aggregation of markers, and this is confusing. It just displays one of the markers.
Google provides tools to aggregate markers in a way that does let you control this.
See https://developers.google.com/maps/articles/toomanymarkers
We should consider moving to that library.
In particular, the MarkerCluster

[2014-06-09 17:21] #69 closed, assigned to sagism

[2014-06-10 07:14] #98 closed, assigned to robi-y

[2014-06-10 09:24] #67 closed, assigned to galraij

[2014-06-16 16:36] #35 closed, assigned to danielhers

[2014-06-16 16:59] #100 closed, assigned to danielhers

[2014-07-07 17:00] danielhers opened #102 "Markers are not re-loaded when changing layers"
When clicking the checkboxes for the severity, loadMarkers should be triggered

[2014-07-07 17:41] danielhers opened #103 "Need to fetch markers on zoom"
Since we're deleting markers when zooming out, we need to add them back when zooming in.

[2014-07-07 18:45] #101 closed, assigned to nobody

[2014-07-08 06:42] sagism opened #105 "Create icon representing multiple markers"
When there are multiple markers (accidents) on the same point, we are displaying a special marker indicating this, and when the user clicks on it, it expands to show the underlying markers.
We need a special icon for this. I hacked something but we probably want something better:

![image](https://cloud.githubusercontent.com/assets/2411142/3505995/f37d0f7e-066a-11e4-997b-f2d839c36ed7.png)

[2014-07-08 08:01] danielhers opened #106 "Aggregated markers tooltip should be number of accidents"
Currently it just shows one of the accident's information.

[2014-07-09 15:14] #102 closed, assigned to danielhers

[2014-07-10 11:46] #106 closed, assigned to danielhers

[2014-07-10 12:43] #103 closed, assigned to danielhers

[2014-07-21 15:49] danielhers opened #107 "Color sidebar accident entries according to severity"
The markers on the map are colored according to severity, but in the sidebar they are quite vanilla. Maybe set the background color according to the severity.

[2014-07-21 16:03] danielhers opened #108 "Identify marker when hovering on an sidebar entry"
The only way to tell which marker an entry in the sidebar refers to is by clicking it, and then the map moves and a whole popup appears. If I just want to know which marker an entry refers to, without opening the popup, I have no way to do it.
Perhaps we can emphasize the marker somehow when the entry is hovered on, or stretch a line between them...

[2014-07-21 16:19] danielhers opened #109 "Existing markers are drawn again when panning in and out"
When panning the map such that a marker is outside of the screen, it doesn't delete it from the map. However, when panning back so that it's in the screen again, the marker is added again. Since it's at the exact same location, we don't see it, unless it has a shadow under it (due to the spiderfy module that draws a shadow under spiderfiable markers). The shadow appears thicker when drawn more tha

[2014-07-28 16:38] #109 closed, assigned to nobody

[2014-08-25 16:33] #97 closed, assigned to danielhers

[2014-08-25 17:44] galraij opened #111 "Make default view show 200 last accidents in the visible area of the map"

[2014-08-25 18:24] galraij opened #112 "Map presents only תאונות קלות"

[2014-09-01 15:44] danielhers opened #113 "Use different "multiple markers" icon if all accidents are of the same severity"
#105 adds an icon for multiple markers, showing a color gradient. However, it is used for all locations with multiple markers, regardless of severity. There are icons (png files) for multiple markers of specific severities, but we don't use them. Need to check whether all icons in the spider are of the same severity and then show an appropriate icon.

[2014-09-08 16:57] #92 closed, assigned to Bren

[2014-09-08 17:00] #20 closed, assigned to omribahumi

[2014-09-29 17:45] gl1000007 opened #116 "Filter by severity - Clickable area"
In current state, users must click on a checkbox, which is a tiny spot for desktop' users and nearly impossible target for mobile users.
I suggest to make the whole line of a certain option clickable. This would be a much larger target, which will make it easy for users to click or tap.

[2014-09-29 17:49] galraij opened #117 "All fields in the popup window are empty (None or False)"
we used to see all the details before... scary

![anyway_-_ _](https://cloud.githubusercontent.com/assets/3368312/4446273/de7624a8-4800-11e4-8d83-3a81f18c7e2f.jpg)

[2014-10-13 16:47] galraij opened #118 "Make the transparent markers a little less transparent"
raise the opacity so they are more visible

[2014-10-13 17:05] galraij opened #119 "Improve the design of the About (אודות) popup"
Make it look better than just a block of text

The old look:
![anyway_-_ _ 2](https://cloud.githubusercontent.com/assets/3368312/4617142/1415b2cc-52fb-11e4-92c2-58974005f29f.jpg)

[2014-10-25 07:59] galraij opened #121 "Change filter by date shortcuts"
Year 2013 (1.1.13-1.1.14)
Year 2012
Year 2011
Year 2010
by specific date (user choice)

[2014-10-25 08:14] danielhers opened #122 "Add table of all years in which there are accidents"
After loading the data in process.py, update the table to include all distinct years in which there are accidents.
This will be used for #121 so that we don't have to dynamically perform this distinct calculation.

[2014-10-25 08:19] #83 closed, assigned to danielhers

[2014-10-25 08:19] #105 closed, assigned to danielhers

[2014-10-25 08:19] #66 closed, assigned to nobody

[2014-10-25 08:19] #57 closed, assigned to nobody

[2014-10-25 08:19] #21 closed, assigned to sagism

[2014-10-25 08:19] #33 closed, assigned to danielhers

[2014-10-25 08:19] #112 closed, assigned to danielhers

[2014-10-25 08:28] danielhers opened #123 "Multiple accidents with inaccurate location appear more opaque than they should"
When there are multiple accidents that have inaccurate locations, the opacity of the "multiple accidents" icons accumulate so that the marker looks like an accurate location. The opacity should be just like a single accident with inaccurate location.

[2014-10-25 10:49] danielhers opened #126 "Design icon for "display inaccurate location accidents" checkbox"
The icons for the layer checkboxes are larger than the checkbox for displaying accidents with inaccurate location. For uniformity they should all be images of the same size.

[2014-10-25 11:41] #107 closed, assigned to danielhers

[2014-10-25 11:41] #116 closed, assigned to danielhers

[2014-10-25 11:41] #118 closed, assigned to nobody

[2014-10-25 11:41] #121 closed, assigned to danielhers

[2014-10-25 18:15] #126 closed, assigned to nobody

[2014-10-31 12:41] galraij opened #132 "Accident type in the dynamic list is not the same as in the popup window"
![anyway_-_ _](https://cloud.githubusercontent.com/assets/3368312/4860718/461e946a-60fb-11e4-9c5b-cd4264f972d0.jpg)

[2014-11-03 09:33] danielhers opened #135 "Show date range text on application load"
Currently the date filter is correctly initialized in the application, but the text in the date range filter starts empty. It should be the same as after clicking on the corresponding year (2013).

[2014-11-03 09:47] danielhers opened #136 "Handle 05', 06', 07' accidents files of format 1"
Some data directories (for example from 2007) contain the data in a `.txt` file with tab-separated values, rather than `csv`. They should be handled as well and loaded in `process.py`.

[2014-11-03 17:23] #135 closed, assigned to nobody

[2014-11-03 17:28] danielhers opened #137 "Filter markers by date server-side"
Right now we have to download all the accidents in the current rectangle before filtering just to the selected date range.
The filtering should be done when querying the DB.

[2014-11-03 17:58] #137 closed, assigned to danielhers

[2014-11-03 18:22] danielhers opened #138 "Make map location and filters part of the URI"
Possibly required for #84: currently the URL is only the website address, and possibly the ID of a single marker. In order to be able to share the current view (on Facebook, as a widget, etc.) we need it to contain the information that is required to re-load the current view: the map corners and zoom level, the date range filter, the severity filters and the inaccurate location filter.

[2014-11-03 18:42] danielhers opened #139 "Show number of accidents in parentheses in sidebar title"
Currently sidebar shows "תאונות המוצגות על המפה" and a lot of accidents below it, but it's hard to tell how many accidents appear on the map. Add it in parentheses to the title.

[2014-11-03 18:59] galraij opened #140 "Wrong icon is presented (Multiple accidents instead of single one)"
here is an example:
http://anyway.herokuapp.com/?marker=32013016049

[2014-11-05 11:33] galraij opened #142 "When using a link of a specific marker filters should be changed accordingly (the same year as the marker should be picked automatically)"
for example- you can't see this marker because the year is not 2013:
http://anyway.herokuapp.com/?marker=32011040882

[2014-11-07 11:39] #73 closed, assigned to galraij

[2014-11-09 11:56] galraij opened #144 "Replace to Email address of the "contact us""
the updated email address is: feedback.anyway@gmail.com

[2014-11-09 12:06] galraij opened #145 "Add "Thanks" link + window next to "About""
The content:

תודות:

עידן אלמוג - שעזר להצמיח כנפיים

רון רייטר - על כתיבת הקוד הראשוני ועל מסירותו לפרויקט.

אומרי באומר - על עזרתו ועל עצות יקרות ערך

הנס שקור-  על תרומתו הנדיבה של הדומיין anyway.co.il

 ליאור צורף - על תמיכתו בשלבים הקריטיים של הפרויקט ותרומתו המקצועית

המרכז הבינתחומי הרצליה

שגיא מנשה, גיא חרץ, לביא מלמן

[2014-11-09 12:56] #144 closed, assigned to nobody

[2014-11-09 13:34] galraij opened #146 "Create a guided tour for ANYWAY"
Mockups and explanation can be found here:
https://docs.google.com/document/d/1qmrA_8cS16Wpy8Hfp0iDXkYYjm2geAnXehWPwWLMq04/edit?usp=sharing

Create a guided tour for anyway, a good example can be found in: http://www.obudget.org/#main//2014/main

More Sources for Inspiration:
http://www.webresourcesdepot.com/11-awesome-jquery-site-tour-plugins-for-guiding-users-with-style/

![step 1](https://cloud

[2014-11-09 13:43] #119 closed, assigned to robi-y

[2014-11-09 17:30] #132 closed, assigned to nobody

[2014-11-10 17:48] #145 closed, assigned to nobody

[2014-11-11 13:05] #117 closed, assigned to nobody

[2014-11-17 17:53] danielhers opened #152 "Choosing date filter from daterangepicker icon does not update textbox"
When clicking the small daterangepicker icon and then selecting a different date range, the model's date range is updated (new markers are shown according to the new range), but the textbox still shows the previous date range.

[2014-11-17 17:56] #142 closed, assigned to danielhers

[2014-11-23 12:05] galraij opened #153 "anyway.co.il is not working without WWW"

[2014-11-23 12:06] galraij opened #154 "Show "Where I am" icon on the map - to mark where are you/address you searched for"

[2014-12-01 17:30] #65 closed, assigned to nobody

[2014-12-01 17:33] #111 closed, assigned to danielhers

[2014-12-01 17:35] #140 closed, assigned to nobody

[2014-12-01 18:00] #154 closed, assigned to nobody

[2014-12-01 18:06] #152 closed, assigned to nobody

[2014-12-07 20:17] #80 closed, assigned to nobody

[2014-12-15 15:31] #91 closed, assigned to nobody

[2014-12-15 15:31] #58 closed, assigned to nobody

[2014-12-15 15:31] #41 closed, assigned to robi-y

[2014-12-15 15:31] #93 closed, assigned to robi-y

[2014-12-15 16:26] robi-y opened #155 "Integrate disqus in the dialog"

[2014-12-17 08:35] #139 closed, assigned to robi-y

[2014-12-21 14:27] galraij opened #158 "Accidents count won't refresh"
Great feature! looks fantastic, but when traveling on the map the list of accidents is updated but the number is not (see the picture).

I have found that if you unable and disable the "show inaccurate accidents" button it updates the number.

![anyway_-_ _ _and_new_message_and_ _ _-_ _ _and_itunes](https://cloud.githubusercontent.com/assets/3368312/5518395/29f1f9de-892e-11e4-926e-e1442138c2d2.jpg

[2014-12-21 14:36] #158 closed, assigned to nobody

[2014-12-22 17:35] #138 closed, assigned to danielhers

[2014-12-22 18:26] galraij opened #159 "Zoom level notification pops right when loading the app"
1. pops even in first interaction before the use ever did anything (see picture)

![anyway_-_ _](https://cloud.githubusercontent.com/assets/3368312/5529099/d55905ca-8a18-11e4-947d-f1dba81d6768.jpg)

2. should be more noticeable (in the center of the screen for example) and maybe user friendly ("oops.. get closer")

[2014-12-22 19:05] galraij opened #160 "Generate a link to a specific area with specified filters"
link should contain the following information: (will be used to create iframes in other websites)

1. Boundaries of the map + zoom level.
2. Filters such as Date range, Severity (which layers are active).

[2015-01-12 16:33] #19 closed

[2015-01-12 16:34] danielhers commented on #160
@salexc are you going to continue working on this?

[2015-01-12 16:35] danielhers commented on #81
@yosiat I will take over your pull request, assuming you don't have any unpublished changes in your environment...

[2015-01-12 16:45] danielhers commented on #81
Installed postgres addon.
Use `heroku addons:docs heroku-postgresql` to view documentation.

[2015-01-19 17:55] #81 closed

[2015-01-20 08:39] samuelregev opened #165 "Download accidents as CSV file doesn't corresponding with accidents showing on the map"
changing the arguments (show_fatal, show_severe, show_light, show_inaccurate) in the url don't have any effect on the result csv(or json)

[2015-01-20 09:13] danielhers commented on #165
Should be easy to fix - good task for a new team member.

[2015-01-20 12:16] samuelregev commented on #165
Tnx, but i'm not a python developer(for now).
I'm building android app for Anyway and i was trying to use this to get accidents details to my app.
https://github.com/samuelregev/anywayAndroidApp/

[2015-01-20 12:33] danielhers commented on #165
Well, then you don't depend on the front-end. Just use the /markers route
on the server, for example:

http://www.anyway.co.il//markers?ne_lat=31.772323244855926&ne_lng=35.22266857810973&sw_lat=31.764314581839038&sw_lng=35.20475142189025&zoom=17&start_date=1356991200&end_date=1388527200&show_fatal=1&show_severe=1&show_light=1&show_inaccurate=0

This will get you the data in json format. Just add &

[2015-01-20 12:38] samuelregev commented on #165
i figured it out already, the bug is - if i change URL arguments(show_fatal, show_severe, show_light, show_inaccurate) i seems to get the same details every time

even if i change all of the, to 0, like this(which should give me empty list):
http://www.anyway.co.il//markers?ne_lat=31.772323244855926&ne_lng=35.22266857810973&sw_lat=31.764314581839038&sw_lng=35.20475142189025&zoom=17&start_date=1356

[2015-01-20 12:54] danielhers commented on #165
Interesting. Looks like a bug in Marker.bounding_box_fetch. We'll take a
look.

On Tue Jan 20 2015 at 2:38:50 PM Samuel Regev <notifications@github.com>
wrote:

[2015-01-20 13:49] samuelregev commented on #153
did you see that:
https://devcenter.heroku.com/articles/custom-domains#root-domain

[2015-01-20 13:50] danielhers commented on #153
anyway.co.il is in our domain name list.

On Tue Jan 20 2015 at 3:49:14 PM Samuel Regev <notifications@github.com>
wrote:

[2015-01-20 13:53] samuelregev commented on #153
What about your dns server? Does it support CNAME functionality at the apex?
Is it configured?

[2015-01-20 13:54] danielhers commented on #153
I suppose it isn't.
Also found this: http://stackoverflow.com/a/16041655/223267

On Tue Jan 20 2015 at 3:53:28 PM Samuel Regev <notifications@github.com>
wrote:

[2015-01-20 14:01] samuelregev commented on #153
Server:  UnKnown
Address:  10.0.0.138

*** No internal type for both IPv4 and IPv6 Addresses (A+AAAA) records available
 for anyway.co.il

Are you using amazon dns server(route53)?

https://devcenter.heroku.com/articles/route-53

[2015-01-20 14:05] danielhers commented on #153
I don't know. @galraij who do we ask about DNS?

[2015-01-20 14:09] galraij commented on #153
מאיר קריחלי
mkriheli@gmail.com

[2015-01-20 14:09] galraij commented on #153
@MeirKriheli

[2015-01-20 14:09] samuelregev commented on #153
http://whois.co.il/index.php?domain=anyway.co.il

name servers is AWS

[2015-01-21 06:09] danielhers opened #166 "Test for correct filtering when fetching markers"
See #165 .
Write a test that calls `Marker.bounding_box_fetch` and verifies that the filters work correctly.

[2015-02-09 18:43] #160 closed

[2015-02-10 22:04] danielhers opened #167 "Logging in with Facebook disables reset-map-control button"
Click the "Login with Facebook" button and log in.
Then try clicking the reset-map-control ("my location") button at the top right corner of the map. It should go to your current location but it doesn't do anything.

[2015-02-10 22:09] danielhers commented on #155
Spec: users will be able to create a discussion for any point on the map, creating a new "discussion marker" at that point. Discussion is not about an existing marker but about a point in the map.
It should be possible to use the already existing right-click "הוסף הצעה" infrastructure.

[2015-02-10 22:10] danielhers opened #168 "Send updates to users when there are new discussions in their area"
Depends on #155

[2015-02-10 22:10] danielhers opened #169 "Add an option to show only the discussions on the current view on the sidebar frame"
![dynamic_list](https://cloud.githubusercontent.com/assets/3368312/6288735/c2ce0952-b923-11e4-8c33-4aee804b16fb.jpg)

[2015-02-10 22:11] danielhers opened #170 "Let users provide their driving path and see dangerous locations on it"

[2015-02-13 10:11] danielhers opened #171 "Download markers in batches to improve responsiveness"
In dense areas it takes a long time to fetch all the markers, and in the meantime the map stays empty.
Better display them gradually to show the user that something is happening.
See http://stackoverflow.com/questions/17347065/how-do-i-fetch-data-in-batches-using-backbone-for-an-infinite-scroll

[2015-02-16 18:37] danielhers commented on #84
Meaning: add button to show HTML for copying with <i frame=...>

[2015-02-16 19:01] danielhers commented on #9
Resolved by 43859b642f4d72239d5db9add71f70823977b3df

[2015-02-16 19:02] danielhers commented on #96
Rendered unnecessary by #9

[2015-02-20 09:38] galraij opened #172 "Cancel the auto locate request when going to a specific marker/view"
When user arrives to site via address like this:

http://www.anyway.co.il/?start_date=2005-01-01&end_date=2023-12-31&show_fatal=1&show_severe=1&show_light=0&show_inaccurate=1&zoom=17&lat=32.01830003055751&lon=34.8217462317383&map_only=true

and NOT via www.anyway.co.il

User shouldn't be asked to share is location and go there.

[2015-02-20 09:40] galraij opened #173 "Address is not changing when clicking on a marker/when changing view"
And it worked in the past!

For example- when user changes the view the address should change to: http://www.anyway.co.il/?start_date=2005-01-01&end_date=2023-12-31&show_fatal=1&show_severe=1&show_light=0&show_inaccurate=1&zoom=17&lat=32.01830003055751&lon=34.8217462317383&map_only=true

@moshe742

[2015-02-20 09:52] moshe742 commented on #173
Hi,
I will try to come to the meeting on Monday to understand what is going on, but on my computer it worked well both on changing zoom/changing position and on clicking on the marker.
Thus, how can I debug it? meaning, if it still works on my computer, how can I check what is different on the server from my computer?

[2015-02-20 10:56] danielhers opened #174 "Fix installation on Windows and update Readme"
Several people have tried running the app on Windows unsuccessfully, and eventually decided to install a Linux VM instead.
We want it to work on Windows so everyone can develop easily. The failure point seems to be the `pip install -r requirements`: some packages fail to install and we haven't found a way to fix that yet.

[2015-02-20 10:58] Or-E opened #175 "Sidebar not updated after opening accident details"
When clicking an accident near the edge of the screen the details popup cause the view to move, and the sidebar to be cleared. The accidents in the side bar does not repopulate until manual pan/zoom of the view.
The accidents in the sidebar should be re-populated or should not be cleared.

[2015-02-20 13:03] galraij commented on #159
I think this is not relevant anymore, true? @danielhers

[2015-02-20 13:44] #159 closed

[2015-02-20 13:48] danielhers commented on #173
I'm looking at this.

[2015-02-20 15:40] danielhers opened #177 "Server error when checking 'show inaccurate'"
inaccurate = int(request.values['show_inaccurate'])
    ValueError: invalid literal for int() with base 10: 'true'

Need to change this to a number, like the other filters.

[2015-02-20 17:09] #173 closed

[2015-02-20 17:48] danielhers commented on #84
The URL generated is the URL that was present when loading the site, but when we update the URL by panning, zooming, changing filters, etc., it doesn't affect the URL that is shown in the dialog.
@yony need to replace `document.URL` by something that is updated with the `window.history`, or get it from Backbone, or use `app.getCurrentUrlParams` (but then we need to combine it with `app.js`).

[2015-02-20 17:58] #177 closed

[2015-02-20 19:13] galraij opened #178 "Create link option stopped working"
@danielhers

[2015-02-20 19:16] galraij opened #179 "Pointer icon is wrong (text icon) when hovering over accidents in the sidebar list or the "create link" option"

[2015-02-21 08:07] #179 closed

[2015-02-21 08:10] danielhers commented on #178
Please elaborate - it works in my browser.

[2015-02-21 08:24] #9 closed

[2015-02-21 08:24] #96 closed

[2015-02-21 08:47] galraij commented on #178
when changing parameters on the map the link is not updating

@yony

[2015-02-21 09:21] #172 closed

[2015-02-21 10:53] danielhers commented on #49
@tedwin007 I took your changes and updated them. You can find the latest version in my branch https://github.com/danielhers/anyway/tree/popup and continue from there.
We didn't merge it in yet because in order to be better than what we currently have, we need:
- The accident type to show in the subtitle
- The road type to show in the road state part
- The empty section (more info) to be hidden

[2015-02-21 11:08] danielhers commented on #108
@brendror can you design icons for hovered markers please?
Then we can use http://stackoverflow.com/a/1941317/223267

[2015-02-21 11:42] danielhers commented on #108
Nevermind, using animation instead.

[2015-02-21 12:23] Bren opened #180 "Fix retina resolution icons"
Currently the icons aren't shown in their retina version.
The retina resolution icons (they have an '@2x' appendix to their name) need to be added.

Here is a link to the files: https://drive.google.com/file/d/0B6ImQhe4L0zMdlp2WnFqRTFLRHM/view?usp=sharing

[2015-02-21 14:13] galraij opened #181 "Replace cluster icons with new ones"
link to the new cluster icons:

Regular: https://drive.google.com/file/d/0B6ImQhe4L0zMTkM0YndXMTlxaVk/view?usp=sharing
Retina: https://drive.google.com/file/d/0B6ImQhe4L0zMNTVsVXlINjlZdzQ/view?usp=sharing

![cluster_1 2x](https://cloud.githubusercontent.com/assets/3368312/6314357/853ad02c-b9e4-11e4-8341-5149d6b35280.png)
![cluster_2 2x](https://cloud.githubusercontent.com/assets/3368312/6314359/85

[2015-02-21 14:22] danielhers commented on #180
The retina icons are too big. Should I just scale them to half their size?
![screenshot from 2015-02-21 16 21 45](https://cloud.githubusercontent.com/assets/263363/6314403/e11b1edc-b9e5-11e4-90e1-504f3347d784.png)

[2015-02-21 14:47] galraij commented on #180
I guess... but maybe @brendror knows...

[2015-02-22 07:32] Bren commented on #180
The retina icons should only be displayed on high-res screens (such as mac retinas).
On regular screens the non-retina icons should be displayed.
I think there's a lot of info online on how to work with retina/non-retina images.

[2015-02-22 11:08] #84 closed

[2015-02-22 11:09] danielhers commented on #178
Fixed by b146d9bd8eb19a8c6be8e0463743383646f20733

[2015-02-22 11:09] #178 closed

[2015-02-22 11:14] danielhers commented on #171
Duplicate of #45

[2015-02-22 11:14] #171 closed

[2015-02-22 11:14] danielhers commented on #45
See http://stackoverflow.com/questions/17347065/how-do-i-fetch-data-in-batches-using-backbone-for-an-infinite-scroll

[2015-02-22 11:16] danielhers commented on #168
Depends on #155

[2015-02-22 11:16] danielhers commented on #169
Depends on #155

[2015-02-22 11:17] danielhers commented on #52
Not practical

[2015-02-22 11:17] #52 closed

[2015-02-23 09:04] danielhers opened #183 "Change map_only option to 0/1 rather than true/false"

[2015-02-23 09:05] danielhers commented on #183
Other options use 1/0, and consistency matters.
Remember to update the "create link" modal to pass this correctly.
Better support the true/false format for backward compatibility.

[2015-02-23 16:53] danielhers opened #184 "Show cluster bounds"
When the cursor is hovering over a cluster, show its bounds.

example:
https://www.mapbox.com/mapbox.js/example/v1.0.0/leaflet-markercluster/

[2015-02-23 17:56] danielhers opened #185 "Map not showing on Firefox"

[2015-02-23 17:56] danielhers commented on #185
TypeError: this.gpsRef2itm is not a function

[2015-02-23 18:31] danielhers commented on #185
Was a problem with retina.js.

[2015-02-23 18:31] #185 closed

[2015-02-23 18:37] danielhers opened #186 "Download as CSV raises exception when there are no markers"

[2015-02-23 18:39] #165 closed

[2015-02-23 19:49] robi-y commented on #184
This is probably a leaflet feature - I think we will need to switch from
google maps in order to use it

On Mon, Feb 23, 2015 at 6:53 PM, Daniel Hershcovich <
notifications@github.com> wrote:

[2015-02-23 20:30] danielhers commented on #184
It was just an example. Maybe we can replicate this. @michalten

Op ma 23 feb. 2015 21:49 schreef robi-y <notifications@github.com>:

[2015-02-24 12:48] danielhers opened #187 "Overlapping Marker Spiderfier lines stay after unspiderfying"

[2015-02-24 12:52] danielhers commented on #187
When unspiderfying the `oms` by moving the map or by other means, the marks that the `oms` left when spiderfied remain:
![screenshot](https://cloud.githubusercontent.com/assets/263363/6349563/9812126c-bc34-11e4-9981-cded3fd88d4c.png)
They should be erased when unspiderfying.
Clicking the map unspiderfies properly and removes the mark, but all other means of unspiderfying don't.

[2015-03-02 11:19] danielhers opened #188 "Show single marker icon when hovering on aggregated"

[2015-03-02 11:23] danielhers commented on #188
When hovering over an accident entry in the sidebar, the corresponding marker is animated (as per #108). If it's a marker with other markers in the same location, though, a multiple markers icon is displayed, and is animated:
![untitled](https://cloud.githubusercontent.com/assets/263363/6439807/4249082c-c0df-11e4-83a6-197eb2f17fd9.png)
During the animation, the marker's icon should change to its s

[2015-03-02 16:41] danielhers opened #189 "Remove frontend filtering when clustered"
When in cluster zoom level, filter by severity, accuracy and date only in backend to send as little data to client as possible.

[2015-03-02 17:40] danielhers opened #190 "Server-side clustering"

[2015-03-02 17:47] danielhers commented on #190
In cluster mode, it's better to do the clustering on the server side and send just several points to the client rather than sending thousands of points when the client only needs to show a few.
Clustering is now done client-side using MarkerClusterer.

[2015-03-02 19:38] danielhers commented on #189
Reverted because there was a problem where clicking a cluster did not zoom in.

[2015-03-03 06:27] danielhers opened #192 "Separate description to individual fields in process.py"

[2015-03-03 06:27] danielhers commented on #192
Required for #49

[2015-03-03 22:07] robi-y commented on #183
Actually it seems that currently what matters is only if this parameter is defined, no matter what the value is!

[2015-03-09 18:33] #189 closed

[2015-03-09 18:36] #183 closed

[2015-03-16 16:38] danielhers commented on #188
Fixed by feb5cdb6f858862548c16ee9eaa1c50cf8fd8032

[2015-03-16 16:38] #188 closed

[2015-03-16 17:08] #175 closed

[2015-03-16 17:27] #186 closed

[2015-03-16 17:28] danielhers opened #194 "Display error message to user when csv would be empty"

[2015-03-16 17:29] danielhers commented on #194
Instead of downloading an empty file, tell the user that there are no markers in the current view (but do not throw a server-side exception!)

[2015-03-16 17:30] danielhers commented on #192
@tedwin007 have you started working on this?

[2015-03-16 18:15] OmerSchechter commented on #187
Occurs when changing the filter at the sidebar, while the spider-net is open.

[2015-03-17 15:40] OmerSchechter commented on #194
I'm not sure if i'm supposed to change the label to 'Working' or if i'm even able to do so, but i'm currently working on it.

[2015-03-23 16:43] danielhers commented on #155
@ahik I'll go on with this for now

[2015-03-23 17:21] danielhers opened #196 "Add index by date to Marker"

[2015-03-23 18:03] danielhers commented on #175
Works as expected. The user can close the info window in order to see the accidents behind and around it.

[2015-03-23 18:22] danielhers commented on #167
@OmerSchechter want to take a look?

[2015-03-23 19:04] njenia opened #197 "Sidebar markers table should display an appropriate message in cluster mode"
When in cluster mode - the markers list is empty. This is confusing. An appropriate message should be displayed instead.

[2015-03-23 19:12] njenia opened #198 "Create a combined spinner for all loading events"
In cluster mode the spinner in the markers list is loading, but the clusters appear long after the spinner has finished.

[2015-03-24 11:41] #194 closed

[2015-03-24 15:37] OmerSchechter commented on #167
Sure, i'll look into it.

[2015-03-24 17:52] OmerSchechter commented on #167
@danielhers  Are you familiar with this problem?
I get this alert after clicking on "Login with Facebook".

![screen shot 2015-03-24 at 7 48 39 pm](https://cloud.githubusercontent.com/assets/11275466/6808782/be7d5ce6-d25e-11e4-9410-279952ad9128.png)

[2015-03-25 11:46] danielhers opened #199 "CSV should never be sent thin"
In cluster mode, when clicking on the Download CSV button, markers are sent thin (without all the fields). They should be sent with all the fields, since for CSV we don't do clustering anyway, and the user will not mind waiting.
See here: https://github.com/hasadna/anyway/blob/master/main.py#L99

[2015-03-28 22:54] OmerSchechter commented on #123
Working on it.

[2015-03-30 17:07] danielhers opened #201 "Use closure.js source maps"

[2015-03-30 17:30] samuelregev opened #202 "/markers sometimes returns empty response"
When loading markers from here:
http://www.anyway.co.il/markers?ne_lat=32.07293485471704&ne_lng=34.8005310818553&sw_lat=32.06276990504411&sw_lng=34.79280598461628&zoom=16&start_date=1356991200&end_date=1388527200&show_fatal=1&show_severe=1&show_light=1&show_inaccurate=0&format=

a blank page is received in some cases.

$ heroku logs - shows this error
    2015-03-30T17:29:56.458148+00:00 heroku[ro

[2015-03-30 18:54] samuelregev commented on #202
sql connection is full, maybe we do not close the connections fast enough or we just need more connections

![uploads/c62f2073-8acb-4df9-b2cc-79b63bd57710/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fc62f2073-8acb-4df9-b2cc-79b63bd57710%2Fblob)

[2015-03-30 18:57] #197 closed

[2015-04-01 07:02] samuelregev opened #204 "Using the navigator on the left to move the map doesn't trigger refreshing map data"
![uploads/11eb2d92-d5e9-448a-ae71-47ccf2403625/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F11eb2d92-d5e9-448a-ae71-47ccf2403625%2Fblob)

[2015-04-11 06:38] #113 closed

[2015-04-17 18:05] njenia opened #207 "6 identical roundtrips to the server when moving the map"
When moving the map (or zooming) new markers are loaded from the server. Instead of 1 request - there are 6.

[2015-04-17 23:16] OmerSchechter commented on #187
This can be closed.

[2015-04-18 06:58] #187 closed

[2015-04-18 07:00] #123 closed

[2015-04-18 07:03] #207 closed

[2015-04-20 13:47] njenia commented on #190
At first I thought about pre-indexing the data and persisting it to the db (since data is static). But after some thought I realized it's problematic because there is also a time and severity factor.
So there has to be a computation per-request on the server.
Right now the best think I can come up with is pre-indexing all accidents on the db and when a request comes in - get all points within view

[2015-04-20 13:56] danielhers commented on #190
This seems like the best option we have... it's just the implementation
that's not trivial.

On Mon, Apr 20, 2015 at 4:47 PM Evgeny Nemzer <notifications@github.com>
wrote:

[2015-04-21 15:03] uda commented on #153
You can point it to some server just to return a 301 to www.anyway.co.il

[2015-04-21 15:04] uda commented on #202
1. Make sure to close connections
2. Upgrade DB plan

[2015-04-21 15:07] uda opened #210 "Make index.html a static file"
This should happen on initial build, so as long that the CSS and JS is not recompiled and re-generated, the main html file sent to the clients will not be passed via python processor.

[2015-04-21 15:41] uda opened #211 "Listen for ESC key when popup is open"
I think it is more than a nice to have feature, since the popup is big and the focus of the mouse is around the marker.

[2015-04-21 15:48] uda opened #212 "Markers in group reset to the default after clicking for the second time"
If I click on a marker within a group once, close the popup and then click on it again, the marker resets to the default icon.
Additionally, any marker, within any group, clicked on later will also reset to the default.

[2015-04-21 15:51] uda opened #213 "The marker's title does not match the accident type within the popup"
Example included

![uploads/d885b092-70bb-453d-99de-d98d87ad1f87/2015-04-21_18-52-34_001.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fd885b092-70bb-453d-99de-d98d87ad1f87%2F2015-04-21_18-52-34_001.png)

[2015-04-22 07:54] danielhers commented on #201
Now it's rjsmin instead of closurejs

[2015-04-22 07:56] danielhers commented on #210
AWS S3 should be used to cache the static files

[2015-04-22 07:56] danielhers commented on #202
Need Heroku permissions to upgrade DB plan @daonb

[2015-04-22 07:58] danielhers opened #216 "Remove Vagrant files"
Since it's not use, there's no point in keeping the files

[2015-04-22 07:58] danielhers commented on #22
Closing for lack of interest. See #216

[2015-04-22 07:58] #22 closed

[2015-04-22 08:11] robi-y commented on #210
I can contribute some Azure credit if it helps - instead

On Wed, Apr 22, 2015 at 10:56 AM, Daniel Hershcovich <
notifications@github.com> wrote:

[2015-04-22 08:34] danielhers commented on #210
Do you think it would be better? @daonb started on the s3

On Wed, Apr 22, 2015 at 11:11 AM robi-y <notifications@github.com> wrote:

[2015-04-22 08:35] daonb commented on #210
This brings a question: Do we need a server at all? can we just have static files served and be done with it?

[2015-04-22 08:38] danielhers commented on #153
@daonb added oway.org.il

[2015-04-22 08:39] daonb commented on #202
Seems like the owner of the Heroku account is info@hasadna.org.il and it's
not my account

[2015-04-22 08:39] danielhers commented on #210
We need a server for the dynamic data, no? The accident markers...

On Wed, Apr 22, 2015 at 11:35 AM benny daon <notifications@github.com>
wrote:

[2015-04-22 08:43] daonb commented on #210
Have you thought about storing them in a mongodb?

[2015-04-22 08:52] danielhers commented on #210
Sounds like a plan, but for after the launch :)

On Wed, Apr 22, 2015 at 11:43 AM benny daon <notifications@github.com>
wrote:

[2015-04-22 13:30] danielhers commented on #202
Done with @galraij 's assistance

[2015-04-22 13:30] #202 closed

[2015-04-22 13:30] njenia commented on #210
Do you mean accessing the db directly from the browser?
We need a server for stuff like disqus and facebook connectivity, and also server-side clustering.

[2015-04-22 16:43] #216 closed

[2015-04-23 06:33] danielhers opened #217 "Data loading is too slow"
process.py takes too long to load all the data - around 3 days. There should be ways to make it run faster. The code can be refactored and optimized.

[2015-04-24 14:58] danielhers commented on #212
@OmerSchechter please take a look

[2015-04-24 15:08] danielhers commented on #204
Also when using the arrow keys.

[2015-04-24 15:42] #204 closed

[2015-04-24 15:57] danielhers commented on #211
I tried binding keyup/keydown/keypress in several places but none of them worked...

[2015-04-25 02:23] OmerSchechter commented on #212
Yes, I'm already looking into it.
It's a bit weird, but i'll figure it out.

[2015-04-25 15:33] OmerSchechter commented on #212
O.K. I've fixed it. But there's something I'm wondering about from looking at the code:
Why do we fetchMarkers() and through that reloadSidebar() when a user is closing the infoWindow for a marker?(and after that also setMultipleMarkersIcon())
[code]

Shouldn't the:
[code]
be taking care of that?

[2015-04-25 17:54] OmerSchechter commented on #211
I've looked into it, I think I got it.
Hopefully in the next few hours I'll have a solution..

[2015-04-25 20:07] danielhers commented on #212
That's right. It's a remnant from before I changed it to "idle", so now the
markers are loaded right when the info window is loaded (thanks to "idle")
and there's no need for fetching after it closes. Want to remove it?

On Sat, Apr 25, 2015 at 6:33 PM OmerSchechter <notifications@github.com>
wrote:

[2015-04-26 06:26] #211 closed

[2015-04-27 09:03] danielhers opened #220 "Fix style of Facebook buttons"
![capture](https://cloud.githubusercontent.com/assets/263363/7344572/62042cd8-ecd5-11e4-9bec-cd91429c29f8.PNG)
When there is a picture of a friend who liked the page, the alignment is wrong.
Maybe just hide the faces by supplying the parameter.

[2015-04-27 13:34] OmerSchechter commented on #212
Sure, will do.

[2015-04-27 18:35] OmerSchechter opened #221 ""Go to my location" button doesn't seem to work on Safari"
The "Relocate me" button doesn't seem to work on Safari, currently checked on a Mac's "Snow Leopard" but presumably fails for Safari in general.
![screen shot 2015-04-27 at 9 27 52 pm](https://cloud.githubusercontent.com/assets/11275466/7354613/34515982-ed25-11e4-89b6-8a2df1503350.png)

[2015-04-28 06:37] danielhers commented on #146
Need to complete the tutorial based on the mockups.
Also, better translate the buttons.

[2015-04-28 11:01] danielhers commented on #220
Resolved by 1ec2a50821808ea0aaedb64f18227ae5cb56013d

[2015-04-28 11:01] #220 closed

[2015-04-28 14:24] OmerSchechter commented on #181
Quick question: why are there 4 different cluster icons here, whereas the map only has 3 different ones?(blue, yellow and red)
Am I missing something?

[2015-04-28 15:12] danielhers commented on #181
There's also purple. Try zooming out to the whole country and waiting a bit
:)

On Tue, Apr 28, 2015, 17:24 OmerSchechter <notifications@github.com> wrote:

[2015-04-28 15:53] OmerSchechter commented on #181
I'm afraid to say that for me, zooming out to "zoom=11" and further out, there are no cluster icons showing(plus, no marker icons as well, of course).
In the console, I get:
[code]

Zoom 12 and further in seems to work fine(clusters are showing perfectly).

I guess I'll just take your word for it and work with the fourth icon as well.
But I think we should take a look at it, because the map is jus

[2015-04-28 15:57] danielhers commented on #181
Right... looks like it times out after 30s. Will you open a separate issue
please?

On Tue, Apr 28, 2015 at 6:53 PM OmerSchechter <notifications@github.com>
wrote:

[2015-04-30 02:06] eladkarakuli commented on #217
As describe in [SQLAlchemy  F&Q](http://docs.sqlalchemy.org/en/rel_0_8/faq.html#i-m-inserting-400-000-rows-with-the-orm-and-it-s-really-slow), for better performance, that is competitive with using the raw database API directly. We can use SQLAlchemy Core. I've implemented the changes(see [branch](https://github.com/eladkarakuli/anyway/tree/data-loading-is-too-slow-%23217)) with Core, now running

[2015-04-30 06:18] danielhers commented on #217
Excellent! Granted. Please create a pull request when done :)

On Thu, Apr 30, 2015 at 5:06 AM Elad Karakuli <notifications@github.com>
wrote:

[2015-04-30 13:27] galraij opened #226 "The like button "resets""
It says 5 of your friends like this page, but if you go somewhere else on the map it changes, I think it has to do something with the fact that the address changes according to location.

Might needed to make sure that the only relevant address for the like button is oway.org.il or www.anyway.co.il.

Also could be nice if it can show not only how many friends like it but how many people in general

[2015-04-30 22:07] eladkarakuli commented on #196
Created index for Marker by date (create column) and DiscussionMarker as well. Opened [Pull Request](https://github.com/hasadna/anyway/pull/228).

[2015-05-01 17:27] danielhers commented on #196
Fixed by 8b74c0c94486eeeff117cd4005bbed7a7c285d4f.

[2015-05-01 17:27] #196 closed

[2015-05-01 17:27] #181 closed

[2015-05-03 09:14] galraij opened #229 "Accidents stop loading when changing zoom level"
When zooming out, accidents are not loaded anymore (I think after zoom 11-12).

I tried it even on high speed internet.

[2015-05-03 09:16] galraij opened #230 ""locate me" button should change zoom level to default as well"
today it only centers the map

[2015-05-03 10:05] galraij opened #231 "Store users location and address searches"
Create a file that contains coordinates of where our users are (the ones who allowed GPS access) and the addresses that people searched using the search option.

Only the coordinates are important so let's keep the information stored as minimal and detached from the individual user as much as possible.

This will allow us at some point to create a new layer that will show "interest zones", and wil

[2015-05-03 10:05] danielhers commented on #229
Right, @OmerSchechter first reported it in a comment on #181.
Looks like there is a timeout of 30s for loading data.

[2015-05-03 10:11] moshe742 opened #232 "Firefox/chrome won't load the map in some cases"
Hi,
i can't see the map when using firefox or chrome when on the computer at john bryce on some of the computers.
I pictured the screen, if need more info let me know and how to get it.
![anyway](https://cloud.githubusercontent.com/assets/1392908/7444615/179e8e4a-f194-11e4-93d4-500bfe4938d8.JPG)
we have a javascript error-
Use of getPreventDefault() is deprecated.  Use defaultPrevented instead.

t

[2015-05-03 10:14] danielhers commented on #232
Maybe they have a firewall blocking Google Maps.
Have you tried http://maps.google.com ?

[2015-05-03 10:22] galraij opened #233 "Add "notify on new features" button to context menu"
Today right click on the map opens an incomplete "open new discussion" popup. Instead, should be a popup that lets the user send us his email address, so we have indication how many are interested in this feature and also- lets us notify them when it works and keep in touch with them.

[2015-05-03 10:30] njenia commented on #229
I think it's because of the slow client side clustering. We're working on it

[2015-05-03 11:14] robi-y opened #234 "Android Play Button"

[2015-05-03 11:36] #234 closed

[2015-05-03 12:02] robi-y opened #236 "AndroidApp Repo Linking"
-[ ] move to hasadna org?
-[ ] link from Readme (and about page)

[2015-05-03 15:48] agamaloni commented on #146
Working on it :)

[2015-05-04 01:01] eladkarakuli commented on #231
Hey @galraij, is it important to label each location coordinate in the file as "user location" or "search location"?
@danielhers , why did you labelled the issue as frontend, do you see any work needed be done in end side?

[2015-05-04 05:01] galraij commented on #231
Not necessarily, if that's easy to do it could be nice, if it takes more effort/time we can live with the coordinates alone.

‫ב-4 במאי 2015, בשעה 04:01, ‏‏Elad Karakuli ‏<notifications@github.com> כתב/ה:‬

[2015-05-04 07:10] danielhers commented on #231
I suppose you need JS to gather this information and send it to the server.
That's why I labeled it as such.

On Mon, May 4, 2015 at 8:01 AM Gal Raij <notifications@github.com> wrote:

[2015-05-04 07:40] samuelregev commented on #231
we also going to need some kind of interface so i can access it from the android app

[2015-05-04 07:54] galraij commented on #231
I suggest in the first step to just store it, later we can decide if and how to present it on the website + Android.

[2015-05-04 09:41] galraij opened #238 "Improve the pop-up window until the final design is ready."
1. Accident type should be the Title (it's ok if it will appear twice in the pop-up)
2. Delete the smaller title.
3. Change the source from נוסף על ידי to מקור:

![anyway_-_ _ _](https://cloud.githubusercontent.com/assets/3368312/7451579/ec7131d8-f25a-11e4-8420-fc0613d34749.jpg)

[2015-05-04 11:02] #217 closed

[2015-05-04 12:19] galraij opened #239 "Change the text of the guided tour"
1. Use ANYWAY in capital letters
2. Change the text:

Step 1:
ברוכים הבאים ל-ANYWAY, על גבי המפה ניתן לראות היכן התרחשו תאונות דרכים עם נפגעים.

Step 2:
באמצעות התפריט ניתן לבחור טווח תאריכים ולהציג תאונות מרמות חומרה שונות.

[2015-05-04 16:11] agamaloni commented on #239
Working on it :)

[2015-05-04 17:30] galraij commented on #239
Hi @agamaloni , can you please send me an email so I can add you to our mailing list?

[2015-05-04 18:09] agamaloni commented on #239
Hi gal,

this my mail

thanks,
agam

[2015-05-05 10:57] #226 closed

[2015-05-05 11:13] galraij commented on #226
great, does it/can it have any connection with our official Facebook page? We have over 300 likes there. Just a thought...

https://www.facebook.com/anywayisrael <https://www.facebook.com/anywayisrael>

[2015-05-06 19:06] #239 closed

[2015-05-06 19:10] #230 closed

[2015-05-06 19:55] #238 closed

[2015-05-07 05:38] moshe742 commented on #232
google maps works just fine, but according to the teacher the internet is
going through a proxy, what else should i look for?

On Sun, May 3, 2015 at 1:14 PM, Daniel Hershcovich <notifications@github.com

[2015-05-07 07:40] danielhers commented on #232
Try other apps with Google Maps, e.g. http://jsfiddle.net/B3a86/2
Try other embedded maps, e.g. in http://opentaba.info and http://www.vzv.nyc

[2015-05-10 07:09] omerxx commented on #192
I changed process.py and added missing names to field_names.py
Should I change Marker class in models.py too and separate the description there as well?
I'm not familiar with the exact structure, but isn't that a must before updating marker.js?

[2015-05-10 07:50] danielhers commented on #192
Yes, `Marker` needs to be updated to have the extra fields. Otherwise `process.py` won't have where to save the extra data it's loading...

[2015-05-10 16:56] samuelregev commented on #167
I think this issue not relevant any more now that login with Facebook no longer required. Daniel?

[2015-05-10 18:10] danielhers commented on #167
Right

[2015-05-10 18:10] #167 closed

[2015-05-11 16:23] eladkarakuli opened #245 "Multiple requests for markes on app loading"
There are 8 requests for markers when the app is loading:

    "GET /markers?ne_lat=32.07441697068722&ne_lng=34.80294092162626&sw_lat=32.06612544135497&sw_lng=34.785549478373696&zoom=17&thin_markers=false&start_date=1356991200&end_date=1388527200&show_fatal=1&show_severe=1&show_light=1&show_inaccurate=0 HTTP/1.1" 200

I suspect, it's about the ```app.model.set```, called at ```navigateSelectedMark

[2015-05-11 16:36] danielhers commented on #213
Fixed by d73188e

[2015-05-11 16:39] #213 closed

[2015-05-11 16:42] danielhers commented on #47
We have static meta tags for the app now (see e.g. e1ba6649db8a213d3ff82d53c73d150252c5bdf9).
Now we need to make them dynamic: if the URL contains `marker=` and a marker ID, then the marker details need to be included in the meta fields.

[2015-05-11 16:43] eladkarakuli opened #246 "R*Tree Module for better quering performance"
An R-Tree is a special index that is designed for doing range queries.
Use the module to index the queries of markers and highlights.

[2015-05-11 16:44] danielhers commented on #221
@galraij please confirm this also happens on your Safari.

[2015-05-11 16:48] danielhers commented on #136
No one is currently working on this. When running `process.py` after getting the complete data file (see Readme), some files fail to load.

[2015-05-11 16:49] danielhers commented on #180
Should not be difficult if you know what you're doing. Anyone?

[2015-05-11 16:50] danielhers commented on #192
@omerxx need any help?

[2015-05-11 16:51] galraij commented on #221
It does...

Like the button is not functioning at all... Not urgent however.

‫ב-11 במאי 2015, בשעה 19:44, ‏‏Daniel Hershcovich ‏<notifications@github.com> כתב/ה:‬

[2015-05-11 16:51] danielhers commented on #236
Fork here: https://github.com/hasadna/anywayAndroidApp
Just need to link to it from the Readme.
@samuelregev

[2015-05-11 16:52] danielhers commented on #153
@galraij what's the decision? Do we stay with `www.anyway.co.il` and `oway.org.il`, or do we want to support `anyway.co.il` too?

[2015-05-11 16:53] danielhers commented on #212
@OmerSchechter what's the progress on this?

[2015-05-11 16:59] galraij commented on #236
also add a link on index.html under the “Developer” tab, so developers who are interested can get to it from there as well.

[2015-05-11 17:01] galraij commented on #153
Ideally all of those should work:

www.anyway.co.il
anyway.co.il
www.oway.org.il
oway.org.il

[2015-05-11 17:17] omerxx commented on #192
Working on it, I'll let you know where I stand soon

On Mon, May 11, 2015 at 7:50 PM, Daniel Hershcovich <
notifications@github.com> wrote:

[2015-05-11 17:45] omerxx commented on #192
I managed to split the description and present to raw data (integers) in the marker.
Modified:
models.py (class marker) - Should I modify 'update' function as well?
process.py (import_accidents) -
field_names.py for extra fields
marker.js
index.html (needed to add fields for the jQuery)

* I only took what I thought was part of the description, there are still many values in the csv that are not d

[2015-05-11 17:49] #236 closed

[2015-05-11 17:52] danielhers commented on #192
You can ignore `update`. It will probably be removed soon.
For now, let's just take the values that appear in the description. Later we can think what other fields we want.
The file `localization.py` contains the translation from integers to field values in Hebrew.

[2015-05-11 17:53] danielhers commented on #153
So we still need someone who knows how to deal with domains to get anyway.co.il to redirect to www.anyway.co.il.

[2015-05-11 17:56] omerxx commented on #192
Okay.
This is what I've put in:
            "roadType":int(accident[field_names.road_type]),
            "accidentType":int(accident[field_names.accident_type]),
            "roadShape":int(accident[field_names.road_shape]),
            "subtype":int(accident[field_names.accident_type]),
            "severity":int(accident[field_names.accident_severity]),
            "dayType":int(accident[field_n

[2015-05-11 18:08] danielhers commented on #192
`igun` is the same as `locationAccuracy`, yes. No need for a separate field.
Take a look at `load_extra_data`: you need the same data that it loads, but
save it in separate fields rather than in a single description.
It uses `localization.get_supported_tables()` which simply returns the keys
of the dictionary in `localization.py`. So you need all of these.

On Mon, May 11, 2015 at 8:56 PM omerxx <

[2015-05-11 18:14] omerxx commented on #192
@danielhers
The python code for loading the data is ready.
For presenting each value I have to also edit the description functions under models.py
There are fomat_description and json_to_description that form the localization.

How do you want to do it?

[2015-05-11 18:20] danielhers commented on #192
Well, if we send each field separately then we won't need these functions.
You can send a pull request with what you have and we'll see what's left.

On Mon, May 11, 2015 at 9:14 PM omerxx <notifications@github.com> wrote:

[2015-05-11 19:22] #155 closed

[2015-05-11 19:29] omerxx commented on #192
I'm taking localization.get_field(field, value) but this creates a unicode error.
How do I decode it so it can be used?

[2015-05-11 19:37] danielhers commented on #233
@aviklai see #155: the popup now opens Disqus. There are still improvements to do but I'm not sure it's worthwhile to implement the subscription. @galraij what do you think?

[2015-05-11 19:40] danielhers commented on #192
Just like in `format_description`:
`localization.get_field(field, value).decode(db_encoding)`

On Mon, May 11, 2015 at 10:29 PM omerxx <notifications@github.com> wrote:

[2015-05-11 19:51] galraij commented on #233
WOW, Brilliant! looks really good! Thanks Daniel.

First, I commented but it didn’t create a new marker on the map (we do have an icon for discussion). I guess you’ll make it happen soon.

Second, I would add in the menu after “Create new discussion” the option “notify me when new features are available” and keep the subscription there. If a user invested the time to right click he might be someon

[2015-05-11 20:09] danielhers opened #247 "Design for discussion marker"
When creating a new discussion marker, it will appear on the map.
Need an icon to show for the new marker type.

[2015-05-11 20:09] danielhers opened #248 "Link discussion markers with Disqus threads"
Right clicking and using the Disqus dialog can now create a new discussion, but the thread is not linked to any marker on the map.
Creating a new thread should create a marker at the location where the right click was performed, with a field in the model to link it to the ID of the thread.
Clicking on an existing discussion marker should open the Disqus thread with the corresponding ID.

[2015-05-11 20:13] danielhers opened #249 "Show discussion markers on the map"
Depends on #247 and #248.
When opening the map, like the request to show the accident markers in the bounding box, we should get all the discussion markers in the same area, to display them on the map.

[2015-05-11 20:15] danielhers commented on #233
This can be implemented by adding another item to the context menu in app.js, and another modal (like discussion-dialog) that will send a request to the server when submitted.

[2015-05-11 20:31] galraij commented on #249
Relevant only to zoom levels before aggregation starts

[2015-05-11 20:34] aviklai commented on #233
That's what I did. I commented the non-working marker modal and put instead the open-discussion that enables a user to register to get an update when the feature will be available.

[2015-05-11 20:40] galraij commented on #247
![image](https://cloud.githubusercontent.com/assets/3368312/7574564/e8f2c2f6-f836-11e4-87a7-f71423c81327.jpg)

[2015-05-11 20:59] omerxx commented on #192
I tried this with content_encoding (db_encoding is not acceptable) and I get no result

[2015-05-11 21:08] omerxx commented on #192
Just got what my problem was... I'm almost there.
I'll let you know when it's ready

[2015-05-12 05:57] danielhers commented on #247
Added: 46d835d

[2015-05-12 05:57] #247 closed

[2015-05-12 09:01] #248 closed

[2015-05-12 09:10] danielhers commented on #249
Need to send new markers to the server so they're saved in the DB, and send them to the client when fetching markers.

[2015-05-12 11:51] galraij commented on #221
It used to work by the way. Is it possible that Safari itself changed? Apple released a few updates recently. My version is the newest (8.0.6)

[2015-05-12 16:17] danielhers commented on #221
Here's a version from 5 months ago: http://anyway-danielh.herokuapp.com/
Does it work there?

[2015-05-12 18:40] #199 closed

[2015-05-14 08:38] danielhers commented on #249
Code worked in localhost but failed on production (SQL error where the discussions.type column was not found).
f38d6e2 commented out code to load discussions from DB and send to client, so currently only accidents are sent.
Need to uncomment and fix the SQL problem.

[2015-05-14 08:40] danielhers opened #251 "Admin interface to send email to all subscribers"
Depends on #233.
Once we have subscribers in the DB, we need to be able to email them about new features, preferably without having to run a SQL query manually.

[2015-05-14 08:42] danielhers opened #252 "Admin interface to view users' location and address searches"
Depends on #231.
Once we save the GPS location of users and their address searches, we need a way to view this information and generate statistics.
Still requires specification of what statistics exactly we want to generate (@galraij).

[2015-05-15 19:48] aviklai commented on #251
Through what email client? some smtp client?

[2015-05-15 19:52] danielhers commented on #251
I don't know. Maybe Heroku supply a plug-in. Even a list of addresses would
be nice to start with.
On May 15, 2015 10:48 PM, "aviklai" <notifications@github.com> wrote:

[2015-05-15 19:53] danielhers commented on #251
Flask admin sounds good, I think.

[2015-05-15 19:55] #233 closed

[2015-05-16 16:53] danielhers commented on #221
@galraij please check to see if it works on my Heroku (see above)

[2015-05-16 17:14] galraij commented on #221
I'm not near my computer today but on my iPad and iPhone (safari) it works fine on the current version

‫ב-16 במאי 2015, בשעה 19:53, ‏‏Daniel Hershcovich ‏<notifications@github.com> כתב/ה:‬

[2015-05-16 17:19] danielhers commented on #221
So when you're at your computer please check and we can close this issue :)

On Sat, May 16, 2015 at 8:14 PM Gal Raij <notifications@github.com> wrote:

[2015-05-17 06:27] danielhers commented on #251
About the smtp account - can we use gmail (anyway.feedback)?
@galraij can we use a `@hasadna.org.il` address or something?

[2015-05-17 06:30] galraij commented on #251
I think anyway@anyway.co.il will the the best. And yes, it's gmail.

‫ב-17 במאי 2015, בשעה 09:27, ‏‏Daniel Hershcovich ‏<notifications@github.com> כתב/ה:‬

[2015-05-17 14:13] #249 closed

[2015-05-18 16:06] danielhers opened #255 "Script to import discussion markers from Disqus"
All discussions are saved as Disqus threads regardless of whether or not we have records for them in the DB.
Whenever we need to drop the `discussions` table (because the schema changes, for example), the threads in Disqus are not touched, but there are no longer discussion markers referring to them (via `identifier`), so they won't appear on the map.
We need a script to import back the threads fr

[2015-05-18 16:39] #255 closed

[2015-05-18 17:40] danielhers opened #256 "Try leaflet.js instead of Google Maps"
Should be faster.

[2015-05-18 17:49] danielhers opened #257 "Use PostGIS for faster queries"
https://devcenter.heroku.com/articles/postgis
And geoalchemy: https://geoalchemy-2.readthedocs.org/en/latest/orm_tutorial.html#spatial-relationship

[2015-05-18 18:28] galraij commented on #221
On your version I don't even see the icon :)

[2015-05-18 19:05] robi-y commented on #256
+1 when we get close to 25K map accesses
https://developers.google.com/maps/documentation/javascript/usage

On Mon, May 18, 2015 at 8:40 PM, Daniel Hershcovich <
notifications@github.com> wrote:

[2015-05-18 20:32] omerxx commented on #122
@danielhers is this still required?

[2015-05-19 04:15] danielhers commented on #122
Yes, the years are still hard coded...

On Mon, May 18, 2015, 23:32 omerxx <notifications@github.com> wrote:

[2015-05-19 06:05] samuelregev commented on #256
@robi-y I wouldn't be worry about the 25k limit (see the note in the link
you shared)
בתאריך 18 במאי 2015 22:05,‏ "robi-y" <notifications@github.com> כתב:

[2015-05-19 13:29] robi-y commented on #256
For this we need to apply for a google grant (maybe @galraij should decide)

[2015-05-20 07:14] samuelregev commented on #251
Gmail is not great when sending a a lot of emails, we might marked as spammers.
I recommend using SendGrid, you can specify what email will be shown as sender and there free account have limit of 400 emails a day which I believe is enough for start.
and they have add-on for heroku - https://devcenter.heroku.com/articles/sendgrid

[2015-05-20 07:59] danielhers commented on #251
I added the plugin on Heroku.

On Wed, May 20, 2015 at 10:14 AM Samuel Regev <notifications@github.com>
wrote:

[2015-05-20 08:23] eladkarakuli opened #259 "Select marker info window disappearing when zooming out to cluster view"
This eliminates the option to open any more marker windows.

Select a marker (click on a marker), wait for the info window to open and zoom out until the info window disappears, select other markers.

[2015-05-20 09:04] danielhers commented on #259
Right, `this.infoWindow` in `app.js` should be set to null when zooming out
to cluster level.

On Wed, May 20, 2015 at 11:23 AM Elad Karakuli <notifications@github.com>
wrote:

[2015-05-20 13:23] galraij opened #260 "Improve google analytics"
Since we have only one page, we can investigate which buttons are being clicked using the information described here: https://support.google.com/analytics/answer/2558867/?hl=en&utm_id=ad&authuser=3

If it's possible to know which individual markers (or at least discussion markers) users clicked that's superb!

[2015-05-20 13:27] galraij commented on #153
I think it will be good to consider www.anyway.co.il as our main address and make sure it works without the 'www' and redirect oway.org.il and www.oway.org.il to www.anyway.co.il

[2015-05-20 13:31] danielhers commented on #260
This just required adding

    ga('require', 'linkid', 'linkid.js');

In `templates/index.html`, between the `ga` calls.
I don't know if we can track clicks on markers, though, because there's no way I know of to get their element ids.

[2015-05-20 13:32] danielhers commented on #153
Fair enough, now we just need anyway.co.il and www.oway.org.il, and to do
the redirect :)

On Wed, May 20, 2015 at 4:27 PM Gal Raij <notifications@github.com> wrote:

[2015-05-20 13:47] galraij commented on #51
Are we getting closer to the stage we can make this happen?

Maybe we can use disqus for it (since we already "know" how to link between a disqus discussion and a specific marker)

Disqus allow to add a pictures and links which is exactly what we need. How customized can the disqus feature be? we need:

1. A possibility to limit users (for example let the NGOs have user name and only them can add

[2015-05-20 13:53] danielhers commented on #51
We know how to create a discussion marker at a given location, and it
shouldn't be hard to be able to associate a Disqus thread with any accident
marker: as a first stage, we can just add a link in the info window to open
the discussion modal. The identifier can be the id of the accident marker.
Should be easy, it's just some Javascript with no server-side work at all.

I don't know how to only le

[2015-05-20 13:54] galraij commented on #51
so it might be a good task for someone new at the Hackaton

[2015-05-20 13:56] danielhers commented on #51
Definitely

On Wed, May 20, 2015 at 4:54 PM Gal Raij <notifications@github.com> wrote:

[2015-05-20 13:56] galraij commented on #51
also- maybe Facebook comments will be a possibility as well. I think user control is easier there.

[2015-05-20 14:00] danielhers commented on #51
Maybe, but I don't know how to do that. Facebook integration didn't really
work (except for like and share). We replaced that with Disqus.

On Wed, May 20, 2015 at 4:56 PM Gal Raij <notifications@github.com> wrote:

[2015-05-20 14:09] galraij commented on #51
Is this she solution? (or what proves there is no solution?)
https://help.disqus.com/customer/portal/questions/8440448-can-you-restrict-login-to-sso-only-

[2015-05-20 14:13] danielhers commented on #51
There's no solution there...

On Wed, May 20, 2015 at 5:09 PM Gal Raij <notifications@github.com> wrote:

[2015-05-20 14:26] galraij commented on #51
OK, I think I have found a solution that might work:

1. We open a new Disqus account.
2. In settings we cancel guest comments + in pre-moderation choose ALL so we have to approve comments. (see screen shot).
![general_-_settings_-_disqus](https://cloud.githubusercontent.com/assets/3368312/7727986/25eba9c2-ff15-11e4-83c2-7f24eb3bcf03.jpg)
3. We open accounts for the NGOs or specific users and put

[2015-05-20 16:01] danielhers commented on #51
That could work. Maybe Disqus allows different configurations per shortname
or URL within the same account though?
On May 20, 2015 5:26 PM, "Gal Raij" <notifications@github.com> wrote:

[2015-05-20 17:17] samuelregev commented on #51
You can use as many short_names as you want in the same domain (as far as I know).
also you can disable the windows that shows other discussion in the settings

![uploads/a309246c-a188-4349-bfcd-a8914db720b7/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fa309246c-a188-4349-bfcd-a8914db720b7%2Fblob)

[2015-05-21 09:42] omerxx opened #261 "Clicking a link to specific discussion pops an "illegal discussion" error"
Each discussion has a lower field of 'more from anyway': `עוד באתר anyway`
Clicking a specific discussion (title or grid point) moves to it but pops a top right hand side error:
`דיון לא חוקי`

Moreover, sometimes it loads when the green marker of the current location is hiding the discussion icon. (Different issue?)

[2015-05-21 09:52] danielhers commented on #261
Please give an example. I think it's only for the first discussions that were added, before I changed the discussion URL format.

As for the green marker, yes, that's because the discussion URL points to the location of the marker, and when loading the app with a specific location, the green marker is added.
It can be fixed to not show the green marker if the page was loaded from a discussion link

[2015-05-21 09:59] omerxx opened #262 "Tour step 3 dialog is over streched"
Getting to the third step of the tour `המקום שחיפשתם` I noticed the window extends it's basic design:

![image](https://cloud.githubusercontent.com/assets/12237955/7746192/25ef2d96-ffb9-11e4-9274-76d0ad0c72a0.png)
VS:
![image](https://cloud.githubusercontent.com/assets/12237955/7746205/37243fb6-ffb9-11e4-99aa-e6d41d3d4c86.png)

[2015-05-21 10:03] danielhers commented on #262
@agamaloni

[2015-05-21 10:03] omerxx commented on #261
Understood.. old ones are the only ones I see there. Maybe it's worth deleting every discussion prior to the fix date?

![image](https://cloud.githubusercontent.com/assets/12237955/7746274/a2814560-ffb9-11e4-881f-30f4c64ee5a3.png)

[2015-05-21 10:12] omerxx commented on #262
While at it I think it would be nice adding a last step with a greeting notifying that the tour is over

[2015-05-21 10:14] danielhers commented on #261
I edited the old discussions using my Disqus admin powers. Should be fine now.

[2015-05-21 10:22] samuelregev commented on #190
The problem with that is the high load on the server, it still required going through tens of thousands of records.

I have an idea that might do the trick:
Instead of letting the user to choose a various date range we only give them the option to choose a year range(2010-2013  for example).

this way we can do a pre count the number of accidents for every year ,every parameter(there only three pa

[2015-05-21 10:43] samuelregev commented on #262
Maybe also add a description about opening a discussion

On Thu, May 21, 2015 at 1:12 PM, omerxx <notifications@github.com> wrote:

[2015-05-21 19:31] agamaloni commented on #262
thanks @omerxx  change back for cleaner view and resize .popover

[2015-05-21 19:39] agamaloni commented on #262
can add more steps,
now i get hard time to find inside the code the easy way for setting up the current date
any idea?

[2015-05-21 21:27] galraij commented on #190
If it is a big time/money saver year range is enough. Is it possible to leave that option for people who looking for something very specific and willing to wait?

Also- Is it possible that when a user choose 2012 it enables that year and another click disable? in this way people can just click 2011, 2005, 2003 and see all of it at the same time.

[2015-05-21 22:56] njenia commented on #190
@samuelregev pre-calculation is an option I considered but it seems like it will take up lots of storage space. Maybe i'm wrong - if you can please check.

In the last session I finished implementing server-side clustering and there is a significant performance boost. For large zoom levels it's actually 2x faster, and on even larger zoom levels current production version doesn't show a thing (bug.

[2015-05-22 03:58] danielhers commented on #190
It's a standard 1x Heroku dyno. Not sure how many cores they have.
Perhaps we can cache the clustering results to avoid doing the calculation
every time?

On Fri, May 22, 2015 at 1:56 AM Evgeny Nemzer <notifications@github.com>
wrote:

[2015-05-22 04:14] danielhers commented on #262
You need to update the daterangepicker's startDate and endDate, and then notify it: https://github.com/hasadna/anyway/blob/master/static/js/app.js#L484

[2015-05-22 06:53] #231 closed

[2015-05-22 11:47] omerxx commented on #261
Discussions that have been deleted still exist as a link from the optional section in disqus, trying to click them gives an error:
![image](https://cloud.githubusercontent.com/assets/12237955/7769939/57cd738a-0091-11e5-9530-ee9384c5a201.png)

There is still one that cannot be found:

![image](https://cloud.githubusercontent.com/assets/12237955/7769920/39789130-0091-11e5-9ced-0c44b87b3ea2.png)

[2015-05-22 12:42] danielhers commented on #261
You can restore it suing the load_discussions.py script I wrote (it's in
git), just set your DATABASE_URL before to the URL I'm sending you by email
by doing 'export DATABASE_URL=' and the URL in single quotes.

On Fri, May 22, 2015 at 2:47 PM omerxx <notifications@github.com> wrote:

[2015-05-22 15:37] omerxx commented on #122
If I exported the years into a python list based on the structure of the JS hard coded array:
`dict = { 'year 2000' : ['01/01/2000', '31/12/2000'] }` then used `json.dumps` so it would be readable.
How can I read the data in `app.js`? I don't know how to refer to the dictionary from process.py and if that's even possible?

[2015-05-23 10:10] danielhers commented on #122
It's not related to process.py.
If we want it to come from the server, we just need to add a route in
main.py that will read this table and send a json of the years.
However, it's better if this is cached statically and sent from a CDN.
There's an issue about that (making index.html static), but we haven't done
that yet because I don't really know how. The plan is to use Amazon Web
Services S3.
On

[2015-05-23 15:30] aviklai commented on #174
I succeeded to install anway in windows. There are 2 packeged that can't be installed on windows:
1. pyproj==1.9.4
2. psycopg2==2.5.5

both of them need to be downloaded from:
http://www.lfd.uci.edu/~gohlke/pythonlibs/
(As the readme states) using the cp27 win32 version, even if you have a 64 bit windows.

Another issue I encountered is with the sqlite database.
for some reason, the command:
set D

[2015-05-23 16:54] danielhers commented on #174
I suppose you need to set the environment variable in the computer
properties...
On May 23, 2015 6:30 PM, "Avi Klaiman" <notifications@github.com> wrote:

[2015-05-23 17:02] aviklai commented on #174
The problem was with the double quotes now it works. And if pycharm is used, the environment variable needed to be set in the debug configuration.

[2015-05-24 15:40] #174 closed

[2015-05-24 15:51] #262 closed

[2015-05-24 18:31] galraij opened #266 "Aggregation stopped working"

[2015-05-24 18:33] galraij opened #267 "Auto locate is active even when using a specific address"
for example: http://oway.org.il/#start_date=2013-01-01&end_date=2014-01-01&show_fatal=1&show_severe=1&show_light=1&show_inaccurate=0&zoom=17&lat=32.43775025556627&lon=34.88369815191356

takes you always "home"

[2015-05-24 21:32] galraij commented on #256
I think we do have some kind of understanding with google, let me know what to ask from them and I will.

[2015-05-25 05:20] robi-y commented on #256
Basically if we're having close to 25K hits a day we need to ask for more quota.
Either by our connections there or by:
https://www.google.com/earth/outreach/grants/software/index.html

[2015-05-25 11:55] samuelregev opened #268 "Get address from Google geocoder as discussion title instead of lat,lng"
For example

https://maps.googleapis.com/maps/api/geocode/json?latlng=32.083014,34.803381&language=iw&result_type=street_address&key=AIzaSyB3vqN-tZV2DTMw75B6okJLDptNOil1xhY

we can take "formatted_address" parameter as the title

more details here:
https://developers.google.com/maps/documentation/geocoding/#ReverseGeocoding

[2015-05-25 12:19] danielhers commented on #268
Great idea, that's much more descriptive than a pair of coordinates.
When we support discussions on an accident marker we can also take the
address from its fields.

On Mon, May 25, 2015 at 2:55 PM Samuel Regev <notifications@github.com>
wrote:

[2015-05-25 13:01] danielhers commented on #252
#231 completed, so this is ready to be done: admin view to the highlightpoints table.

[2015-05-25 13:01] #221 closed

[2015-05-25 13:02] danielhers commented on #251
@aviklai What is still required to complete this? Login credentials for admin?

[2015-05-25 13:02] #192 closed

[2015-05-25 13:03] danielhers commented on #49
@tedwin007 can continue this now that #192 is completed and the fields are separate.

[2015-05-25 13:05] danielhers opened #269 "Add unit tests to Travis CI"
3cd982784e8cdc755dbe5762c4e772005fa70fd2 added tests, and we have Travis for continuous integration: https://travis-ci.org/hasadna/anyway
Now we just need to make it run the tests to verify stability.

[2015-05-25 13:09] aviklai commented on #251
Basicaly, It is completed. It just need to be tested with a real sendgrid account.
About login credentials for admin - it's already implemented.

[2015-05-25 13:15] danielhers commented on #251
We have SendGrid enabled on our Heroku now.
You can login at http://oway.org.il/admin/login/ and try :)

On Mon, May 25, 2015 at 4:09 PM Avi Klaiman <notifications@github.com>
wrote:

[2015-05-25 13:17] galraij commented on #251
Can someone send me (via email) the username and password?

It look great from the outside :)

‫ב-25 במאי 2015, בשעה 16:15, ‏‏Daniel Hershcovich ‏<notifications@github.com> כתב/ה:‬

[2015-05-25 13:29] aviklai commented on #251
I don't have it either.  I don't know if an admin user name and password were created at all. If not, I will do it today, after I figure out how to use heroku :)

[2015-05-25 17:19] danielhers commented on #266
@njenia is working on server side clustering, which should fix the problem: #229

[2015-05-25 17:19] danielhers commented on #266
and #190

[2015-05-25 17:55] #267 closed

[2015-05-25 17:58] danielhers opened #272 "Switch to Backbone URL format"
Backbone uses # rather than ? for separating the route from the parameters.
Currently we use ? because the / route on the server needs to read the parameters from GET and add them to the context, making them visible in index.html which sets global JS variables read in render().
This is a complicated process that can be simplified by using pure Backbone routes, and the server will not need to read

[2015-05-25 17:59] danielhers opened #273 "Test correct parameter reading"
Write a test to make sure that all URL parameters are properly read and acknowledged. A failure will result in bugs like #267.

[2015-05-25 18:09] #266 closed

[2015-05-25 18:18] #259 closed

[2015-05-25 18:30] danielhers opened #275 "Right click does not open "add discussion" menu"
Right clicking the map opens the browser's context menu instead of the unique anyway context menu in which one can add a discussion.

[2015-05-25 18:31] galraij commented on #275
Oh no !

‫ב-25 במאי 2015, בשעה 21:30, ‏‏Daniel Hershcovich ‏<notifications@github.com> כתב/ה:‬

[2015-05-25 18:33] samuelregev commented on #261
did discussion id changed?
for example - this discussion marker:
http://oway.org.il/?start_date=2013-01-01&end_date=2014-01-01&show_fatal=1&show_severe=1&show_light=1&show_inaccurate=0&zoom=20&lat=31.74582429075062&lon=35.23056580978697

I commented there few days ago, later comment disappeared. when I re-comment the discussion got different id
sea first comment:
https://disqus.com/home/discussion

[2015-05-25 18:36] samuelregev commented on #261
I might found the reason, in the json returned for discussion marker identifier now have '\n' at the end which I'm certain that wasn't there before

"identifier": "(31.7457974525944, 35.23064103187721)\n"

http://oway.org.il/markers?ne_lat=31.74812799660888&ne_lng=35.23191764313049&sw_lat=31.743036958134315&sw_lng=35.226499580920404&zoom=17&thin_markers=false&start_date=1356991200&end_date=1388527

[2015-05-25 18:48] #275 closed

[2015-05-25 19:00] #269 closed

[2015-05-25 19:03] #229 closed

[2015-05-25 19:03] #232 closed

[2015-05-25 19:19] danielhers opened #276 "Test environment for Disqus"
Instead of creating discussions on the production site for testing, we need a testing environment.

[2015-05-25 19:23] #261 closed

[2015-05-25 19:25] danielhers commented on #261
That's probably because of my load script...
On May 25, 2015 9:36 PM, "Samuel Regev" <notifications@github.com> wrote:

[2015-05-25 19:34] danielhers commented on #261
Still not sure where this newline comes from - need to further investigate.

[2015-05-25 21:19] omerxx commented on #122
I've written the json for years on the server to a file.
The client pulls it in app.js
Is this an acceptable solution?

@OmerSchechter  I just put the structure in a `var YEARS={...}` and let `ranges: YEARS'
That was finally accepted by `dateRangePicker`

[2015-05-25 22:14] omerxx commented on #180
@OmerSchechter  your script worked.. it looks for the correct ones. should just add `icon` to the path:
`.../img/icons/`
![image](https://cloud.githubusercontent.com/assets/12237955/7802703/4182ba30-0344-11e5-9c24-c1d74dcffb65.png)

[2015-05-25 23:06] OmerSchechter commented on #122
@omerxx Wait, so it's working right now? because i'm currently tinkering around with it..

[2015-05-26 03:52] danielhers opened #278 "Marking text in the marker info window closes it"
Since it is caught as a click on the map, any click on the info window closes it, making it impossible to copy text from it.
Just clicking on the 'x' in the corner should close it.

[2015-05-26 03:54] #212 closed

[2015-05-26 04:10] danielhers opened #279 "Separate marker id from provider code"
Loading the complete data on a new DB gives:

    static/data/lms/Accidents Type 3/H20121161: (DataError) integer out of range

@eladkarakuli

[2015-05-26 04:14] danielhers commented on #279
Of course, it's because it's constructing the id by joining the provider code ('1') with the id from the CSV, giving a very large number.
We could keep the id from the CSV as a separate column or something, and use simple autoincrementing integers for the real id.

[2015-05-26 06:53] eladkarakuli commented on #246
This should also help with server side clustering (#190) performance.

[2015-05-26 13:28] omerxx commented on #122
Yup. looks fine. thanks

[2015-05-26 13:33] omerxx commented on #261
@danielhers  the 'discussion not found' error still persists..

[2015-05-26 15:23] omerxx commented on #262
Hi @agamaloni
The tour step is still stretched, I tried to modify it locally but I can't see the tour here (do you know why..?)
plus, why is this specific step at `app.js` and not in `tour` ?

[2015-05-26 15:57] agamaloni commented on #262
Hi @omerxx ,
yes,
For locate step over the map i go out from the tour and popup an infoWindow i know it not look exactly like the different steps.. do you know how to modify specific infoWindow ? (i will figure it out)
that was my best solution for dealing with pointing on exactly spot over the map.
according to that logic step 3 set inside setCenterWithMarker of app.js
to catch the location after

[2015-05-26 16:55] OmerSchechter commented on #180
You are right, the script does work, but if you look closely you can see that it looks for the 'wrong' ones(i.e. not the marker icons that we have a retina version for, but other images on the page).
And there's no option to add the `/icons/`.

@danielhers I've managed to get the script 'working', so to speak.
The problem is, if our goal is to get the marker icons to switch to the retina version,

[2015-05-26 22:13] OmerSchechter commented on #245
What do you mean by `navigateSelectedMarker`?

It seems to me like the "idle" event of the map is being fired-up a few times(which calls `fetchMarkers()`), plus `setCenterWithMarker` also calls `fetchMarkers()`, plus `this.model.bind("change:dateRange", this.reloadMarkers, this);` also being fired-up for some reason and calls `fetchMarkers()` as well, and maybe others as well.

Basically, we do wa

[2015-05-26 22:26] OmerSchechter commented on #198
Is it still happening? I don't see it on my machine(loading from the virtualenvironment and the live website).
Zooming out to cluster-mode --> spinner starts spinning --> spinner stops && concurrently the clusters show-up.

[2015-05-27 12:30] OmerSchechter commented on #153
Have we tried modifying the .htaccess file?

[2015-05-27 21:58] omerxx commented on #122
@danielhers / @njenia
My fix is creating the years string once `process.py` completes its data population.
(this is the one case I can think of that year choices will need an update)
The string is saved in a new file `years.js` and is loaded in the assets.

The one problem is that we expect over 10 years of possible choices (and this is just a current stat, in the future it should be many more). S

[2015-05-27 22:21] samuelregev opened #283 "Creating new discussion doesn't return the new discussion marker"
At first, when I sent post request to '/discussion' I received back the new discussion marker as json.
after this commit
https://github.com/hasadna/anyway/commit/3cd982784e8cdc755dbe5762c4e772005fa70fd2#diff-5bc02cefb3ea9e27f1a6776eabd1935dL140

the discussion is created but no response being sent back to the client, only new requests to '/markers' gets the new discussion marker

[2015-05-28 00:29] eladkarakuli commented on #283
Hi @samuelregev, I did a post request, and got the object back as json.
from the console:

                    "latitude"  : "32.01936",
                    "longitude" : "34.78287829999997",
                    "identifier": "abcd",
                    "title"     : "test"
                }), function(data, textStatus, jqXHR) { console.log(data); });

Are you sure the creation of the discussion w

[2015-05-28 06:40] samuelregev commented on #283
That's weird,  I'm trying the same request from an outside request maker like https://www.hurl.it/
And the response body is always empty (This is what i do in the android app, it worked before)

I'm sure the the discussion is created, after returning empty request body when I'm refreshing the marker list it's there.
Maybe I need to add some headers to the request?
@eladkarakuli can you try sending

[2015-05-28 14:16] samuelregev opened #284 "Delete old disqus threads"
In disqus thread list appears many discussion that was created for testing, with old address (localhost, 127.0.0.1 etc.) as you can see here:
https://disqus.com/home/forum/anyway-feedback/

The only way to delete disqus thread is their api
https://disqus.com/api/docs/threads/remove/

We need to request API key and preform that.
https://disqus.com/api/applications/

[2015-05-29 09:54] omerxx commented on #284
Were deleted on #261

[2015-05-29 10:00] samuelregev commented on #284
I'm not talking about the discussion list in our database, I'm talking about the list of discussions in Disqus system
go to https://disqus.com/home/forum/anyway-feedback/ and scroll all the way down, notice the some of the links pointing to localhost and so on.

Those discussion appear to everyone in the box under every discussion so we need to delete them

[2015-05-29 16:33] samuelregev opened #286 "Add smart banner to promote android app"
See more details below
http://www.adianteapps.com/blog/article/smart-app-banners-promote-your-app-in-web

Our android app package name is il.co.anyway.app

[2015-05-29 19:06] OmerSchechter commented on #286
Hey,
So I started working on it, and I have a quick question: why is `.navbar-fixed-top` positioned `fixed`? besides living up to it's name?;)
Would it be a problem having it positioned `absolute`?
I'm asking because obviously it causes problems when we want to have another element above it(i.e. the banner)
And it's not the first time it gave me problems.

[2015-05-30 19:19] omerxx commented on #166
This is refers to `Marker.bounding_box_query` right?

[2015-05-30 21:33] danielhers commented on #166
Yes
On May 31, 2015 4:19 AM, "omerxx" <notifications@github.com> wrote:

[2015-06-01 14:18] njenia commented on #257
But the heroku docs state that it's only available with Django or Rails..

[2015-06-01 14:20] njenia opened #289 "Make clustering calculations parallel"
#190 made performance a lot better. BUT it's still quite slow..
There is no escape from making the clustering calculation parallel.

[2015-06-01 15:37] omerxx opened #290 "Improve cluster accuracy"
Cluster aggregates markers in `in_cluster` is using box instead of a circle parameter calculation which I think may cause duplications and inaccuracy

[2015-06-01 18:27] #290 closed

[2015-06-01 18:49] yosiat commented on #257
@njenia PostGIS is a feature that is implemented at the database level (postgres), the heroku docs shows you an example for django/rails, but this feature could be used with any other frameworks.

[2015-06-01 19:09] galraij opened #292 "Add tooltips to accidents severity"
Add explanation tooltip when hovering over the text (according to the picture below)

![anyway_-_ _ _](https://cloud.githubusercontent.com/assets/3368312/7920613/eed526b4-08a8-11e5-8e24-2ec17caf4927.jpg)

[2015-06-01 21:36] aviklai commented on #292
Done.

[2015-06-02 11:46] omerxx commented on #279
What's the status here?
@galraij wanted to have the provider code pulled separately from the accident id for further use.

[2015-06-02 14:56] eladkarakuli commented on #257
I should point out that #246, is this issue, only on SQLite.
I didn't knew that the prod runs PostgreSQL, so I implemented the faster queries feature for SQLite, only to find out I need to implement it for Postgre, and PostGIS as well.
I think this is a bit of a problem, and code confusion, when this and future implementation for DB, requiring implementations and tests for two different DBs.

Ther

[2015-06-03 07:24] omerxx opened #294 "Wrong junction naming for non-urban accidents"
You can see that for example every accident on road 20 (Ayalon) which is not a specific intersection of 2 roads would have the name `מחלף וולפסון`.
This happens due to the .csv file reading which is not including the `KM` parameter in its calculation.

Our `non-urban-intersection` takes its junction based on `KVISH1` + `KVISH2`.
When the accident is not an intersection: `KVISH2 = 0`.
Logically, th

[2015-06-05 17:29] #292 closed

[2015-06-06 08:01] galraij commented on #49
can we incorporate this in the pop-up?
https://jqueryui.com/accordion/#fillspace
This will save space and make it much more user friendly!

[2015-06-06 10:06] galraij opened #299 "Replace the multiple marker icon"
This:
![anyway_-_ _ _](https://cloud.githubusercontent.com/assets/3368312/8019229/6fbf87be-0c4c-11e5-917b-1127b1ee73dc.jpg)
Should be replaced with:
![anyway_-_ _ _](https://cloud.githubusercontent.com/assets/3368312/8019231/94f5b8b4-0c4c-11e5-8a4d-895848f6756a.jpg)

[2015-06-06 10:14] alexz3 opened #300 "Mismatch accident type popup-menu"
When clicking on an accident on the right menu for example
"Side-side accident"
In the pop-up menu the type will be different "Front-rear accident"  or other.
One (or both) are wrong.

[2015-06-06 11:00] galraij opened #301 "Add the "involved" data to the accident marker"
info about the involved people in an accident is available in the: H********InvData.csv file, and should be connected with the specific accident using the identical ID.

[2015-06-06 11:02] galraij opened #302 "Add the "vehicles" data to the accident marker"
info about the involved vehicle types in an accident is available at the: H********VehData.csv file, and should be connected with the specific accident using the identical ID.

[2015-06-06 13:32] galraij opened #304 "Accident marker title presented as a story"
Instead of presenting only the accident type in the title, tell this story:

תאונה קשה מסוג התהפכות 100 מטרים דרומית לצומת השרון ביום ראשון בשעה 14:00

[2015-06-06 14:17] #153 closed

[2015-06-06 17:22] aviklai commented on #51
@eladkarakuli Can you help with this issue?

[2015-06-06 17:56] omerxx commented on #304
Current state (based on #295) looks like this:
![image](https://cloud.githubusercontent.com/assets/12237955/8020774/373d5b22-0c8e-11e5-8647-dcc2e6420929.png)

@galraij, should `תאריך` and the junction on the bottom still be part of the marker's details?

[2015-06-06 21:20] #122 closed

[2015-06-06 21:22] omerxx commented on #301
@aviklai Thought I could assign myself to help you..
Let me know when you want to start working on this

[2015-06-06 21:41] galraij commented on #304
Looks beautiful! Date and junction at the bottom can be deleted, it's enough to see it one time.

[2015-06-07 06:26] omerxx commented on #304
Cool.
I also want to add some light coloring.
For example having the severity change color according to its level
What do think?
Any other ideas?

ב-7 ביונ 2015, בשעה 00:41, Gal Raij <notifications@github.com> כתב/ה:

[2015-06-07 14:57] aviklai commented on #301
@omerxx I already started. Do you want to talk today? we can discuss on the best way to do it and we will be able to do issue #302 the same way.

[2015-06-07 15:46] omerxx commented on #301
I'll only be available late but sure sounds good. We'll continue tomorrow

ב-7 ביונ 2015, בשעה 17:57, Avi Klaiman <notifications@github.com> כתב/ה:

[2015-06-08 08:23] samuelregev commented on #184
google maps knows how to mark an area
![image](https://cloud.githubusercontent.com/assets/5688494/8030600/cdd02608-0dd0-11e5-9209-ec291d752680.png)

so i'm guessing it's possible

[2015-06-08 15:08] #289 closed

[2015-06-08 15:10] njenia commented on #289
This makes clustering pretty fast! But it seems that there is still room for improvement. I think it would be helpful to add cores to the server..

[2015-06-08 19:04] omerxx commented on #301
Working on the client side...

[2015-06-08 19:11] OmerSchechter opened #308 "Overall style changes"
Some minor style changes to the css can make a significant difference.

[2015-06-08 19:35] OmerSchechter commented on #308
See pull #309.

[2015-06-09 07:14] galraij commented on #308
SHADOW on edges

[2015-06-09 07:21] galraij opened #310 "Localization to English"
In order to spread our idea and extend our community not only to people who understand hebrew we should allow people to choose to view the entire site in English. We already have the main file (AccData.csv) translated into english (link below).

Let's remember that car accidents are a universal problem and more minds thinking about it are more chances that we can eliminate deaths.

Link to the fil

[2015-06-09 16:05] omerxx commented on #310
This also means translating the UI and changing it's structure (side bar to the left etc...)

[2015-06-09 16:12] galraij commented on #310
True, thanks for mentioning that!

‫ב-9 ביוני 2015, בשעה 19:05, ‏‏omerxx ‏<notifications@github.com> כתב/ה:‬

[2015-06-10 08:04] aviklai commented on #310
We can use the following solution:
http://l20n.org/

[2015-06-11 13:39] OmerSchechter commented on #278
This can be closed.

[2015-06-11 13:49] OmerSchechter commented on #299
@galraij It's not as simple as I thought.. It can be done though.
Let me know when we get the new icons.

[2015-06-11 13:55] galraij commented on #299
Don't wait for it, use one of the normal aggregation markers and when we have it we can replace... Hopefully soon.

‫ב-11 ביוני 2015, בשעה 16:49, ‏‏OmerSchechter ‏<notifications@github.com> כתב/ה:‬

[2015-06-15 18:59] omerxx commented on #169
@galraij What is `ענן מילים` ??
(shown in the screen shot above)

[2015-06-15 20:49] omerxx commented on #169
![image](https://cloud.githubusercontent.com/assets/12237955/8170419/1e919f5c-13b9-11e5-8099-c7ea6a341806.png)

[2015-06-15 21:48] omerxx commented on #169
Another question: The description wants to filter the sidebar alone, but the example picture describes filtering the markers on map as well. Which is the correct?

[2015-06-16 04:42] galraij commented on #169
Ignore it for now, it's a dream I have for later days. Analyzing the data and comments and present it as word cloud.

‫ב-15 ביוני 2015, בשעה 21:59, ‏‏omerxx ‏<notifications@github.com> כתב/ה:‬

[2015-06-17 16:48] #301 closed

[2015-06-21 20:44] omerxx commented on #184
The cluster is calculated in a circle shaped parameter. We could show the round parameter...

[2015-06-22 12:51] njenia commented on #233
I think that adding the "new features" context menu item is wrong. This action should be put as a button on the topbar or something, next to the About button. The context menu is (as its name suggests) in the context of the click position. Putting a static non-position-related button is weird..
And another thing: the term תכונות is a bit weird. I didn't understand what it was at first, and it took

[2015-06-22 12:57] njenia commented on #256
I don't know where can we see how many Google maps hits we have a day, but I find it hard to believe that we have 25K of them.
The performance issue is not an issue anymore, since we calculate clustering on the server now and there aren't many markers (or cluster markers) drawn on the map. So I don't think the map engine is a big of a bottleneck..

[2015-06-22 13:36] njenia opened #315 "Readable Disqus discussion titles"
Currently when you open a new discussion you see the lat, lng as its title, which is not readable, has no meaning for the user and is generally ugly :)
I would like to see the nearest street as the title.

[2015-06-22 14:23] njenia opened #316 "Implement discussions with a customized solution other than disquss"

[2015-06-22 14:28] #316 closed

[2015-06-22 14:56] njenia opened #317 "Consider replacing Disqus"

[2015-06-22 14:56] njenia opened #318 "Consider replacing Disqus"

[2015-06-22 15:02] aviklai commented on #233
I agree with you. And about the text, maybe something like רוצה לקבל עדכונים?
because this users list can be used no only for features.

[2015-06-22 15:06] #317 closed

[2015-06-22 15:31] samuelregev commented on #315
duplicate, see #268

[2015-06-22 15:31] #315 closed

[2015-06-22 15:45] aviklai commented on #233
@galraij Gal, what do you think?

[2015-06-22 15:48] galraij commented on #233
Good idea- write ״לעידכונים״

‫ב-22 ביוני 2015, בשעה 18:45, ‏‏Avi Klaiman ‏<notifications@github.com> כתב/ה:‬

[2015-06-22 17:23] OmerSchechter opened #321 "After fix #311 icons in the sidebar list won't show on retina displays"
After fix #311 that adds support for retina displays, viewing the site on a retina display will cause a problem where the icons on the sidebar list will fail to load.
![screen shot 2015-06-22 at 20 21 18](https://cloud.githubusercontent.com/assets/11275466/8288073/6f0f8972-191c-11e5-9d97-b9c4b4bcfe3e.png)

[2015-06-22 21:24] omerxx opened #328 "Working with branches in Anyway"
We've been working with `dev` for a couple of weeks and there's a mess.
No one knows what branch should we work with and how should we keep our lost features.
@njenia has created `dev2` which is a branch that has both `dev` and `master` merged.
In my opinion we should have **all standing pull requests merged** to `dev2` as well.
Then, once it is merged / replaced with `master` successfully, we sho

[2015-06-22 23:26] danielhers commented on #328
All changes should be in dev, and changes proven stable should be merged to
master too. Why is that not the case?

On Tue, Jun 23, 2015, 06:24 omerxx <notifications@github.com> wrote:

[2015-06-23 07:54] omerxx commented on #328
Since dev was opened, some pull requests kept being opened to the master branch and even merged in the hackaton 3 weeks ago.
The dev branch is way ahead now but some features exist only in the master.

[2015-06-23 20:56] omerxx commented on #318
Personally I agree. Disqus is not friendly when it comes to anyway's UX.
Implementing a simplified version of it shouldn't be too complicated.

[2015-06-26 11:09] omerxx opened #329 "Safari locates marker scroll-bar on the right on top of the text"
Don't know whether the scroll bar side position is a result of localization settings of either of my browsers but when it's located on the right it shadows the text.

I guess the simplest solution would be to indent text (and future accordion one tab left)

![image](https://cloud.githubusercontent.com/assets/12237955/8376192/ea83ba72-1c0c-11e5-8275-82e1cc1b683d.png)

[2015-06-26 21:54] galraij opened #330 "Add accident type filter option to the menu"
Allow the user to choose which types of accidents to see.
Default should be ALL CHECKED.

The codes mentioned in the mockup are described in AccCodebook.pdf

![sort_by_kind_psd___100___layer_4__rgb_8__](https://cloud.githubusercontent.com/assets/3368312/8388075/0035692e-1c67-11e5-8512-bf7996ee5372.jpg)

@omerxx and @LironRS you might wanna take a look

[2015-06-26 22:16] omerxx commented on #330
We'll do it, it's not to big of an effort. But only once all previous enhancements are merged...
Otherwise we'll mess up things in the same files with different code.
If @LironRS can do the UI, I'll add the server side requirements.

[2015-06-26 22:33] LironRS commented on #330
@omerxx, as I understood from Gal last Monday, he wants us to add all of the sorting options in the sidebar, just with the accordion effect @OmerSchechter was working on. I think UI-wise it's not best practice but it's much better than the popup selection window.

[2015-06-26 22:36] LironRS commented on #330
@galraij,  if we're on it.. please open two new "issues" for the cluster and markers design update (from photo icons to css) so we can follow up on their progress.

[2015-06-26 23:09] galraij opened #331 "Add time filter option to the menu"
Add Day/Night/Holiday and day picker options.
by default all options should be checked.

See the mockup for more details:

![sort_by_time_psd___100___ _ __rgb_8__](https://cloud.githubusercontent.com/assets/3368312/8388925/8925aadc-1c71-11e5-9a6a-55bb21a851c5.jpg)

@omerxx
@LironRS

[2015-06-26 23:28] galraij opened #332 "Add weather filter option to the menu"
Let the user choose kind of weather.
by default all options should be checked.

See the Mockup below for more details.

![sort_by_weather_psd___100___layer_4__rgb_8__](https://cloud.githubusercontent.com/assets/3368312/8389115/39dc17ec-1c74-11e5-928a-b658fbe89c28.jpg)

@omerxx
@LironRS

[2015-06-26 23:32] galraij opened #333 "Convert the Photo based clusters to CSS"
This should improve support in different screen resolutions + improve performance.

[2015-06-26 23:35] galraij opened #334 "Create new CSS markers"
I suggest that if we are taking the path of CSS and re-creating the icons we should think about the ideal icon. Accidents usually involve two vehicles, our icons today show only one vehicle. if we can create an icon that shows the two involved vehicles it's a big improvement that worth the effort.

[2015-06-27 00:05] galraij opened #335 "Create a map in the Admin section and show logged coordinates on the map"
Icons should be minimal (dots) that are visible from different zoom levels.

![anyway_-_ _ _ _jpg___100___layer_0__rgb_8____](https://cloud.githubusercontent.com/assets/3368312/8389447/41263834-1c79-11e5-84e7-095285d156e0.jpg)

[2015-06-27 00:13] galraij opened #336 "Add heat to the map in the admin section"
This feature takes the coordinate, aggregates them and create a layer of color on top of the map that help understand where there are more dots.

This feature should be taken seriously since one day it will become another layer in the public website.

![anyway_-_ _ _ _jpg___100___layer_1_copy_2__rgb_8____](https://cloud.githubusercontent.com/assets/3368312/8389521/618b5bda-1c7a-11e5-8935-54b3485fc

[2015-06-27 00:15] galraij opened #337 "Add the discussion layer to the map in the admin section"
Discussion will appear on admin's map.

[2015-06-27 07:01] omerxx commented on #331
@OmerSchechter

[2015-06-27 17:21] OmerSchechter commented on #328
@danielhers @omerxx What happened was that some of us didn't know of the existence of the `dev` branch and obviously kept working on `master`, and pushing to it.
And then, some of those features were merged to `master` and created a situation in which `master` is ahead of `dev` in some terms, and `dev` is ahead of `master` in others(like it should be).
But I believe we solved it last Monday, by re

[2015-06-27 17:41] omerxx commented on #328
I'm pretty sure `dev` hasn't got all `master`'s features.
I know @njenia has created `dev2` to test the option of merging both. If you're positive about it being stable then we can keep working on `dev` and rebasing it to master in the future with no worries.

[2015-06-28 10:59] samuelregev commented on #283
It's still doesn't work. but i handling it differently in the android app now. so this issue is not needed anymore

[2015-06-28 10:59] #283 closed

[2015-06-28 14:46] OmerSchechter commented on #328
As I mentioned here:

It went well, so now you can either rebase dev also, or get rid of it and work with dev2. Just make sure everyone know which one got chosen, so we wont have "dev/master crisis 2".

`dev2` was created to check if rebasing it with `master` will go smoothly, it did.
So, we can either rebase `dev` as well(with `master`), or get rid of `dev` and work with `dev2`(and presumably cha

[2015-06-29 17:44] danielhers commented on #328
I'm going to merge `master` into `dev`, and then we keep working on `dev`.
You don't rebase published branches, since it causes problems for clones. Only local branches should be rebased, generally.

[2015-06-29 18:21] danielhers commented on #328
I merged `master` to `dev`, so now the pull requests that have been merged to `master` can be closed. You can see that they will have an empty diff.
From now on, pull requests should be made to `dev`, and we will merge them together into `master` when proven stable.

[2015-06-29 18:21] #328 closed

[2015-06-29 22:37] njenia commented on #51
We discussed this issue in person with @galraij and @aviklai and decided to create our own user management system instead of using facebook or other stuff. Maybe facebook authentication will be added in the future.

So basically if the user is logged in and authorized to embed media to markers (I don't see why this should be restricted to certain roles only) he will be presented in the marker info

[2015-06-30 10:46] #300 closed

[2015-06-30 10:55] #294 closed

[2015-06-30 11:50] danielhers commented on #279
Right, so the request is to separate the id from the provider code.

[2015-06-30 11:50] danielhers commented on #261
Still happens?

[2015-06-30 16:21] omerxx opened #344 "Tour button is not functioning"
See #298

We need the fix to work with the new `dev` branch
@LironRS you can do it easily right?

[2015-06-30 20:03] #304 closed

[2015-06-30 21:26] omerxx commented on #261
@galraij ?

[2015-06-30 21:55] #302 closed

[2015-07-01 08:20] galraij commented on #261
Can you elaborate on that? I think I didn't understand the problem/never saw it happening

‫ב-1 ביולי 2015, בשעה 00:26, ‏‏omerxx ‏<notifications@github.com> כתב/ה:‬

[2015-07-01 09:06] omerxx commented on #261
Thought you knew it.

Anyway I can't reproduce it.. I think this can be closed

[2015-07-01 22:43] LironRS commented on #344
@omerxx, I just issued a pull request for the new map controls I created including new *blinking* tour button - will be fixed upon merge.

[2015-07-01 22:48] LironRS commented on #333
@galraij, I saw that the new cluster design was merged into dev today by @danielhers so I'm considering this close (for now ;)).

[2015-07-01 22:48] #333 closed

[2015-07-01 22:48] #344 closed

[2015-07-01 23:00] LironRS commented on #331
@omerxx -  let me know once you have the "server side" ready and I'll set it up

[2015-07-02 07:54] #190 closed

[2015-07-03 20:27] OmerSchechter opened #347 "A non-functional empty white block in the bottom of the sidebar"
There is an empty white block in the bottom of the sidebar, a residual from the "Download csv" button I suppose.
![screen shot 2015-07-03 at 23 14 23](https://cloud.githubusercontent.com/assets/11275466/8504455/66590968-21da-11e5-9505-f9cfd78928ca.png)

[2015-07-05 08:14] #169 closed

[2015-07-05 08:15] danielhers commented on #146
@galraij is the tour ready, or are there more steps that should be in it?

[2015-07-05 08:17] danielhers commented on #251
@njenia is this ready for use? Is there documentation on how to send the emails?

[2015-07-05 08:18] danielhers commented on #180
Done?

[2015-07-05 08:19] #308 closed

[2015-07-05 14:24] OmerSchechter commented on #180
Done.

[2015-07-05 14:35] aviklai commented on #251
The basic functionality of sending emails is working with sengrid. Currently it supports only sending plain text without file attachments.

[2015-07-05 14:38] danielhers commented on #251
Great. If more enhancement are needed, open a separate issue.

[2015-07-05 14:38] #251 closed

[2015-07-05 20:14] omerxx opened #349 "Copy current display link to clip board is not functional"
Clicking `קישור לתצוגה נוכחית` --> then either of the `העתק` buttons copy nothing to clip board.

(I'm using chrome/safari on mac)

[2015-07-05 20:19] omerxx opened #350 "Date filtering menu is not closing on second click"
Clicking the date range picker opens the filter menu but another click doesn't close it.
The new discussions menu by @LironRS has the right behavior. It should be applied to the above as well.

[2015-07-06 16:09] #180 closed

[2015-07-06 16:36] #347 closed

[2015-07-06 16:37] danielhers commented on #245
@OmerSchechter is this fixed by your commits?

[2015-07-06 16:40] OmerSchechter commented on #245
Yes.

[2015-07-06 16:41] danielhers commented on #252
@aviklai @SimonMand related to #335

[2015-07-06 16:41] #245 closed

[2015-07-06 16:45] danielhers commented on #330
The lists of checkboxes should be expandable (and collapsed on app load), to avoid clutter

[2015-07-06 16:46] danielhers commented on #332
As for #330, the filter lists should be expandable

[2015-07-06 16:48] danielhers commented on #336
Why just the admin section?

[2015-07-06 16:52] LironRS commented on #349
Talked with @omerxx, I think the common practice is to select all and not copy on behalf of an end user (causes issues on several browsers and considered intrusive). Perhaps we should change the label on the buttons.. @galraij, what do you think?

[2015-07-06 18:46] #321 closed

[2015-07-06 18:47] danielhers commented on #310
See #94

[2015-07-06 18:54] #279 closed

[2015-07-06 18:55] OmerSchechter opened #352 "Markers sometimes fail to load on map initialization"
Accessing the site from a url which includes parameters, causes a problem in which the markers fail to load.
Dragging the map afterwards loads them correctly though.

[2015-07-06 19:01] #352 closed

[2015-07-07 16:49] #260 closed

[2015-07-07 16:51] danielhers commented on #286
@OmerSchechter is this done? Where do I see the smart banner?

[2015-07-07 17:08] samuelregev commented on #286
browse to http://anyway-unstable.herokuapp.com/ from your android device.

[2015-07-07 17:22] danielhers commented on #286
Nice!

[2015-07-07 17:22] #286 closed

[2015-07-08 18:50] danielhers opened #355 "batch_size parameter in process.py is unused"
The parameter should control how many accidents are committed at once.

[2015-07-08 20:36] danielhers opened #356 "Keep years.js out of version control"
`statis/js/years.js` is generated when running `process.py`. Therefore, it should be ignored by Git and kept in a special location.

[2015-07-08 20:38] danielhers commented on #356
Also, since we can run `process.py` on one computer with a `DATABASE_URL` that corresponds to another computer's database (e.g. the production server), and `years.js` is created on the computer where the script is run and not on the database, there is a problem.

[2015-07-09 07:03] danielhers opened #357 "Enable foreign key constraint enforcing in SQLite"
By default, you can insert e.g. an `involved` entry even though the corresponding entry in `markers` doesn't exist, for example because it was not loaded because it does not have the `x` and `y` fields (as in accident 2008011458 from H20081161.
Since the constraint *is* enforced in Postgresql, this results in an error when loading into the server DB. We should see the same error in SQLite so that

[2015-07-09 07:04] danielhers commented on #357
There's a pragma to enable this constraint enforcement for SQLite. It just needs to be added at the right place...

[2015-07-09 07:40] danielhers opened #358 "Add provider_code as a primary key in markers and as a foreign key in vehicles and involved"
Apparently some accidents have the same `id`:

    static/data/lms/Accidents Type 1/H20081042/H2008104AccData.csv:2008000016,1,1,2,8300,528,,2,,,,,,52,2008,11,10,1,4,5,2,9,1,1,8,3,0,1,0,4,3,3,,1,1,9,9,9,1,2,2,4,44,442,0,10,1,183180,652071
    static/data/lms/Accidents Type 3/H20081161/H20081161AccData.csv:2008000016,3,1,1,1200,9992,,,,,,,,52,2008,11,3,1,4,5,2,9,3,1,9,9,0,0,0,0,5,6,,9,9,9,9,9,0,0,9

[2015-07-09 17:41] OmerSchechter opened #360 "Each click on a marker adds/increments the same data to it, infinitely."
The first time you click on a marker it shows the info-window correctly with the data.

![screen shot 2015-07-09 at 20 33 08](https://cloud.githubusercontent.com/assets/11275466/8602299/43bb386e-267a-11e5-9e42-58e146eff5ea.png)
![screen shot 2015-07-09 at 20 33 17](https://cloud.githubusercontent.com/assets/11275466/8602302/4cbefbf8-267a-11e5-8bfe-9b9207bfc7ec.png)

Each time you click it again th

[2015-07-09 18:03] OmerSchechter opened #361 "Clicking on a marker shows text from the info-window's data floating on the map for a really small period of time(pic included)"
It is displayed for only a few milliseconds.

![screen shot 2015-07-09 at 20 55 08](https://cloud.githubusercontent.com/assets/11275466/8602891/842bf5a2-267d-11e5-86fe-26836921f500.png)

[2015-07-09 19:40] #278 closed

[2015-07-09 20:19] #358 closed

[2015-07-09 21:14] omerxx commented on #358
@galraij Please note this - type1 and type3 accidents have duplicates referring the same accident id, contradicting what the LMS were telling us.

[2015-07-09 21:19] omerxx commented on #356
I can have it create a new DB table with the years. But that's just 1 table for 4 single column entries, and every load would have another ajax call..

Any better ideas?

[2015-07-09 21:23] omerxx commented on #361
Good eye!
Do you think that's worth dealing with?
We can move the AJAX call for data to the info window block..

[2015-07-09 21:26] omerxx commented on #360
You're right.. Since the data is being called with every marker click, and markers are not loaded again unless the map has been moved.

[2015-07-10 05:10] danielhers commented on #356
It would be best if you can make main.py generate the files to send when it
starts running.

On Fri, Jul 10, 2015 at 12:19 AM omerxx <notifications@github.com> wrote:

[2015-07-10 07:39] omerxx commented on #356
I have it ready, but it makes main.py loop through the DB markers to find distinct years and then creates the file with them..
Do you want that?

[2015-07-10 08:01] omerxx commented on #361
Now that you've mentioned it I can't un-see it :)
It should be fixed.

[2015-07-10 12:14] #360 closed

[2015-07-10 12:16] danielhers commented on #356
If it doesn't take too long then it's ok. How long does it take?
@michalten can we do this in the DB?

On Fri, Jul 10, 2015, 10:39 omerxx <notifications@github.com> wrote:

[2015-07-10 12:32] OmerSchechter commented on #361
I'm not really familiar with the code behind it.. I just noticed that after updating `dev`

[2015-07-11 05:40] #356 closed

[2015-07-11 05:47] danielhers commented on #349
I think the label should be changed to what the button actually does.

[2015-07-11 07:55] omerxx commented on #349
It was meant to copy to clipboard - it was given the html class name `btn btn-default js-btn-copytoclipboard`

I'll change the button text

[2015-07-11 08:10] omerxx commented on #329
@OmerSchechter any ideas?

[2015-07-11 09:45] omerxx commented on #299
Maybe ask @LironRS to create a css for that too

[2015-07-11 11:41] #361 closed

[2015-07-11 11:42] #349 closed

[2015-07-11 16:07] galraij commented on #299
Yep. Use the CSS version of the aggregation that @LironRS made. If possible Liron, try to create an icon that looks like this (or any other way that combines aggregation + exact location):
![untitled-1___100___cluster_3_copy__rgb_8___](https://cloud.githubusercontent.com/assets/3368312/8634399/0488951a-2800-11e5-82b4-f063831880bd.png)

[2015-07-11 16:08] galraij commented on #256
We are far from any limit, but even when we get to a limit we are close enough to google to sort things out.

[2015-07-11 16:11] galraij commented on #252
Ideally I want to know where our users are (if they accepted the locate request) + what places they look for. As I understand we save today only the clicks they make on markers. This will allow us to identify places that are worth making noise (and news) about. Of course, collect the data as anonymously as possible.

@aviklai

[2015-07-11 16:12] galraij commented on #146
Ideally we need more steps, let's wait until the new filters are ready and decide then. However, the first step location should be adjusted as the button for "Start Guidance" moved.

@agamaloni

[2015-07-11 16:16] galraij commented on #51
+ Allowing general text.

Authorizes user can:
1. Add text (and his name will be presented next to it similar to Facebook comments).
2. Add URL (and a thumbnail will be generated using embed.ly or similar).
3. Add picture/video (Not urgent- Do not delay the others for this).

[2015-07-11 17:58] galraij opened #368 "Maker the clusters show the severity of the accidents within"
Here are some ideas:

Each circle (border) represents by color and width the amount of accidents of each severity within the marker:
![anyway_-_ _ _](https://cloud.githubusercontent.com/assets/3368312/8634771/e37bcce8-280e-11e5-916b-99afb227361c.jpg)

Donut pie chart:
![markercluster_pie_charts](https://cloud.githubusercontent.com/assets/3368312/8634786/8237aa0a-280f-11e5-8ba8-b21f5cea9e4e.jpg)
So

[2015-07-11 18:29] omerxx commented on #355
I used `batch_size` in a function I built to commit everything in batches.
process.py performance seems worse now, from ~6:00 it grew to ~8:00 (complete csv's)
Is there something else I can use?

[2015-07-11 18:35] danielhers commented on #355
Batches should be especially necessary when loading over the network, but
it's not a good sign if it increases the runtime locally by 25%. Is that
when you don't supply the parameter?

On Sat, Jul 11, 2015, 21:29 omerxx <notifications@github.com> wrote:

[2015-07-11 18:49] omerxx commented on #355
I didn't give the batch size, it loaded the default (100) and used it.
That's what I used:
[code]

[2015-07-11 19:08] danielhers commented on #355
It's better to split the list into chunks, I think:
http://stackoverflow.com/a/434328/223267

On Sat, Jul 11, 2015, 21:49 omerxx <notifications@github.com> wrote:

[2015-07-11 19:28] omerxx commented on #355
That's roughly the same, took ~8:00 minutes:

[code]

[2015-07-11 19:33] danielhers commented on #355
Then the default should be without batches. Need to check how it affects
loading over the network.

On Sat, Jul 11, 2015, 22:28 omerxx <notifications@github.com> wrote:

[2015-07-11 22:03] galraij opened #370 "Create a toggle and a dots view"
User would choose to see the accidents as icons or dots.

![toggle_amd_dots_psd___100___layer_2__rgb_8__](https://cloud.githubusercontent.com/assets/3368312/8635578/b4e3c11a-2831-11e5-8745-f928418c8159.jpg)

@LironRS we discussed it, but it's not first priority right now. If someone else wants to take it that's fine too.

[2015-07-11 22:22] galraij commented on #51
Here is a good example of embedding URL on the Hasadna Forum (I guess it's open source):
http://forum.hasadna.org.il/t/topic/318
![_ _ _ _ _ _ - _-_ ___anyway_-_ _](https://cloud.githubusercontent.com/assets/3368312/8635624/6ceac090-2834-11e5-90c6-f3ce137a1c17.jpg)
I think the platform called discourse. Embed.ly at some point cost money, so if possible we would prefer copying what they did.

[2015-07-11 22:36] omerxx commented on #355
Chunk sizes and performance in db deployment:

100 - 8:00 min
1000 - 6:50 min
5000 - 6:30 min
10000 - 6:40 min

[2015-07-12 07:29] danielhers opened #371 "Allow loading only specific subdirectories in process.py"
Currently `process.py` accepts a `--path` argument, but it only specifies the superdirectory where data directories will be found (i.e. `static/data/lms`), and it looks for directories of the pattern `*/*` inside it.
There should be a way to load only specific subdirectories, e.g. `H20131161`, for debugging or in case a partial load was done before and more data needs to be loaded.

[2015-07-12 08:00] danielhers opened #372 "Clicking "start tour" opens the tour window twice"
The tour window flashes twice when it opens. It should only open once.

[2015-07-12 10:36] danielhers opened #373 "Interpret special values in accident fields"
For example: `מקומות ישיבה: 99` should probably be `לא ידוע`; and `כיוון נסיעה: -1` should be something meaningful.

[2015-07-12 20:08] OmerSchechter opened #375 "Accessing the site with a pre-chosen marker(e.g. anyway-unstable.herokuapp.com/?marker=2013043043&start_da..), loads an empty map without markers"
Loading the site with a marker in the url causes the map to load without markers.
Happens if a user refreshes the site while a marker is open, or if a user clicked on a link that had a marker in it.

[2015-07-13 20:15] LironRS commented on #350
We are changing the sidebar filtering menu, so perhaps we should wait..

[2015-07-13 20:59] #371 closed

[2015-07-14 06:12] aviklai commented on #252
@galraij  So maybe we need to seperate this data to 2 different tables - one for the markers that the users clicked on and another for the users locations? Because it is a different data.

[2015-07-14 06:13] danielhers commented on #252
It's in the same table but the type column tells if it's a search or a user
location.

On Tue, Jul 14, 2015 at 9:12 AM Avi Klaiman <notifications@github.com>
wrote:

[2015-07-15 08:51] omerxx opened #380 "Improving marker ui & ux"
The new accordion is awesome.. I think it requires some improvements..
Current presentation of data is a bit uncomfortable:
When a user clicks an accordion section it opens down, partially disappearing in when the info window ends. There's no scroll bar or an icon that tells him to scroll. Plus, the data is bound to the initial marker size given when it's loaded, any further opening of the accordi

[2015-07-15 10:56] #373 closed

[2015-07-15 11:13] omerxx opened #382 "Involved injury severity is not presented"
Should fix the localization call

[2015-07-15 11:42] #382 closed

[2015-07-15 14:36] omerxx commented on #380
At some cases some of the data is hidden and cannot be shown even by scrolling inside the accordion:
![image](https://cloud.githubusercontent.com/assets/12237955/8701000/0473afcc-2b18-11e5-8498-172ebac0faa7.png)
@LironRS

[2015-07-15 15:28] omerxx opened #386 "Accidents with no junction and mainStreet parameters show bad title"
I.E (text just ends with `ברחוב`):

![image](https://cloud.githubusercontent.com/assets/12237955/8702224/28502a2c-2b1f-11e5-9474-a5eeb14d12ee.png)

[2015-07-15 17:40] omerxx commented on #380
Scroll bar is shown off the marker and with no alignment at all:

![image](https://cloud.githubusercontent.com/assets/12237955/8705343/a812eb02-2b31-11e5-8f9c-00834ca5aebb.png)

[2015-07-15 20:11] omerxx opened #387 "'Transparent' accidents - shown only in cluster"
I was looking for a specific accident for other issue debug and found this:
when I zoom in the accident disappear. This one's id is 2014002976 (type 3).
Note that this is under the filter `תאונות שמיקומן משוער`. There are many more like this one.

![image](https://cloud.githubusercontent.com/assets/12237955/8708779/a4db1346-2b46-11e5-89a9-6e1d74080c6c.png)

[2015-07-15 20:28] omerxx commented on #387
This only happens in `dev`, maybe it's the CSS icons @LironRS ? the retina icons @OmerSchechter ?

[2015-07-15 21:44] omerxx opened #389 "Non accurate marker grouping presented wrong"
Need to be aligned:

![image](https://cloud.githubusercontent.com/assets/12237955/8710619/c4213160-2b53-11e5-8069-3b8c47f76b50.png)

[2015-07-15 21:47] #389 closed

[2015-07-15 21:52] #387 closed

[2015-07-15 22:29] omerxx commented on #355
Close this issue for now?

[2015-07-16 00:06] OmerSchechter commented on #380
I'm sorry, but I can't go over all of it at the moment, I'll try to get to it asap.
2 things though:
1. Regarding the hidden data inside the Accordion -> I understand it only happens in the `involved` section. It concerns the animation, can you tell me the maximum plausible amount of data that should be loaded there? in terms of the number of people.
2. Regarding the scroll-bar -> What browser do

[2015-07-16 05:37] danielhers commented on #355
Ok

On Thu, Jul 16, 2015, 01:29 omerxx <notifications@github.com> wrote:

[2015-07-16 05:38] danielhers commented on #380
Don't worry, just open an issue for what you didn't do yet.

On Thu, Jul 16, 2015, 03:06 OmerSchechter <notifications@github.com> wrote:

[2015-07-16 06:10] #355 closed

[2015-07-16 06:14] omerxx commented on #380
@OmerSchechter the number of involved varies and cannot be predicted, (which is why I used jQuery append to present it). The vast majority of accidents have 2-3 people involved, but as you know this can climb to more than 10 if this a bus or a chain of vehicles...

[2015-07-16 08:51] #386 closed

[2015-07-16 10:54] omerxx commented on #136
I manually imported the txt files to csv so they can be read.
I noticed that the missing accidents (2005, 2006, 2007 of Type1) don't have latitude and longitude values.
Is there any reason to import them if we can't present them on a map?

[2015-07-16 11:09] omerxx opened #390 "Type1 non-urban-intersection file misspelled"
Trying to process the complete input files yield this:
![image](https://cloud.githubusercontent.com/assets/12237955/8721493/8f335f8a-2bc3-11e5-9077-a9bc1c7aff33.png)

The reason is a missing **t** so that process can't locate the file:
![image](https://cloud.githubusercontent.com/assets/12237955/8721423/2c917aa6-2bc3-11e5-93be-d7afd9b76c89.png)

Required: changing the original files in our directo

[2015-07-16 12:18] danielhers commented on #136
No, I don't think there's a reason to load accidents with no location.

On Thu, Jul 16, 2015, 13:54 omerxx <notifications@github.com> wrote:

[2015-07-16 12:20] danielhers commented on #390
I think I fixed that. Do you have the latest file from Drive?

On Thu, Jul 16, 2015, 14:09 omerxx <notifications@github.com> wrote:

[2015-07-16 12:49] omerxx commented on #390
I only got what you sent. If it's fixed in the original file we can close this..

[2015-07-16 12:51] omerxx commented on #136
@galraij Can you check why 2005, 2006, 2007 of Type1 accidents don'y have location values?
If it's a mistake let's get the original files. If it's not we can delete them from our data store

[2015-07-16 13:28] danielhers commented on #390
In our zip file:
https://drive.google.com/open?id=0B4yX8HDe1VaTdWdPMXV5c2gycW8
It's called "H20081042IntersectNonUrban.csv".

On Thu, Jul 16, 2015 at 3:49 PM omerxx <notifications@github.com> wrote:

[2015-07-16 13:42] #390 closed

[2015-07-16 13:46] danielhers commented on #375
I just saw that simply loading http://anyway-unstable.herokuapp.com/ also results in no markers.

[2015-07-16 15:53] #375 closed

[2015-07-16 16:05] danielhers commented on #246
@eladkarakuli how is it going?

[2015-07-16 16:08] danielhers commented on #4
We have tests in `tests/test_main.py` since 3cd98278.
To run them, use `python -m unittest discover tests`.
The command was added to `.travis.yml` in 58f22bd5.

[2015-07-16 16:16] #284 closed

[2015-07-16 16:16] #4 closed

[2015-07-16 19:14] OmerSchechter commented on #380
Fixed the "involved" section hidden data problem in pull #391

[2015-07-16 19:19] OmerSchechter commented on #380
The scrollbar floating outside the info-window - It never happened to me, and I can't see it.
I've checked Safari and Chrome.
When does it happen?

[2015-07-16 19:38] omerxx commented on #380
Happens to me only locally, I don't know why but let's leave it for now unless this is encountered again

[2015-07-17 06:46] idogi opened #393 "Unexpected behaviors of Tour"
* Clicking "הקודם" on the "אייקון של מספר התאונות באותו מקום"  makes Tour close.
* In the transition from "חיפוש כתובת" to "המיקום שחיפשתם", it seems that another message pops for a fraction of a second.
* The message box "אייקון של מספר התאונות באותו מקום" pops twice (?).

[2015-07-17 11:48] omerxx commented on #393
Plus, the icon presented in this tour level is way to big

[2015-07-18 08:53] omerxx commented on #136
According to the LMS documentation, in years 05 06 07, lat&long coordinates were not documented

[2015-07-18 09:40] omerxx opened #394 "Scrolling behavior is occasionally bad"
I can't find a specific reproduction sequence to that but -
On different machines and browsers, scrolling the html down (not the map itself) reveals this:
Note that the top menu is gone up, the side bar scrolled and some of it is hidden, and for some reason the first tour level was brought up from the bottom (??)

![image](https://cloud.githubusercontent.com/assets/12237955/8761145/cf5a34f8-2d49-1

[2015-07-19 17:49] samuelregev opened #395 "Create a web page for new discussions (for the android app)"
at the moment, the android app use this page for existing discussions:
[URL](http://anywaycluster.azurewebsites.net/disqus/anyway-feedback?identifier=(32.08677421202568, 34.81188654899597))

and for new discussion just add "&newDiscussion=true" to the URL
[New discussion URL](http://anywaycluster.azurewebsites.net/disqus/anyway-feedback?identifier=(32.08677421202568, 34.81188654899597)&newDiscussi

[2015-07-19 17:57] danielhers commented on #395
Are you talking about adding a discussion marker to the DB, or about
creating a thread on Disqus? For the latter I suppose you already do this
by sending a request to Disqus. For the former there is a URL that accepts
a POST parameter with the discussion details. Aren't you using it? So
discussions created on Android will only appear on Android?...

On Sun, Jul 19, 2015, 20:49 Samuel Regev <notifi

[2015-07-19 18:24] samuelregev commented on #395
I was misunderstood.
first, every discussion created through the android app is created in ANYWAY server only.

I'll try to explain better -
On anyway website, once a first comment has been added to new discussion a POST request is being send (as you already know)

To copy this behavior on the Android app(Sending this POST request only after first comment) I'm transferring the user to another page

[2015-07-19 18:30] samuelregev opened #396 "Change default date range to 2014"
Now that 2014 data is in the DB, users should see this data by default

![Date Range](https://cloud.githubusercontent.com/assets/5688494/8767197/4a9c0218-2e5d-11e5-9025-963a778828ab.png)

[2015-07-19 18:46] danielhers commented on #395
You have a web page that handles the POST request, it just doesn't really
show any web page... It's meant to be used in AJAX. Do you need it to show
a web page?

On Sun, Jul 19, 2015, 21:24 Samuel Regev <notifications@github.com> wrote:

[2015-07-19 18:56] samuelregev commented on #395
Yes, I just need to show disqus for new discussions.

[2015-07-20 00:36] OmerSchechter commented on #380
This is something I'm currently working on.
When I created the "Accordion" I started working on it, but it had some problems.

[2015-07-20 09:26] #396 closed

[2015-07-20 15:55] danielhers commented on #395
The `/discussion` route render `disqus.html` when used with the GET method. When used with the POST method, it creates the marker in the DB according to the POST parameters, and then returns it jsonified (because that's the standard in POST routes that are supposed to be called from AJAX, I understand).
Can't you just call the `/discussion` with POST and then call it with GET (that is, redirect to

[2015-07-20 16:03] samuelregev commented on #395
That's exactly what I did at the beginning, but it caused (and will cause) empty discussion markers

[2015-07-20 16:09] danielhers commented on #395
Oh, because the user might not submit the comment. Now I get it. So you want a web page to show the discussion dialog and then send the POST request only when it's done.

[2015-07-20 16:32] omerxx opened #401 "Clusters are not located properly"
Clusters are shifted in constant size and direction for some reason.
Note in the photo how they are distant from the actual junction they belong to.
* This may be as a result from changing them to css and the identification for their new location, I'm not sure.

![image](https://cloud.githubusercontent.com/assets/12237955/8781117/f21f5ad6-2f15-11e5-8d52-17b12a2df3d7.png)
**vs.**
![image](https://c

[2015-07-20 16:45] #395 closed

[2015-07-20 16:47] danielhers commented on #395
Now you can use `/discussion` to open Disqus for a discussion that doesn't exist yet:
`/discussion?identifier=...&lat=...&lon=...`

Note that this is only in anyway-unstable.herokuapp.com until we merge to `master`.

[2015-07-20 17:11] samuelregev commented on #395
Thanks, that's exactly what i needed.

only one thing tho - have you consider the option of user leaving more then one comment at once? it will cause sending the POST request few times.
(it happened [here](http://www.oway.org.il/discussion?identifier=%2832.17952521357131,%2034.9094894528389%29))

[2015-07-20 17:23] danielhers commented on #395
Right... I'm not sure it's a problem though. It will just fail the second
one but the user won't notice.

On Mon, Jul 20, 2015 at 8:11 PM Samuel Regev <notifications@github.com>
wrote:

[2015-07-20 17:29] samuelregev commented on #395
OK, great.
I'll make the changes in the app but i won't publish it before you merge the new page.
Do you have a schedule  for this?

[2015-07-20 17:31] danielhers commented on #395
Probably by the end of the week, once we're sure there are no major bugs...

On Mon, Jul 20, 2015 at 8:29 PM Samuel Regev <notifications@github.com>
wrote:

[2015-07-20 17:37] aviklai commented on #272
@danielhers Do we stiil need it? @njenia and I don't see the how we can use it. Because, every move of the map we have to send an new request to the server to get the updated data so how will backbone routing help us?

[2015-07-20 18:01] samuelregev commented on #395
I've found a small bug here
https://github.com/hasadna/anyway/blob/dev/templates/disqus.html#L22

it should be
                            "identifier": "{{ identifier }}",
                            "title"     : "{{ identifier }}"

(see what happened [here](http://anyway-unstable.herokuapp.com/markers?ne_lat=30.499975995203283&ne_lng=34.57584294164735&sw_lat=30.49444775850836&sw_lng=34.55410631

[2015-07-20 18:24] danielhers commented on #272
The standard practice in Backbone.js, as far as I understand, is to only
use Backbone URLs and let the model do the rest. What we do now is to parse
the arguments in the GET in Python, then set copies of them in the context
passed to Jinja, then read them in the template and write as Javascript
globals, then read in the Javascript code to set the fields in the Backbone
model. It shouldn't be so co

[2015-07-20 18:28] danielhers commented on #395
Thanks! Forgot the quotes. Fixed.

On Mon, Jul 20, 2015 at 9:01 PM Samuel Regev <notifications@github.com>
wrote:

[2015-07-21 20:50] samuelregev commented on #395
Can you also add
                var disqus_url = 'http://www.anyway.co.il/discussion?identifier={{ identifier }}';

below
                {%  if new %}

so the url saved in disqus won't be the one with "&lat=&lon=..."

[2015-07-22 04:53] danielhers commented on #395
Done

On Tue, Jul 21, 2015 at 11:50 PM Samuel Regev <notifications@github.com>
wrote:

[2015-07-22 16:02] danielhers opened #403 "SQLAlchemy migration to create foreign key constraint"
In c8c113c I added the ondelete cascade to the foreign key constraints of involved and vehicles. But the data was loaded already without this constraint. Need to write a migration to add it:
http://alembic.readthedocs.org/en/latest/ops.html

[2015-07-23 15:49] danielhers commented on #395
@samuelregev have you tested it from the Android app? Do you think it's ready to merge to `master`?

[2015-07-23 19:13] samuelregev commented on #395
just need to change the disqus_url
the url saved in disqus is
http://anyway-unstable.herokuapp.com/discussiondiscussion?identifier=(30.49392533863158,%2034.55747466534376)

[2015-07-23 19:16] samuelregev commented on #395
my guess is that 'request.base_url' contain the 'discussion' already

https://github.com/hasadna/anyway/blob/dev/main.py#L171

[2015-07-23 20:13] danielhers commented on #395
How about now?

On Thu, Jul 23, 2015, 22:16 Samuel Regev <notifications@github.com> wrote:

[2015-07-23 20:38] samuelregev commented on #395
looking good

[2015-07-27 09:33] #394 closed

[2015-07-27 12:56] danielhers commented on #395
Not sure if you saw - it's in `master` now.

[2015-07-27 12:58] samuelregev commented on #395
I saw, thanks.
I released a new app version in the play store that using the new page.

On Mon, Jul 27, 2015, 15:56 Daniel Hershcovich <notifications@github.com>
wrote:

[2015-07-27 13:13] danielhers opened #406 "Link from discussion back to map"
When viewing a discussion page such as [this page](http://www.oway.org.il/discussion?identifier=(31.7457974525944,%2035.23064103187721)), there is currently no way to easily view the map in that location, although it should be easy by just taking the lat and lon from the identifier or from the DB. There should be a link in the page!

[2015-07-27 19:52] danielhers commented on #406
Hey @samuelregev , I'd like your input in this:
Generally the URL for a Disqus thread is the full-page discussion you requested, e.g. http://www.oway.org.il/discussion?identifier=(32.3426691328871,%2034.86209750175476)
But this doesn't really show where the discussion is on the map.
That's why I added the option to link to a specific discussion and open it on the map, as in http://anyway-unstable.

[2015-07-27 19:53] #401 closed

[2015-07-28 07:39] omerxx commented on #318
@galraij, @danielhers ?

[2015-07-28 07:46] danielhers commented on #318
I'm not convinced. It relieves us from implementing a lot of models and
logic, and it is stable and tested. What UX problems does it have?

On Tue, Jul 28, 2015 at 10:39 AM omerxx <notifications@github.com> wrote:

[2015-07-28 07:59] omerxx commented on #318
Well, first we'd like to implement it in the marker.
It's navigation is not intuitive and forces behaviors such as the full screen app.
Why would it consist too many models? Sounds like a reasonable implementation.

We may be able to modify the current presentation (can we?), but one of the two has got be pushed forward. The current state doesn't allow navigation, discussion titles, and many other

[2015-07-28 08:13] danielhers commented on #318
A Disqus div can be added to the InfoWindow just like it is displayed in
the discussion modal, which is not full-screen. Or are you talking about
the Android app?
Of course it's possible to implement, but a ready-made implementation is
always preferable unless it doesn't match our needs.
The appearance can be changed in the Disqus admin screen, which I have
access to: https://anyway-feedback.disqu

[2015-07-28 08:21] omerxx commented on #318
Okay then, let's modify it.
I think we should support string titles rather than meaningless coordinates (to the user).
In my opinion having the discuss inside an info window would look and feel better.
The section of other links in the bottom should also be removed, it is not useful and confusing.

I can start working on this when the new sidebar is done.

@galraij we also need your input on this

[2015-07-28 08:34] danielhers commented on #318
Custom titles: please open issue;
InfoWindow: please open issue.
Links to other discussions: removed.

On Tue, Jul 28, 2015 at 11:21 AM omerxx <notifications@github.com> wrote:

[2015-07-28 08:46] samuelregev commented on #406
I think URL parameters is problematic because user can go to other discussion from inside the discussion activity(which open the full map), checking for mobile browser is better.

[2015-07-28 08:50] danielhers commented on #406
I disabled the links to other discussions, but I see what you mean about it being more robust without extra parameters required.
Are you thinking of implementing a link back to the map from a discussion in the Android app?

[2015-07-28 09:00] samuelregev commented on #406
I can do it easily (by extracting the identifier from the url)
But I'm not sure it's needed (unless there will be an option to show an
active discussions list to users) because in the app user can only enter
discussion from the map.

On Tue, Jul 28, 2015, 11:50 Daniel Hershcovich <notifications@github.com>
wrote:

[2015-07-28 09:19] danielhers commented on #406
Right, once I removed the links to other discussions, there's no list of links anywhere, so we can only get to it from the map.
(Except from the Disqus admin section, but that's inaccessible to the users)

[2015-08-03 18:07] #406 closed

[2015-08-03 21:26] omerxx opened #415 "Create new tour based on the updated platform."

[2015-08-04 17:29] galraij commented on #415
I will contact Agam ant let you know if he is still around and can help

[2015-08-04 17:33] galraij commented on #318
I wouldn't change anything yet. Let's wait until people use it more. When this happens I agree that we will have to probably drop disqus. For now it's good enough. Don't try to improve it too much.

[2015-08-04 17:34] galraij commented on #393
Agree. Should we disable the one we have for the moment?

[2015-08-04 17:41] galraij opened #416 "* unstable * Clusters appear in wrong zoom level"
Clusters shouldn't appear when individual accidents are visible.
Here: http://anyway-unstable-pr-412.herokuapp.com/

![anyway_-_ _ _](https://cloud.githubusercontent.com/assets/3368312/9067971/3be02a9a-3ae9-11e5-8c02-297c59e9c186.jpg)

@LironRS

[2015-08-04 17:49] omerxx commented on #393
Once its ready we will. It'll take time

[2015-08-04 17:51] omerxx commented on #318
Sure. Just consider that people may be not using it **because** of its design and usage...

[2015-08-09 19:12] omerxx commented on #416
This is not the unstable version but the new feature we're working on...
It's very buggy and clusters are not even connected yet. Issues would have to wait to when we're done

[2015-08-10 17:16] michalten commented on #357
First we need to update our SQLite to a more recent version (at least 3.6.19).
Then we need to enable foreign key constraints on every connection to the database.

[2015-08-10 18:12] michalten commented on #403
http://stackoverflow.com/a/27557798/585701

[2015-08-17 18:38] aviklai opened #417 "Add statistical charts to anyway"
![untitled](https://cloud.githubusercontent.com/assets/3368312/15627747/57d45c56-24f6-11e6-93c5-82fb18f9e7c5.jpg)

![untitled](https://cloud.githubusercontent.com/assets/3368312/15627753/80645f68-24f6-11e6-8bf4-445c43b70977.jpg)

And add support for viewing all of the charts on clustered mode as well.

[2015-08-17 20:30] jiddisch opened #419 "Missing instructions on readme file - Installing phyton-tk"
After insalling the project on a clean Ubuntu I got an error.
The solution was to install it with the following command: apt-get install python-tk

[2015-08-17 21:26] omerxx commented on #419
Python's tkinter lib should be updated to `requirements.txt`

@aviklai

[2015-08-17 21:44] aviklai commented on #419
I haven't found a package that I can put in  requirements.txt.
Seems lik using
apt-get install python-tk
is the best way and it needs to be updated in the readme file.

[2015-08-17 22:10] omerxx commented on #419
There has to be a way to automate it..

Beyond that I think we should start thinking of automating the whole environment config step

עומר

ב-18 באוג 2015, בשעה 00:44, Avi Klaiman <notifications@github.com> כתב/ה:

[2015-08-18 06:32] #419 closed

[2015-08-23 23:23] simcoster commented on #268
Should this be done on the python side or on the JS?
I think it makes more sense for the python  to do the query

[2015-08-24 04:19] danielhers commented on #268
Yes, it could be done on the python side and then when the discussion is
sent to the client it will be with the new title. But when it's just
created and hasn't been sent yet, it'll have to be the old title.

On Mon, Aug 24, 2015, 02:23 omri simco <notifications@github.com> wrote:

[2015-08-24 13:00] LironRS commented on #370
@galraij it's almost ready, but I'd like to change all markers design (including toggle) option at once.. let's talk tonight

[2015-08-24 13:17] #350 closed

[2015-08-24 13:25] LironRS opened #420 "Design font icon library for ANYWAY"
The library will include unique icons for markers, info-window, filter buttons, and menus.
An icon that replaces text must have an on-hover explanatory title.

[2015-08-24 13:35] LironRS opened #421 "Compile and add an "ANYWAY Contribution Guidelines" .md doc to repos"
The doc should include the following:
- Reporting a bug
- Pull Requests
- General workflow
- Conventions
- Coding style
- Periodic Slack meetings
- Community Guidelines
- Open-source restrictions

If you have any suggestions, please feel free to share!

[2015-08-24 13:39] LironRS opened #422 "Fix cluster pile-up on zoom-out"
<img width="291" alt="screen shot 2015-08-24 at 4 39 02 pm" src="https://cloud.githubusercontent.com/assets/12143791/9441427/afe81ffc-4a7e-11e5-9812-482a2465f0fd.png">

[2015-08-24 16:35] omerxx opened #423 "Send filters configuration in the link to allow exact configuration share"
The current state (after implementing the new filter bar) only allows date ranges, zoom level and geo location to be shared in the link.

Instead of concatenating the 20+ params that would have created a very long address, we should generate a unique code for every specific filter configuration.
The code would be parsed and sent to `bounding_box_query`.
(URL parameters are being sent in `getCurren

[2015-08-24 17:21] omerxx opened #424 "Automate last 4 years in the new filter bar"
As it used to be in the old bar - use `ACCYEARS` to remove hardcoded years in `changeDate`

[2015-08-24 19:36] omerxx commented on #416
All cluster issues were solved in pr-412, please reopen if this reoccurs

[2015-08-24 19:36] #416 closed

[2015-08-24 19:37] omerxx commented on #332
Done in #412

[2015-08-24 19:37] #332 closed

[2015-08-24 19:38] omerxx commented on #331
Done in #412

[2015-08-24 19:38] #331 closed

[2015-08-24 19:38] omerxx commented on #330
Done in #412

[2015-08-24 19:38] #330 closed

[2015-08-25 13:10] OmerSchechter opened #425 "Remove the 550ms delay from the accordion's auto-scroll animation"
Currently there is a 550ms delay between the time a user clicks on one of the accordion sections and the moment the auto-scroll animation begins.
The reason is the differential heights of the accordion divs and the way the animation function works.

[2015-08-28 18:40] simcoster commented on #268
OK,
Does this scenario make sense?
The server will query Google Geocoding for the street address and the client will query the server whenever a discussion is created (via ajax or something alike?)
I'm new to pyhton/flask/javascript but as I see it, the server should not rely on the client to fetch it data from a 3rd party.

I'm trying to figure out how to do it on the python side though.
Is there

[2015-08-29 05:03] danielhers commented on #268
We haven't done this yet. Use the requests module as in
http://stackoverflow.com/a/15463141/223267

On Fri, Aug 28, 2015 at 9:40 PM omri simco <notifications@github.com> wrote:

[2015-08-29 05:05] danielhers commented on #268
Actually, there's a Python module to access the API:
https://pypi.python.org/pypi/geolocation-python/0.2.0

On Sat, Aug 29, 2015 at 8:03 AM Daniel Hershcovich <
daniel.hershcovich@gmail.com> wrote:

[2015-08-31 07:01] #136 closed

[2015-08-31 07:07] danielhers opened #427 "Integrate data from United Hatzalah"
When API and dump are available, add the markers to the map. The included parameters are:
* Creation time
* Location: lat/lon + address + comments
* Type: light/severe + vehicle/pedestrian/motorcyclist
* Number of injured

Convert these to our existing schema and show the markers with this logo:
![uploads/1e6ac19e-59c7-4b10-9fc5-1cfa93cf98ab/לוגו איחוד הצלה.jpg](https://s3-us-west-2.amazonaws.com/

[2015-08-31 07:08] danielhers commented on #427
I am in contact with NowForce to obtain the API details.

[2015-08-31 07:29] danielhers opened #428 "New sidebar scrollbar glitches"
There are two scrollbars where there should be one, and neither is properly aligned:

![uploads/86d5f808-abe5-4d36-b90d-11258dfe1be1/Selection_001.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F86d5f808-abe5-4d36-b90d-11258dfe1be1%2FSelection_001.png)

[2015-08-31 07:30] danielhers opened #429 "New sidebar compatibility with safari"
Changing tabs in the new sidebar sometimes fails to make the previous tab disappear, so they tabs overlap rather than replace each other:

![uploads/861cc52c-1b7d-4139-a8c1-1bcb8bc368bd/Selection_002.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F861cc52c-1b7d-4139-a8c1-1bcb8bc368bd%2FSelection_002.png)

[2015-08-31 07:34] danielhers opened #430 "Change downloaded CSV filename to a meaningful name"
Right now when clicking the "download CSV" button, the generated file's name is simply `data.csv`, but the contents are generated according to the current view.

![uploads/db90529c-68ef-4882-9bfd-965b39f807a0/Selection_003.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fdb90529c-68ef-4882-9bfd-965b39f807a0%2FSelection_003.png)

For added clarity, the filename should also be gene

[2015-08-31 07:35] danielhers commented on #430
Perhaps depends on #423 for a short unique identifier for the current view.
@omerxx

[2015-08-31 07:56] danielhers commented on #427
Apparently the NowForce API does not allow filtering by event type, and we only need 6 event types out of the hundreds that they have (we need only traffic accidents).
The suggested workaround is that NowForce will either send us an email with incremental data every 30 minutes, or upload the data to an FTP server that we will monitor and load the data from it to our DB. Need to check which is easi

[2015-08-31 08:23] danielhers opened #431 "New sidebar "menu" icon still does nothing"
Either remove it or make it do something.

![uploads/4d57bfd8-6ae7-4b5a-91b3-a5058315103b/Selection_004.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F4d57bfd8-6ae7-4b5a-91b3-a5058315103b%2FSelection_004.png)

[2015-08-31 08:37] danielhers commented on #427
I think FTP should be better, because then we don't depend on file storage on our server and because then we can downloaded it from several server in parallel (say, both oway.org.il and anyway-unstable.herokuapp.com).

Use APScheduler to run the task every 30 minutes: http://apscheduler.readthedocs.org/en/3.0/userguide.html
Use PyTransmit to download the file from FTP: http://pytransmit.readthedoc

[2015-08-31 09:26] omerxx commented on #430
Actually when it comes to a file name I think it should be something like
`Anyway-accidents-<DATE>.csv`
The file will only contain accidents data from the view so I don't know if having the complete path would be helpful

[2015-08-31 09:38] danielhers commented on #430
Not the complete path, but something to identify the view so that you know
where the data came from.

On Mon, Aug 31, 2015 at 12:26 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-08-31 14:48] omerxx commented on #431
It's going to scroll the menu out.
@LironRS is in final stages of implementing this.

[2015-08-31 14:50] omerxx commented on #428
I've encountered that mostly with the marker scroll.
What browser are you using?

[2015-08-31 17:19] omerxx opened #432 "Add filter option for type 1/3"
Under `עוד` section add another filter for presenting accidents of type 1 or 3

Please reassign to me when the buttons are ready

[2015-08-31 17:31] omerxx commented on #423
From what I understand the problem is with the new filter bar design.
It does not communicate with the backbone model and parameters are not conveyed in a way the URL can manipulate.

We should redefine the variables using `app.model.set...`, and then `bind` every filter bar function with the model.
We should also have URL parameters in `getCurrentUrlParams()` and in `buildMarkerParams()` set usin

[2015-08-31 17:38] omerxx commented on #428
Happens on Safari, seem ok on Chrome.
@LironRS will take a look when she finds time

[2015-08-31 17:38] omerxx commented on #429
Happens on Safari, seem ok on Chrome.
@LironRS will take a look when she finds time

[2015-08-31 18:44] danielhers commented on #432
Why is this interesting for the user?

On Mon, Aug 31, 2015 at 8:19 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-08-31 19:21] galraij commented on #432
The LAMAS will יתבעו לנו את הצורה אם לא

[2015-09-07 04:00] robi-y opened #433 "Facebook logon and link on about page is broken"
Menu -> About -> Upper level corner

[2015-09-07 04:35] danielhers commented on #433
Please provide a screenshot, I'm not sure what's broken.
Also, please label either `master` or `dev` according to whether the bug is in oway.org.il or anyway-unstable.herokuapp.com

[2015-09-07 04:59] robi-y commented on #433
![image](https://cloud.githubusercontent.com/assets/1009495/9709544/45e96a08-5536-11e5-9a13-c53a7d8f4938.png)

[2015-09-07 16:20] omerxx commented on #433
Looks fine here..

[2015-09-07 17:13] robi-y commented on #433
sorry. It was probably an anti social firewall. closing
בתאריך 7 בספט׳ 2015 19:20,‏ "Omer Hamerman" <notifications@github.com> כתב:

[2015-09-07 17:13] #433 closed

[2015-09-07 19:09] danielhers commented on #403
Need to run `alembic/versions/1569548127f0_create_fk_from_vehicles_and_involved_to_.py` on `anyway-danielh`

[2015-09-09 04:45] #403 closed

[2015-09-14 17:56] omerxx opened #434 "Add united hatzala accidents filter"
Once the `איחוד הצלה` data is integrated we would like to be able to filter it.
This would be implemented by filtering `Marker.model.get("subtype") == 21`

@LironRS  - Please add a UI option for that.

[2015-09-17 10:31] esegal commented on #94
Which i18n framework should be used?
I saw https://pythonhosted.org/Flask-Babel/ for server side and http://l20n.org/ for client side.
Do we have a preference?

[2015-09-17 10:41] danielhers commented on #94
`Flask-Babel` looks good. I think it also works for the templates: http://stackoverflow.com/questions/9515156/flask-babel-how-to-use-translation-in-jinja-template-file

[2015-09-18 13:00] esegal commented on #94
I started working on integrating Flask-Babel. I'll soon push the changes, and then we need to start translating everything to English.

[2015-09-18 15:41] omerxx commented on #94
I think an English translation already exists, ask @galraij

[2015-09-18 15:58] danielhers commented on #94
Right, for the fields but not the messages, I think. Both can be integrated
into .po files.

On Fri, Sep 18, 2015, 18:42 Omer Hamerman <notifications@github.com> wrote:

[2015-09-18 16:04] omerxx opened #437 "Fix bounding box query test"
After changing `bounding_box_query()` the test was not longer acceptable.
It requires updating, and reinstating in `.travis.yml`

[2015-09-18 18:25] esegal commented on #94
To start, I've integrated Flask-Babel (https://github.com/hasadna/anyway/pull/438). This will allow replacing strings with gettext('Message') function, to get the translated message according to the current request's chosen locale.

[2015-09-20 06:48] danielhers commented on #94
From #310, here is the translation file for the data fields: https://docs.google.com/spreadsheets/d/1TxRQukcLzfno8kG-6eH_XEMrcuk2h8PNJOmY5IZUEzg/edit?usp=sharing

[2015-09-20 06:49] danielhers commented on #310
Duplicate of #94.

[2015-09-20 06:49] #310 closed

[2015-09-20 06:56] danielhers commented on #94
See #438 for instructions on how to write translations.

[2015-09-21 17:45] omerxx opened #440 "Change filter string when cluster mode is on"
When zooming out, the accidents list is hidden, having the user zoom in for data.
The filter string should be changed similarly.

[2015-09-21 21:22] LironRS opened #443 "Fix Grey Area on Sidebar Toggle via Google Maps API"
<img width="663" alt="screen shot 2015-09-22 at 12 21 52 am" src="https://cloud.githubusercontent.com/assets/12143791/10005442/f9dfc702-60bf-11e5-91a8-e72a7218f0c8.png">

[2015-09-21 21:27] LironRS opened #444 "Add Accident Icons to Sidebar List"
**after Icon Library is complete
<img width="299" alt="screen shot 2015-09-22 at 12 27 29 am" src="https://cloud.githubusercontent.com/assets/12143791/10005586/bebdc754-60c0-11e5-82d6-7075b1c84cea.png">

[2015-09-22 13:41] omerxx commented on #444
This involves adding an `else` containing the relevant case under `getIcon()` which is located in `constants.js`

[2015-09-22 13:49] danielhers opened #447 "Share constants between client and server"
See http://stackoverflow.com/a/14204193/223267

Both `static/js/constants.js` and the server files such as `models.py` and `main.py` define constants, sometimes the same ones. They can be shared to avoid duplication.

[2015-09-23 08:44] omerxx opened #448 "Using date filter 'all' yields an invalid date error"
When filtering accidents by date button `הכל`, trying to use another filter yields an invalid date.
This messes up the title string and prevents showing any accidents.

![image](https://cloud.githubusercontent.com/assets/12237955/10040885/63372fc8-61e8-11e5-9167-198edee86f8f.png)

![image](https://cloud.githubusercontent.com/assets/12237955/10040942/e5ee4816-61e8-11e5-9629-127dcf4f7581.png)

[2015-09-23 09:35] #427 closed

[2015-09-23 09:36] #448 closed

[2015-09-23 09:48] danielhers opened #450 "Remove TK dependency in process.py"
`process.py` uses TK for the file browsing dialog, but it means that the script can't be run from a headless server (such as Heroku) even if the user doesn't need the file browser currently.
Need to remove this requirement so it can be used.

[2015-09-23 13:33] omerxx commented on #450
What would you like to change the file selection mechanism to?
* cmd line arg?
* User input?

[2015-09-23 14:41] danielhers commented on #450
I think TK is a nice option, but it should only be imported if it is
available (try/catch maybe). Otherwise I think it should fallback to
console input.

On Wed, Sep 23, 2015 at 4:33 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-09-23 14:43] omerxx commented on #450
Literally move the `import tkinter` to a `try`?
Never thought of doing such a thing as an option

[2015-09-23 14:45] danielhers commented on #450
Sure, why not?

On Wed, Sep 23, 2015 at 5:43 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-09-23 16:09] #450 closed

[2015-09-23 16:15] omerxx commented on #443
Waiting for this to be on `dev`

[2015-10-06 09:09] danielhers opened #457 "Update united.py to load from new CSV format"
The CSV files received from United Hatzalah now has another column: the first column is the Mission ID, which will be used as the `id` field instead of the convoluted solution we used with the data and line number.
Once the script is updated, we'll remove all existing United accidents from the DB (due to the change in the `id` field) and re-load everything.

[2015-10-06 09:09] danielhers commented on #457
Related to #427

[2015-10-06 09:13] danielhers commented on #417
@aviklai When zoomed out to cluster mode, the charts come out empty. There should be a message instead.

[2015-10-06 19:53] aviklai commented on #417
@danielhers No problem - will do.

[2015-10-09 09:31] omerxx commented on #457
@danielhers - Should we ignore all past accidents with the old csv structure?

[2015-10-09 09:53] danielhers commented on #457
Yes. We can always ask for a historical report with all the required columns.

[2015-10-09 09:54] omerxx commented on #457
So it would be also okay to delete all gmail data with old structure too...

[2015-10-09 10:00] danielhers commented on #457
Right.

On Fri, Oct 9, 2015 at 12:54 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-10-09 10:02] omerxx commented on #457
Do you have exact date and time point of change from which I should keep?

[2015-10-09 10:05] danielhers commented on #457
October 6, 2015, 10:00AM

On Fri, Oct 9, 2015 at 1:02 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-10-09 13:47] #457 closed

[2015-10-12 17:08] kilaka commented on #430
Discussing with Omer, we thought the search dates are most important and the most user friendly metadata. Example:
Anyway-accidents-from-2014-01-01-to-2015-01-01.csv
@danielhers, what do you think?

[2015-10-12 17:41] danielhers commented on #430
This is fine, until we have a unique short identifier for the exact view (a
hash of all the parameters).

On Mon, Oct 12, 2015, 19:08 Alik Elzin <notifications@github.com> wrote:

[2015-10-12 17:57] aviklai opened #460 "Handle admin user arguments not found exception"
When trying to login as Admin with false parameters, we receive exception.
We want to print to the user that his login credentials were wrong.

[2015-10-12 18:53] omerxx opened #463 "Migrate to AWS"
In order to be able to hold a live production in the future we would need a more stable platform with auto scaling and load balancing.

AWS elastic server is the best option today in my opinion.
I'm not sure whats the overhead in such migration so I'll have to test it first.

Any other ideas? thoughts? comments?

[2015-10-12 19:58] LironRS commented on #432
@omerxx Ready.. pull from here: https://github.com/LironRS/anyway/tree/typeFilterOption

[2015-10-12 19:59] LironRS commented on #429
Sidebar safari fix #446 was merged, issue closed.

[2015-10-12 19:59] #429 closed

[2015-10-12 20:00] LironRS commented on #380
@OmerSchechter are you still on this?

[2015-10-12 20:11] omerxx commented on #432
@LironRS could you please push it to the public repo as a new branch?

[2015-10-12 20:23] omerxx opened #464 "Set IMAP rules to backup over 30 days old united data"
`importmail` python script is an option but since we use a dyno that restarts it may not be a good solution.
There should be 3rd party IMAP managers that can set the rule.

[2015-10-12 22:24] LironRS commented on #420
@galraij let's make a list of icons next Monday so we can add them to the new markers

[2015-10-12 22:27] LironRS commented on #432
@omerxx - there you go https://github.com/hasadna/anyway/tree/typeFilterOption

[2015-10-17 09:46] galraij commented on #420
Yep, and If i’m not coming we will do it online.

[2015-10-17 13:56] omerxx opened #465 "New markers design in missing united hatzala accident icons"
The exclamation marker type is missing.
I can only see the united haztala accidents as clusters. Once zoomming in they're gone.
@LironRS Can you debug this?

[2015-10-17 18:58] danielhers commented on #94
Accident details field translations:

[Anyway ACC code book translation into english.xlsx](https://github.com/hasadna/anyway/files/15503/Anyway.ACC.code.book.translation.into.english.xlsx)

[2015-10-17 20:46] LironRS commented on #465
@omerxx  Sure, I will fix it by Monday

[2015-10-20 08:46] SimonMand opened #466 "Update the project to be compatible with Flask-Login 0.3.2 version"
Flask-Login has a new version 0.3.2. This version updates the class "flask_security.core.AnonymousUser".
Now "is_authenticated" became a property instead of a method.
We should:
1) Update the project that each call to is_authenticated is a call to a property
2) Add new line to requirements.txt: Flask-Login==0.3.2
![screen shot 2015-10-17 at 4 49 32 pm](https://cloud.githubusercontent.com/assets/13

[2015-10-20 16:53] omerxx commented on #466
@SimonMand did you make sure this happens with every new installation?
Yesterday after running `requirements.txt` I had no trouble.
If you did, I think the best approach would be `try`ing it as a method and catching an exception as a property, so that people with already installed environments wouldn't have to reinstall different packages.

[2015-10-20 18:54] danielhers commented on #466
It's generally expected that everyone install requirements.txt after every
pull.

On Tue, Oct 20, 2015, 18:54 Omer Hamerman <notifications@github.com> wrote:

[2015-10-20 18:56] #465 closed

[2015-10-20 19:18] pint12 commented on #184
hi .
this can be achieved also by using CSS3 :hover commend on the "cluster" class .
also ill recommend to remove all the inline style !!

[2015-10-20 20:02] omerxx commented on #184
Go for it..
What's with the inline?

[2015-10-20 20:04] omerxx commented on #466
@danielhers simply installing requirements.ext on my environment did not change the discussed version.
@SimonMand claims that a run from scratch is calling a different version.. I'm not sure how is that possible but if that's the case we should take care of it

[2015-10-20 20:07] pint12 commented on #184
i thought it is written within the HTML
but now i see it is been granted by a plugin MarkerClustererPlus v2.0
who implemented it ?
i see in the docs they they support
mouseover	c:Cluster	This event is fired when the mouse moves over a cluster marker.

[2015-10-21 05:39] danielhers commented on #466
Flask-Security requires `Flask-Login>=0.1.3`, so any version newer than it
will satisfy it. In an environment where an old version is already
installed, it won't upgrade it. But if it isn't, it will install the newest
version.

On Tue, Oct 20, 2015, 22:05 Omer Hamerman <notifications@github.com> wrote:

[2015-10-21 08:14] pint12 commented on #184
done !
i add to css
.cluster:hover div:first-child  {
  position: absolute;
    top: 0px;
    left: 0px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: Alef, sans-serif;
    border: 10px solid blue !important;
    border-radius: 50%;
    text-align: center;
    width: 32px;
    line-height: 32px;
    vertical-align: middle;
    background-color: white;
    opacity:

[2015-10-21 08:42] danielhers commented on #184
Great! Please open a pull request.

On Wed, Oct 21, 2015 at 11:14 AM pint12 <notifications@github.com> wrote:

[2015-10-21 11:17] danielhers commented on #184
@pint12 you should open a pull request to `hasadna/anyway` (`dev` branch).

[2015-10-21 11:26] danielhers commented on #437
@omerxx How is this going? We should kind of have tests enabled...

[2015-10-21 11:30] pint12 commented on #184
i think i did now can you check ?

[2015-10-21 11:34] danielhers commented on #184
I don't see it.

[2015-10-21 11:37] danielhers commented on #184
@pint12 I think you didn't push to your branch yet. You should push to https://github.com/pint12/anyway/tree/dev and then create a request to merge it into `dev` on `hasadna/anyway`. What you did [here](https://github.com/pint12/anyway/pull/1) is the other way around...

[2015-10-21 18:12] omerxx commented on #437
You're right.. I'll prioritize it. Will try give it attention next week

[2015-10-21 18:18] omerxx commented on #184
@pint12 let me know if you need any git help
You're invited to the slack feel free to IM me

[2015-10-22 11:41] danielhers commented on #184
@pint12 I merged your change on my computer and looked at the result, but it's not quite what was intended in this issue. What I see is this:
![selection_001](https://cloud.githubusercontent.com/assets/263363/10664292/d16e3f10-78ca-11e5-84f6-841eb5d9ca34.png)

While the issue is to delineate the area on the map that the cluster represents, i.e. a polygon containing all points in the cluster.

[2015-10-22 12:38] pint12 commented on #184
@danielhers  i have tried to that but then i saw you are using a built JS lib MarkerClustererPlus v2.0 .
this lib does not have the option for creating polygon clusrures .
we can cosider using another Js lib but implementation might be painfull .
what do think ?

[2015-10-22 12:56] danielhers commented on #184
Yes, that's why the borders feature hadn't been implemented so far.
You're welcome to try switching us to a different JS library that does
support polygon borders, if there's no way to do it with our current
library.

On Thu, Oct 22, 2015 at 3:38 PM pint12 <notifications@github.com> wrote:

[2015-10-22 13:08] pint12 commented on #184
how this is the use with the cluster lib? who implemented it ?

[2015-10-22 13:13] danielhers commented on #184
Mainly @njenia, I think...

[2015-10-26 20:09] omerxx opened #471 "United marker title is fixed instead of using DB info"
To be fixed in `marker.js`

[2015-10-26 20:11] pint12 commented on #184
ok i investigated it a bit more.
in order to create a polygon (with google )
i need all the  lan and lat points that exists in cluster
for exmple
triangleCoords = [
    {lat: 25.774, lng: -80.190},
    {lat: 18.466, lng: -66.118},
    {lat: 32.321, lng: -64.757},
    {lat: 25.774, lng: -80.190}
  ];

but in current version i am getting a big array with only the center postion
{"clusters":
 [{"lati

[2015-10-26 20:16] OmerSchechter opened #472 "Small clusters/aggregated icons with inaccurate location appear more opaque than they should"
The problem that @danielhers describes in issue #123 seems to be back.
Quoting Daniel:

[2015-10-26 20:31] danielhers commented on #184
Yes, the whole idea in sending the clusters is that it's much less data so it requires less traffic and less client computation.
You can change the server-side clustering code to send the bounding polygon's corners instead.

[2015-10-26 20:34] danielhers commented on #184
The clusters are calculated in https://github.com/hasadna/anyway/blob/dev/clusters_calculator.py

[2015-10-26 21:42] pint12 commented on #184
i think cluster calculator should send back  the bounding polygon's corners instead in addition to current data...
i dont know python (yet) .can you assist?

[2015-10-27 07:37] danielhers commented on #184
Yes, that's what I said.
You can learn Python using any online tutorial such as [this](http://www.learnpython.org/).
You can learn about the Web framework we are using (Flask) [here](http://www.fullstackpython.com/).
Once you are comfortable with the language, please come to the development meetings and you will surely get help with the task at hand.

[2015-11-02 14:36] danielhers commented on #434
Please prioritize this, I think it would be helpful.

[2015-11-02 14:38] #299 closed

[2015-11-02 14:38] #370 closed

[2015-11-02 14:38] #334 closed

[2015-11-02 14:38] #431 closed

[2015-11-02 17:40] LironRS commented on #472
@OmerSchechter @danielhers - I'm on it, will keep you posted

[2015-11-02 19:29] OmerSchechter commented on #472
The function which calculates the opacity(from `marker.js`):
[code]

[2015-11-03 00:29] LironRS commented on #428
@omerxx @danielhers Does this still happen (both on infoWindows and sidebar)? If so, please provide more info so I can reproduce and debug it.

[2015-11-03 00:37] LironRS opened #478 "**Feature** Add colors to the search string and make it clickable"
Emphasize current filtering using severity colors (see style.css), and enhance navigation by making filer options clickable (automatically open relevant filter on click).

[2015-11-03 09:22] #472 closed

[2015-11-03 09:27] #440 closed

[2015-11-03 17:25] danielhers commented on #428
Here it is on Chromium 44.0.2403.107:
![screenshot](https://cloud.githubusercontent.com/assets/263363/10915670/68686cf8-8260-11e5-8b8e-81bafd9dab83.png)
![screenshot-1](https://cloud.githubusercontent.com/assets/263363/10915696/8e237c62-8260-11e5-804c-b3dcaacb96b8.png)

Both the sidebar and the InfoWindow contain disabled scrollbars in addition to the usable ones.

[2015-11-03 20:26] omerxx commented on #471
We're not there yet... the united marker's title is still getting the `single` title load which brings up a parsed string a little off:

![image](https://cloud.githubusercontent.com/assets/12237955/10920617/b860d9d4-8279-11e5-9b32-7d011b899400.png)

[2015-11-03 21:05] LironRS commented on #471
@omerxx That's exactly what I said at #473 .. you need to find out why the same marker is rendered twice - once as "united" and another as "single". I removed the case for "united", as you mentioned that you want the full title, and also changed the structure for the infoWindow a bit - there we duplicate values. Please look at the changes and try to figure out why it is called twice and let me kno

[2015-11-04 12:13] danielhers commented on #421
Anything left to do for this issue?

[2015-11-04 13:30] LironRS commented on #421
Nope.

[2015-11-04 13:30] #421 closed

[2015-11-04 21:56] LironRS opened #480 "**Issue** Raise infoWindow above new marker"
The infoWindow is currently hiding the new markers, we need to change its coordinate and raise it up a bit. Please make sure that it looks reasonable in "dot markers" mode.
<img width="502" alt="screen shot 2015-11-04 at 11 54 43 pm" src="https://cloud.githubusercontent.com/assets/12143791/10953224/a20fe6ee-834f-11e5-9d89-20551849fcba.png">

[2015-11-04 22:01] LironRS opened #481 "**Issue** Fix transparency for aggregated markers"
Wrong opacity for aggregated markers (spiderfy) that include anchored location (only for ones without full address or calculated by distance).
<img width="443" alt="screen shot 2015-11-04 at 11 58 44 pm" src="https://cloud.githubusercontent.com/assets/12143791/10953358/45a62390-8350-11e5-8595-50fa5bb25759.png">
<img width="429" alt="screen shot 2015-11-04 at 11 58 34 pm" src="https://cloud.githubu

[2015-11-09 19:55] #471 closed

[2015-11-09 22:19] LironRS opened #484 "**Feature** Add advanced filtrations to the search string ax (...)"
Show advanced filtrations in pop-over window when hovering over a "(...)" string at the end of the search string.

[2015-11-09 22:20] #146 closed

[2015-11-10 09:53] danielhers opened #485 "Empty app view on load"
When loading http://anyway-unstable.herokuapp.com/, I often get an empty app view:

![uploads/a3ddb391-7180-4aa5-b41d-a212c0cea0e4/Screenshot-3.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fa3ddb391-7180-4aa5-b41d-a212c0cea0e4%2FScreenshot-3.png)

Looking at the JS console, I see the following error:

[code]

This is fixed after refreshing enough times (sometimes more than 5).

[2015-11-10 09:54] danielhers commented on #108
@LironRS this should be implemented in the new layout too.

[2015-11-10 10:08] #480 closed

[2015-11-10 16:21] OmerSchechter commented on #393
I'm currently working on rebuilding the tour. FYI.

[2015-11-10 20:37] LironRS commented on #393
@OmerSchechter - @ronish31 was planning on working on it this week, don't forget to self-assign next time so there will be no confusion..

[2015-11-11 01:50] OmerSchechter commented on #393
Oh, I see.. thanks.
@ronish31 how do I get in touch with you? are you on the Slack team?

[2015-11-11 22:17] LironRS opened #486 "**Feature** Make site fully-responsive"

[2015-11-11 22:44] omerxx commented on #463
We've been given Google Cloud.
We should construct a list of general requests and app structure so @uda can help us set our infrastructure.
@danielhers can you help?

[2015-11-11 22:50] omerxx commented on #485
This is a backbone issue, from quick googling it seems that we may be using  `AppView` before the page is fully loaded, which may explain the reason for inconsistency.
Maybe moving it under a scope of `document.onload = function ...` ?
@OmerSchechter / @LironRS ?

[2015-11-11 22:54] omerxx commented on #485
@danielhers: does running entire `app.js` function after `document load` sound reasonable?

[2015-11-12 05:55] danielhers commented on #463
Sure. I'm not sure what you mean by app structure though.

On Thu, Nov 12, 2015 at 12:44 AM Omer Hamerman <notifications@github.com>
wrote:

[2015-11-12 05:58] danielhers commented on #485
I think so. Need to check the performance hit on the app loading.

On Thu, Nov 12, 2015 at 12:54 AM Omer Hamerman <notifications@github.com>
wrote:

[2015-11-12 05:59] #478 closed

[2015-11-16 08:21] pint12 opened #487 "loading accident data from localStorage"
problem:
1.loading time is very slow
2.for each zoom in/out we have many API calls sometimes this data was already sent to
the client
3. user receives more data then he need for the current view

solution in HL :
use the web localStorage API in order to buffer and control the data flow
https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage

![anywaylocalstorage](https://cloud.githubu

[2015-11-16 17:08] omerxx opened #488 "Clusters show next to accidents when zooming in"
I think the problem only occurs after using the date filters on cluster mode.
There are several weird behaviors when doing that..
Any ideas?
![image](https://cloud.githubusercontent.com/assets/12237955/11188704/dff72ad2-8c94-11e5-9660-0da20623d250.png)

[2015-11-16 17:34] LironRS commented on #481
@danielhers I need your help.. what shall the aggregated icons do if aggregate both transparent and regular markers?

[2015-11-16 17:45] danielhers commented on #481
If at least one marker is accurate then the aggregated icon should be opaque (not transparent).

[2015-11-16 22:34] omerxx commented on #368
I think there should be..

[2015-11-17 05:16] danielhers commented on #368
It requires some work here: https://github.com/hasadna/anyway/blob/dev/static/pymapcluster.py
But it's possible.

[2015-11-19 09:06] uda commented on #463
Try to compile a list:
* What services are running? (from Procfile I presume)
* What services are being used? (DB, sending emails etc.)
* What code repositories are in use and what is the relation between them in production?
* What is the current process of deployment? (You will need to start using tags instead of simply merging to master)

If you think of anything else that can help, just add it

[2015-11-19 14:01] danielhers commented on #463
Services:
- New Relic, but we don't have a preference for it over anything else
- DB: PostgreSQL, preferable with PostGIS
- Emails: we don't currently have a service to send emails, but we will
need one
- We have Heroku Scheduler currently enabled to run united.py every 24
hours. This should work using APScheduler (started by main.py) but it
didn't work in practice, possibly because Heroku dynos a

[2015-11-20 16:39] omerxx commented on #466
@SimonMand, @danielhers: Can this be closed then?

[2015-11-20 16:45] omerxx commented on #463
@uda: The instances stability is very important since we have the scheduled task Daniel mentioned.
Either this, or a service similar to Heroku's scheduler are a must for us.
It would also be nice if we could have a DEV environment (before going to staging) for developers to deploy code and try different versions.
Is there anything else you need from us?

[2015-11-20 18:08] danielhers commented on #466
No. I thought @SimonMand was going to create a pull request, but this is a very simple change. I can do it myself.

[2015-11-20 18:12] SimonMand commented on #466
Yes, it's up to me.
I've changed all the places that treat "is_authenticated" as method to treat it as a property.
But I still haven't added the tests for at least the basic view methods.
I think next week I might have some time. I've just landed in Berlin a few days ago and still haven't established the basic stuff here :)
So if you are a bit patient, I will try to do it soon

[2015-11-20 18:16] danielhers commented on #466
Don't worry, I'll do it.
The tests require a different issue though.
Viel Spaß in Berlin!

[2015-11-20 18:22] #466 closed

[2015-11-20 18:24] #430 closed

[2015-11-20 20:19] omerxx commented on #432
Fixed.

[2015-11-20 20:19] #432 closed

[2015-11-20 20:26] omerxx commented on #423
@aviklai The hash string shouldn't have a map of every single combination.
There are a little over 20 filtering options, so we should have a 20+ characters string, where each char is a symbolic integer of a single filter. When the app reads the string it would go through this list and make sure each option is following the required config.
In face this is not an actual 'hash' table but a way to sq

[2015-11-20 20:28] omerxx commented on #45
Trying this option we didn't see a great performance improvement.. is it still relevant?

[2015-11-20 20:31] omerxx commented on #273
Will become relevant once #423 is fixed

[2015-11-20 20:33] omerxx commented on #166
Duplication of #437

[2015-11-20 20:33] #166 closed

[2015-11-20 20:34] danielhers commented on #423
Some filters (like date) don't fit in a single character. But we can use
some Huffman coding or something...

On Fri, Nov 20, 2015 at 10:26 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-11-20 20:35] danielhers commented on #45
I guess not. A more helpful suggestion is #487

On Fri, Nov 20, 2015 at 10:28 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-11-20 20:35] omerxx commented on #423
No need for that. Date and geo location is already part of the existing URL. What I'd like to "hash" is the rest of the new filter options

[2015-11-20 20:36] omerxx commented on #45
Closing then..

[2015-11-20 20:36] #45 closed

[2015-11-20 20:38] danielhers commented on #423
Right, but shorter links would be beneficial. That's why the idea of
hashing the URL is attractive.

On Fri, Nov 20, 2015 at 10:35 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-11-20 20:39] omerxx commented on #487
How did you think of prioritizing data?
You can't predict a user query or location

[2015-11-20 20:41] omerxx commented on #423
I agree, but I think when we discuss date ranges readability, and edit-ability of the URL is important just as well

[2015-11-20 20:46] danielhers commented on #487
A good place to start would be the area around the current view.

On Fri, Nov 20, 2015 at 10:39 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-11-20 20:47] danielhers commented on #423
Right. We could provide an optional short URL like in Google Maps, when you
share a map.

On Fri, Nov 20, 2015 at 10:41 PM Omer Hamerman <notifications@github.com>
wrote:

[2015-11-20 20:52] omerxx commented on #49
@LironRS I think after @OmerSchechter's design you can push your last graphic improvement and then we ca close this

[2015-11-21 00:21] uda commented on #463
I think this should be enough. I will start working on it Monday.

[2015-11-21 14:40] aviklai commented on #423
I am working on it. Basically, what I am doing is making a link that will have all the parameters and when you use it, it will load all the relevant data and than change the URL to a parameterless one.

[2015-11-21 14:58] eladkarakuli commented on #487
Hey there, I think it's important issue because at the end what's important for the user is a smooth experience. I think caching is a good idea, but not particularly the ideal solution for the corrent problem. After some testing it seams that there are couple of problems that could be solved easily and radically improve the performance:

1. Compress the content served from the server, by now most

[2015-11-21 17:03] danielhers commented on #487
Thanks, Elad, for these important observations. It does indeed seem like
these are of higher priority. Could you please open an issue for each one?
Do you think you'll have time to work on them or should someone else do it?

On Sat, Nov 21, 2015 at 4:58 PM Elad Karakuli <notifications@github.com>
wrote:

[2015-11-21 18:09] pint12 commented on #487
@eladkarkuli  i totaly agree with you . but we can do caching on both level clinet and server .
We dont need to store everthing on local storage  just some the one that are in most use . also we can mange this storage and remove itmes so we will not bombard the server with request

@Danielhers i have strted to do some work there but i neeed some assitence with the backbone. Who is the expert ?